<h3>送信内容</h3>
<table class="contact-form">
	<tr class="contact-form-group">
		<th class="contact-form-label">お名前</th>
		<td class="contact-form-control">{family-name}[raw] {given-name}[raw]</td>
	</tr>
	<tr class="contact-form-group">
		<th class="contact-form-label">メールアドレス</th>
		<td class="contact-form-control">{email}</td>
	</tr>
	<tr class="contact-form-group">
		<th class="contact-form-label">お電話番号</th>
		<td class="contact-form-control">{tel}</td>
	</tr>
	<tr class="contact-form-group">
		<th class="contact-form-label">ご住所</th>
		<td class="contact-form-control">〒{postal-code}<br />
			{address-level1}{address1}{address2}</td>
	</tr>
</table>

