@charset "UTF-8";
@font-face {
	font-family: "acms-fonts";
	src: url(../fonts//acms-fonts.eot?v=20180219145255);
	src: url(../fonts//acms-fonts.eot?v=20180219145255) format("embedded-opentype"), url(../fonts//acms-fonts.ttf?v=20180219145255) format("truetype"), url(../fonts//acms-fonts.woff?v=20180219145255) format("woff"), url(../fonts//acms-fonts.svg?v=20180219145255) format("svg");
	font-weight: normal;
	font-style: normal;
}

.acms-icon,
[class*="acms-icon-"] {
	font-family: "acms-fonts";
	display: inline-block;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.acms-icon-contract:before {
	content: "";
}

.acms-icon-cross:before {
	content: "";
}

.acms-icon-minus:before {
	content: "";
}

.acms-icon-expand:before {
	content: "";
}

.acms-icon-plus:before {
	content: "";
}

.acms-icon-add-below:before {
	content: "";
}

.acms-icon-add-duplicate:before {
	content: "";
}

.acms-icon-alias:before {
	content: "";
}

.acms-icon-app:before {
	content: "";
}

.acms-icon-attention:before {
	content: "";
}

.acms-icon-backup:before {
	content: "";
}

.acms-icon-blog-children:before {
	content: "";
}

.acms-icon-blog:before {
	content: "";
}

.acms-icon-briefcase:before {
	content: "";
}

.acms-icon-cart:before {
	content: "";
}

.acms-icon-category:before {
	content: "";
}

.acms-icon-change-blog:before {
	content: "";
}

.acms-icon-checklist:before {
	content: "";
}

.acms-icon-clip:before {
	content: "";
}

.acms-icon-close:before {
	content: "";
}

.acms-icon-comment:before {
	content: "";
}

.acms-icon-config:before {
	content: "";
}

.acms-icon-control-edit:before {
	content: "";
}

.acms-icon-control-move:before {
	content: "";
}

.acms-icon-control-remove:before {
	content: "";
}

.acms-icon-dashboard:before {
	content: "";
}

.acms-icon-delete:before {
	content: "";
}

.acms-icon-down:before {
	content: "";
}

.acms-icon-entry:before {
	content: "";
}

.acms-icon-exit:before {
	content: "";
}

.acms-icon-flag:before {
	content: "";
}

.acms-icon-form:before {
	content: "";
}

.acms-icon-graph:before {
	content: "";
}

.acms-icon-import:before {
	content: "";
}

.acms-icon-left:before {
	content: "";
}

.acms-icon-lock:before {
	content: "";
}

.acms-icon-logo:before {
	content: "";
}

.acms-icon-mail:before {
	content: "";
}

.acms-icon-media:before {
	content: "";
}

.acms-icon-mobile:before {
	content: "";
}

.acms-icon-module:before {
	content: "";
}

.acms-icon-money:before {
	content: "";
}

.acms-icon-open:before {
	content: "";
}

.acms-icon-pin:before {
	content: "";
}

.acms-icon-publish:before {
	content: "";
}

.acms-icon-right:before {
	content: "";
}

.acms-icon-rule:before {
	content: "";
}

.acms-icon-schedule:before {
	content: "";
}

.acms-icon-shortcut:before {
	content: "";
}

.acms-icon-sort:before {
	content: "";
}

.acms-icon-sort2:before {
	content: "";
}

.acms-icon-tag:before {
	content: "";
}

.acms-icon-time:before {
	content: "";
}

.acms-icon-tooltip:before {
	content: "";
}

.acms-icon-trash:before {
	content: "";
}

.acms-icon-unit-eximage:before {
	content: "";
}

.acms-icon-unit-file:before {
	content: "";
}

.acms-icon-unit-image_h2:before {
	content: "";
}

.acms-icon-unit-image:before {
	content: "";
}

.acms-icon-unit-map:before {
	content: "";
}

.acms-icon-unit-text:before {
	content: "";
}

.acms-icon-unit-youtube:before {
	content: "";
}

.acms-icon-up:before {
	content: "";
}

.acms-icon-user-group:before {
	content: "";
}

.acms-icon-user:before {
	content: "";
}

.acms-icon-workflow:before {
	content: "";
}

.acms-icon-google:before {
	content: "";
}

.acms-icon-google-square:before {
	content: "";
}

.acms-icon-config_access:before {
	content: "";
}

.acms-icon-config_alias_list:before {
	content: "";
}

.acms-icon-config_api_bing_image-search:before {
	content: "";
}

.acms-icon-config_api_bing_web-search:before {
	content: "";
}

.acms-icon-config_api_instagram_users_media_liked:before {
	content: "";
}

.acms-icon-config_api_instagram_users_media_recent:before {
	content: "";
}

.acms-icon-config_api_twitter_list_members:before {
	content: "";
}

.acms-icon-config_api_twitter_list_statuses:before {
	content: "";
}

.acms-icon-config_api_twitter_search:before {
	content: "";
}

.acms-icon-config_api_twitter_statuses_home-timeline:before {
	content: "";
}

.acms-icon-config_api_twitter_statuses_user-timeline:before {
	content: "";
}

.acms-icon-config_authorize:before {
	content: "";
}

.acms-icon-config_banner:before {
	content: "";
}

.acms-icon-config_blog_child-list:before {
	content: "";
}

.acms-icon-config_cache:before {
	content: "";
}

.acms-icon-config_calendar_month:before {
	content: "";
}

.acms-icon-config_category_entry-list:before {
	content: "";
}

.acms-icon-config_category_entry-summary:before {
	content: "";
}

.acms-icon-config_category_list:before {
	content: "";
}

.acms-icon-config_column_list:before {
	content: "";
}

.acms-icon-config_common:before {
	content: "";
}

.acms-icon-config_default:before {
	content: "";
}

.acms-icon-config_edit:before {
	content: "";
}

.acms-icon-config_entry_archive-list:before {
	content: "";
}

.acms-icon-config_entry_body:before {
	content: "";
}

.acms-icon-config_entry_calendar:before {
	content: "";
}

.acms-icon-config_entry_continue:before {
	content: "";
}

.acms-icon-config_entry_headline:before {
	content: "";
}

.acms-icon-config_entry_list:before {
	content: "";
}

.acms-icon-config_entry_photo:before {
	content: "";
}

.acms-icon-config_entry_summary:before {
	content: "";
}

.acms-icon-config_entry_tag-relational:before {
	content: "";
}

.acms-icon-config_export:before {
	content: "";
}

.acms-icon-config_feed_ex-list:before {
	content: "";
}

.acms-icon-config_feed_rss2:before {
	content: "";
}

.acms-icon-config_field_value-list:before {
	content: "";
}

.acms-icon-config_function:before {
	content: "";
}

.acms-icon-config_import:before {
	content: "";
}

.acms-icon-config_links:before {
	content: "";
}

.acms-icon-config_mail:before {
	content: "";
}

.acms-icon-config_navigation:before {
	content: "";
}

.acms-icon-config_output:before {
	content: "";
}

.acms-icon-config_plugin_schedule:before {
	content: "";
}

.acms-icon-config_property:before {
	content: "";
}

.acms-icon-config_reset:before {
	content: "";
}

.acms-icon-config_shop_cart_list:before {
	content: "";
}

.acms-icon-config_sitemap:before {
	content: "";
}

.acms-icon-config_tag_cloud:before {
	content: "";
}

.acms-icon-config_tag_filter:before {
	content: "";
}

.acms-icon-config_theme:before {
	content: "";
}

.acms-icon-config_topicpath:before {
	content: "";
}

.acms-icon-config_unit:before {
	content: "";
}

.acms-icon-config_user_profile:before {
	content: "";
}

.acms-icon-config_user_search:before {
	content: "";
}

.acms-icon-arrow-down:before {
	content: "";
}

.acms-icon-arrow-left:before {
	content: "";
}

.acms-icon-arrow-right:before {
	content: "";
}

.acms-icon-arrow-small-down:before {
	content: "";
}

.acms-icon-arrow-small-left:before {
	content: "";
}

.acms-icon-arrow-small-right:before {
	content: "";
}

.acms-icon-arrow-small-up:before {
	content: "";
}

.acms-icon-arrow-up:before {
	content: "";
}

.acms-icon-bike:before {
	content: "";
}

.acms-icon-book:before {
	content: "";
}

.acms-icon-book2:before {
	content: "";
}

.acms-icon-bus:before {
	content: "";
}

.acms-icon-business:before {
	content: "";
}

.acms-icon-car:before {
	content: "";
}

.acms-icon-children:before {
	content: "";
}

.acms-icon-company:before {
	content: "";
}

.acms-icon-cup:before {
	content: "";
}

.acms-icon-custom-field:before {
	content: "";
}

.acms-icon-domain:before {
	content: "";
}

.acms-icon-facebook-square:before {
	content: "";
}

.acms-icon-facebook:before {
	content: "";
}

.acms-icon-gallery:before {
	content: "";
}

.acms-icon-gift:before {
	content: "";
}

.acms-icon-gplus-square:before {
	content: "";
}

.acms-icon-gplus:before {
	content: "";
}

.acms-icon-home:before {
	content: "";
}

.acms-icon-install:before {
	content: "";
}

.acms-icon-ios-app:before {
	content: "";
}

.acms-icon-lisence-code:before {
	content: "";
}

.acms-icon-lisence:before {
	content: "";
}

.acms-icon-logout:before {
	content: "";
}

.acms-icon-lunch:before {
	content: "";
}

.acms-icon-man:before {
	content: "";
}

.acms-icon-manual:before {
	content: "";
}

.acms-icon-map-pin:before {
	content: "";
}

.acms-icon-map:before {
	content: "";
}

.acms-icon-news:before {
	content: "";
}

.acms-icon-person:before {
	content: "";
}

.acms-icon-plane:before {
	content: "";
}

.acms-icon-role:before {
	content: "";
}

.acms-icon-scissors:before {
	content: "";
}

.acms-icon-search:before {
	content: "";
}

.acms-icon-senior:before {
	content: "";
}

.acms-icon-server:before {
	content: "";
}

.acms-icon-ship:before {
	content: "";
}

.acms-icon-shop:before {
	content: "";
}

.acms-icon-support:before {
	content: "";
}

.acms-icon-target-blank:before {
	content: "";
}

.acms-icon-tel:before {
	content: "";
}

.acms-icon-train:before {
	content: "";
}

.acms-icon-truck:before {
	content: "";
}

.acms-icon-twitter-square:before {
	content: "";
}

.acms-icon-twitter:before {
	content: "";
}

.acms-icon-unlimited:before {
	content: "";
}

.acms-icon-user-add:before {
	content: "";
}

.acms-icon-version:before {
	content: "";
}

.acms-icon-woman:before {
	content: "";
}

.acms-icon-youtube:before {
	content: "";
}

.acms-icon-text-center:before {
	content: "";
}

.acms-icon-text-left:before {
	content: "";
}

.acms-icon-merge:before {
	content: "";
}

.acms-icon-split:before {
	content: "";
}

.acms-icon-text-right:before {
	content: "";
}

.acms-icon-source:before {
	content: "";
}

.acms-icon-undo:before {
	content: "";
}

/* ------------------------------
　　フォントサイズ対応
------------------------------ */
/* ------------------------------
　　ベース
------------------------------ */
body {
	background: #FFF;
	color: #333;
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
}

/* リンクの設定 */
a {
	border: none;
	color: #006DD9;
	text-decoration: none;
}

a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}

/* コンテナー */
.acms-container {
	max-width: 1170px;
	padding-right: 10px;
	padding-left: 10px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}
.acms-container .acms-container {
	padding: 0;
}

.narrow-container {
	margin: 0 auto;
	max-width: 960px;
	padding-right: 20px;
	padding-left: 20px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}

@media (max-width: 1170px) {
	.acms-container {
		padding-right: 20px;
		padding-left: 20px;
		padding-right: calc(20px + constant(safe-area-inset-right));
		padding-left: calc(20px + constant(safe-area-inset-left));
	}
	.narrow-container {
		padding-right: 20px;
		padding-left: 20px;
		padding-right: calc(20px + constant(safe-area-inset-right));
		padding-left: calc(20px + constant(safe-area-inset-left));
	}
}

/* アニメーション */
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

html {
	font-size: 40%;
}

/* ------------------------------
　　ボタン
------------------------------ */
.btn {
	border: 0;
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.btn:hover,
.btn:visited {
	color: #FFF;
	text-decoration: none;
}
.btn:focus,
.btn:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn:hover {
	background-color: #444;
	background-image: linear-gradient(to bottom, #666, #444);
	color: #FFF;
}
.btn:active,
.btn:focus {
	background: #444;
}

/* ボタン　色付き */
.btn-attention {
	border: 0;
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.btn-attention:hover,
.btn-attention:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention:focus,
.btn-attention:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention:hover {
	background-color: #910021;
	background-image: linear-gradient(to bottom, #C41134, #910021);
	color: #FFF;
}
.btn-attention:active,
.btn-attention:focus {
	background: #910021;
}

/* ボタンサイズ大 */
.btn-large {
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	font-size: 2rem;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-large:hover,
.btn-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-large:focus,
.btn-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-large:hover {
	background: #444;
}
.btn-large:active,
.btn-large:focus {
	background: #444;
}

/* ボタンサイズ大 色付き */
.btn-attention-large {
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	font-size: 2rem;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-large:hover,
.btn-attention-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-large:focus,
.btn-attention-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-large:hover {
	background: #910021;
}
.btn-attention-large:active,
.btn-attention-large:focus {
	background: #910021;
}

/* デスクトップ：最大360pxボタン */
.btn-block-large {
	width: 100%;
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	font-size: 2rem;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-block-large:hover,
.btn-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-block-large:focus,
.btn-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-block-large:hover {
	background: #444;
}
.btn-block-large:active,
.btn-block-large:focus {
	background: #444;
}

/* デスクトップ：最大360pxボタン 色付き */
.btn-attention-block-large {
	width: 100%;
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	font-size: 2rem;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-block-large:hover,
.btn-attention-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-block-large:focus,
.btn-attention-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-block-large:hover {
	background: #910021;
}
.btn-attention-block-large:active,
.btn-attention-block-large:focus {
	background: #910021;
}

@media (min-width: 768px) {
	.btn-block-large {
		max-width: 360px;
	}
	.btn-attention-block-large {
		max-width: 360px;
	}
}

@media (max-width: 767px) {
	.btn-search-block {
		display: block;
		width: 100%;
		max-width: 360px;
		margin: 0 auto;
		padding: 15px 20px;
		font-size: 20px;
		font-size: 2rem;
	}
}

/* ボーダーボタン */
.home-btn {
	margin: 20px 0 10px;
}

.btn-border {
	display: inline-block;
	padding: 7px 10px;
	color: #333;
	font-size: 16px;
	font-size: 1.6rem;
	border-radius: 4px;
	border: 1px solid #CCC;
}
.btn-border [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
	font-size: 1.4rem;
}
.btn-border:hover {
	text-decoration: none;
}

/* ------------------------------
　　ページタイトル
------------------------------ */
.page-title-wrapper {
	display: table;
	position: relative;
	width: 100%;
	height: 100px;
	color: #FFF;
	background: url(../../images/bg_other.jpg?v=20180219145255) #333 no-repeat center;
	background-size: cover;
}

.page-title-filter {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}

.page-title-inner {
	display: table-cell;
	position: relative;
	padding: 15px 0;
	vertical-align: middle;
}

.page-title {
	margin: 0 0 10px 0;
	font-size: 30px;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
}
.page-title a {
	color: #FFF;
}

.page-description {
	margin: 10px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.page-title-wrapper {
		height: 270px;
	}
}

/* ------------------------------
　　ページャー
------------------------------ */
.pager {
	list-style: none;
	margin: 0 -5px 50px -5px;
	padding: 0;
	text-align: center;
}
.pager li {
	display: inline-block;
	margin: 0 5px;
}
.pager li.cur {
	/* 現在いる位置 */
	padding: 5px 20px;
	color: #FFF;
	background: #767676;
	border-radius: 3px;
}

.pager-link {
	display: block;
	padding: 5px 20px;
	color: #333;
	border-radius: 3px;
	background: #E5E5E5;
}
.pager-link:visited,
.pager-link:focus,
.pager-link:active {
	color: #333;
}
.pager-link:hover {
	color: #FFF;
	text-decoration: none;
	background: #333;
}

.pager-link-forward {
	float: right;
}

.pager-link-prev {
	float: left;
}

@media screen and (min-width: 768px) {
	.pager-link {
		padding: 5px 10px;
	}
	.pager li.cur {
		/* 現在いる位置 */
		padding: 5px 10px;
	}
}

/* 前後リンク */
.serial-nav {
	list-style: none;
	margin: -25px 0 60px 0;
	padding: 0;
}
.serial-nav .serial-nav-item {
	display: block;
	float: none;
}
.serial-nav .serial-nav-item-prev {
	text-align: left;
}
.serial-nav .serial-nav-item-next {
	text-align: right;
}
.serial-nav a {
	display: block;
	padding: 25px 0;
	border-bottom: 1px solid #E5E5E5;
	color: #333;
}
.serial-nav a:hover,
.serial-nav a:visited,
.serial-nav a:focus,
.serial-nav a:active {
	color: inherit;
	text-decoration: none;
}
.serial-nav a:hover {
	background: #E5E5E5;
}

@media screen and (min-width: 768px) {
	.serial-nav {
		margin: 0 0 60px 0;
		border: 0;
	}
	.serial-nav .serial-nav-item-prev {
		float: left;
	}
	.serial-nav .serial-nav-item-next {
		float: right;
	}
	.serial-nav a {
		display: inline;
		border: 0;
	}
	.serial-nav a:hover {
		text-decoration: underline;
		background: 0;
	}
}

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath {
	margin-bottom: 30px;
	padding: 10px 0;
	background: #F5F5F5;
}

.topicpath-list {
	list-style: none;
	margin: 0 auto;
}

.topicpath-item {
	float: left;
	padding: 0 10px 0 23px;
	background: url(../../images/marker/icon_arrow.png?v=20180219145255) no-repeat left center;
}
.topicpath-item:first-child {
	padding: 0 10px 0 0;
	background: 0;
}

.topicpath-link {
	color: #666;
	font-size: 14px;
	font-size: 1.4rem;
}
.topicpath-link:visited,
.topicpath-link:focus,
.topicpath-link:active {
	color: #666;
}

/* ------------------------------
　　スライダー
------------------------------ */
.slick-slider {
	padding: 0 0 12px 0;
}
.slick-slider img {
	margin: 0 auto;
}

.fix-height {
	height: 300px;
	/* はじめのちらつき防止 */
	overflow: hidden;
	/* はじめのちらつき防止 */
}

.slick-slide:hover {
	cursor: pointer;
}

.slick-list:focus:focus {
	position: relative;
}
.slick-list:focus:focus:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px dotted #00C2FF;
	z-index: -1;
}

.js-slider .slick-list:focus {
	position: relative;
}
.js-slider .slick-list:focus:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px dotted #00C2FF;
	z-index: 1;
}

.main-slider-image {
	height: 300px;
	background: no-repeat center #333;
	background-size: cover;
}
.main-slider-image a:hover {
	text-decoration: none;
}

.main-slider-text-outer {
	height: 100%;
}

.main-slider-text-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.main-slider-text-inner {
	display: table-cell;
	padding: 0 20px;
	text-align: center;
	vertical-align: middle;
}

.main-slider-main-copy {
	margin: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	font-size: 2.4rem;
}

.main-slider-side-copy {
	margin: 0;
	color: #FFF;
	font-size: 16px;
	font-size: 1.6rem;
}

/* ちらつき防止 */
.slick-track,
.slick-list {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
}

/* 矢印ナビゲーション */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 19px;
	height: 60px;
	margin-top: -29px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:focus,
.slick-next:focus {
	border: 1px dotted #FFF;
}

.slick-prev {
	left: 10px;
	background: url(../../images/marker/icon_white_arrow_left.png?v=20180219145255) no-repeat;
}

.slick-next {
	right: 10px;
	background: url(../../images/marker/icon_white_arrow_right.png?v=20180219145255) no-repeat;
}

/* ドットのナビゲーション */
.slick-dots {
	position: relative;
	clear: both;
	margin: -35px 0 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	content: "";
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 8px;
	font-size: 0;
	background: #FFF;
	border-radius: 7px;
	border: 1px solid transparent;
}

.slick-dots li button:focus {
	outline: 0;
	border: 1px solid #C41134;
}

.slick-dots li:hover button {
	cursor: pointer;
}

.slick-dots li.slick-active button {
	background: #C41134;
}

.slick-dots button {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

#autoplay-btn {
	position: absolute;
	right: 10px;
	right: calc(10px + constant(safe-area-inset-right));
	bottom: 10px;
	width: 50px;
	height: 50px;
	color: #FFF;
	border: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, .7);
	outline: 0;
	z-index: 1;
}
#autoplay-btn:hover {
	background: rgba(0, 0, 0, .9);
}
#autoplay-btn:active:before,
#autoplay-btn:focus:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px dotted #FFF;
}
#autoplay-btn:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;
	display: block;
	box-sizing: border-box;
	width: 16px;
	height: 20px;
	margin-left: 0;
	border-top: none;
	border-right: 5px solid #FFF;
	border-bottom: none;
	border-left: 5px solid #FFF;
}
#autoplay-btn.active:after {
	left: 15px;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #FFF;
}

@media screen and (min-width: 768px) {
	.slick-prev {
		left: 50px;
	}
	.slick-next {
		right: 50px;
	}
	.fix-height {
		height: 400px;
		/* はじめのちらつき防止 */
	}
	.main-slider-image {
		height: 400px;
	}
	.main-slider-main-copy {
		font-size: 40px;
		font-size: 4rem;
	}
	.main-slider-side-copy {
		font-size: 24px;
		font-size: 2.4rem;
	}
}

/* ------------------------------
　　各モジュール
------------------------------ */
.module-section {
	margin: 0 0 30px 0;
}

/* タイトル */
.module-header {
	position: relative;
	margin: 0;
	padding: 5px 0;
	color: #333;
	border-bottom: 2px solid #333;
}
.module-header + .summary-custom,
.module-header + .summary-default,
.module-header + .entry-column,
.module-header + .pickup-list,
.module-header + .search-form,
.module-header + .banner {
	margin-top: 10px;
}

.module-heading {
	margin: 0;
	font-size: 18px;
	font-size: 1.8rem;
}
.module-heading [class*="acms-icon-"] {
	margin: 0 10px 0 0;
	vertical-align: baseline;
}

a.module-index-link {
	position: absolute;
	bottom: 5px;
	right: 0;
	color: #333;
	font-size: 16px;
	font-size: 1.6rem;
}
a.module-index-link [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
	font-size: 1.4rem;
}

/* カスタムフィールドグループ */
.group-list {
	list-style: none;
	padding: 0;
}

/* 行揃えの設定 */
/* 見出し */
.heading-align-left .group-heading {
	text-align: left;
}

.heading-align-center .group-heading {
	text-align: center;
}

.heading-align-right .group-heading {
	text-align: right;
}

/* 概要文 */
.detail-align-left .group-detail {
	text-align: left;
}

.detail-align-center .group-detail {
	text-align: center;
}

.detail-align-right .group-detail {
	text-align: right;
}

/* ボタン */
.btn-align-left .group-btn-wrap {
	text-align: left;
}

.btn-align-center .group-btn-wrap {
	text-align: center;
}

.btn-align-right .group-btn-wrap {
	text-align: right;
}

/* ------------------------------
　　リスト
------------------------------ */
@media screen and (min-width: 768px) {
	/* リスト */
	a.acms-list-group-item {
		padding: 10px 20px 10px 10px;
		transition: padding .15s ease-out;
	}
	a.acms-list-group-item:hover {
		padding: 10px 10px 10px 20px;
		transition: padding .25s ease-out;
	}
}

/* 検索結果 */
.list-results-wrap {
	margin: 15px 0 15px 0;
	padding: 10px;
	border: 1px solid #CCC;
}

.list-results-heading {
	padding: 5px;
	margin: 0 0 10px 0;
	background: #E5E5E5;
}

.list-results {
	position: relative;
	margin: 0;
}

.list-results-item {
	position: absolute;
	width: 100px;
}

.list-results-detail {
	margin: 0;
	padding: 0 0 0 100px;
	font-weight: bold;
}

/* ------------------------------
　　サマリー
------------------------------ */
.summary-default {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}
.summary-default:before,
.summary-default:after {
	content: " ";
	display: table;
}
.summary-default:after {
	clear: both;
}
.summary-default.slick-initialized {
	margin-right: -20px;
	margin-left: -20px;
	overflow: hidden;
	border: 0;
}
.summary-default .slick-list {
	padding: 0 0 0 20px;
	overflow: inherit;
}
.summary-default .slick-dots {
	margin: 0;
}
.summary-default .slick-dots button {
	background: #E5E5E5;
}
.summary-default .slick-dots .slick-active button {
	background: #C41134;
}

.summary-default-item {
	float: left;
	padding: 10px;
	color: #333;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	box-sizing: border-box;
	transition: background-color .25s ease-out;
}
.summary-default-item.bl-hover {
	background: #F1F1F1;
}
.acms-entry .summary-default-item {
	padding: 10px;
}
.slick-initialized .summary-default-item {
	width: 300px;
	margin: 2px 10px 2px 2px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08), -1px -1px 1px 1px rgba(0, 0, 0, .08);
	border: 0;
}

.summary-title {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-size: 1.6rem;
}

.summary-detail {
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
	.summary-default-image-wrap img {
		width: 60px;
		height: auto;
	}
}

@media screen and (min-width: 480px) {
	.summary-default {
		margin: 0 0 20px 0;
	}
}

/* ------------------------------
　　ピックアップリスト
------------------------------ */
.pickup-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pickup-list img {
	display: block;
	transition: opacity .25s ease-out;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.pickup-list img:hover {
	opacity: .75;
}

/* ------------------------------
　　バナー
------------------------------ */
.banner {
	margin: 0;
	padding: 0;
	list-style: none;
}
.banner a {
	display: block;
	transition: opacity .25s ease-out;
}
.banner a:hover {
	opacity: .75;
}

.banner-list-item {
	margin: 0 0 20px 0;
}

/* ------------------------------
　　ヘッドライン
------------------------------ */
.headline-item {
	line-height: 1.5;
	transition: background-color .25s ease-out;
}
.headline-item.bl-hover {
	background: #F1F1F1;
}

@media screen and (max-width: 479px) {
	/* 画面幅が小さいとき */
	/* ヘッドライン */
	.headline-item {
		padding: 10px 0;
	}
	.headline-title {
		display: block;
		margin: 0;
	}
}

/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form .btn-search {
	padding: 10px 20px;
	font-size: 16px;
	font-size: 1.6rem;
	filter: none;
	/* IEでのグラデーションを上書き */
	background: #333;
	color: #FFF;
	border-radius: 0 4px 4px 0;
	border: 1px solid #333;
}
.search-form .btn-search:hover,
.search-form .btn-search:active,
.search-form .btn-search:focus {
	background: #666;
}

.search-form input[type="search"] {
	padding: 9px 10px;
	height: 40px;
	font-size: 16px;
	font-size: 1.6rem;
	box-sizing: border-box;
}

input[type="search"].search-form-input {
	padding-top: 5px;
	padding-bottom: 4px;
	font-size: 20px;
	font-size: 2rem;
	box-sizing: border-box;
}

/* ------------------------------
　　エントリー
------------------------------ */
.entry {
	margin: 0 0 25px 0;
	border-bottom: 1px solid #E5E5E5;
}

.page-header {
	margin: 0 0 20px 0;
}

.entry-info {
	margin-top: 0;
	font-size: 14px;
	font-size: 1.4rem;
}

/* カテゴリーと新着ラベル */
.entry-category,
.entry-new {
	font-size: 14px;
	font-size: 1.4rem;
}

/* タイトル */
.entry-title {
	margin: 10px 0;
}
.entry-title a {
	color: #333;
}
.acms-entry h2 .entry-title {
	padding: 0;
}

/* エントリーのスタイル */
.entry-column {
	color: #333;
	word-wrap: break-word;
}
.entry-column h2 {
	margin: 0 10px 10px 10px;
	padding: 5px 10px;
	font-size: 18px;
	font-size: 1.8rem;
	color: #666;
	border-left: 4px solid #666;
}
.entry-column h2.module-heading {
	margin: 0;
	padding: 0;
	border: 0;
}
.entry-column h3 {
	margin: 0 10px 20px 10px;
	padding: 5px 10px;
	font-size: 16px;
	font-size: 1.6rem;
	color: #333;
	background: #E5E5E5;
}
.entry-column a:link {
	color: #006DD9;
	text-decoration: none;
}
.entry-column a:hover,
.entry-column a:focus,
.entry-column a:active {
	text-decoration: underline;
}
.entry-column a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

/* 本文 */
.entry-column p {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.7;
}

/* エントリー内ボタン */
.entry-column p.entry-btn {
	margin-bottom: 5px;
}
.entry-column p.entry-btn a {
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.entry-column p.entry-btn a:hover,
.entry-column p.entry-btn a:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column p.entry-btn a:focus,
.entry-column p.entry-btn a:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn a:hover {
	background-color: #444;
	background-image: linear-gradient(to bottom, #666, #444);
	color: #FFF;
}
.entry-column p.entry-btn a:active,
.entry-column p.entry-btn a:focus {
	background: #444;
}

/* 色付きボタン */
.entry-column p.entry-btn-attention a {
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.entry-column p.entry-btn-attention a:hover,
.entry-column p.entry-btn-attention a:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column p.entry-btn-attention a:focus,
.entry-column p.entry-btn-attention a:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn-attention a:hover {
	background-color: #910021;
	background-image: linear-gradient(to bottom, #C41134, #910021);
	color: #FFF;
}
.entry-column p.entry-btn-attention a:active,
.entry-column p.entry-btn-attention a:focus {
	background: #910021;
}

.entry-column p.summary-title {
	margin: 0 0 10px 0;
}

.entry-column p.summary-detail {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-size: 1.4rem;
}

/* エントリー内コンテナー */
.entry-container {
	margin: 0 5px;
}

/* テーブル */
.entry-column table {
	width: 100%;
	margin: 0 0 15px 0;
}
.entry-column table.table-history {
	table-layout: fixed;
}

.entry-column th,
.entry-column td {
	display: block;
	padding: 5px 10px;
	text-align: left;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #333;
	border-top: 1px solid #DFDFDF;
	vertical-align: top;
}

.entry-column .acms-table-responsive {
	margin-bottom: 30px;
}
.entry-column .acms-table-responsive th,
.entry-column .acms-table-responsive td {
	display: table-cell;
	white-space: nowrap;
}
.entry-column .acms-table-responsive table {
	margin: 0;
}

.entry-column th {
	background: #F5F5F5;
}

/* 沿革用テーブル */
.entry-column table.table-history tr {
	background: #FFF;
}

.entry-column table.table-history th,
.entry-column table.table-history td {
	display: block;
}

.entry-column table.table-history th {
	padding: 10px;
}

.entry-column table.table-history td {
	padding: 10px 0;
}

.entry-column table.table-history .table-history-img {
	display: block;
	padding: 0 10px 10px 10px;
	background: #FFF;
}

/* リスト */
.entry-column ul {
	margin: 0 0 10px 0;
	padding: 0 0 0 2em;
}
.entry-column ul li {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}
.entry-column ul.summary-default {
	padding: 0;
}
.entry-column ul.summary-default li {
	margin: 0;
}

/* 番号付きリスト */
.entry-column ol {
	margin: 0 0 10px 0;
	padding: 0 0 0 2.5em;
}
.entry-column ol li {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* 定義リスト */
.entry-column dl {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

.entry-column dt {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.2;
}

.entry-column dd {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* 引用 */
.entry-column blockquote {
	width: 100%;
	margin-bottom: 15px;
	padding: 15px 20px 15px 16px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	border-left: 4px solid #BFBFBF;
	background: #EFEFEF;
	box-sizing: border-box;
}

/* ソースコード */
.entry-column pre {
	width: 100%;
	margin: 0 0 15px 0;
	box-sizing: border-box;
}
.entry-column pre ol {
	margin: 0;
	padding: 0 0 0 2.5em;
}
.entry-column pre ol li {
	line-height: 1.5;
}

/* 区切り線 */
.entry-column hr {
	border: 0;
	border-bottom: 1px solid #E5E5E5;
}

/* ユニット */
.entry-column .caption {
	margin: 0 0 20px 0;
	font-size: 13px;
	font-size: 1.3rem;
}

.column-file-auto + .caption {
	margin-left: 10px;
}

@media screen and (min-width: 480px) {
	.entry-column .table-history-img {
		float: right;
	}
}

@media screen and (min-width: 768px) {
	.entry-column th,
	.entry-column td {
		display: table-cell;
		padding: 15px 20px;
		text-align: left;
		font-size: 16px;
		font-size: 1.6rem;
		border-top: 1px solid #DFDFDF;
	}
	.entry-column th {
		background: inherit;
	}
	.entry-column tr:nth-child(odd) {
		background: #F5F5F5;
	}
}

/* エントリーフッター */
.entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #F5F5F5;
}

/* タグ */
.entry-tag {
	margin: 0 0 5px 0;
}

.entry-tag-icon {
	float: left;
	color: #707070;
}

.entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper {
	float: right;
}

.share-text {
	display: inline;
	float: left;
	margin: 0;
}

/* SNSシェアボタン */
.share-list {
	display: inline;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.share-item {
	display: inline-block;
	margin: 0 0 0 20px;
	vertical-align: top;
}
.share-item a {
	color: #999;
	text-decoration: none;
}
.share-item [class*="acms-icon"] {
	font-size: 16px;
	font-size: 1.6rem;
	vertical-align: middle;
}
.share-item .share-item-facebook {
	/* Facebook */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	background: #3B5999;
	border-radius: 4px;
}
.share-item .share-item-facebook:before {
	vertical-align: middle;
}
.share-item .share-item-facebook:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}
.share-item .share-item-twitter {
	/* Twitter */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	background: #55ACEE;
	border-radius: 4px;
}
.share-item .share-item-twitter:before {
	vertical-align: middle;
}
.share-item .share-item-twitter:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}
.share-item .share-item-gplus {
	/* Google + */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	background: #DD4B39;
	border-radius: 4px;
}
.share-item .share-item-gplus:before {
	vertical-align: middle;
}
.share-item .share-item-gplus:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}

/* 続きを読むボタン */
.continue-link {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}

.continue-link a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	line-height: 1.5;
	font-weight: bold;
	border-radius: 3px;
	background: #767676;
}
.continue-link a [class*="acms-icon"] {
	margin: 0 10px 0 0;
}
.continue-link a:link,
.continue-link a:visited {
	color: #FFF;
}
.continue-link a:hover,
.continue-link a:focus,
.continue-link a:active {
	color: #FFF;
	text-decoration: none;
	background: #AAA;
}

@media screen and (min-width: 768px) {
	/* タグ */
	.entry-tag {
		margin: 0;
	}
	/* 続きを読むボタン */
	.continue-link a {
		padding: 5px 10px;
		font-weight: normal;
	}
}

/* ------------------------------
　　編集ページ
------------------------------ */
.field-title {
	padding: 0 10px;
}

.field-title:first-child {
	margin: 0 0 10px 0;
}

/* ------------------------------
　　サブカラム
------------------------------ */
.side-title {
	margin-top: 0;
	font-size: 18px;
	font-size: 1.8rem;
}

/* ------------------------------
　　物件情報
------------------------------ */
/* 地図 */
.realestate-map {
	overflow: hidden;
}

.realestate-map .js-s2d-ready,
.realestate-map [class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
}

.realestate-map img[class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
	height: auto;
}

.realestate-map-entry {
	margin: 0 10px;
}

.entry-column table.realestate-search {
	margin: 20px 0 30px 0;
}

@media screen and (min-width: 1024px) {
	.table-nowrap {
		white-space: nowrap;
	}
}

/* 物件一覧 */
.summary-custom {
	margin: 0 0 40px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #E5E5E5;
}

.summary-custom-entry {
	padding: 10px;
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.summary-custom-entry:hover {
	background: #F5F5F5;
	transition: background-color .25s linear;
}

.photo {
	margin: 0 0 10px 0;
}

.photo-title {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}

.pickup-title {
	color: #333;
	font-size: 16px;
	font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
	/* 物件情報 */
	.realestate-search th,
	.realestate-search td {
		display: block;
		box-sizing: border-box;
	}
	.realestate-search input {
		box-sizing: border-box;
	}
}

/* ------------------------------
　　お問い合わせ
------------------------------ */
.contact-box .message {
	margin: 0 0 35px 0;
	font-weight: bold;
	color: #C41134;
}

.contact-box .contact-no {
	margin: 0;
	font-size: 30px;
	font-size: 3rem;
	font-weight: bold;
	color: #333;
}
.contact-box .contact-no a {
	color: inherit;
}

.contact-box .error-text {
	/* エラー文 */
	margin: 5px 0 0 0;
	color: #C41134;
}

.contact-form {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	background: #E5E5E5;
}

.contact-form-group {
	background: #E5E5E5;
}

.contact-form-label {
	display: block;
	text-align: left;
	margin: 0;
	padding: 10px 10px 0 10px;
}

.contact-form-control {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #FFF;
}

.contact-form-label {
	font-weight: bold;
}

.contact-form-grid {
	margin: 0 -5px;
}

.contact-form-col,
.acms-entry .contact-form-col {
	margin: 0 0 10px 0;
	padding: 0 5px;
}
.contact-form-col:last-child,
.acms-entry .contact-form-col:last-child {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.contact-form {
		display: table;
		width: 100%;
	}
	.contact-form-group {
		display: table-row;
	}
	.contact-form-label,
	.contact-form-control {
		display: table-cell;
	}
	.contact-form-label {
		width: 33.33333%;
		padding: 25px 15px 15px 15px;
		vertical-align: top;
		border-bottom: 1px solid #FFF;
	}
	.contact-form-control {
		width: 66.66667%;
		padding: 15px;
	}
	.contact-form-col {
		margin: 0;
	}
}

/* ステップ
------------------------------ */
.contact-box .mail-step {
	margin: 0 0 35px 0;
	padding: 0 10px;
	background: #E5E5E5;
	/* カウンターの設定 */
	counter-reset: mailStep;
}

.contact-box .mail-step-item {
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 18px 0 14px;
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	border-bottom: 4px solid transparent;
}
.contact-box .mail-step-item:before {
	/* カウンターの設定 */
	counter-increment: mailStep;
	content: counter(mailStep) ".";
}

.contact-box .mail-step-item-current {
	color: #333;
	border-bottom: 4px solid #333;
}

@media screen and (min-width: 768px) {
	.contact-box .mail-step {
		height: 60px;
	}
}

/* 送信ボタン
------------------------------ */
.form-btn-box {
	margin: 0 10px 50px 10px;
	text-align: center;
}

.form-btn {
	display: inline-block;
}

.form-btn-return {
	float: left;
}

.form-btn-send {
	float: right;
}

@media screen and (min-width: 768px) {
	.form-btn-return {
		float: none;
	}
	.form-btn-send {
		float: none;
		max-width: 360px;
		width: 100%;
	}
}

/* ラベル
------------------------------ */
.label-required {
	margin: 0 5px;
	padding: 2px 8px;
	color: #FFF;
	font-size: 12px;
	font-size: 1.2rem;
	border-radius: 3px;
	background: #C41134;
}

@media screen and (min-width: 768px) {
	.label-required {
		float: right;
	}
}

/* フォーム要素
------------------------------ */
.contact-box select[required]:required {
	border: 1px solid #C49511;
}

.contact-box select.focused:invalid {
	border: 1px solid #C41134;
}

.contact-box select[required]:valid {
	border: 1px solid #A7A7AA;
}

.contact-box input[required]:required,
.contact-box textarea[required]:required {
	background: #FFFDEB;
}

.contact-box input.focused:invalid,
.contact-box textarea.focused:invalid {
	background: #FFEBEE;
}

.contact-box input[required]:valid,
.contact-box textarea[required]:valid {
	background: #FFF;
}

.contact-box input[type="text"],
.contact-box input[type="password"],
.contact-box input[type="datetime"],
.contact-box input[type="datetime-local"],
.contact-box input[type="date"],
.contact-box input[type="month"],
.contact-box input[type="time"],
.contact-box input[type="week"],
.contact-box input[type="number"],
.contact-box input[type="email"],
.contact-box input[type="url"],
.contact-box input[type="search"],
.contact-box input[type="tel"] {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 14px 5px 10px 5px;
}

.contact-box textarea {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px 5px 4px;
}

.contact-box select {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 11px 30px 11px 10px;
	vertical-align: top;
}

/* バリデーター
------------------------------ */
.valid-mark {
	display: none;
}

.valid-mark.valid {
	display: inline;
	color: #5CB85C;
	float: right;
}

.invalid {
	background: #FFEBEE !important;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
/* サイト名 */
.site-name {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #C41134;
}
.header-stack .site-name {
	margin: 30px 0 20px;
}
.site-name a {
	color: #C41134;
}
.site-name a:hover,
.site-name a:focus,
.site-name a:active,
.site-name a:visited {
	color: #C41134;
}

.site-logo {
	display: inline-block;
	width: 22px;
	height: auto;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.site-name-text {
	display: inline;
	vertical-align: middle;
}

.edit-link {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-size: 1.4rem;
}

@media (min-width: 768px) {
	.site-name {
		font-size: 24px;
		font-size: 2.4rem;
	}
	.header-stack .site-name {
		text-align: center;
	}
	.site-logo {
		width: 40px;
	}
	.header {
		display: table;
		width: 100%;
	}
	.header-stack .header {
		display: block;
	}
	.header-logo {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	.header-stack .header-logo {
		display: block;
	}
	.header-nav {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

@media (min-width: 1024px) {
	.header-logo {
		display: table-cell;
		width: 40%;
	}
	.header-stack .header-logo {
		display: block;
		width: 100%;
	}
	.header-nav {
		display: table-cell;
		width: 60%;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

/* ------------------------------
　　ナビゲーション
------------------------------ */
.header-logo {
	/* 固定したときの高さを保つ */
	padding: 48px 0 0 0;
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 5px;
	padding: 0 calc(5px + constant(safe-area-inset-right)) 0 calc(5px + constant(safe-area-inset-left));
	border-top: 4px solid #333;
	border-bottom: 1px solid #CCC;
	background: #FFF;
	z-index: 9999;
	box-sizing: border-box;
}

/* モバイル時ナビゲーションボタン */
.nav-menu-btn {
	display: inline-block;
	height: 44px;
	padding: 7px 5px;
	font-size: 20px;
	font-size: 2rem;
	color: #333;
	box-sizing: border-box;
}
a .nav-menu-btn {
	color: #333;
}
.nav-menu-btn:hover {
	color: #333;
	text-decoration: none;
}
.nav-menu-btn .acms-icon-sort {
	display: inline-block;
}

.nav-menu-btn-text {
	margin: 0 0 0 5px;
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: bold;
	color: #333;
	vertical-align: middle;
	display: inline-block;
}

/* モバイル時ヘッダー アイコン */
.nav-menu-action {
	display: table;
	float: right;
	margin: 0;
	padding: 0;
}

.nav-menu-action-item {
	display: table-cell;
	width: 44px;
	height: 44px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	font-size: 2rem;
	color: #333;
}

.nav-menu-action-link {
	color: #333;
}
.nav-menu-action-link:hover,
.nav-menu-action-link:active,
.nav-menu-action-link:visited,
.nav-menu-action-link:focus {
	color: #333;
	text-decoration: none;
}

.navbar {
	display: none;
	width: 100%;
}
.navbar.acms-admin-module-edit-wrapper {
	z-index: 1;
}
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar li a {
	display: block;
	padding: 10px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
	font-size: 1.6rem;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
	text-decoration: none;
	color: #FFF;
	background: #C41134;
}

@media (min-width: 1024px) {
	.header {
		height: 100px;
	}
	.navbar {
		display: inline-block;
		vertical-align: middle;
	}
	.navbar > ul {
		float: right;
		list-style: none;
		padding: 0;
	}
	.header-stack .navbar > ul {
		float: none;
		display: table;
		width: 100%;
		table-layout: fixed;
		border-right: 1px solid #EEE;
	}
	.navbar li {
		float: left;
		position: relative;
		margin: 0 10px;
		vertical-align: middle;
		text-align: center;
	}
	.header-stack .navbar li.navbar-btn {
		padding: 0 10px;
	}
	.header-stack .navbar li {
		float: none;
		display: table-cell;
		border-left: 1px solid #EEE;
	}
	.navbar li ul {
		/* 二階層目 */
		display: none;
		position: absolute;
		left: 0;
		min-width: 200px;
	}
	.navbar li li {
		margin: 0;
	}
	.header-stack .navbar li li {
		display: block;
		border: 0;
	}
	.navbar li a {
		/* 一階層目のリンクのみ */
		padding: 0;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		transition: border .25s ease-out;
	}
	.navbar li a:hover,
	.navbar li a:focus,
	.navbar li a:active {
		color: #333;
		background: transparent;
	}
	.header-stack .navbar li a {
		display: block;
		padding: 10px;
		font-size: 16px;
		font-size: 1.6rem;
	}
	.navbar li.stay a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li.stay a.btn-attention {
		border: 0;
	}
	.navbar li:hover ul {
		/* 二階層目 */
		display: block;
		z-index: 10000;
		animation: .8s fade-in;
	}
	.navbar li:hover a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li:hover a.btn-attention {
		border: 0;
	}
	.navbar li:hover li a {
		border: 0;
	}
	.navbar li li {
		/* 二階層目以降 */
		display: block;
		float: none;
		text-align: left;
		background: #C41134;
		border: 0;
		border-top: 1px solid #910021;
	}
	.navbar li li:first-child {
		border: 0;
	}
	.navbar li li a {
		margin: 0;
		padding: 10px 15px;
		color: #FFF;
		border: 0;
	}
	.navbar li li a:hover {
		color: #FFF;
		border: 0;
		background: #910021;
	}
	.navbar a.btn-attention {
		/* ボタン（色付き） */
		background: #C41134;
		font-weight: bold;
		color: #FFF;
		line-height: 1.2;
		border: 0;
		display: inline-block;
		padding: 8px 15px;
		border-radius: 3px;
		border: 0;
	}
	.navbar a.btn-attention:hover,
	.navbar a.btn-attention:visited {
		color: #FFF;
		text-decoration: none;
	}
	.navbar a.btn-attention:focus,
	.navbar a.btn-attention:active {
		color: #FFF;
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
	}
	.navbar a.btn-attention:hover {
		background-color: #910021;
		background-image: linear-gradient(to bottom, #C41134, #910021);
		color: #FFF;
		border: 0;
	}
	.navbar a.btn-attention:active,
	.navbar a.btn-attention:focus {
		background: #910021;
	}
}

@media (min-width: 1024px) {
	.header-logo {
		padding: 0;
	}
	.navbar ul li a {
		font-size: 14px;
		font-size: 1.4rem;
	}
}

@media (min-width: 1440px) {
	.navbar ul li a {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/* オフキャンバス */
.close-btn {
	display: none;
	width: 100%;
	padding: 0;
	border: 0;
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	opacity: 1;
	-webkit-tap-highlight-color: transparent;
}

.js-acms-offcanvas-open #offcanvas .close-btn {
	display: block;
	opacity: .7;
}

.js-acms-offcanvas-open #offcanvas .close-btn:focus {
	color: #FFF;
	overflow: initial;
	white-space: initial;
	text-indent: initial;
}

@media (max-width: 1023px) {
	#nav {
		padding: 10px 15px 100px 15px;
		box-sizing: border-box;
	}
	.offcanvas-nav {
		/* グローバルナビゲーション */
		margin: 0 0 20px 0;
	}
	.offcanvas-nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.offcanvas-nav li {
		display: block;
		padding: 10px;
		font-size: 16px;
		font-size: 1.6rem;
		color: #E8EDE3;
		border-top: 1px solid #CCC;
	}
	.offcanvas-nav li.navbarBtn {
		border: 0;
	}
	.offcanvas-nav li.stay {
		background: #555;
	}
	.no-js .offcanvas-nav li.stay {
		background: #E5E5E5;
	}
	.offcanvas-nav li:first-child {
		border: 0;
	}
	.offcanvas-nav li ul {
		display: none;
	}
	.offcanvas-nav a {
		display: block;
		margin: -10px;
		padding: 10px;
		color: #E8EDE3;
	}
	.offcanvas-nav a:hover {
		text-decoration: none;
	}
	.offcanvas-nav a.btn-attention {
		border-top: 0;
		border-radius: 0;
		font-weight: normal;
	}
	.offcanvas-nav a.btn-attention:hover {
		background: #910021;
	}
	.no-js .offcanvas-nav a {
		color: #333;
	}
	/* オフキャンバス内のパーツ */
	.offcanvas-bar {
		display: none;
		padding: 10px 15px 100px 15px;
	}
	.js-acms-offcanvas-active .offcanvas-bar {
		background: #333;
	}
	.offcanvas-bar .module-header {
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
	.no-js .offcanvas-bar .module-header {
		/* JavaScript無効時の対応 */
		color: #333;
		border-bottom: 2px solid #333;
	}
	.offcanvas-bar .side-list-link {
		color: #FFF;
	}
	.no-js .offcanvas-bar .side-list-link {
		/* JavaScript無効時の対応 */
		color: #333;
	}
	.offcanvas-bar .side-list-link:hover,
	.offcanvas-bar .side-list-link:visited,
	.offcanvas-bar .side-list-link:focus,
	.offcanvas-bar .side-list-link:active {
		color: #FFF;
		background: 0;
	}
	.no-js .offcanvas-bar .side-list-link:hover,
	.no-js .offcanvas-bar .side-list-link:visited,
	.no-js .offcanvas-bar .side-list-link:focus,
	.no-js .offcanvas-bar .side-list-link:active {
		/* JavaScript無効時の対応 */
		color: #333;
	}
	.offcanvas-bar .pickup-title {
		margin: 0;
		color: #FFF;
		font-size: 16px;
		font-size: 1.6rem;
	}
	.offcanvas-bar .pickup-title a {
		color: inherit;
	}
	.offcanvas-bar .btn-search {
		background: #999;
		border: 1px solid #666;
	}
	.offcanvas-bar .sns-list {
		margin: 0 -5px 20px;
	}
	.js-acms-offcanvas-sidebar-left {
		padding-left: calc(15px + constant(safe-area-inset-left));
	}
	.js-acms-offcanvas-sidebar-right {
		padding-right: calc(15px + constant(safe-area-inset-right));
	}
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggest-box {
	background: #DDD;
}

.suggest-inner {
	display: table;
	width: 100%;
	padding: 15px 0;
}

.suggest-item {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.suggest-text {
	margin: 0 0 10px 0;
	line-height: 1.5;
	font-size: 14px;
	font-size: 1.4rem;
}

.suggest-tel {
	margin: 0 0 10px 0;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #666;
}
.suggest-tel a {
	color: inherit;
}

.suggest-btn {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.suggest-inner {
		padding: 0;
	}
	.suggest-item {
		padding: 30px 10px;
	}
	.suggest-tel {
		margin: 0;
	}
	.suggest-half {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
}

/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}

.company-about {
	margin: 0 0 30px 0;
	color: #FFF;
}

.company-name {
	margin: 0 0 15px 0;
	color: #FFF;
	font-size: 20px;
	font-size: 2rem;
	font-style: normal;
}

.company-detail {
	margin: 0 0 5px 0;
	padding: 0;
	color: #FFF;
	font-size: 14px;
	font-size: 1.4rem;
	font-style: normal;
}
.company-detail a {
	color: #FFF;
}
.company-detail a:hover {
	text-decoration: underline;
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	width: 650px;
	max-width: 100%;
	margin: 0 -10px;
}

.footer-nav-item {
	float: left;
	display: block;
	width: 25%;
	margin: 0 0 10px 0;
	padding: 0 10px;
	vertical-align: top;
	box-sizing: border-box;
}

.footer-nav-title {
	margin: 0 0 5px 0;
	color: #FFF;
	font-size: 16px;
	font-size: 1.6rem;
}

.footer-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.footer-nav-list li {
	line-height: 1.7;
}
.footer-nav-list a {
	color: #999;
}

@media screen and (max-width: 767px) {
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top a:focus {
	display: block;
	border: 1px dotted #FFF;
}

.page-top-btn {
	display: block;
	position: fixed;
	right: 20px;
	right: calc(20px + constant(safe-area-inset-right));
	bottom: 20px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url(../../images/marker/btn_pageTop.png?v=20180219145255) no-repeat center;
	transform: translateZ(0);
	z-index: 1000;
	opacity: 0;
	transition: opacity .2s ease-out;
}
.no-js .page-top-btn {
	/* jsが無効の環境のとき */
	opacity: .6;
}

.page-top-btn-appear {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.page-top-btn {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.page-top-btn:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	list-style: none;
	margin: 0 -5px 30px 15px;
	padding: 0;
}

.sns-list-item {
	float: left;
	margin: 0 5px;
}
.sns-list-item a:hover,
.sns-list-item a:visited,
.sns-list-item a:active,
.sns-list-item a:focus {
	text-decoration: none;
}

/* 各種SNSボタン */
.sns-list-item .sns-list-facebook {
	/* Facebook */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	font-size: 1.9rem;
	color: #FFF;
	border-radius: 4px;
	background: #3B5999;
}
.sns-list-item .sns-list-facebook:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-twitter {
	/* Twitter */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	font-size: 1.9rem;
	color: #FFF;
	border-radius: 4px;
	background: #55ACEE;
}
.sns-list-item .sns-list-twitter:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-gplus {
	/* Google + */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	font-size: 1.9rem;
	color: #FFF;
	border-radius: 4px;
	background: #DD4B39;
}
.sns-list-item .sns-list-gplus:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-youtube {
	/* YouTube */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	font-size: 1.9rem;
	color: #FFF;
	border-radius: 4px;
	background: #CD201F;
}
.sns-list-item .sns-list-youtube:before {
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.sns-list {
		float: right;
		margin: 0 -10px;
	}
	.sns-list-item {
		margin: 10px;
	}
	.sns-list-item a:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}

.copyright-text {
	margin: 0 auto;
}

.copryright-logo {
	vertical-align: middle;
}

/* ------------------------------
　　acms.css ノンレスポンシブ対応
------------------------------ */
[class*="acms-col-"] {
	float: left;
}

.acms-col-1 {
	width: 8.33333%;
}

.acms-col-2 {
	width: 16.66667%;
}

.acms-col-3 {
	width: 25%;
}

.acms-col-4 {
	width: 33.33333%;
}

.acms-col-5 {
	width: 41.66667%;
}

.acms-col-6 {
	width: 50%;
}

.acms-col-7 {
	width: 58.33333%;
}

.acms-col-8 {
	width: 66.66667%;
}

.acms-col-9 {
	width: 75%;
}

.acms-col-10 {
	width: 83.33333%;
}

.acms-col-11 {
	width: 91.66667%;
}

.acms-col-12 {
	width: 100%;
}

.acms-col-sm-1 {
	width: 8.33333%;
}

.acms-col-sm-2 {
	width: 16.66667%;
}

.acms-col-sm-3 {
	width: 25%;
}

.acms-col-sm-4 {
	width: 33.33333%;
}

.acms-col-sm-5 {
	width: 41.66667%;
}

.acms-col-sm-6 {
	width: 50%;
}

.acms-col-sm-7 {
	width: 58.33333%;
}

.acms-col-sm-8 {
	width: 66.66667%;
}

.acms-col-sm-9 {
	width: 75%;
}

.acms-col-sm-10 {
	width: 83.33333%;
}

.acms-col-sm-11 {
	width: 91.66667%;
}

.acms-col-sm-12 {
	width: 100%;
}

.acms-col-md-1 {
	width: 8.33333%;
}

.acms-col-md-2 {
	width: 16.66667%;
}

.acms-col-md-3 {
	width: 25%;
}

.acms-col-md-4 {
	width: 33.33333%;
}

.acms-col-md-5 {
	width: 41.66667%;
}

.acms-col-md-6 {
	width: 50%;
}

.acms-col-md-7 {
	width: 58.33333%;
}

.acms-col-md-8 {
	width: 66.66667%;
}

.acms-col-md-9 {
	width: 75%;
}

.acms-col-md-10 {
	width: 83.33333%;
}

.acms-col-md-11 {
	width: 91.66667%;
}

.acms-col-md-12 {
	width: 100%;
}

.acms-col-lg-1 {
	width: 8.33333%;
}

.acms-col-lg-2 {
	width: 16.66667%;
}

.acms-col-lg-3 {
	width: 25%;
}

.acms-col-lg-4 {
	width: 33.33333%;
}

.acms-col-lg-5 {
	width: 41.66667%;
}

.acms-col-lg-6 {
	width: 50%;
}

.acms-col-lg-7 {
	width: 58.33333%;
}

.acms-col-lg-8 {
	width: 66.66667%;
}

.acms-col-lg-9 {
	width: 75%;
}

.acms-col-lg-10 {
	width: 83.33333%;
}

.acms-col-lg-11 {
	width: 91.66667%;
}

.acms-col-lg-12 {
	width: 100%;
}

.acms-col-xl-1 {
	width: 8.33333%;
}

.acms-col-xl-2 {
	width: 16.66667%;
}

.acms-col-xl-3 {
	width: 25%;
}

.acms-col-xl-4 {
	width: 33.33333%;
}

.acms-col-xl-5 {
	width: 41.66667%;
}

.acms-col-xl-6 {
	width: 50%;
}

.acms-col-xl-7 {
	width: 58.33333%;
}

.acms-col-xl-8 {
	width: 66.66667%;
}

.acms-col-xl-9 {
	width: 75%;
}

.acms-col-xl-10 {
	width: 83.33333%;
}

.acms-col-xl-11 {
	width: 91.66667%;
}

.acms-col-xl-12 {
	width: 100%;
}

/* ------------------------------
 ユニットグループ
------------------------------- */
.clearHidden {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	margin: 0;
	border: none;
}

/* ---------------
 動的フォーム
--------------- */
/* ---------------
 エントリー内 主な要素
--------------- */
.acms-entry {
	/* ユニットの要素の位置調整 */
}
.acms-entry [class*=acms-col-] {
	padding: 0;
}
.acms-entry h2,
.acms-entry h3,
.acms-entry h4,
.acms-entry h5,
.acms-entry h6,
.acms-entry dl {
	margin-left: 10px;
	margin-right: 10px;
}
.acms-entry p {
	margin-left: 10px;
	margin-right: 10px;
}
.acms-entry .entry-container {
	margin-left: 10px;
	margin-right: 10px;
}
.acms-entry blockquote {
	margin: 0 0 15px 0;
	padding: 10px 20px;
	border-left: solid 5px #CCC;
}

/* ---------------
 各コンテンツ(画像、地図、動画など)表示設定
--------------- */
/* 添付画像配置（おまかせ） */
/* 添付画像配置（左） */
.column-image-left,
.column-media-left {
	display: inline;
	float: left;
	margin-bottom: 10px;
}

/* 添付画像配置（右） */
.column-image-right,
.column-media-right {
	display: inline;
	float: right;
	margin-bottom: 10px;
}

/* 添付画像配置（中央） */
.column-image-center,
.column-media-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

/* ファイル配置（おまかせ） */
.column-file-auto {
	margin-left: 10px;
}
.column-file-auto + .caption {
	margin-left: 10px;
}

/* ファイル配置（左） */
.column-file-left {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.column-file-left + .caption {
	text-align: left;
}

/* ファイル配置（右） */
.column-file-right {
	display: inline;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.column-file-right + .caption {
	text-align: right;
}

/* ファイル配置（中央） */
.column-file-center {
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
}
.column-file-center + .caption {
	text-align: center;
}

/* 地図配置（おまかせ） */
.column-map-auto {
	margin-bottom: 10px;
}

/* 地図配置（左） */
.column-map-left {
	float: left;
	margin-bottom: 10px;
}

/* 地図配置（右） */
.column-map-right {
	float: right;
	margin-bottom: 10px;
}

/* 地図配置（中央） */
.column-map-center {
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

/* yahoo地図配置（おまかせ） */
.column-yolp-auto {
	margin-bottom: 10px;
}

/* yahoo地図配置（左） */
.column-yolp-left {
	float: left;
	margin-bottom: 10px;
}

/* yahoo地図配置（右） */
.column-yolp-right {
	float: right;
	margin-bottom: 10px;
}

/* yahoo地図配置（中央） */
.column-yolp-center {
	display: block;
	float: none;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

/* YouTube配置 (おまかせ) */
/* YouTube配置 (左) */
.column-youtube-left,
.column-video-left {
	display: inline;
	float: left;
}

/* YouTube配置 (右) */
.column-youtube-right,
.column-video-right {
	display: inline;
	float: right;
}

/* YouTube配置 (中央) */
.column-youtube-center,
.column-video-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* 画像URL配置（おまかせ） */
/* 画像URL配置（左） */
.column-eximage-left {
	display: inline;
	float: left;
}

/* 画像URL配置（右） */
.column-eximage-right {
	display: inline;
	float: right;
}

/* 画像URL配置（中央） */
.column-eximage-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* 引用配置（おまかせ） */
/* 引用配置（左） */
.column-quote-left {
	float: left;
}

/* 引用配置（右） */
.column-quote-right {
	float: right;
}

.column-quote-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

[class*="column-quote-"] {
	margin-left: 10px;
	margin-right: 10px;
	/* 引用ユニット画像 */
	/* 引用ユニットテキスト */
}
[class*="column-quote-"] blockquote {
	padding: 20px 10px 20px 20px;
}
[class*="column-quote-"] .quoteImageContainer {
	position: relative;
	float: left;
	max-width: 154px;
	margin-right: 25px;
}
[class*="column-quote-"] .quoteImage {
	display: block;
	max-width: 100%;
	height: auto;
}
[class*="column-quote-"] .quoteTitle {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.4;
}
[class*="column-quote-"] .quoteTitleLink {
	color: #006CD8;
}
[class*="column-quote-"] .quoteSiteName {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 11px;
	font-size: 1.1rem;
	color: #666;
}
[class*="column-quote-"] .quoteDescription {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.6;
	color: #333;
}

/* 画像の最大幅 */
[class*="column-image-"],
[class*="column-media-"] {
	max-width: 100%;
}

/* メディア リンク */
[class*="column-media-"] a {
	display: block;
	text-align: center;
}

/* ユニットのガターの間隔 */
.acms-entry [class*="column-image-"],
.acms-entry [class*="column-media-"],
.acms-entry [class*="column-yolp-"],
.acms-entry [class*="column-youtube-"],
.acms-entry [class*="column-video-"],
.acms-entry [class*="column-eximage-"] {
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.acms-entry [class*="column-map-"] {
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.acms-entry [class*="column-map-"] > div {
	max-width: 100%;
}

.acms-entry [class*="column-image-"],
.acms-entry [class*="column-media-"],
.acms-entry [class*="column-eximage-"] {
	display: block;
	margin-bottom: 10px;
}
.acms-entry [class*="column-image-"] a,
.acms-entry [class*="column-media-"] a,
.acms-entry [class*="column-eximage-"] a {
	display: block;
}
.acms-entry [class*="column-image-"] .caption,
.acms-entry [class*="column-media-"] .caption,
.acms-entry [class*="column-eximage-"] .caption {
	padding: 0;
}

.acms-entry [class*="column-image-"].nocaption,
.acms-entry [class*="column-media-"].nocaption,
.acms-entry [class*="column-eximage-"].nocaption,
.acms-entry [class*="column-yolp-"],
.acms-entry [class*="column-youtube-"],
.acms-entry [class*="column-video-"] {
	margin-bottom: 20px;
}

.acms-entry .column-image-auto,
.acms-entry .column-media-auto,
.acms-entry .column-eximage-auto,
.acms-entry .column-yolp-auto,
.acms-entry .column-youtube-auto,
.acms-entry .column-video-auto {
	float: none;
}

[class*="column-image-"] img,
[class*="column-media-"] img,
[class*="column-eximage-"] img {
	width: auto\9;
	height: auto;
	max-width: 100%;
}

/* 画像左寄せ */
.column-image-left,
.column-media-left,
.column-eximage-left {
	float: left;
}

/* スマートフォンのときのエントリー内スタイル */
@media (max-width: 479px) {
	/* エントリー内画像サイズ */
	.acms-entry [class*="column-image-"],
	.acms-entry [class*="column-media-"],
	.acms-entry [class*="column-eximage-"] {
		float: none;
		padding-left: 10px;
		padding-right: 10px;
		width: auto !important;
	}
	.acms-entry [class*="column-image-"] img,
	.acms-entry [class*="column-media-"] img,
	.acms-entry [class*="column-eximage-"] img {
		padding: 0;
		box-sizing: border-box;
	}
	[class*="column-map-"],
	[class*="column-yolp-"] {
		width: auto !important;
		max-width: 100%;
	}
	[class*="column-map-"] > div,
	[class*="column-yolp-"] > div {
		max-width: 100%;
	}
	[class*="column-yolp-"] > div {
		width: 100% !important;
	}
	[class*="column-eximage-"] {
		width: auto !important;
	}
	[class*="column-youtube-"],
	[class*="column-video-"] {
		display: block;
		width: 100% !important;
		max-width: 100%;
	}
}

.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-image-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-media-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-map-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-yolp-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-eximage-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-youtube-"],
.acms-entry-unit-full:not(.acms-unit-size-inherit) [class*="column-video-"] {
	width: auto !important;
	max-width: 100%;
}

/* YouTube動画をレスポンシブ対応させるための記述 */
.column-youtube,
.column-iframe {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.column-youtube iframe,
.column-youtube object,
.column-youtube embed,
.column-iframe iframe,
.column-iframe object,
.column-iframe embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

[class*="column-map-"] > img,
[class*="column-yolp-"] > img {
	max-width: 100%;
}

/* 地図ユニットのアイコンの調整 */
[class*="column-map-"] img,
[class*="column-yolp-"] img {
	width: auto;
	height: auto;
}

/* Yahoo地図 */
[class*="column-yolp-"] {
	width: auto !important;
}

/* ---------------
 ユニット
--------------- */
.entryFormColumnBody .entryFormFileentryFormImages,
.entryFormColumnBody .formColumnMapTd {
	padding-right: 10px !important;
}

#js-edit_inplace-box .lite-editor + .entryFormTextarea,
.lite-editor + .entryFormTextarea {
	width: 100%;
	margin-bottom: 0;
}

.acms-btn .lite-editor-emoji-font {
	font-size: 12px;
}

.entryFormColumnBody .lite-editor {
	border-radius: 5px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.7;
	margin-bottom: 0;
	resize: auto;
}
.entryFormColumnBody .lite-editor:focus,
.entryFormColumnBody .lite-editor:active {
	outline: none;
	border-color: #137AF3;
	background-color: #FFF;
	box-shadow: 0 0 0 2px rgba(19, 122, 243, .4);
}

.entryFormColumnBody .lite-editor-toolbox {
	margin-top: 10px;
	background-color: transparent;
	border: none;
}

.entryFormColumnBody .lite-editor-toolbox .acms-btn-group > .acms-btn {
	height: auto;
}

.entryFormColumnBody .lite-editor-select {
	margin-bottom: 5px;
}

.entryFormColumnBody .acms-btn-group {
	padding: 0;
}

.entryFormColumnBody .lite-editor-toolbox {
	padding: 0;
}

.entryFormColumnBody > [data-id] {
	position: relative;
}

.lite-editor-btn-group-wrap .acms-btn-group {
	float: left;
}

@media (min-width: 768px) {
	.entryFormColumnBody .lite-editor {
		font-size: 13px;
		font-size: 1.3rem;
	}
	.entryFormColumnBody .lite-editor-select {
		margin-bottom: 0;
	}
}

/* ---------------
 検索
--------------- */
/* 検索結果のハイライト
---------------*/
.highlight1 {
	background-color: #FF6;
	color: #000;
}

.highlight2 {
	background-color: #A0FFFF;
	color: #000;
}

.highlight3 {
	background-color: #9F9;
	color: #000;
}

.highlight4 {
	background-color: #F99;
	color: #000;
}

.highlight5 {
	background-color: #F6F;
	color: #000;
}

.highlight6 {
	background-color: #800;
	color: #000;
}

.acms-block {
	display: block !important;
}

.acms-inline {
	display: inline !important;
}

.acms-inline-block {
	display: inline-block !important;
}

.acms-table-cell {
	display: table-cell !important;
}

.acms-hide {
	display: none !important;
}

.acms-block-sm {
	display: block !important;
}

.acms-inline-sm {
	display: inline !important;
}

.acms-inline-block-sm {
	display: inline-block !important;
}

.acms-table-cell-sm {
	display: table-cell !important;
}

.acms-hide-sm {
	display: none !important;
}

.acms-block-md {
	display: block !important;
}

.acms-inline-md {
	display: inline !important;
}

.acms-inline-block-md {
	display: inline-block !important;
}

.acms-table-cell-md {
	display: table-cell !important;
}

.acms-hide-md {
	display: none !important;
}

.acms-block-lg {
	display: block !important;
}

.acms-inline-lg {
	display: inline !important;
}

.acms-inline-block-lg {
	display: inline-block !important;
}

.acms-table-cell-lg {
	display: table-cell !important;
}

.acms-hide-lg {
	display: none !important;
}

.acms-block-xl {
	display: block !important;
}

.acms-inline-xl {
	display: inline !important;
}

.acms-inline-block-xl {
	display: inline-block !important;
}

.acms-table-cell-xl {
	display: table-cell !important;
}

.acms-hide-xl {
	display: none !important;
}

.acms-show-sp {
	display: block !important;
}

.acms-hide-sp {
	display: none !important;
}

.acms-show-tb {
	display: block !important;
}

.acms-hide-tb {
	display: none !important;
}

.acms-show-pc {
	display: block !important;
}

.acms-hide-pc {
	display: none !important;
}

/* ------------------------------
　　テーマ用CSS プリント対応
------------------------------ */
.header-logo {
	padding: 0;
}

.sub {
	display: none;
}

.main {
	width: 100%;
	display: block;
}

.entry-column td,
.entry-column th {
	display: table-cell;
}

.entry-footer {
	display: none;
}

.serial-nav {
	display: none;
}

.suggest-half {
	float: left;
	width: 50%;
}

.sns-list {
	float: right;
}