@charset "UTF-8";
/* ------------------------------
　　ベース
------------------------------ */
body {
	background: #FFF;
	color: #333;
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,sans-serif;
	font-size: 14px;
}

/* リンクの設定 */
a {
	border: none;
	color: #006DD9;
	text-decoration: none;
}

a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}

/* コンテナー */
.acms-container {
	max-width: 1170px;
	padding-right: 10px;
	padding-left: 10px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}
.acms-container .acms-container {
	padding: 0;
}

.narrow-container {
	margin: 0 auto;
	max-width: 960px;
	padding-right: 20px;
	padding-left: 20px;
	padding-right: calc(10px + constant(safe-area-inset-right));
	padding-left: calc(10px + constant(safe-area-inset-left));
}

@media (max-width: 1170px) {
	.acms-container {
		padding-right: 20px;
		padding-left: 20px;
		padding-right: calc(20px + constant(safe-area-inset-right));
		padding-left: calc(20px + constant(safe-area-inset-left));
	}
	.narrow-container {
		padding-right: 20px;
		padding-left: 20px;
		padding-right: calc(20px + constant(safe-area-inset-right));
		padding-left: calc(20px + constant(safe-area-inset-left));
	}
}

/* アニメーション */
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

/* ------------------------------
　　ボタン
------------------------------ */
.btn {
	border: 0;
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.btn:hover,
.btn:visited {
	color: #FFF;
	text-decoration: none;
}
.btn:focus,
.btn:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn:hover {
	background-color: #444;
	background-image: linear-gradient(to bottom, #666, #444);
	color: #FFF;
}
.btn:active,
.btn:focus {
	background: #444;
}

/* ボタン　色付き */
.btn-attention {
	border: 0;
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.btn-attention:hover,
.btn-attention:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention:focus,
.btn-attention:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention:hover {
	background-color: #910021;
	background-image: linear-gradient(to bottom, #C41134, #910021);
	color: #FFF;
}
.btn-attention:active,
.btn-attention:focus {
	background: #910021;
}

/* ボタンサイズ大 */
.btn-large {
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-large:hover,
.btn-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-large:focus,
.btn-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-large:hover {
	background: #444;
}
.btn-large:active,
.btn-large:focus {
	background: #444;
}

/* ボタンサイズ大 色付き */
.btn-attention-large {
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-large:hover,
.btn-attention-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-large:focus,
.btn-attention-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-large:hover {
	background: #910021;
}
.btn-attention-large:active,
.btn-attention-large:focus {
	background: #910021;
}

/* デスクトップ：最大360pxボタン */
.btn-block-large {
	width: 100%;
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-block-large:hover,
.btn-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-block-large:focus,
.btn-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-block-large:hover {
	background: #444;
}
.btn-block-large:active,
.btn-block-large:focus {
	background: #444;
}

/* デスクトップ：最大360pxボタン 色付き */
.btn-attention-block-large {
	width: 100%;
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	transition: background-color .25s linear;
}
.btn-attention-block-large:hover,
.btn-attention-block-large:visited {
	color: #FFF;
	text-decoration: none;
}
.btn-attention-block-large:focus,
.btn-attention-block-large:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-block-large:hover {
	background: #910021;
}
.btn-attention-block-large:active,
.btn-attention-block-large:focus {
	background: #910021;
}

@media (min-width: 768px) {
	.btn-block-large {
		max-width: 360px;
	}
	.btn-attention-block-large {
		max-width: 360px;
	}
}

@media (max-width: 767px) {
	.btn-search-block {
		display: block;
		width: 100%;
		max-width: 360px;
		margin: 0 auto;
		padding: 15px 20px;
		font-size: 20px;
	}
}

/* ボーダーボタン */
.home-btn {
	margin: 20px 0 10px;
}

.btn-border {
	display: inline-block;
	padding: 7px 10px;
	color: #333;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #CCC;
}
.btn-border [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
}
.btn-border:hover {
	text-decoration: none;
}

/* ------------------------------
　　ラベル
------------------------------ */
.label-new {
	background: #C41134;
}

.label-category {
	background: #666;
}

/* ------------------------------
　　ページタイトル
------------------------------ */
.page-title-wrapper {
	display: table;
	position: relative;
	width: 100%;
	height: 100px;
	color: #FFF;
	background: url(../../images/bg_other.jpg?v=20180219145256) #333 no-repeat center;
	background-size: cover;
}

.page-title-filter {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}

.page-title-inner {
	display: table-cell;
	position: relative;
	padding: 15px 0;
	vertical-align: middle;
}

.page-title {
	margin: 0 0 10px 0;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2;
}
.page-title a {
	color: #FFF;
}

.page-description {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.page-title-wrapper {
		height: 270px;
	}
}

/* ------------------------------
　　ページャー
------------------------------ */
.pager {
	list-style: none;
	margin: 0 -5px 50px -5px;
	padding: 0;
	text-align: center;
}
.pager li {
	display: inline-block;
	margin: 0 5px;
}
.pager li.cur {
	/* 現在いる位置 */
	padding: 5px 20px;
	color: #FFF;
	background: #767676;
	border-radius: 3px;
}

.pager-link {
	display: block;
	padding: 5px 20px;
	color: #333;
	border-radius: 3px;
	background: #E5E5E5;
}
.pager-link:visited,
.pager-link:focus,
.pager-link:active {
	color: #333;
}
.pager-link:hover {
	color: #FFF;
	text-decoration: none;
	background: #333;
}

.pager-link-forward {
	float: right;
}

.pager-link-prev {
	float: left;
}

@media screen and (min-width: 768px) {
	.pager-link {
		padding: 5px 10px;
	}
	.pager li.cur {
		/* 現在いる位置 */
		padding: 5px 10px;
	}
}

/* 前後リンク */
.serial-nav {
	list-style: none;
	margin: -25px 0 60px 0;
	padding: 0;
}
.serial-nav .serial-nav-item {
	display: block;
	float: none;
}
.serial-nav .serial-nav-item-prev {
	text-align: left;
}
.serial-nav .serial-nav-item-next {
	text-align: right;
}
.serial-nav a {
	display: block;
	padding: 25px 0;
	border-bottom: 1px solid #E5E5E5;
	color: #333;
}
.serial-nav a:hover,
.serial-nav a:visited,
.serial-nav a:focus,
.serial-nav a:active {
	color: inherit;
	text-decoration: none;
}
.serial-nav a:hover {
	background: #E5E5E5;
}

@media screen and (min-width: 768px) {
	.serial-nav {
		margin: 0 0 60px 0;
		border: 0;
	}
	.serial-nav .serial-nav-item-prev {
		float: left;
	}
	.serial-nav .serial-nav-item-next {
		float: right;
	}
	.serial-nav a {
		display: inline;
		border: 0;
	}
	.serial-nav a:hover {
		text-decoration: underline;
		background: 0;
	}
}

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath {
	margin-bottom: 30px;
	padding: 10px 0;
	background: #F5F5F5;
}

.topicpath-list {
	list-style: none;
	margin: 0 auto;
}

.topicpath-item {
	float: left;
	padding: 0 10px 0 23px;
	background: url(../../images/marker/icon_arrow.png?v=20180219145256) no-repeat left center;
}
.topicpath-item:first-child {
	padding: 0 10px 0 0;
	background: 0;
}

.topicpath-link {
	color: #666;
	font-size: 14px;
}
.topicpath-link:visited,
.topicpath-link:focus,
.topicpath-link:active {
	color: #666;
}

/* ------------------------------
　　スライダー
------------------------------ */
.slick-slider {
	padding: 0 0 12px 0;
}
.slick-slider img {
	margin: 0 auto;
}

.fix-height {
	height: 300px;
	/* はじめのちらつき防止 */
	overflow: hidden;
	/* はじめのちらつき防止 */
}

.slick-slide:hover {
	cursor: pointer;
}

.slick-list:focus:focus {
	position: relative;
}
.slick-list:focus:focus:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px dotted #00C2FF;
	z-index: -1;
}

.js-slider .slick-list:focus {
	position: relative;
}
.js-slider .slick-list:focus:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px dotted #00C2FF;
	z-index: 1;
}

.main-slider-image {
	height: 300px;
	background: no-repeat center #333;
	background-size: cover;
}
.main-slider-image a:hover {
	text-decoration: none;
}

.main-slider-text-outer {
	height: 100%;
}

.main-slider-text-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.main-slider-text-inner {
	display: table-cell;
	padding: 0 20px;
	text-align: center;
	vertical-align: middle;
}

.main-slider-main-copy {
	margin: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
}

.main-slider-side-copy {
	margin: 0;
	color: #FFF;
	font-size: 16px;
}

/* ちらつき防止 */
.slick-track,
.slick-list {
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
}

/* 矢印ナビゲーション */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 19px;
	height: 60px;
	margin-top: -29px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:focus,
.slick-next:focus {
	border: 1px dotted #FFF;
}

.slick-prev {
	left: 10px;
	background: url(../../images/marker/icon_white_arrow_left.png?v=20180219145256) no-repeat;
}

.slick-next {
	right: 10px;
	background: url(../../images/marker/icon_white_arrow_right.png?v=20180219145256) no-repeat;
}

/* ドットのナビゲーション */
.slick-dots {
	position: relative;
	clear: both;
	margin: -35px 0 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	content: "";
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 8px;
	font-size: 0;
	background: #FFF;
	border-radius: 7px;
	border: 1px solid transparent;
}

.slick-dots li button:focus {
	outline: 0;
	border: 1px solid #C41134;
}

.slick-dots li:hover button {
	cursor: pointer;
}

.slick-dots li.slick-active button {
	background: #C41134;
}

.slick-dots button {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

#autoplay-btn {
	position: absolute;
	right: 10px;
	right: calc(10px + constant(safe-area-inset-right));
	bottom: 10px;
	width: 50px;
	height: 50px;
	color: #FFF;
	border: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, .7);
	outline: 0;
	z-index: 1;
}
#autoplay-btn:hover {
	background: rgba(0, 0, 0, .9);
}
#autoplay-btn:active:before,
#autoplay-btn:focus:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px dotted #FFF;
}
#autoplay-btn:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;
	display: block;
	box-sizing: border-box;
	width: 16px;
	height: 20px;
	margin-left: 0;
	border-top: none;
	border-right: 5px solid #FFF;
	border-bottom: none;
	border-left: 5px solid #FFF;
}
#autoplay-btn.active:after {
	left: 15px;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #FFF;
}

@media screen and (min-width: 768px) {
	.slick-prev {
		left: 50px;
	}
	.slick-next {
		right: 50px;
	}
	.fix-height {
		height: 400px;
		/* はじめのちらつき防止 */
	}
	.main-slider-image {
		height: 400px;
	}
	.main-slider-main-copy {
		font-size: 40px;
	}
	.main-slider-side-copy {
		font-size: 24px;
	}
}

/* ------------------------------
　　各モジュール
------------------------------ */
.module-section {
	margin: 0 0 30px 0;
}

/* タイトル */
.module-header {
	position: relative;
	margin: 0;
	padding: 5px 0;
	color: #333;
	border-bottom: 2px solid #333;
}
.module-header + .summary-custom,
.module-header + .summary-default,
.module-header + .entry-column,
.module-header + .pickup-list,
.module-header + .search-form,
.module-header + .banner {
	margin-top: 10px;
}

.module-heading {
	margin: 0;
	font-size: 18px;
}
.module-heading [class*="acms-icon-"] {
	margin: 0 10px 0 0;
	vertical-align: baseline;
}

a.module-index-link {
	position: absolute;
	bottom: 5px;
	right: 0;
	color: #333;
	font-size: 16px;
}
a.module-index-link [class*="acms-icon-"] {
	color: #CCC;
	font-size: 14px;
}

/* カスタムフィールドグループ */
.group-list {
	list-style: none;
	padding: 0;
}

/* 行揃えの設定 */
/* 見出し */
.heading-align-left .group-heading {
	text-align: left;
}

.heading-align-center .group-heading {
	text-align: center;
}

.heading-align-right .group-heading {
	text-align: right;
}

/* 概要文 */
.detail-align-left .group-detail {
	text-align: left;
}

.detail-align-center .group-detail {
	text-align: center;
}

.detail-align-right .group-detail {
	text-align: right;
}

/* ボタン */
.btn-align-left .group-btn-wrap {
	text-align: left;
}

.btn-align-center .group-btn-wrap {
	text-align: center;
}

.btn-align-right .group-btn-wrap {
	text-align: right;
}

/* ------------------------------
　　リスト
------------------------------ */
@media screen and (min-width: 768px) {
	/* リスト */
	a.acms-list-group-item {
		padding: 10px 20px 10px 10px;
		transition: padding .15s ease-out;
	}
	a.acms-list-group-item:hover {
		padding: 10px 10px 10px 20px;
		transition: padding .25s ease-out;
	}
}

/* 検索結果 */
.list-results-wrap {
	margin: 15px 0 15px 0;
	padding: 10px;
	border: 1px solid #CCC;
}

.list-results-heading {
	padding: 5px;
	margin: 0 0 10px 0;
	background: #E5E5E5;
}

.list-results {
	position: relative;
	margin: 0;
}

.list-results-item {
	position: absolute;
	width: 100px;
}

.list-results-detail {
	margin: 0;
	padding: 0 0 0 100px;
	font-weight: bold;
}

/* ------------------------------
　　サマリー
------------------------------ */
.summary-default {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}
.summary-default:before,
.summary-default:after {
	content: " ";
	display: table;
}
.summary-default:after {
	clear: both;
}
.summary-default.slick-initialized {
	margin-right: -20px;
	margin-left: -20px;
	overflow: hidden;
	border: 0;
}
.summary-default .slick-list {
	padding: 0 0 0 20px;
	overflow: inherit;
}
.summary-default .slick-dots {
	margin: 0;
}
.summary-default .slick-dots button {
	background: #E5E5E5;
}
.summary-default .slick-dots .slick-active button {
	background: #C41134;
}

.summary-default-item {
	float: left;
	padding: 10px;
	color: #333;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	box-sizing: border-box;
	transition: background-color .25s ease-out;
}
.summary-default-item.bl-hover {
	background: #F1F1F1;
}
.acms-entry .summary-default-item {
	padding: 10px;
}
.slick-initialized .summary-default-item {
	width: 300px;
	margin: 2px 10px 2px 2px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08), -1px -1px 1px 1px rgba(0, 0, 0, .08);
	border: 0;
}

.summary-title {
	margin: 0 0 10px 0;
	font-size: 16px;
}

.summary-detail {
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
}

@media screen and (max-width: 767px) {
	.summary-default-image-wrap img {
		width: 60px;
		height: auto;
	}
}

@media screen and (min-width: 480px) {
	.summary-default {
		margin: 0 0 20px 0;
	}
}

/* ------------------------------
　　ピックアップリスト
------------------------------ */
.pickup-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pickup-list img {
	display: block;
	transition: opacity .25s ease-out;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.pickup-list img:hover {
	opacity: .75;
}

/* ------------------------------
　　バナー
------------------------------ */
.banner {
	margin: 0;
	padding: 0;
	list-style: none;
}
.banner a {
	display: block;
	transition: opacity .25s ease-out;
}
.banner a:hover {
	opacity: .75;
}

.banner-list-item {
	margin: 0 0 20px 0;
}

/* ------------------------------
　　ヘッドライン
------------------------------ */
.headline-item {
	line-height: 1.5;
	transition: background-color .25s ease-out;
}
.headline-item.bl-hover {
	background: #F1F1F1;
}

@media screen and (max-width: 479px) {
	/* 画面幅が小さいとき */
	/* ヘッドライン */
	.headline-item {
		padding: 10px 0;
	}
	.headline-title {
		display: block;
		margin: 0;
	}
}

/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form .btn-search {
	padding: 10px 20px;
	font-size: 16px;
	filter: none;
	/* IEでのグラデーションを上書き */
	background: #333;
	color: #FFF;
	border-radius: 0 4px 4px 0;
	border: 1px solid #333;
}
.search-form .btn-search:hover,
.search-form .btn-search:active,
.search-form .btn-search:focus {
	background: #666;
}

.search-form input[type="search"] {
	padding: 9px 10px;
	height: 40px;
	font-size: 16px;
	box-sizing: border-box;
}

input[type="search"].search-form-input {
	padding-top: 5px;
	padding-bottom: 4px;
	font-size: 20px;
	box-sizing: border-box;
}

/* ------------------------------
　　レイアウトモジュール
------------------------------ */
/* 背景色 */
.layout-bg {
	padding: 20px 0;
	background: #F6F6F6;
}

.layout-space {
	padding: 20px 0;
}

/* カラムの中央寄せ */
.center-col {
	float: none;
	margin: 0 auto;
}

/* 見出し */
.section-heading {
	margin: 20px 0 40px 0;
	font-size: 28px;
}
.section-heading a {
	color: #333;
}

/* ------------------------------
　　各モジュール
------------------------------ */
/* フィールドグループ */
.group-heading {
	margin: 0 0 20px 0;
	font-size: 18px;
	line-height: 1.2;
}

.group-detail {
	margin: 0 0 30px 0;
	font-size: 16px;
	line-height: 1.7;
}

/* ヘッドライン */
.lp-headline {
	font-size: 16px;
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.lp-suggest-box {
	padding: 50px 0;
}

.lp-suggest-text {
	margin: 30px 0 10px 0;
}

.lp-suggest-tel {
	margin: 0;
	font-size: 34px;
	font-weight: bold;
	color: #C38A00;
}
.lp-suggest-tel a {
	color: #C38A00;
}

.btn-shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

/* ------------------------------
　　エントリー
------------------------------ */
.entry {
	margin: 0 0 25px 0;
	border-bottom: 1px solid #E5E5E5;
}

.page-header {
	margin: 0 0 20px 0;
}

.entry-info {
	margin-top: 0;
	font-size: 14px;
}

/* カテゴリーと新着ラベル */
.entry-category,
.entry-new {
	font-size: 14px;
}

/* タイトル */
.entry-title {
	margin: 10px 0;
}
.entry-title a {
	color: #333;
}
.acms-entry h2 .entry-title {
	padding: 0;
}

/* エントリーのスタイル */
.entry-column {
	color: #333;
	word-wrap: break-word;
}
.entry-column h2 {
	margin: 0 10px 25px 10px;
	padding: 5px 10px;
	font-size: 18px;
	color: #666;
	border-left: 4px solid #666;
}
.entry-column h2.module-heading {
	margin: 0;
	padding: 0;
	border: 0;
}
.entry-column h3 {
	margin: 0 10px 20px 10px;
	padding: 5px 10px;
	font-size: 16px;
	color: #333;
	background: #E5E5E5;
}
.entry-column a:link {
	color: #006DD9;
	text-decoration: none;
}
.entry-column a:hover,
.entry-column a:focus,
.entry-column a:active {
	text-decoration: underline;
}
.entry-column a:visited {
	color: #7F5AD7;
	text-decoration: none;
}

/* 本文 */
.entry-column p {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.7;
}

/* エントリー内ボタン */
.entry-column p.entry-btn {
	margin-bottom: 10px;
}
.entry-column p.entry-btn a {
	background: #666;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.entry-column p.entry-btn a:hover,
.entry-column p.entry-btn a:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column p.entry-btn a:focus,
.entry-column p.entry-btn a:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn a:hover {
	background-color: #444;
	background-image: linear-gradient(to bottom, #666, #444);
	color: #FFF;
}
.entry-column p.entry-btn a:active,
.entry-column p.entry-btn a:focus {
	background: #444;
}

/* 色付きボタン */
.entry-column p.entry-btn-attention a {
	background: #C41134;
	font-weight: bold;
	color: #FFF;
	line-height: 1.2;
	border: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}
.entry-column p.entry-btn-attention a:hover,
.entry-column p.entry-btn-attention a:visited {
	color: #FFF;
	text-decoration: none;
}
.entry-column p.entry-btn-attention a:focus,
.entry-column p.entry-btn-attention a:active {
	color: #FFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn-attention a:hover {
	background-color: #910021;
	background-image: linear-gradient(to bottom, #C41134, #910021);
	color: #FFF;
}
.entry-column p.entry-btn-attention a:active,
.entry-column p.entry-btn-attention a:focus {
	background: #910021;
}

.entry-column p.summary-title {
	margin: 0 0 10px 0;
}

.entry-column p.summary-detail {
	margin: 0 0 10px 0;
	font-size: 14px;
}

/* エントリー内コンテナー */
.entry-container {
	margin: 0 5px;
}

/* テーブル */
.entry-column table {
	width: 100%;
	margin: 0 0 30px 0;
}
.entry-column table.table-history {
	table-layout: fixed;
}

.entry-column th,
.entry-column td {
	display: block;
	padding: 5px 10px;
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	border-top: 1px solid #DFDFDF;
	vertical-align: top;
}

.entry-column .acms-table-responsive {
	margin-bottom: 30px;
}
.entry-column .acms-table-responsive th,
.entry-column .acms-table-responsive td {
	display: table-cell;
	white-space: nowrap;
}
.entry-column .acms-table-responsive table {
	margin: 0;
}

.entry-column th {
	background: #F5F5F5;
}

/* 沿革用テーブル */
.entry-column table.table-history tr {
	background: #FFF;
}

.entry-column table.table-history th,
.entry-column table.table-history td {
	display: block;
}

.entry-column table.table-history th {
	padding: 10px;
}

.entry-column table.table-history td {
	padding: 10px 0;
}

.entry-column table.table-history .table-history-img {
	display: block;
	padding: 0 10px 10px 10px;
	background: #FFF;
}

/* リスト */
.entry-column ul {
	margin: 0 0 25px 0;
	padding: 0 0 0 2em;
}
.entry-column ul li {
	margin: 0 0 5px 0;
	font-size: 16px;
	line-height: 1.5;
}
.entry-column ul.summary-default {
	padding: 0;
}
.entry-column ul.summary-default li {
	margin: 0;
}

/* 番号付きリスト */
.entry-column ol {
	margin: 0 0 25px 0;
	padding: 0 0 0 2.5em;
}
.entry-column ol li {
	margin: 0 0 5px 0;
	font-size: 16px;
	line-height: 1.5;
}

/* 定義リスト */
.entry-column dl {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.5;
}

.entry-column dt {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
}

.entry-column dd {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.5;
}

/* 引用 */
.entry-column blockquote {
	width: 100%;
	margin-bottom: 30px;
	padding: 15px 20px 15px 16px;
	font-size: 16px;
	line-height: 1.5;
	border-left: 4px solid #BFBFBF;
	background: #EFEFEF;
	box-sizing: border-box;
}

/* ソースコード */
.entry-column pre {
	width: 100%;
	margin: 0 0 30px 0;
	box-sizing: border-box;
}
.entry-column pre ol {
	margin: 0;
	padding: 0 0 0 2.5em;
}
.entry-column pre ol li {
	line-height: 1.5;
}

/* 区切り線 */
.entry-column hr {
	border: 0;
	border-bottom: 1px solid #E5E5E5;
}

/* ユニット */
.entry-column .caption {
	margin: 0 0 20px 0;
	font-size: 13px;
}

.column-file-auto + .caption {
	margin-left: 10px;
}

@media screen and (min-width: 480px) {
	.entry-column .table-history-img {
		float: right;
	}
}

@media screen and (min-width: 768px) {
	.entry-column th,
	.entry-column td {
		display: table-cell;
		padding: 15px 20px;
		text-align: left;
		font-size: 16px;
		border-top: 1px solid #DFDFDF;
	}
	.entry-column th {
		background: inherit;
	}
	.entry-column tr:nth-child(odd) {
		background: #F5F5F5;
	}
}

/* エントリーフッター */
.entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #F5F5F5;
}

/* タグ */
.entry-tag {
	margin: 0 0 5px 0;
}

.entry-tag-icon {
	float: left;
	color: #707070;
}

.entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper {
	float: right;
}

.share-text {
	display: inline;
	float: left;
	margin: 0;
}

/* SNSシェアボタン */
.share-list {
	display: inline;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.share-item {
	display: inline-block;
	margin: 0 0 0 20px;
	vertical-align: top;
}
.share-item a {
	color: #999;
	text-decoration: none;
}
.share-item [class*="acms-icon"] {
	font-size: 16px;
	vertical-align: middle;
}
.share-item .share-item-facebook {
	/* Facebook */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	background: #3B5999;
	border-radius: 4px;
}
.share-item .share-item-facebook:before {
	vertical-align: middle;
}
.share-item .share-item-facebook:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}
.share-item .share-item-twitter {
	/* Twitter */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	background: #55ACEE;
	border-radius: 4px;
}
.share-item .share-item-twitter:before {
	vertical-align: middle;
}
.share-item .share-item-twitter:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}
.share-item .share-item-gplus {
	/* Google + */
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	background: #DD4B39;
	border-radius: 4px;
}
.share-item .share-item-gplus:before {
	vertical-align: middle;
}
.share-item .share-item-gplus:focus:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 1px dotted #333;
}

/* 続きを読むボタン */
.continue-link {
	margin: 0;
	font-size: 16px;
}

.continue-link a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	line-height: 1.5;
	font-weight: bold;
	border-radius: 3px;
	background: #767676;
}
.continue-link a [class*="acms-icon"] {
	margin: 0 10px 0 0;
}
.continue-link a:link,
.continue-link a:visited {
	color: #FFF;
}
.continue-link a:hover,
.continue-link a:focus,
.continue-link a:active {
	color: #FFF;
	text-decoration: none;
	background: #AAA;
}

@media screen and (min-width: 768px) {
	/* タグ */
	.entry-tag {
		margin: 0;
	}
	/* 続きを読むボタン */
	.continue-link a {
		padding: 5px 10px;
		font-weight: normal;
	}
}

/* ------------------------------
　　編集ページ
------------------------------ */
.field-title {
	padding: 0 10px;
}

.field-title:first-child {
	margin: 0 0 10px 0;
}

/* ------------------------------
　　サブカラム
------------------------------ */
.side-title {
	margin-top: 0;
	font-size: 18px;
}

/* ------------------------------
　　物件情報
------------------------------ */
/* 地図 */
.realestate-map {
	overflow: hidden;
}

.realestate-map .js-s2d-ready,
.realestate-map [class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
}

.realestate-map img[class*="column-map-"] {
	width: auto !important;
	max-width: 100%;
	height: auto;
}

.realestate-map-entry {
	margin: 0 10px;
}

.entry-column table.realestate-search {
	margin: 20px 0 30px 0;
}

@media screen and (min-width: 1024px) {
	.table-nowrap {
		white-space: nowrap;
	}
}

/* 物件一覧 */
.summary-custom {
	margin: 0 0 40px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #E5E5E5;
}

.summary-custom-entry {
	padding: 10px;
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.summary-custom-entry:hover {
	background: #F5F5F5;
	transition: background-color .25s linear;
}

.photo {
	margin: 0 0 10px 0;
}

.photo-title {
	margin: 0;
	font-size: 16px;
}

.pickup-title {
	color: #333;
	font-size: 16px;
}

@media screen and (max-width: 767px) {
	/* 物件情報 */
	.realestate-search th,
	.realestate-search td {
		display: block;
		box-sizing: border-box;
	}
	.realestate-search input {
		box-sizing: border-box;
	}
}

/* ------------------------------
　　お問い合わせ
------------------------------ */
.contact-box .message {
	margin: 0 0 35px 0;
	font-weight: bold;
	color: #C41134;
}

.contact-box .contact-no {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}
.contact-box .contact-no a {
	color: inherit;
}

.contact-box .error-text {
	/* エラー文 */
	margin: 5px 0 0 0;
	color: #C41134;
}

.contact-form {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	background: #E5E5E5;
}

.contact-form-group {
	background: #E5E5E5;
}

.contact-form-label {
	display: block;
	text-align: left;
	margin: 0;
	padding: 10px 10px 0 10px;
}

.contact-form-control {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #FFF;
}

.contact-form-label {
	font-weight: bold;
}

.contact-form-grid {
	margin: 0 -5px;
}

.contact-form-col,
.acms-entry .contact-form-col {
	margin: 0 0 10px 0;
	padding: 0 5px;
}
.contact-form-col:last-child,
.acms-entry .contact-form-col:last-child {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.contact-form {
		display: table;
		width: 100%;
	}
	.contact-form-group {
		display: table-row;
	}
	.contact-form-label,
	.contact-form-control {
		display: table-cell;
	}
	.contact-form-label {
		width: 33.33333%;
		padding: 25px 15px 15px 15px;
		vertical-align: top;
		border-bottom: 1px solid #FFF;
	}
	.contact-form-control {
		width: 66.66667%;
		padding: 15px;
	}
	.contact-form-col {
		margin: 0;
	}
}

/* ステップ
------------------------------ */
.contact-box .mail-step {
	margin: 0 0 35px 0;
	padding: 0 10px;
	background: #E5E5E5;
	/* カウンターの設定 */
	counter-reset: mailStep;
}

.contact-box .mail-step-item {
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 18px 0 14px;
	color: #999;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 4px solid transparent;
}
.contact-box .mail-step-item:before {
	/* カウンターの設定 */
	counter-increment: mailStep;
	content: counter(mailStep) ".";
}

.contact-box .mail-step-item-current {
	color: #333;
	border-bottom: 4px solid #333;
}

@media screen and (min-width: 768px) {
	.contact-box .mail-step {
		height: 60px;
	}
}

/* 送信ボタン
------------------------------ */
.form-btn-box {
	margin: 0 10px 50px 10px;
	text-align: center;
}

.form-btn {
	display: inline-block;
}

.form-btn-return {
	float: left;
}

.form-btn-send {
	float: right;
}

@media screen and (min-width: 768px) {
	.form-btn-return {
		float: none;
	}
	.form-btn-send {
		float: none;
		max-width: 360px;
		width: 100%;
	}
}

/* ラベル
------------------------------ */
.label-required {
	margin: 0 5px;
	padding: 2px 8px;
	color: #FFF;
	font-size: 12px;
	border-radius: 3px;
	background: #C41134;
}

@media screen and (min-width: 768px) {
	.label-required {
		float: right;
	}
}

/* フォーム要素
------------------------------ */
.contact-box select[required]:required {
	border: 1px solid #C49511;
}

.contact-box select.focused:invalid {
	border: 1px solid #C41134;
}

.contact-box select[required]:valid {
	border: 1px solid #A7A7AA;
}

.contact-box input[required]:required,
.contact-box textarea[required]:required {
	background: #FFFDEB;
}

.contact-box input.focused:invalid,
.contact-box textarea.focused:invalid {
	background: #FFEBEE;
}

.contact-box input[required]:valid,
.contact-box textarea[required]:valid {
	background: #FFF;
}

.contact-box input[type="text"],
.contact-box input[type="password"],
.contact-box input[type="datetime"],
.contact-box input[type="datetime-local"],
.contact-box input[type="date"],
.contact-box input[type="month"],
.contact-box input[type="time"],
.contact-box input[type="week"],
.contact-box input[type="number"],
.contact-box input[type="email"],
.contact-box input[type="url"],
.contact-box input[type="search"],
.contact-box input[type="tel"] {
	font-size: 16px;
	padding: 14px 5px 10px 5px;
}

.contact-box textarea {
	font-size: 16px;
	padding: 5px 5px 4px;
}

.contact-box select {
	font-size: 16px;
	padding: 11px 30px 11px 10px;
	vertical-align: top;
}

/* バリデーター
------------------------------ */
.valid-mark {
	display: none;
}

.valid-mark.valid {
	display: inline;
	color: #5CB85C;
	float: right;
}

.invalid {
	background: #FFEBEE !important;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
/* サイト名 */
.site-name {
	font-size: 24px;
	font-weight: bold;
	color: #C41134;
}
.header-stack .site-name {
	margin: 30px 0 20px;
}
.site-name a {
	color: #C41134;
}
.site-name a:hover,
.site-name a:focus,
.site-name a:active,
.site-name a:visited {
	color: #C41134;
}

.site-logo {
	display: inline-block;
	width: 22px;
	height: auto;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.site-name-text {
	display: inline;
	vertical-align: middle;
}

.edit-link {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

@media (min-width: 768px) {
	.site-name {
		font-size: 24px;
	}
	.header-stack .site-name {
		text-align: center;
	}
	.site-logo {
		width: 40px;
	}
	.header {
		display: table;
		width: 100%;
	}
	.header-stack .header {
		display: block;
	}
	.header-logo {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	.header-stack .header-logo {
		display: block;
	}
	.header-nav {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

@media (min-width: 1024px) {
	.header-logo {
		display: table-cell;
		width: 40%;
	}
	.header-stack .header-logo {
		display: block;
		width: 100%;
	}
	.header-nav {
		display: table-cell;
		width: 60%;
	}
	.header-stack .header-nav {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

/* ------------------------------
　　ナビゲーション
------------------------------ */
.header-logo {
	/* 固定したときの高さを保つ */
	padding: 48px 0 0 0;
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 5px;
	padding: 0 calc(5px + constant(safe-area-inset-right)) 0 calc(5px + constant(safe-area-inset-left));
	border-top: 4px solid #333;
	border-bottom: 1px solid #CCC;
	background: #FFF;
	z-index: 9999;
	box-sizing: border-box;
}

/* モバイル時ナビゲーションボタン */
.nav-menu-btn {
	display: inline-block;
	height: 44px;
	padding: 7px 5px;
	font-size: 20px;
	color: #333;
	box-sizing: border-box;
}
a .nav-menu-btn {
	color: #333;
}
.nav-menu-btn:hover {
	color: #333;
	text-decoration: none;
}
.nav-menu-btn .acms-icon-sort {
	display: inline-block;
}

.nav-menu-btn-text {
	margin: 0 0 0 5px;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	vertical-align: middle;
	display: inline-block;
}

/* モバイル時ヘッダー アイコン */
.nav-menu-action {
	display: table;
	float: right;
	margin: 0;
	padding: 0;
}

.nav-menu-action-item {
	display: table-cell;
	width: 44px;
	height: 44px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: #333;
}

.nav-menu-action-link {
	color: #333;
}
.nav-menu-action-link:hover,
.nav-menu-action-link:active,
.nav-menu-action-link:visited,
.nav-menu-action-link:focus {
	color: #333;
	text-decoration: none;
}

.navbar {
	display: none;
	width: 100%;
}
.navbar.acms-admin-module-edit-wrapper {
	z-index: 1;
}
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar li a {
	display: block;
	padding: 10px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
	text-decoration: none;
	color: #FFF;
	background: #C41134;
}

@media (min-width: 1024px) {
	.header {
		height: 100px;
	}
	.navbar {
		display: inline-block;
		vertical-align: middle;
	}
	.navbar > ul {
		float: right;
		list-style: none;
		padding: 0;
	}
	.header-stack .navbar > ul {
		float: none;
		display: table;
		width: 100%;
		table-layout: fixed;
		border-right: 1px solid #EEE;
	}
	.navbar li {
		float: left;
		position: relative;
		margin: 0 10px;
		vertical-align: middle;
		text-align: center;
	}
	.header-stack .navbar li.navbar-btn {
		padding: 0 10px;
	}
	.header-stack .navbar li {
		float: none;
		display: table-cell;
		border-left: 1px solid #EEE;
	}
	.navbar li ul {
		/* 二階層目 */
		display: none;
		position: absolute;
		left: 0;
		min-width: 200px;
	}
	.navbar li li {
		margin: 0;
	}
	.header-stack .navbar li li {
		display: block;
		border: 0;
	}
	.navbar li a {
		/* 一階層目のリンクのみ */
		padding: 0;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		transition: border .25s ease-out;
	}
	.navbar li a:hover,
	.navbar li a:focus,
	.navbar li a:active {
		color: #333;
		background: transparent;
	}
	.header-stack .navbar li a {
		display: block;
		padding: 10px;
		font-size: 16px;
	}
	.navbar li.stay a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li.stay a.btn-attention {
		border: 0;
	}
	.navbar li:hover ul {
		/* 二階層目 */
		display: block;
		z-index: 10000;
		animation: .8s fade-in;
	}
	.navbar li:hover a {
		/* 一階層目のリンクのみ */
		border-bottom: 4px solid #C41134;
	}
	.navbar li:hover a.btn-attention {
		border: 0;
	}
	.navbar li:hover li a {
		border: 0;
	}
	.navbar li li {
		/* 二階層目以降 */
		display: block;
		float: none;
		text-align: left;
		background: #C41134;
		border: 0;
		border-top: 1px solid #910021;
	}
	.navbar li li:first-child {
		border: 0;
	}
	.navbar li li a {
		margin: 0;
		padding: 10px 15px;
		color: #FFF;
		border: 0;
	}
	.navbar li li a:hover {
		color: #FFF;
		border: 0;
		background: #910021;
	}
	.navbar a.btn-attention {
		/* ボタン（色付き） */
		background: #C41134;
		font-weight: bold;
		color: #FFF;
		line-height: 1.2;
		border: 0;
		display: inline-block;
		padding: 8px 15px;
		border-radius: 3px;
		border: 0;
	}
	.navbar a.btn-attention:hover,
	.navbar a.btn-attention:visited {
		color: #FFF;
		text-decoration: none;
	}
	.navbar a.btn-attention:focus,
	.navbar a.btn-attention:active {
		color: #FFF;
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
	}
	.navbar a.btn-attention:hover {
		background-color: #910021;
		background-image: linear-gradient(to bottom, #C41134, #910021);
		color: #FFF;
		border: 0;
	}
	.navbar a.btn-attention:active,
	.navbar a.btn-attention:focus {
		background: #910021;
	}
}

@media (min-width: 1024px) {
	.header-logo {
		padding: 0;
	}
	.navbar ul li a {
		font-size: 14px;
	}
}

@media (min-width: 1440px) {
	.navbar ul li a {
		font-size: 16px;
	}
}

/* オフキャンバス */
.close-btn {
	display: none;
	width: 100%;
	padding: 0;
	border: 0;
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	opacity: 1;
	-webkit-tap-highlight-color: transparent;
}

.js-acms-offcanvas-open #offcanvas .close-btn {
	display: block;
	opacity: .7;
}

.js-acms-offcanvas-open #offcanvas .close-btn:focus {
	color: #FFF;
	overflow: initial;
	white-space: initial;
	text-indent: initial;
}

@media (max-width: 1023px) {
	#nav {
		padding: 10px 15px 100px 15px;
		box-sizing: border-box;
	}
	.offcanvas-nav {
		/* グローバルナビゲーション */
		margin: 0 0 20px 0;
	}
	.offcanvas-nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.offcanvas-nav li {
		display: block;
		padding: 10px;
		font-size: 16px;
		color: #E8EDE3;
		border-top: 1px solid #CCC;
	}
	.offcanvas-nav li.navbarBtn {
		border: 0;
	}
	.offcanvas-nav li.stay {
		background: #555;
	}
	.no-js .offcanvas-nav li.stay {
		background: #E5E5E5;
	}
	.offcanvas-nav li:first-child {
		border: 0;
	}
	.offcanvas-nav li ul {
		display: none;
	}
	.offcanvas-nav a {
		display: block;
		margin: -10px;
		padding: 10px;
		color: #E8EDE3;
	}
	.offcanvas-nav a:hover {
		text-decoration: none;
	}
	.offcanvas-nav a.btn-attention {
		border-top: 0;
		border-radius: 0;
		font-weight: normal;
	}
	.offcanvas-nav a.btn-attention:hover {
		background: #910021;
	}
	.no-js .offcanvas-nav a {
		color: #333;
	}
	/* オフキャンバス内のパーツ */
	.offcanvas-bar {
		display: none;
		padding: 10px 15px 100px 15px;
	}
	.js-acms-offcanvas-active .offcanvas-bar {
		background: #333;
	}
	.offcanvas-bar .module-header {
		color: #FFF;
		border-bottom: 2px solid #FFF;
	}
	.no-js .offcanvas-bar .module-header {
		/* JavaScript無効時の対応 */
		color: #333;
		border-bottom: 2px solid #333;
	}
	.offcanvas-bar .side-list-link {
		color: #FFF;
	}
	.no-js .offcanvas-bar .side-list-link {
		/* JavaScript無効時の対応 */
		color: #333;
	}
	.offcanvas-bar .side-list-link:hover,
	.offcanvas-bar .side-list-link:visited,
	.offcanvas-bar .side-list-link:focus,
	.offcanvas-bar .side-list-link:active {
		color: #FFF;
		background: 0;
	}
	.no-js .offcanvas-bar .side-list-link:hover,
	.no-js .offcanvas-bar .side-list-link:visited,
	.no-js .offcanvas-bar .side-list-link:focus,
	.no-js .offcanvas-bar .side-list-link:active {
		/* JavaScript無効時の対応 */
		color: #333;
	}
	.offcanvas-bar .pickup-title {
		margin: 0;
		color: #FFF;
		font-size: 16px;
	}
	.offcanvas-bar .pickup-title a {
		color: inherit;
	}
	.offcanvas-bar .btn-search {
		background: #999;
		border: 1px solid #666;
	}
	.offcanvas-bar .sns-list {
		margin: 0 -5px 20px;
	}
	.js-acms-offcanvas-sidebar-left {
		padding-left: calc(15px + constant(safe-area-inset-left));
	}
	.js-acms-offcanvas-sidebar-right {
		padding-right: calc(15px + constant(safe-area-inset-right));
	}
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggest-box {
	background: #DDD;
}

.suggest-inner {
	display: table;
	width: 100%;
	padding: 15px 0;
}

.suggest-item {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.suggest-text {
	margin: 0 0 10px 0;
	line-height: 1.5;
	font-size: 14px;
}

.suggest-tel {
	margin: 0 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	color: #666;
}
.suggest-tel a {
	color: inherit;
}

.suggest-btn {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.suggest-inner {
		padding: 0;
	}
	.suggest-item {
		padding: 30px 10px;
	}
	.suggest-tel {
		margin: 0;
	}
	.suggest-half {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
}

/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}

.company-about {
	margin: 0 0 30px 0;
	color: #FFF;
}

.company-name {
	margin: 0 0 15px 0;
	color: #FFF;
	font-size: 20px;
	font-style: normal;
}

.company-detail {
	margin: 0 0 5px 0;
	padding: 0;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
}
.company-detail a {
	color: #FFF;
}
.company-detail a:hover {
	text-decoration: underline;
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	width: 650px;
	max-width: 100%;
	margin: 0 -10px;
}

.footer-nav-item {
	float: left;
	display: block;
	width: 25%;
	margin: 0 0 10px 0;
	padding: 0 10px;
	vertical-align: top;
	box-sizing: border-box;
}

.footer-nav-title {
	margin: 0 0 5px 0;
	color: #FFF;
	font-size: 16px;
}

.footer-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.footer-nav-list li {
	line-height: 1.7;
}
.footer-nav-list a {
	color: #999;
}

@media screen and (max-width: 767px) {
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top a:focus {
	display: block;
	border: 1px dotted #FFF;
}

.page-top-btn {
	display: block;
	position: fixed;
	right: 20px;
	right: calc(20px + constant(safe-area-inset-right));
	bottom: 20px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url(../../images/marker/btn_pageTop.png?v=20180219145256) no-repeat center;
	transform: translateZ(0);
	z-index: 1000;
	opacity: 0;
	transition: opacity .2s ease-out;
}
.no-js .page-top-btn {
	/* jsが無効の環境のとき */
	opacity: .6;
}

.page-top-btn-appear {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.page-top-btn {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.page-top-btn:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	list-style: none;
	margin: 0 -5px 30px 15px;
	padding: 0;
}

.sns-list-item {
	float: left;
	margin: 0 5px;
}
.sns-list-item a:hover,
.sns-list-item a:visited,
.sns-list-item a:active,
.sns-list-item a:focus {
	text-decoration: none;
}

/* 各種SNSボタン */
.sns-list-item .sns-list-facebook {
	/* Facebook */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	color: #FFF;
	border-radius: 4px;
	background: #3B5999;
}
.sns-list-item .sns-list-facebook:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-twitter {
	/* Twitter */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	color: #FFF;
	border-radius: 4px;
	background: #55ACEE;
}
.sns-list-item .sns-list-twitter:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-gplus {
	/* Google + */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	color: #FFF;
	border-radius: 4px;
	background: #DD4B39;
}
.sns-list-item .sns-list-gplus:before {
	vertical-align: middle;
}

.sns-list-item .sns-list-youtube {
	/* YouTube */
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1.5;
	font-size: 19px;
	color: #FFF;
	border-radius: 4px;
	background: #CD201F;
}
.sns-list-item .sns-list-youtube:before {
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.sns-list {
		float: right;
		margin: 0 -10px;
	}
	.sns-list-item {
		margin: 10px;
	}
	.sns-list-item a:hover {
		opacity: .8;
		transition: opacity .25s linear;
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}

.copyright-text {
	margin: 0 auto;
}

.copryright-logo {
	vertical-align: middle;
}