// ------------------------------
//　カラー
// ------------------------------
// ブランドカラー
$color-primary: (
  base: #5e9cc9,
  base-light: #c3daeb,
  secondary: #333
);

// モノクロ
$color-neutral: (
  lightest: #FFF,
  lighter: #F3F3F3,
  light: #C1C1C1,
  base: #A7A7A7,
  dark: #6E6E6E,
  darkest: #3d3838,
);

$color-state: (
  required: #F7412D,
  optional:#999999,
);

$color-text: (
  base: #444,
  base-lighter: #6E6E6E,
  mute: #6E6E6E,
  inverse: #FFF,
);

$color-bg: (
  base: #FFF,
);

// 各sns色
$color-sns: (
  facebook-color: #3b5999,
  twitter-color: #55acee,
  hatebu-color: #008FDE,
  feed-color: #2BB24C,
  pocket-color: #EF4056,
  gplus-color: #dd4b39,
  youtube-color: #cd201f,
  instagram-color: #3f729b,
  amazon-color: #FF9900,
);
