// ------------------------------
//　フォント
// ------------------------------
$font-hiragino                     : "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-yu-gothic                    : "游ゴシック", YuGothic, "ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-meiryo                       : Meiryo,'メイリオ',"ヒラギノ角ゴ pro", "Hiragino Kaku Gothic Pro",'ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
$font-base                         : "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-heading                      : "FOT-スキップ Std M", "FOT-スーラ ProN M", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-en                           : 'FOT-筑紫A丸ゴシック Std R', serif;
