<!-- BEGIN customFieldGroup:veil -->
<div class="entry-container">
	<table class="table-history">
		<!-- BEGIN customFieldGroup:loop -->
		<tr>
			<th>{history_date}[wareki('年n月')]</th>
			<td><!-- BEGIN photo:veil --><div class="table-history-img"><img src="%{ARCHIVES_DIR}{photo@path}" alt="" class="acms-img-responsive" /></div><!-- END photo:veil --><h3>{history_title}</h3>{history_text}[markdown]</td>
		</tr>
		<!-- END customFieldGroup:loop -->
	</table>
</div>
<!-- END customFieldGroup:veil -->
