<header>
	<div>
		@include("/admin/topicpath.html")
	</div>
	<div>
		@include("/admin/config/parts/header.html", {"title": "<!--T-->アクセス設定<!--/T-->"})
	</div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info"><span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span><button class="js-acms-alert-close acms-admin-alert-icon-after">×</button><!--T-->アクセス設定を保存しました<!--/T--></p><!-- END_IF -->

<form action="" method="post" class="acms-admin-form">
	<div class="js-acms_fix_marker acms_fix_bg">
		<div class="acms_fix_bg_index">
			<a href="{indexUrl}" class="acms-admin-btn-admin"><!--T-->一覧<!--/T--></a>
			<input type="submit" name="ACMS_POST_Config" value="<!--T-->保存<!--/T-->" class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save js-saving-splash" />
			@include("/admin/config/action.html")

			<!-- BEGIN_MODULE Touch_SessionWithAdministration --><a href="{shortcutUrl}" class="acms-admin-btn-admin acms-admin-float-right acms-admin-float-none-sp"><i class="acms-admin-icon acms-admin-icon-shortcut"></i><!--T-->ショートカットに追加<!--/T--></a><!-- END_MODULE Touch_SessionWithAdministration -->
		</div>
	</div>

	<h3 class="acms-admin-admin-title2 "><!--T-->ログイン制限<!--/T--></h3>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->許可リスト<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->IPアドレスを半角数字と「.」「/」を使い<a href='http://ja.wikipedia.org/wiki/Classless_Inter-Domain_Routing' target='_blank'>CIDR記法</a>で入力してください。(例：a.b.c.d/32)<br />指定されたIPアドレスからのアクセスに限りログインできるようになります。（この項目はブログごとの設定となり、ルールには反映されません。）<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN login_white_hosts:loop -->
					<li class="sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="login_white_hosts[]" value="{login_white_hosts}" class="acms-admin-form-width-mini" />
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li><!-- END login_white_hosts:loop -->
					<li class="item-template sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="login_white_hosts[]" class="acms-admin-form-width-mini" placeholder="192.168.99.100/32" />
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin" />
					</li>
				</ul>
				<input type="hidden" name="config[]" value="login_white_hosts" />
				<input type="hidden" name="login_white_hosts:validator#regex" value="@\d+(\.\d+)\{3\}/\d+@" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-login_white_hosts" class="validator-result-{login_white_hosts:validator#regex}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な形式です<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th><!--T-->拒否リスト<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->IPアドレスを半角数字と「.」「/」を使い<a href='http://ja.wikipedia.org/wiki/Classless_Inter-Domain_Routing' target='_blank'>CIDR記法</a>で入力してください。(例：a.b.c.d/32)<br />指定されたIPアドレスからのアクセスに限りログインが拒否されるようになります。（この項目はブログごとの設定となり、ルールには反映されません。）<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN login_black_hosts:loop -->
					<li class="sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="login_black_hosts[]" value="{login_black_hosts}" class="acms-admin-form-width-mini" />
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li><!-- END login_black_hosts:loop -->
					<li class="item-template sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="login_black_hosts[]" class="acms-admin-form-width-mini" placeholder="192.168.99.100/32" />
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin" />
					</li>
				</ul>
				<input type="hidden" name="config[]" value="login_black_hosts" />
				<input type="hidden" name="login_black_hosts:validator#regex" value="@\d+(\.\d+)\{3\}/\d+@" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-login_black_hosts" class="validator-result-{login_black_hosts:validator#regex}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な形式です<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<h3 class="acms-admin-admin-title2 "><!--T-->権限制限<!--/T--><!--T-->（デバッグモード中は、この機能は有効になりません。）<!--/T--></h3>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->制限リスト<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->IPアドレスを半角数字と「.」「/」を使い<a href='http://ja.wikipedia.org/wiki/Classless_Inter-Domain_Routing' target='_blank'>CIDR記法</a>で入力してください。(例：a.b.c.d/32)<br />指定されたIPアドレスからのアクセスに限り、指定された権限のログインできるようになります。（この項目はブログごとの設定となり、ルールには反映されません。）<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN authority_restriction_group:loop -->
					<li class="sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						&nbsp;
						<select name="authority_restriction_type[]">
							<option value="administrator"{authority_restriction_type:selected#administrator}><!--T-->管理者<!--/T--></option>
							<option value="editor"{authority_restriction_type:selected#editor}><!--T-->編集者<!--/T--></option>
							<option value="contributor"{authority_restriction_type:selected#contributor}><!--T-->投稿者<!--/T--></option>
							<option value="subscriber"{authority_restriction_type:selected#subscriber}><!--T-->読者<!--/T--></option>
						</select>
						<!--T-->以上の権限は、<!--/T-->
						<input type="text" name="authority_restriction_white_hosts[]" value="{authority_restriction_white_hosts}" class="acms-admin-form-width-mini" />
						<!--T-->からのアクセスのみ許可<!--/T-->
						&nbsp;
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li><!-- END authority_restriction_group:loop -->
					<li class="item-template sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						&nbsp;
						<select name="authority_restriction_type[]">
							<option value="administrator"><!--T-->管理者<!--/T--></option>
							<option value="editor"><!--T-->編集者<!--/T--></option>
							<option value="contributor"><!--T-->投稿者<!--/T--></option>
							<option value="subscriber"><!--T-->読者<!--/T--></option>
						</select>
						<!--T-->以上の権限は、<!--/T-->
						<input type="text" name="authority_restriction_white_hosts[]" class="acms-admin-form-width-mini" placeholder="192.168.99.100/32"/>
						<!--T-->からのアクセスのみ許可<!--/T-->
						&nbsp;
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin" />
					</li>
				</ul>
				<input type="hidden" name="@authority_restriction_group[]" value="authority_restriction_type" />
				<input type="hidden" name="@authority_restriction_group[]" value="authority_restriction_white_hosts" />
				<input type="hidden" name="config[]" value="authority_restriction_type" />
				<input type="hidden" name="config[]" value="authority_restriction_white_hosts" />
				<input type="hidden" name="config[]" value="@authority_restriction_group" />
				<input type="hidden" name="authority_restriction_white_hosts:validator#regex" value="@\d+(\.\d+)\{3\}/\d+@" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-login_white_hosts" class="validator-result-{login_white_hosts:validator#regex}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な形式です<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<h3 class="acms-admin-admin-title2 "><!--T-->ベーシック認証<!--/T--></h3>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->アカウント<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->ベーシック認証に使用するユーザー名とパスワードを設定します。<!--/T-->"></i></th>
			<td>
				<table class="js-fieldgroup-sortable adminTable">
					<thead class="acms-admin-hide-sp" style="border: 0;">
						<tr>
							<th class="acms-admin-table-left acms-admin-table-nowrap acms-admin-hide-sp">&nbsp;</th>
							<th class="acms-admin-table-left"><!--T-->ユーザー<!--/T-->
								<div role="alert" aria-live="assertive">
									<div data-validator-label="validator-basic_auth_user" class="validator-result-{basic_auth_user:validator#regex}">
										<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->使用できない文字が含まれています<!--/T--></p>
									</div>
								</div>
							</th>
							<th class="acms-admin-table-left"><!--T-->パスワード<!--/T-->
								<div role="alert" aria-live="assertive">
									<div data-validator-label="validator-basic_auth_pass" class="validator-result-{basic_auth_pass:validator#regex}">
										<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->使用できない文字が含まれています<!--/T--></p>
									</div>
								</div>
							</th>
							<th class="acms-admin-table-left acms-admin-admin-config-table-action acms-admin-table-nowrap">削除</th>
						</tr>
					</thead>
					<tbody><!-- BEGIN basic_auth_group:loop -->
						<tr class="sortable-item">
							<td class="item-handle acms-admin-table-nowrap acms-admin-hide-sp" style="vertical-align:top;">
								<i class="acms-admin-icon-sort"></i>
							</td>
							<td style="vertical-align:top;">
								<span class="acms-admin-hide acms-admin-show-sp"><!-- T -->ユーザー<!-- /T --></span>
								<input type="text" name="basic_auth_user[{i}]" value="{basic_auth_user}" class="acms-admin-form-width-full">
							</td>
							<td style="vertical-align:top;">
								<span class="acms-admin-hide acms-admin-show-sp"><!-- T -->パスワード<!-- /T --></span>
								<input type="password" name="basic_auth_pass[{i}]" value="{basic_auth_pass}" class="acms-admin-form-width-full password_target_{i}">

								<div class="acms-admin-form-checkbox">
									<input type="checkbox" id="input-disclose_password[{i}]" class="js-disclose_password" data-target=".password_target_{i}" />
									<label class="acms-admin-form-checkbox" for="input-disclose_password[{i}]">
										<i class="acms-admin-ico-checkbox"></i> <!--T-->パスワードを表示<!--/T-->
									</label>
								</div>
							</td>
							<td class="acms-admin-table-nowrap acms-admin-border-bottom-sp" style="vertical-align:top;">
								<input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除">
							</td>
						</tr><!-- END basic_auth_group:loop -->
						<tr class="sortable-item item-template">
							<td class="item-handle acms-admin-table-nowrap acms-admin-hide-sp">
								<i class="acms-admin-icon-sort"></i>
							</td>
							<td>
								<span class="acms-admin-hide acms-admin-show-sp"><!-- T -->ユーザー<!-- /T --></span>
								<input type="text" name="basic_auth_user[]" value="" class="acms-admin-form-width-full">
							</td>
							<td>
								<span class="acms-admin-hide acms-admin-show-sp"><!-- T -->パスワード<!-- /T --></span>
								<input type="password" name="basic_auth_pass[]" value="" class="acms-admin-form-width-full">
							</td>
							<td class="acms-admin-table-nowrap acms-admin-border-bottom-sp">
								<input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除">
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
								<input type="button" class="item-insert acms-admin-btn-admin" value="追加">
							</td>
						</tr>
					</tfoot>
				</table>

				<input type="hidden" name="basic_auth_user:validator#regex" value="@^[!-~]+$@" />
				<input type="hidden" name="basic_auth_pass:validator#regex" value="@^[!-~]+$@" />
				<input type="hidden" name="@basic_auth_group[]" value="basic_auth_user" />
				<input type="hidden" name="@basic_auth_group[]" value="basic_auth_pass" />
				<input type="hidden" name="config[]" value="basic_auth_user" />
				<input type="hidden" name="config[]" value="basic_auth_pass" />
				<input type="hidden" name="config[]" value="@basic_auth_group" />
			</td>
		</tr>
		<tr>
			<th><!--T-->認証スキップ<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->IPアドレスを半角数字と「.」「/」を使い<a href='http://ja.wikipedia.org/wiki/Classless_Inter-Domain_Routing' target='_blank'>CIDR記法</a>で入力してください。(例：a.b.c.d/32)<br />指定されたIPアドレスからのアクセスに限り、ベーシック認証をスキップできます。<!--/T-->"></i></th>
			<td>
				<ul class="js-fieldgroup-sortable acms-admin-list-nostyle"><!-- BEGIN basic_auth_skip_hosts:loop -->
					<li class="sortable-item acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="basic_auth_skip_hosts[]" value="{basic_auth_skip_hosts}" class="acms-admin-form-width-mini">
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li><!-- END basic_auth_skip_hosts:loop -->
					<li class="sortable-item item-template acms-admin-form-group">
						<span class="item-handle acms-admin-icon-sort acms-admin-hide-sp"></span>
						<input type="text" name="basic_auth_skip_hosts[]" class="acms-admin-form-width-mini" placeholder="192.168.99.100/32">
						<input type="button" value="<!--T-->削除<!--/T-->" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger acms-admin-margin-top-bottom-sp" />
					</li>
					<li>
						<input type="button" value="<!--T-->追加<!--/T-->" class="item-insert acms-admin-btn-admin" />
					</li>
				</ul>
				<input type="hidden" name="config[]" value="basic_auth_skip_hosts" />
				<input type="hidden" name="basic_auth_skip_hosts:validator#regex" value="@\d+(\.\d+)\{3\}/\d+@" />
				<div role="alert" aria-live="assertive">
					<div data-validator-label="validator-basic_auth_skip_hosts" class="validator-result-{basic_auth_skip_hosts:validator#regex}">
						<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->不正な形式です<!--/T--></p>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<!-- BEGIN_MODULE Admin_Config_Set_Name -->
	<input type="hidden" name="setid" value="{setid}" /><!-- END_MODULE Admin_Config_Set_Name -->
</form>
<!-- END_MODULE Admin_Config -->
