<script src="/js/edit-unit.js" charset="UTF-8"></script>
<!-- MiniColors -->
<script src="/js/jquery-minicolors/jquery.minicolors.js"></script>
<link rel="stylesheet" href="/js/jquery-minicolors/jquery.minicolors.css">

<style>
	.acms-admin-form input[type=text].js-colorpicker {
		padding-left: 30px;
	}
	.edit-feature-icon-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width:150px;
		height: 150px;
		margin: 0 auto 20px auto;
		background: #EEE;
		border-radius: 50%;
		font-size: 50px;
	}
	.acms-admin-table-admin-edit.edit-th-size-100 th {
		width: 100px;
	}
	.edit-group {
		display: flex;
		margin:0 0 10px 0;
	}
	.edit-group2 {
		display: flex;
		margin:0 0 0 10px;
	}
	.edit-group__label {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.edit-group__label {
		margin: 0 5px 0 0;
	}
	#selected-icon {
		font-size: 24px;
	}
	.select-area {
		list-style: none;
		height: 200px;
		margin: 0;
		padding: 10px;
		background: #FFF;
		border: 1px solid #CCC;
		box-shadow: inset 0px -1px 3px 0 rgba(0,0,0,0.2);
		overflow-y: scroll;
	}
	.select-area li {
		display: inline-block;
		margin: 0;
	}
	.select-area .acms-form-radio {
		margin: 0;
	}
	.select-area a {
		padding: 8px;
		color: #333;
		font-size: 18px;
		border: 1px solid #FFF;
		border-radius: 4px;
		transition: background-color linear .15s;
	}
	.select-area a:hover {
		text-decoration: none;
		background: #BAE2F3;
	}
	.select-area a.selected {
		background: #F9EBB3;
		border-color: #DABB3E;
	}
</style>
