<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="%{BASE_URL}rss2.xml">
<link rel="stylesheet" href="/css/normalize.css" >
<link rel="stylesheet" href="/css/acms-admin.min.css">
<link rel="stylesheet" href="/css/acms.min.css">
<link rel="stylesheet" href="/css/dest/site.min.css">
<link rel="stylesheet" href="/css/dest/lp.min.css">
<link rel="stylesheet" href="/css/dest/print.min.css" media="print">
@include("/include/head/structured-data.html")
