<!-- BEGIN_MODULE Blog_Field -->{script_head}<!-- END_MODULE Blog_Field -->
<script src="%{JS_LIB_JQUERY_DIR}jquery-%{JS_LIB_JQUERY_DIR_VERSION}.min.js" charset="UTF-8"></script>
<!-- BEGIN_MODULE Js -->
<script src="/acms.js{arguments}" charset="UTF-8" id="acms-js"></script><!-- END_MODULE Js -->
<script src="/js/modernizr.js"></script>
<script src="/js/site.js" charset="UTF-8"></script>
<!--BEGIN_MODULE Touch_Unlogin --><!-- BEGIN_MODULE Blog_Field id="BF_root" -->{google_analytics}[raw]<!-- END_MODULE Blog_Field --><!-- END_MODULE Touch_Unlogin -->
<!-- BEGIN_MODULE Touch_Login -->
<script src="/js/edit.js"></script>
<!-- END_MODULE Touch_Login -->

<!-- BEGIN_IF [%{CCD}/eq/domestic/_or_/%{CCD}/eq/business] -->
<!-- カテゴリーコードが domestic または business のときに表示する -->
<script>
ACMS.Ready(function() {
	var cookie_interest = 'interest';
	var expires_day = 30;
	var ary_ccd = ['domestic','business'];

	if( ary_ccd.indexOf( '%{CCD}' ) >= 0 ){
		// Cookieを保存する
		$.cookie( cookie_interest, '%{CCD}', { expires: expires_day , path: '/' });
	}
});
</script>
<!-- END_IF -->
