<div class="module-section">
	<section aria-labelledby="search-form-heading" class="search">
		<div class="module-header clearfix">
			<h2 id="search-form-heading" class="module-heading" ><label for="searchForm">検索</label></h2>
		</div>
		<form action="/entry.html" method="post" name="searchForm" class="acms-form search-form" role="search" aria-label="検索フォーム">
			<div class="acms-form-action">
				<input type="search" id="searchForm" name="keyword" value="%{KEYWORD}" size="15" class="search-form-input">
				<input type="hidden" name="query" value="keyword">
				<span class="acms-form-side-btn"><button type="submit" name="ACMS_POST_2GET" class="acms-btn btn-search"><span class="acms-icon-search" aria-hidden="true"></span><span class="acms-hide-visually">検索</span></button></span>
				<input type="hidden" name="tpl" value="/entry.html">
				<input type="hidden" name="bid" value="%{BID}">
			</div>
		</form>
	</section>
</div>