<ul class="share-list" aria-label="SNSシェアボタン">
	<li class="share-item"><div class="fb-like" data-href="{permalink}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
	<li class="share-item"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{permalink}" data-text="{title} <!-- BEGIN_MODULE Blog_Field -->|{site_name}<!-- END_MODULE Blog_Field -->" data-lang="ja">ツイート</a></li>
</ul>
