<div class="share-wrapper">
	<p id="share-text" class="share-text">シェアする</p>
	<ul class="share-list" aria-labelledby="share-text">
		<li class="share-item"><a href="http://www.facebook.com/share.php?u={permalink}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="share-item-facebook"><span class="acms-icon-facebook" aria-hidden="true"></span><span class="acms-hide-visually">Facebookでシェアする</span></a></li>
		<li class="share-item"><a href="http://twitter.com/share?url={permalink}&amp;text=%{ENTRY_TITLE}&nbsp;%{ROOT_BLOG_NAME}<!-- BEGIN_MODULE Blog_Field id="global" --><!-- BEGIN twitter_account:veil -->&amp;via={twitter_account}<!-- END twitter_account:veil --><!-- END_MODULE Blog_Field -->" target="_blank" class="share-item-twitter"><span class="acms-icon-twitter" aria-hidden="true"></span><span class="acms-hide-visually">Twitterでシェアする</span></a></li>
		<li class="share-item"><a href="https://plus.google.com/share?url={permalink}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="share-item-gplus"><span class="acms-icon-gplus" aria-hidden="true"></span><span class="acms-hide-visually">Google+でシェアする</span></a></li>
	</ul>
</div>
