<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<p class="acms-admin-module-edit acms-admin-module-edit"><!-- BEGIN module_setting --><a href="/bid/%{BID}/cid/{id}/admin/category_edit/#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集する</a><!-- END module_setting --></p>
<!-- END_MODULE Touch_SessionWithAdministration -->