<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<p class="acms-admin-module-edit acms-admin-module-edit-left"><!-- BEGIN module_setting --><a href="/bid/{admin_module_bid}/admin/module_edit/?mid={admin_module_mid}&edit=update#acms_box3" class="js-dialog-btn js-link_no_rewrite">編集する</a><!-- END module_setting --></p>
<!-- END_MODULE Touch_SessionWithAdministration -->