/* ------------------------------
　　ボタン
------------------------------ */
.btn {
	border: 0;
	background: $btn-start-color;
	@include btn-base();
	@include btn-small();
	 &:hover {
		@include btn-color($btn-start-color, $btn-end-color, #FFF);
	}
	 &:active,
	 &:focus {
		background: $btn-active-color;
	}
}
/* ボタン　色付き */
.btn-attention {
	border: 0;
	background: $attentionBtn-start-color;
	@include btn-base();
	@include btn-small();
	 &:hover {
		@include btn-color($attentionBtn-start-color, $attentionBtn-end-color, #FFF);
	}
	 &:active,
	 &:focus {
		background: $attentionBtn-active-color;
	}
}

/* ボタンサイズ大 */
.btn-large {
	background: $btn-start-color;
	@include btn-base();
	@include btn-large();
	@include box-sizing(border-box);
	@include transition(background-color .25s linear);
	 &:hover {
		background: $btn-hover-color;
	}
	 &:active,
	 &:focus {
		background: $btn-active-color;
	}
}
/* ボタンサイズ大 色付き */
.btn-attention-large {
	background: $attentionBtn-start-color;
	@include btn-base();
	@include btn-large();
	@include box-sizing(border-box);
	@include transition(background-color .25s linear);
	 &:hover {
		background: $attentionBtn-hover-color;
	}
	 &:active,
	 &:focus {
		background: $attentionBtn-active-color;
	}
}
/* デスクトップ：最大360pxボタン */
.btn-block-large {
	width: 100%;
	background: $btn-start-color;
	@include btn-base();
	@include btn-large();
	@include box-sizing(border-box);
	@include transition(background-color .25s linear);
	 &:hover {
		background: $btn-hover-color;
	}
	 &:active,
	 &:focus {
		background: $btn-active-color;
	}
}
/* デスクトップ：最大360pxボタン 色付き */
.btn-attention-block-large {
	width: 100%;
	background: $attentionBtn-start-color;
	@include btn-base();
	@include btn-large();
	@include box-sizing(border-box);
	@include transition(background-color .25s linear);
	 &:hover {
		background: $attentionBtn-hover-color;
	}
	 &:active,
	 &:focus {
		background: $attentionBtn-active-color;
	}
}
@media (min-width : $breakpoint-md-min) {
	.btn-block-large {
		max-width: 360px;
	}
	.btn-attention-block-large {
		max-width: 360px;
	}
}
@media (max-width : $breakpoint-md-max) {
	.btn-search-block {
		@include btn-search-block();
	}
}



/* ボーダーボタン */
.home-btn {
	margin: 20px 0 10px;
}
.btn-border {
	display: inline-block;
	padding: 7px 10px;
	color: #333;
	@include font-size(16);
	border-radius: 4px;
	border: 1px solid #CCC;
	[class*='acms-icon-'] {
		color: #CCC;
		@include font-size(14);
	}
	 &:hover {
		text-decoration: none;
	}
}
