/* ------------------------------
　　ヘッドライン
------------------------------ */
.headline-item {
	line-height: 1.5;
	@include transition(background-color .25s ease-out);
	 &.bl-hover {
		background: #F1F1F1;
	}
}
@media screen and (max-width: $breakpoint-sm-max){ /* 画面幅が小さいとき */
	/* ヘッドライン */
	.headline-item {
		padding: 10px 0;
	}
	.headline-title {
		display: block;
		margin: 0;
	}
}
