/* ------------------------------
　　ページタイトル
------------------------------ */
.page-title-wrapper {
	display: table;
	position: relative;
	width: 100%;
	height: 100px;
	color: #FFF;
	background: url("../images/bg_other.jpg") #333 no-repeat center;
	background-size: cover;
}
.page-title-filter {
	position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	background: rgba(0,0,0,0.5);
}
.page-title-inner {
	display: table-cell;
	position: relative;
	padding: 15px 10px;
	vertical-align: middle
}
.page-title {
	margin: 0 0 10px 0;
	@include font-size(30);
	font-weight: bold;
	line-height: 1.2;
	a {
		color: #FFF;
	}
}
.page-description{
	margin: 10px 0;
	@include font-size(16);
	line-height: 1.5;
}
@media (min-width : $breakpoint-md-min) {
	.page-title-wrapper {
		height: 270px;
	}
}
