/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form {
	.btn-search{
		padding: 10px 20px;
		@include font-size(16);
		filter: none; /* IEでのグラデーションを上書き */
		background: #333;
		color: #FFF;
		border-radius: 0 4px 4px 0;
		border: 1px solid #333;
		&:hover,
		&:active,
		&:focus {
			background: #666;
		}
	}
	input[type="search"] {
		padding: 9px 10px;
		height: 40px;
		@include font-size(16);
		@include box-sizing(border-box);
	}
}
input[type="search"].search-form-input {
	padding-top: 5px;
	padding-bottom: 4px;
	@include font-size(20);
	@include box-sizing(border-box);
}
