/* ------------------------------
　　サマリー
------------------------------ */
.summary-default {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid $base-color;
	border-top: 1px solid $base-color;
}
.summary-default-entry {
	float: left;
	padding: 10px;
	color: #333;
	border-right: 1px solid $base-color;
	border-bottom: 1px solid $base-color;
	@include box-sizing(border-box);
	@include transition(background-color .25s ease-out);
	 &.bl-hover {
		background: #F1F1F1;
	}
	.acms-entry  & {
		padding: $grid-space;
	}
}
.summary-title {
	margin: 0 0 10px 0;
	@include font-size(16);
}
.summary-detail {
	margin: 0;
	line-height: 1.5;
	@include font-size(14);
}

@media screen and (max-width: $breakpoint-md-max){
	.summary-default-entry-image-wrap {
		img {
			width: 60px;
			height: auto;
		}
	}
}

@media screen and (min-width: $breakpoint-sm-min){
	.summary-default {
		margin: 0 0 20px 0;
	}
}
