// ------------------------------
//　ベース
// ------------------------------
// コンテイナー
$container: 1170px;
$narrow-container: 960px;

// グリッドの間隔
$grid-space: 10px;
$sp-container: 20px;


// ------------------------------
//　ファイルのパス
// ------------------------------
$acms-font: '/themes/system/fonts/'; // フォントのパスを上書き


// ------------------------------
//　カラー
// ------------------------------
// 背景色
$bg-color: #FFF;

// プライマリーカラー
$primary-color: #C41134;
$primary-color-hover : #910021;
// セカンダリーカラー
$secondary-color: #333;
// ベースカラー
$base-color: #E5E5E5;

// ボタン
$btn-start-color: #666;
$btn-end-color: #444;
$btn-active-color: #444;
$btn-hover-color: #444;

// 色付きボタン
$attentionBtn-start-color: #C41134;
$attentionBtn-end-color: #910021;
$attentionBtn-active-color: #910021;
$attentionBtn-hover-color: #910021;

// 各SNS色
$facebook-color: #3B5999;
$twitter-color: #55ACEE;
$gplus-color: #DD4B39;
$youtube-color: #CD201F;


// ------------------------------
//　エントリー
// ------------------------------
$entry-margin-bottom: 25px;

$entry-element-margin-bottom-sm: 10px!default;
$entry-element-margin-bottom-md: 25px!default;
$entry-element-margin-bottom-lg: 30px!default;


// ------------------------------
//　スライダー
// ------------------------------
$main-slider-height-mobile: 300px;
$main-slider-height-desktop: 400px;


