<!--@doc
 # エントリー本文を表示します
 # ユニット開始前にインクルードの条件に合うファイルがあった場合、カスタムフィールドの表示ができるようになっています
 # ページャー、日付の表示はモジュールIDを作成して調節します
 #
 # @id body_default
 # @param module_id | モジュールIDを指定します
 # @author 有限会社アップルップル
 # @create 2016/04/26
-->
<!-- BEGIN_SetTemplate id="body_default" -->
<!-- BEGIN_MODULE Entry_Body id="{{module_id}}" -->
<!-- BEGIN notFound -->
<section class="p-entry">
  <h2 class="p-entry-title">Not Found</h2>
  <div class="acms-entry p-entry-column">
    <p>ただいまページを準備しております。もうしばらくお待ちください。</p>
  </div>
</section>
<!-- END notFound -->

<!-- 1記事▼▼ -->
<!-- BEGIN entry:loop -->

<!-- BEGIN Touch_Login -->
<div class="acms-form-group">
  <!--#include file="/admin/entry/revision-info.html"-->
</div><!-- END Touch_Login -->

<article class="p-entry<!-- BEGIN_IF [{date#Y}/nem] --> is-date-active<!-- END_IF --> {entry:loop.class}">
  <!--#include file="/admin/entry/title.html"-->

  <!-- エントリーのタイトル　開始▼▼ -->
  <!-- BEGIN title:veil -->
  <header class="p-entry-header">
    <p class="p-entry-header-layout-date"><!-- BEGIN date:veil --><time datetime="{date#Y}-{date#m}-{date#d}" class="p-entry-date-wrap"><span class="p-entry-date-year">{date#Y}</span><span class="p-entry-date-num">{date#m}/{date#d}</span><span class="p-entry-date-day">{date#l}[weekEN2JP]曜日</span></time><!-- END date:veil --></p>
    <div class="p-entry-header-layout-title"><!-- BEGIN categoryField --><!-- BEGIN fieldCategoryName:veil -->
      <p class="p-entry-category"><span class="p-entry-category-label">{fieldCategoryName}</span></p><!-- END fieldCategoryName:veil --><!-- END categoryField --><!-- BEGIN_MODULE Touch_Entry -->
      <h1 class="p-entry-title"><a href="{titleUrl}">{title}[raw]</a></h1><!-- END_MODULE Touch_Entry --><!-- BEGIN_MODULE Touch_NotEntry -->
      <h2 class="p-entry-title"><a href="{titleUrl}">{title}[raw]</a></h2><!-- END_MODULE Touch_NotEntry -->
    </div>
  </header>
  <!-- END title:veil -->

  <!-- BEGIN entry:veil -->
  <div class="acms-entry p-entry-column">
    <div class="acms-grid">
      <!-- カスタムフィールドの読み込み -->
      <!-- #include file="/include/field/entry_%{CCD}.html" -->
      <!-- #include file="/include/field/entry_%{ECD}" -->

      <!-- BEGIN unit:veil -->
      <!--#include file="/include/unit.html"-->
      <hr class="clearHidden" />
      <!-- END unit:veil -->
      <!-- 続きを読む -->
      <!--#include file="/include/parts/continue.html"-->
    </div>
  </div>
  <!-- END entry:veil -->

  <!-- BEGIN formBody -->
  <!--#include file="/include/form/unit.html"-->
  <hr class="clearHidden" />
  <!-- END formBody -->

  <!-- BEGIN adminEntryEdit -->
  <div class="acms-box-medium">
    <!--#include file="/admin/entry/edit.html"-->
    <!--#include file="/admin/entry/add.html"-->
  </div>
  <!-- END adminEntryEdit -->

  <!-- BEGIN adminFormEdit -->
  <!--#include file="/admin/form2/edit.html"-->
  <!-- END adminFormEdit -->

  <!-- BEGIN_MODULE Touch_Entry -->
  <footer class="p-entry-footer">
    <div class="clearfix">
      <div class="p-entry-tag-wrapper">
        <!-- BEGIN tag:veil -->
        <dl class="p-entry-tag">
          <dt class="p-entry-tag-icon"><span class="acms-icon-tag"></span><span class="acms-hide-visually">タグ</span></dt>
          <!-- BEGIN tag:loop -->
          <dd class="p-entry-tag-item"><a href="/entry.html/tag/{name}">{name}</a></dd>
          <!-- END tag:loop -->
        </dl><!-- END tag:veil -->
      </div>
    </div>
    <!-- SNSシェアボタン -->
    <!--#include file="/include/parts/snsCustomize.html"-->
  </footer>
  <!-- END_MODULE Touch_Entry -->

  <div class="acms-box-medium">
    <!--#include file="/admin/entry/action.html"-->
  </div>

</article>
<!-- END entry:loop -->
<!-- 1記事▲▲ -->

<!-- ページャー -->
<!-- #include file="/include/parts/pager.html" -->

<!-- END_MODULE Entry_Body -->
<!-- END_SetTemplate -->
