<h3 class="acms-admin-admin-title2">カテゴリー設定</h3>
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>テーマカラー</th>
    <td>
      <input type="color" name="category_theme_color" value="{category_theme_color}" class="acms-admin-form-width-mini"/>
      <input type="text" value="{category_theme_color}" class="acms-admin-form-width-mini"/>
      <input type="hidden" name="field[]" value="category_theme_color" />
    </td>
  </tr>
</table>
