<script src="/js/development.js" charset="UTF-8"></script>
<!-- 変数の読み込み -->
<!--#include file="/admin/vars_field.html" -->

<!--#include file="/admin/category/common.html" -->

<h3 class="acms-admin-admin-title2">SEO設定</h3>
<!-- SEOの設定 -->
<!-- GET_Template id="field_seo_category" -->

<h3 class="acms-admin-admin-title2">OGP設定</h3>
<!-- OGPの設定 -->
<!-- GET_Template id="field_ogp" fb_admin="false" image="true" -->

<!-- 共通項目 -->
<!-- GET_Template id="field_index_base" bg_image="true" description="true" -->

<!-- URLコンテキスト別 -->
<!--#include file="/admin/category/bcd_%{BCD}.html" -->
<!--#include file="/admin/category/ccd_%{CCD}.html" -->
