/* ------------------------------
　　ベース
------------------------------ */
body {
	background: #FFF;
	color: #333;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',Meiryo,'メイリオ','ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
	@include font-size(14);
}

/* リンクの設定 */
a {
	border: none;
	color: #006DD9;
	text-decoration: none;
}
a:visited {
	color: #7F5AD7;
	text-decoration: none;
}
a:active {
	color: #006DD9;
	text-decoration: none;
}

a:hover {
	color: #006DD9;
	text-decoration: underline;
}

/* コンテナー */
.acms-container {
	max-width: $container;
	padding-right: ($grid-space/2);
	padding-left: ($grid-space/2);
	@if ($enable-iphonex == true) {
		padding-right: calc(#{($grid-space/2)} + constant(safe-area-inset-right));
		padding-left: calc(#{($grid-space/2)} + constant(safe-area-inset-left));
	}
	.acms-container {
		padding: 0;
	}
}
.narrow-container {
	margin: 0 auto;
	max-width: $narrow-container;
	padding-right: $sp-container-space;
	padding-left: $sp-container-space;
	@if ($enable-iphonex == true) {
		padding-right: calc(#{($grid-space/2)} + constant(safe-area-inset-right));
		padding-left: calc(#{($grid-space/2)} + constant(safe-area-inset-left));
	}
}

@media (max-width : $container) {
	.acms-container {
		padding-right: $sp-container-space;
		padding-left: $sp-container-space;
		@if ($enable-iphonex == true) {
			padding-right: calc(#{$sp-container-space} + constant(safe-area-inset-right));
			padding-left: calc(#{$sp-container-space} + constant(safe-area-inset-left));
		}
	}
	.narrow-container {
		padding-right: $sp-container-space;
		padding-left: $sp-container-space;
		@if ($enable-iphonex == true) {
			padding-right: calc(#{$sp-container-space} + constant(safe-area-inset-right));
			padding-left: calc(#{$sp-container-space} + constant(safe-area-inset-left));
		}
	}
}

/* アニメーション */
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@-moz-keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@-webkit-keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	20% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
