/* ------------------------------
　　エントリー
------------------------------ */
.entry {
	margin: 0 0 $entry-margin-bottom 0;
	border-bottom: 1px solid $base-color;
}

.page-header {
	margin: 0 0 20px 0;
}

.entry-info {
	margin-top: 0;
	@include font-size(14);
}
/* カテゴリーと新着ラベル */
.entry-category,
.entry-new {
	@include font-size(14);
}
/* タイトル */
.entry-title {
	margin: 10px 0;

	a {
		color: #333;
	}

	.acms-entry h2 & {
		padding: 0;
	}
}


/* エントリーのスタイル */
.entry-column {
	color: #333;
	word-wrap: break-word;

	h2 {
		margin: 0 ($grid-space/2) $entry-element-margin-bottom-md ($grid-space/2);
		padding: 5px 10px;
		@include font-size(18);
		color: #666;
		border-left: 4px solid #666;

		&.module-heading {
			margin: 0;
			padding: 0;
			border: 0;
		}
	}

	h3 {
		margin: 0 ($grid-space/2) 20px ($grid-space/2);
		padding: 5px 10px;
		@include font-size(16);
		color: #333;
		background: $base-color;
	}

	a {
		&:link {
			color: #006dd9;
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}

		&:visited {
			color: #7f5ad7;
			text-decoration: none;
		}
	}
}

/* 本文 */
.entry-column {
	p {
		margin-top: 0;
		margin-bottom: $entry-element-margin-bottom-lg;
		@include font-size(16);
		line-height: 1.7;
	}
}
/* エントリー内ボタン */
.entry-column {
	p {
		&.entry-btn {
			margin-bottom: $entry-element-margin-bottom-sm;

			a {
				background: $btn-start-color;
				@include btn-base();
				@include btn-small();

				&:hover {
					@include btn-color($btn-start-color, $btn-end-color, #FFF);
				}

				&:active,
				&:focus {
					background: $btn-active-color;
				}
			}
		}
	}
}
/* 色付きボタン */
.entry-column {
	p {
		&.entry-btn-attention {
			a {
				background: $attentionBtn-start-color;
				@include btn-base();
				@include btn-small();

				&:hover {
					@include btn-color($attentionBtn-start-color, $attentionBtn-end-color, #FFF);
				}

				&:active,
				&:focus {
					background: $attentionBtn-active-color;
				}
			}
		}

		&.summary-title {
			margin: 0 0 10px 0;
		}

		&.summary-detail {
			margin: 0 0 10px 0;
			@include font-size(14);
		}
	}
}

/* エントリー内コンテナー */
//  幅いっぱいの要素の両端のガターを確保します
.entry-container {
	margin: 0 (($grid-space/2) / 2);
}

/* テーブル */
.entry-column {
	table {
		width: 100%;
		margin: 0 0 $entry-element-margin-bottom-lg 0;

		&.table-history {
			table-layout: fixed; // Firefox、IE対応
		}
	}

	th,
	td {
		display: block;
		padding: 5px 10px;
		text-align: left;
		@include font-size(16);
		line-height: 1.5;
		color: #333;
		border-top: 1px solid #dfdfdf;
		vertical-align: top;
	}

	.acms-table-responsive {
		th,
		td {
			display: table-cell;
			white-space: nowrap;
		}

		table {
			margin: 0;
		}
		margin-bottom: 30px;
	}

	th {
		background: #f5f5f5;
	}
}
/* 沿革用テーブル */
.entry-column {
	table {
		&.table-history {
			tr {
				background: #fff;
			}

			th,
			td {
				display: block;
			}

			th {
				padding: 10px;
			}

			td {
				padding: 10px 0;
			}

			.table-history-img {
				display: block;
				padding: 0 10px 10px 10px;
				background: $bg-color;
			}
		}
	}
}
/* リスト */
.entry-column {
	ul {
		margin: 0 0 $entry-element-margin-bottom-md 0;
		padding: 0 0 0 2em;

		li {
			margin: 0 0 5px 0;
			@include font-size(16);
			line-height: 1.5;
		}

		&.summary-default {
			padding: 0;

			li {
				margin: 0;
			}
		}
	}
}
/* 番号付きリスト */
.entry-column {
	ol {
		margin: 0 0 $entry-element-margin-bottom-md 0;
		padding: 0 0 0 2.5em;

		li {
			margin: 0 0 5px 0;
			@include font-size(16);
			line-height: 1.5;
		}
	}
}
/* 定義リスト */
.entry-column {
	dl {
		margin-top: 0;
		margin-bottom: $entry-element-margin-bottom-lg;
		@include font-size(16);
		line-height: 1.5;
	}

	dt {
		margin: 0 0 5px 0;
		@include font-size(16);
		font-weight: bold;
		line-height: 1.2;
	}

	dd {
		margin-left: 0;
		margin-bottom: 10px;
		@include font-size(16);
		line-height: 1.5;
	}
}
/* 引用 */
.entry-column {
	blockquote {
		width: 100%;
		margin-bottom: $entry-element-margin-bottom-lg;
		padding: 15px 20px 15px 16px;
		@include font-size(16);
		line-height: 1.5;
		border-left: 4px solid #bfbfbf;
		background: #efefef;
		box-sizing: border-box;
	}
}
/* ソースコード */
.entry-column {
	pre {
		width: 100%;
		margin: 0 0 $entry-element-margin-bottom-lg 0;
		box-sizing: border-box;

		ol {
			margin: 0;
			padding: 0 0 0 2.5em;

			li {
				line-height: 1.5;
			}
		}
	}
}
/* 区切り線 */
.entry-column {
	hr {
		border: 0;
		border-bottom: 1px solid $base-color;
	}
}
/* ユニット */
.entry-column {
	.caption {
		margin: 0 0 20px 0;
		@include font-size(13);
	}
}

.column-file-auto + .caption {
	margin-left: ($grid-space/2);
}

@media screen and (min-width: $breakpoint-sm-min) {
	.entry-column {
		.table-history-img {
			float: right;
		}
	}
}

@media screen and (min-width: $breakpoint-md-min) {
	.entry-column {
		th,
		td {
			display: table-cell;
			padding: 15px 20px;
			text-align: left;
			@include font-size(16);
			border-top: 1px solid #dfdfdf;
		}

		th {
			background: inherit;
		}

		tr:nth-child(odd) {
			background: #f5f5f5;
		}
	}
}


/* エントリーフッター */
.entry-footer {
	margin: 0 0 20px 0;
	padding: 10px;
	background: #f5f5f5;
}
/* タグ */
.entry-tag {
	margin: 0 0 5px 0;
}

.entry-tag-icon {
	float: left;
	color: #707070;
}

.entry-tag-item {
	float: left;
	margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper {
	float: right;
}

.share-text {
	display: inline;
	float: left;
	margin: 0;
}
/* SNSシェアボタン */
.share-list {
	display: inline;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.share-item {
	display: inline-block;
	margin: 0 0 0 20px;
	vertical-align: top;

	a {
		color: #999;
		text-decoration: none;
	}

	[class*='acms-icon'] {
		@include font-size(16);
		vertical-align: middle;
	}

	.share-item-facebook {/* Facebook */
		@include share-sns-btn($facebook-color);
	}

	.share-item-twitter {/* Twitter */
		@include share-sns-btn($twitter-color);
	}

	.share-item-gplus {/* Google + */
		@include share-sns-btn($gplus-color);
	}
}

/* 続きを読むボタン */
.continue-link {
	margin: 0;
	@include font-size(16);
}

.continue-link a {
	display: inline-block;
	padding: 10px;
	color: #fff;
	line-height: 1.5;
	font-weight: bold;
	border-radius: 3px;
	background: #767676;

	[class*='acms-icon'] {
		margin: 0 10px 0 0;
	}

	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		text-decoration: none;
		background: #aaa;
	}
}

@media screen and (min-width: $breakpoint-md-min) {
	/* タグ */
	.entry-tag {
		margin: 0;
	}
	/* 続きを読むボタン */
	.continue-link a {
		padding: 5px 10px;
		font-weight: normal;
	}
}
