/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggest-box {
	background: #DDD;
}
.suggest-inner {
	display: table;
	width: 100%;
	padding: 15px 0;
}
.suggest-item {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.suggest-text {
	margin: 0 0 10px 0;
	line-height: 1.5;
	@include font-size(14);
}
.suggest-tel {
	margin: 0 0 10px 0;
	@include font-size(24);
	font-weight: bold;
	color: #666;
	a {
		color: inherit;
	}
}
.suggest-btn {
	margin: 0;
}
@media screen and (min-width: $breakpoint-md-min){
	.suggest-inner {
		padding: 0;
	}
	.suggest-item {
		padding: 30px 10px;
	}
	.suggest-tel {
		margin: 0;
	}
	.suggest-half {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
}


/* フッター内会社情報 */
.foot-wrapper {
	padding: 30px 0;
	background: #323232;
}
.company-about {
	margin: 0 0 30px 0;
	color: #FFF;
}
.company-name {
	margin: 0 0 15px 0;
	color: #FFF;
	@include font-size(20);
	font-style: normal;
}
.company-detail {
	margin: 0 0 5px 0;
	padding: 0;
	color: #FFF;
	@include font-size(14);
	font-style: normal;
	a {
		color: #FFF;
		 &:hover {
			text-decoration: underline;
		}
	}
}

/* フッターナビゲーション */
.footer-nav {
	float: right;
	width: 650px;
	max-width: 100%;
	margin: 0 -10px;
}
.footer-nav-item {
	float: left;
	display: block;
	width: 25%;
	margin: 0 0 10px 0;
	padding: 0 10px;
	vertical-align: top;
	@include box-sizing(border-box);
}
.footer-nav-title {
	margin: 0 0 5px 0;
	color: #FFF;
	@include font-size(16);
}
.footer-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999;
	li {
		line-height: 1.7;
	}
	a {
		color: #999;
	}
}
@media screen and (max-width: $breakpoint-md-max){
	.footer-nav {
		display: none;
	}
}

/* ページの上に戻るボタン */
.page-top {
	a:focus {
		display: block;
		border: 1px dotted #FFF;
	}
}
.page-top-btn {
	display: block;
	position: fixed;
	right: 20px;
	@if ($enable-iphonex == true) {
		right: calc(20px + constant(safe-area-inset-right));
	}
	bottom: 20px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: url("../../images/marker/btn_pageTop.png") no-repeat center;
	transform: translateZ(0);
	z-index: 1000;
	@include opacity(0);
	@include transition(opacity .2s ease-out);
	.no-js  & {
		/* jsが無効の環境のとき */
		@include opacity(.6);
	}
}
.page-top-btn-appear {
	@include opacity(1);
}
@media screen and (max-width: $breakpoint-md-max){
	.page-top-btn {
		display: none;
	}
}
@media screen and (min-width: $breakpoint-md-min){
	.page-top-btn {
		 &:hover {
			@include opacity(.8);
			@include transition(opacity .25s linear);
		}
	}
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list {
	list-style: none;
	margin: 0 -5px 30px 15px;
	padding: 0;
}
.sns-list-item {
	float: left;
	margin: 0 5px;
	a {
		 &:hover,
		 &:visited,
		 &:active,
		 &:focus {
			text-decoration: none;
		}
	}
}
/* 各種SNSボタン */
.sns-list-item {
	.sns-list-facebook {
		/* Facebook */
		@include footer-sns-list($facebook-color);
	}
	.sns-list-twitter {
		/* Twitter */
		@include footer-sns-list($twitter-color);
	}
	.sns-list-gplus {
		/* Google + */
		@include footer-sns-list($gplus-color);
	}
	.sns-list-youtube {
		/* YouTube */
		@include footer-sns-list($youtube-color);
	}
}

@media screen and (min-width: $breakpoint-md-min){
	.sns-list {
		float: right;
		margin: 0 -10px;
	}
	.sns-list-item {
		margin: 10px;
		a {
			 &:hover {
				@include opacity(.8);
				@include transition(opacity .25s linear);
			}
		}
	}
}

/* 著作権表示 */
.copyright {
	margin: 0;
	color: #FFF;
}
.copyright-text {
	margin: 0 auto;
}
.copryright-logo {
	vertical-align: middle;
}
