/* ------------------------------
　　各モジュール
------------------------------ */

.module-section {
	margin: 0 0 30px 0;
}

/* タイトル */
.module-header {
	position: relative;
	margin: 0;
	padding: 5px 0;
	color: #333;
	border-bottom: 2px solid #333;
	 & + .summary-custom,
	 & + .summary-default,
	 & + .entry-column,
	 & + .pickup-list,
	 & + .search-form,
	 & + .banner  {
		margin-top: 10px;
	}
}
.module-heading {
	margin: 0;
	@include font-size(18);
	[class*="acms-icon-"] {
		margin: 0 10px 0 0;
		vertical-align: baseline;
	}
}
a.module-index-link {
	position: absolute;
		bottom: 5px;
		right: 0;
	color: #333;
	@include font-size(16);
	[class*='acms-icon-'] {
		color: #CCC;
		@include font-size(14);
	}
}

/* カスタムフィールドグループ */
.group-list {
	list-style: none;
	padding: 0;
}

/* 行揃えの設定 */
/* 見出し */
.group-heading {
	.heading-align-left & {
		text-align: left;
	}
	.heading-align-center & {
		text-align: center;
	}
	.heading-align-right & {
		text-align: right;
	}
}
/* 概要文 */
.group-detail {
	.detail-align-left & {
		text-align: left;
	}
	.detail-align-center & {
		text-align: center;
	}
	.detail-align-right & {
		text-align: right;
	}
}
/* ボタン */
.group-btn-wrap {
	.btn-align-left & {
		text-align: left;
	}
	.btn-align-center & {
		text-align: center;
	}
	.btn-align-right & {
		text-align: right;
	}
}
