/* ------------------------------
　　サマリー
------------------------------ */
.summary-default {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid $base-color;
	border-top: 1px solid $base-color;
	@include clearfix();

	// スライダー
	&.slick-initialized {
		margin-right: -20px;
		margin-left: -20px;
		overflow: hidden;
		border: 0;
	}
	.slick-list {
		padding: 0 0 0 20px;
		overflow: inherit;
	}
	.slick-dots {
		margin: 0;
		button {
			background: $base-color;
		}
		.slick-active button {
			background: $primary-color;
		}
	}
}
.summary-default-item {
	float: left;
	padding: 10px;
	color: #333;
	border-right: 1px solid $base-color;
	border-bottom: 1px solid $base-color;
	@include box-sizing(border-box);
	@include transition(background-color .25s ease-out);
	 &.bl-hover {
		background: #F1F1F1;
	}
	.acms-entry  & {
		padding: ($grid-space/2);
	}

	// スライダー発動時
	.slick-initialized & {
		width: 300px;
		margin: 2px 10px 2px 2px;
		box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08), -1px -1px 1px 1px rgba(0,0,0,.08);
		border: 0;
	}
}
.summary-title {
	margin: 0 0 10px 0;
	@include font-size(16);
}
.summary-detail {
	margin: 0;
	line-height: 1.5;
	@include font-size(14);
}

@media screen and (max-width: $breakpoint-md-max){
	.summary-default-image-wrap {
		img {
			width: 60px;
			height: auto;
		}
	}
}

@media screen and (min-width: $breakpoint-sm-min){
	.summary-default {
		margin: 0 0 20px 0;
	}
}
