
<!-- BEGIN type#module -->
<div class="js-acms_layout-unit acms-admin-layout-unit acms-admin-layout-module-unit">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<button class="js-acms_layout_select_module acms-admin-layout-control-btn acms-admin-btn-admin acms-admin-btn-small" ><span class="acms-admin-icon-module"></span>モジュール</button>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="js-acms_layout_contents js-acms_layout_module_box acms-admin-layout-contents" data-col="1">
		<!-- COL#1 -->
		<!-- MODULE -->
	</div>
</div>
<!-- END type#module --><!-- BEGIN type#col12 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col12 --><!-- BEGIN type#col8 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8 center-col">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col8 --><!-- BEGIN type#col12_wide -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col12_wide --><!-- BEGIN type#col12_vertical_space -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col12_vertical_space --><!-- BEGIN type#col12_bg -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col12_bg --><!-- BEGIN type#search -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">

			<!-- ダミーここから -->
			<!-- ※ レイアウトモジュールはフォームで動いています。検索フォーム自身を中に入れることはできないので、ここでは動作しないダミーのフォームを設置しています -->
			<section class="search">
				<h2 class="acms-admin-heading sideTitle">検索</h2>
				<div class="acms-admin-form searchForm" role="search">
					<div class="acms-admin-form-action">
						<input type="search" name="keyword" value="" size="15" class="searchFormInput">
						<span class="acms-admin-form-side-btn"><button type="submit"  class="acms-admin-btn-admin btnSearch"><span class="acms-admin-icon-search"></span><span class="acms-admin-hide-visually">検索</span></button></span>
					</div>
				</div>
			</section>
			<!-- ダミーここまで -->

		</div>
	</div>
</div>
<!-- END type#search --><!-- BEGIN type#col6-6 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col6-6 --><!-- BEGIN type#col3-9 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-9">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col3-9 --><!-- BEGIN type#col4-8 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col4-8 --><!-- BEGIN type#col9-3 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-9">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col9-3 --><!-- BEGIN type#col8-4 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col8-4 --><!-- BEGIN type#col4-4-4 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
</div>
<!-- END type#col4-4-4 --><!-- BEGIN type#col3-3-3-3 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="4">
			<!-- COL#4 -->
		</div>
	</div>
</div>
<!-- END type#col3-3-3-3 -->