<!-- BEGIN_MODULE Links -->
<section class="module-section">
	<!--#include file="/admin/module/setting.html"-->
	<!-- BEGIN moduleField -->
	<!-- BEGIN_IF [{module_heading}/nem] -->
	<div class="module-header clearfix">
		<h2 id="layout-link_list" class="module-heading">{module_heading}</h2>
	</div><!-- END_IF --><!-- END moduleField -->
	<ul class="acms-list-group" aria-labelledby="layout-link_list">
		<!-- BEGIN loop -->
		<li><a href="{url}" class="acms-list-group-item side-list-link">{name}</a></li>
		<!-- END loop -->
	</ul>
</section>
<!-- END_MODULE Links -->
