<!-- BEGIN_MODULE Banner id="{{module_id}}" -->
<section class="module-section">
    @include("/admin/module/setting.html")
    <!-- BEGIN moduleField --><!-- BEGIN_IF [{module_heading}/nem] -->
    <div class="module-header clearfix">
        <h2 id="banner-{{module_id}}" class="module-heading"><!-- BEGIN module_heading_icon:veil --><span class="{module_heading_icon}" aria-hidden="true"></span><!-- END module_heading_icon:veil -->{module_heading}</h2>
    </div><!-- END_IF --><!-- END moduleField -->
    <ul class="banner" aria-labelledby="banner-{{module_id}}">
        <!-- BEGIN banner:loop -->
        <li class="banner-list-item {banner:loop.class}">
            <!-- BEGIN banner#src -->
            {src}[raw]
            <!-- END banner#src -->
            <!-- BEGIN banner#img -->
            <a href="{url}" target="{target}"><img src="%{ARCHIVES_DIR}{img}" width="{x}" height="{y}" alt="{alt}" class="acms-img-responsive" /></a>
            <!-- END banner#img -->
        </li>
        <!-- END banner:loop -->
    </ul>
</section>
<!-- END_MODULE Banner -->