<footer class="foot-wrapper">
	<!-- BEGIN_MODULE Blog_Field id="BF_root" -->
	<div class="footer acms-container sp-container">
		<div class="acms-grid">
			<address class="acms-col-md-4">
				<dl class="company-about">
					<!-- BEGIN company_name:veil --><dt class="company-name">{company_name}</dt><!-- END company_name:veil -->
					<!-- BEGIN zip:veil --><dd class="company-detail">〒{zip}</dd><!-- END zip:veil -->
					<!-- BEGIN address:veil --><dd class="company-detail">{address}</dd><!-- END address:veil -->
					<!-- BEGIN tel:veil --><dd class="company-detail">TEL : <a href="tel:{tel}">{tel}</a></dd><!-- END tel:veil -->
				</dl>
				<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
				<p class="acms-admin-module-edit"><a href="/bid/{id}/admin/blog_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
				<!-- END_MODULE Touch_SessionWithAdministration -->
			</address>

			<div class="acms-col-md-8">

			<!-- テンプレートの変数化：フッターナビゲーション -->
			@include("/include/vars/navigation.html")

				<div class="clearfix">
					<div class="footer-nav">

						<!-- フッターナビゲーション：会社概要 -->
						@include("/include/navigation/footer.html", {"module_id": "footer_nav_about"})

						<!-- フッターナビゲーション：事業内容 -->
						@include("/include/navigation/footer.html", {"module_id": "footer_nav_products"})

						<!-- フッターナビゲーション：更新情報 -->
						@include("/include/navigation/footer.html", {"module_id": "footer_nav_news"})

						<!-- フッターナビゲーション：更新情報 -->
						@include("/include/navigation/footer.html", {"module_id": "footer_nav_contact"})

					</div>
				</div>

				<div class="acms-hide acms-block-lg acms-block-xl">
					<!-- SNSアカウントへのリンク -->
					@include("/include/footer/snsLink.html")
				</div>
				<p class="page-top"><a class="scrollTo page-top-btn" href="#">ページの先頭へ</a></p>
			</div>
		</div>
	</div>

	<div class="copyright">
		<p class="copyright-text acms-container acms-text-center">{site_footer}[raw] powered by <a href="http://www.a-blogcms.jp/"><img src="/images/acms.svg" width="96" alt="a-blog cms" class="copryright-logo" /></a></p>
	</div>
	<!-- END_MODULE Blog_Field -->
</footer>
