<header class="head-wrapper" role="banner">
	<div class="acms-container">
		<div class="header">
			<!-- BEGIN_MODULE Blog_Field id="BF_root" -->
			<div class="header-logo">
				<div>
					<!-- BEGIN_IF [%{BID}/eq/1/and/%{VIEW}/eq/top] --><h1 class="site-name"><!-- ELSE --><p class="site-name"><!-- END_IF --><a href="%{BASE_URL}">
						<!-- BEGIN site_logo:veil --><img src="%{ARCHIVES_DIR}{site_logo@path}" alt="" class="site-logo"><!-- END site_logo:veil --><!-- BEGIN site_name:veil --><span class="site-name-text">{site_name}</span><!-- END site_name:veil --></a>
					<!-- BEGIN_IF [%{BID}/eq/1/and/%{VIEW}/eq/top] --></h1><!-- ELSE --></p><!-- END_IF -->
					<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
					<p class="acms-admin-module-edit"><a href="/bid/{id}/admin/blog_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
					<!-- END_MODULE Touch_SessionWithAdministration -->
				</div>
				<div class="acms-hide-pc">
					<nav class="site-header js-offcanvas-header" aria-label="ヘッダーメニュー">
						<a id="nav-open-btn" href="#offcanvas" data-target="#offcanvas" class="nav-menu-btn js-offcanvas-btn js-offcanvas-btn-l"><span class="acms-icon-sort"></span><span class="nav-menu-btn-text">メニュー</span></a>
						<ul class="nav-menu-action">
							<li class="nav-menu-action-item"><a href="%{BLOG_URL}company/access.html" title="交通アクセスを見る" class="nav-menu-action-link head-access"><span class="acms-icon-map-pin" aria-hidden="true"></span></a></li>
							<li class="nav-menu-action-item"><a href="%{BLOG_URL}contact/" title="メールする" class="nav-menu-action-link head-access"><span class="acms-icon-config_mail" aria-hidden="true"></span></a></li>
							<li class="nav-menu-action-item"><a href="tel:{tel}" title="電話をかける" class="nav-menu-action-link head-tel"><span class="acms-icon-tel" aria-hidden="true"></span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- END_MODULE Blog_Field -->
			<div class="header-nav">
				<div class="acms-grid">
					<!-- グローバルナビ -->
					@include("/include/header/globalNavi.html")
				</div>
			</div>
		</div>
	</div>
</header>
