<h3>沿革エントリー専用 カスタムフィールドグループ</h3>
<div class="entry-container">
<div class="acms-admin-table-responsive">
<table class="js-fieldgroup-sortable acms-admin-table">
	<thead>
	<tr>
		<th>　</th>
		<th>日付/タイトル/内容</th>
		<th>画像</th>
		<th class="acms-admin-table-nowrap">削除</th>
	</tr>
	</thead>
	<!-- BEGIN customFieldGroup:loop -->
	<tr class="sortable-item">
		<td class="item-handle"><img width="17" height="17" class="arrowHandle" src="/images/admin_arrow_vertical.gif" /></td>
		<td>
			<div class="acms-admin-form-group">
				<label for="input-text-history_date{i}" class="acms-admin-hide-visually">日付</label>
				<input type="text" name="history_date[{i}]" value="{history_date}" id="input-text-history_date{i}" class="js-datepicker"  placeholder="%{NOW_DATE}" />
			</div>
			<div class="acms-admin-form-group">
				<label for="input-text-history_title{i}" class="acms-admin-hide-visually">タイトル</label>
				<input type="text" name="history_title[{i}]" value="{history_title}" id="input-text-history_title{i}" class="acms-admin-form-width-full" placeholder="タイトル" />
			</div>
			<label for="input-text-history_text{i}" class="acms-admin-hide-visually">内容</label>
			<textarea name="history_text[{i}]" cols="30" rows="3" id="input-text-history_text{i}"  class="acms-admin-form-width-full" placeholder="紹介文">{history_text}</textarea>
		</td>
		<td>
			<label for="input-img-photo{i}" class="acms-admin-hide-visually">画像</label>
			<!-- BEGIN photo:veil -->
			<img src="%{ARCHIVES_DIR}{photo@path}" width="170" /><br />
			<!-- END photo:veil -->
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="photo@edit[{i}]" value="delete" id="input-checkbox-photo{i}" />
				<label for="input-checkbox-photo{i}"><i class="acms-admin-ico-checkbox"></i>削除</label>
			</div>
			<input type="hidden" name="photo@old[{i}]" value="{photo@path}" />

			<input type="file" name="photo[{i}]" style="width:170px" id="input-img-photo{i}" />
			<input type="hidden" name="photo@width[{i}]" value="310" />
			<input type="hidden" name="photo@largeWidth[{i}]" value="1280" />

		</td>
		<td><input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除" /></td>
	</tr>
	<!-- END customFieldGroup:loop -->
	<tr class="sortable-item item-template">
		<td class="item-handle"><img width="17" height="17" class="arrowHandle" src="/images/admin_arrow_vertical.gif" /></td>
		<td>
			<div class="acms-admin-form-group">
				<label for="input-text-history_date{i}" class="acms-admin-hide-visually">日付</label>
				<input type="text" name="history_date[]" value="" id="input-text-history_date{i}" class="js-datepicker" placeholder="%{NOW_DATE}" />
			</div>
			<div class="acms-admin-form-group">
				<label for="input-text-history_title{i}" class="acms-admin-hide-visually">タイトル</label>
				<input type="text" name="history_title[]" value="" id="input-text-history_title{i}" class="acms-admin-form-width-full" placeholder="タイトル" />
			</div>
			<label for="input-text-history_text{i}" class="acms-admin-hide-visually">内容</label>
			<textarea name="history_text[]" cols="40" rows="3" id="input-text-history_text{i}" class="acms-admin-form-width-full" placeholder="紹介文"></textarea>
		</td>
		<td>
			<label for="input-img-photo{i}" class="acms-admin-hide-visually">画像</label>
			<input type="file" name="photo[]" id="input-img-photo{i}" style="width:170px" />
			<input type="hidden" name="photo@width[]" value="310" />
			<input type="hidden" name="photo@largeWidth[]" value="1280" />
		</td>
		<td><input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除" /></td>
	</tr>
	<tfoot>
		<tr>
			<td colspan="4">
				<input type="button" class="item-insert acms-admin-btn-admin acms-admin-btn-admin-primary" value="追加" style="width:100px" />
				<input type="hidden" class="item-max" value="4" />
			</td>
		</tr>
	</tfoot>
</table>
</div>
</div>

<input type="hidden" name="@customFieldGroup[]" value="history_date" />
<input type="hidden" name="field[]" value="history_date" />

<input type="hidden" name="@customFieldGroup[]" value="history_title" />
<input type="hidden" name="field[]" value="history_title" />

<input type="hidden" name="@customFieldGroup[]" value="history_text" />
<input type="hidden" name="field[]" value="history_text" />

<input type="hidden" name="photo:extension" value="image" />
<input type="hidden" name="@customFieldGroup[]" value="photo@largePath" />
<input type="hidden" name="@customFieldGroup[]" value="photo@largeAlt" />
<input type="hidden" name="@customFieldGroup[]" value="photo@largeX" />
<input type="hidden" name="@customFieldGroup[]" value="photo@largeY" />
<input type="hidden" name="@customFieldGroup[]" value="photo@path" />
<input type="hidden" name="@customFieldGroup[]" value="photo@x" />
<input type="hidden" name="@customFieldGroup[]" value="photo@y" />
<input type="hidden" name="@customFieldGroup[]" value="photo@edit" />
<input type="hidden" name="@customFieldGroup[]" value="photo@old" />
<input type="hidden" name="field[]" value="photo" />
<input type="hidden" name="field[]" value="@customFieldGroup" />
