<!-- BEGIN layout#display -->
<!-- BEGIN_MODULE Entry_Body -->
<div class="acms-col-md-9 center-col">
	<!-- BEGIN notFound -->
	<section class="acms-entry" aria-labelledby="layout-entry_body_lp">
		<h1 id="layout-entry_body_lp" class="not-found-title">Not found</h1>
		<p>お探しの記事は見つかりませんでした。</p>
	</section>
	<!-- END notFound -->

	<!-- 1記事▼▼ -->
	<!-- BEGIN entry:loop -->
	<div class="acms-box-medium">
	<!--#include file="/admin/entry/revision-info.html"-->
	</div>
	<article class="clearfix {entry:loop.class}" aria-labelledby="layout-entry_body_lp">
		<!--#include file="/admin/entry/title.html"-->

		<!-- エントリーのタイトル　開始▼▼ -->
		<!-- BEGIN title:veil -->
		<header>
			<h2 id="layout-entry_body_lp" class="section-heading acms-text-center"><a href="{titleUrl}">{title}[raw]</a></h2>
		</header>
		<!-- END title:veil -->

		<!-- BEGIN entry-column:veil -->
		<div class="acms-entry entry-column">
			<div class="acms-grid">
				<!-- BEGIN unit:veil -->
				<!--#include file="/include/unit.html"-->
				<hr class="clearHidden" />
				<!-- END unit:veil -->
				<!-- 続きを読む -->
				<!--#include file="/include/parts/continue.html"-->
			</div>
		</div>
		<!-- END entry-column:veil -->

		<!-- BEGIN formBody -->
		<!--#include file="/include/form/unit.html"-->
		<hr class="clearHidden" />
		<!-- END formBody -->

		<!-- BEGIN adminEntryEdit -->
		<div class="acms-box-medium">
			<!--#include file="/admin/entry/edit.html"-->
			<!--#include file="/admin/entry/add.html"-->
		</div>
		<!-- END adminEntryEdit -->

		<!-- BEGIN adminFormEdit -->
		<!--#include file="/admin/form2/edit.html"-->
		<!-- END adminFormEdit -->


		<div class="acms-box-medium">
		<!--#include file="/admin/entry/action.html"-->
		</div>
	</article>
	<!-- END entry:loop -->
	<!-- 1記事▲▲ -->
</div>
<!-- END_MODULE Entry_Body -->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<div class="acms-col-md-9 center-col">

	<!-- 1記事▼▼ -->
	<article class="clearfix ">
		<!-- エントリーのタイトル　開始▼▼ -->
		<header>
			<h2 class="section-heading acms-text-center"><a href="#">ここにはエントリーのタイトルが入ります</a></h2>
		</header>

		<div class="acms-entry entry-column">
			<div class="acms-grid">
				<p>ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。</p>
				<p>ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。ここにはエントリーの本文が入ります。</p>
				<hr class="clearHidden">
			</div>
		</div>
	</article>
	<!-- 1記事▲▲ -->
</div>
<!-- END layout#dummy -->
