<!-- BEGIN_MODULE Entry_Body -->
<div class="acms-col-9 center-block">
<!-- BEGIN notFound -->
<section class="acms-entry" aria-labelledby="layout-entry_body">
	<h1 id="layout-entry_body" class="not-found-title">Not found</h1>
	<p>お探しの記事は見つかりませんでした。</p>
</section>
<!-- END notFound -->

<!-- 1記事▼▼ -->
<!-- BEGIN entry:loop -->
<div class="acms-box-medium">
<!--#include file="/admin/entry/revision-info.html"-->
</div>
<article class="entry clearfix {entry:loop.class}" aria-labelledby="layout-entry_body">
	<!--#include file="/admin/entry/title.html"-->

	<!-- エントリーのタイトル　開始▼▼ -->
	<!-- BEGIN title:veil -->
	<header class="acms-page-header page-header">
		<!-- BEGIN_MODULE Touch_Entry --><h1 id="layout-entry_body" class="entry-title"><a href="{titleUrl}">{title}[raw]</a></h1><!-- END_MODULE Touch_Entry --><!-- BEGIN_MODULE Touch_NotEntry --><h2 id="layout-entry_body" class="entry-title"><a href="{titleUrl}">{title}[raw]</a></h2><!-- END_MODULE Touch_NotEntry -->
	</header>
	<!-- END title:veil -->

	<!-- BEGIN entry-column:veil -->
	<div class="acms-entry entry-column">
		<div class="acms-grid">
			<!-- BEGIN unit:veil -->
			<!--#include file="/include/unit.html"-->
			<hr class="clearHidden" />
			<!-- END unit:veil -->
			<!-- 続きを読む -->
			<!--#include file="/include/parts/continue.html"-->
		</div>
	</div>
	<!-- END entry-column:veil -->

	<!-- BEGIN formBody -->
	<!--#include file="/include/form/unit.html"-->
	<hr class="clearHidden" />
	<!-- END formBody -->

	<!-- BEGIN adminEntryEdit -->
	<div class="acms-box-medium">
		<!--#include file="/admin/entry/edit.html"-->
		<!--#include file="/admin/entry/add.html"-->
	</div>
	<!-- END adminEntryEdit -->

	<!-- BEGIN adminFormEdit -->
	<!--#include file="/admin/form2/edit.html"-->
	<!-- END adminFormEdit -->

	<!-- BEGIN_MODULE Touch_Entry -->
	<footer class="entry-footer">
	<div class="clearfix">
		<div class="entry-tag-wrapper acms-col-md-6">
			<!-- BEGIN tag:veil -->
			<dl class="entry-tag">
				<dt class="acms-inline-space entry-tag-icon"><span class="acms-icon-tag"></span><span class="acms-hide-visually">タグ</span></dt>
				<!-- BEGIN tag:loop -->
				<dd class="entry-tag-item"><a href="/entry.html/tag/{name}">{name}</a></dd>
				<!-- END tag:loop -->
			</dl><!-- END tag:veil -->
		</div>
		<div class="acms-col-md-6">
			<!-- SNSシェアボタン -->
			<!--#include file="/include/parts/snsCustomize.html"-->
		</div>
	</div>
	</footer>
	<!-- END_MODULE Touch_Entry -->

	<div class="acms-box-medium">
	<!--#include file="/admin/entry/action.html"-->
	</div>
</article>
<!-- END entry:loop -->
<!-- 1記事▲▲ -->

<!-- ページャー -->
<!-- #include file="/include/parts/pager.html" -->
</div>
<!-- END_MODULE Entry_Body -->
