<!-- BEGIN_MODULE Navigation id="global_navi" -->
<nav class="navbar" aria-label="メインメニュー">
<!--#include file="/admin/module/setting.html"-->
<!-- BEGIN navigation:loop -->
	<!-- BEGIN ul#front --><ul><!-- END ul#front -->
		<!-- BEGIN li#front --><li {attr}><!-- END li#front -->
			<!-- BEGIN link#front --><a href="{url}" {attr} target="{target}"><!-- END link#front -->
			{label}[raw]
			<!-- BEGIN link#rear --></a><!-- END link#rear -->
			<!-- BEGIN li#rear --></li><!-- END li#rear -->
	<!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
<!-- END navigation:loop -->
<a href="#top" class="acms-hide-tb acms-hide-pc">メニューを閉じる</a>
</nav>
<!-- END_MODULE Navigation -->