<!-- BEGIN_MODULE Navigation id="global_navi" --><nav class="offcanvas-nav" aria-label="メインメニュー">
<!-- BEGIN navigation:loop -->
	<!-- BEGIN ul#front --><ul class="clearfix"><!-- END ul#front -->
		<!-- BEGIN li#front --><li {attr}><!-- END li#front -->
			<!-- BEGIN link#front --><a href="{url}" {attr} target="{target}"><!-- END link#front -->
			{label}[raw]
			<!-- BEGIN link#rear --></a><!-- END link#rear -->
			<!-- BEGIN li#rear --></li><!-- END li#rear -->
	<!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
<!-- END navigation:loop --></nav>
<!-- END_MODULE Navigation -->
