<!--@doc
 # フッターで使用されているナビゲーションを表示します
 # 見出しはモジュールのカスタムフィールドで設定できます
 # 
 # @id footer_nav
 # @param module_id | モジュールIDを指定します
 # @author 有限会社アップルップル
 # @create 2016/04/26
-->

<!-- BEGIN_SetTemplate id="footer_nav" module_id="footer_nav_about" -->
	<!-- BEGIN_MODULE Navigation id="{{module_id}}" -->
	<div class="footer-nav-item">
	<!--#include file="/admin/module/setting.html"-->
	<!-- BEGIN moduleField --><h2 id="footer_nav-{{module_id}}" class="footer-nav-title">{module_heading}</h2><!-- END moduleField -->
	<!-- BEGIN navigation:loop -->
		<!-- BEGIN ul#front --><ul class="footer-nav-list" aria-labelledby="footer_nav-{{module_id}}"><!-- END ul#front -->
			<!-- BEGIN li#front --><li {attr} class="c_{level}" ><!-- END li#front -->
				<!-- BEGIN link#front --><a href="{url}" target="{target}"><!-- END link#front -->
				{label}[raw]
				<!-- BEGIN link#rear --></a><!-- END link#rear -->
			<!-- BEGIN li#rear --></li><!-- END li#rear -->
		<!-- BEGIN ul#rear --></ul><!-- END ul#rear -->
	<!-- END navigation:loop -->
	</div>
	<!-- END_MODULE Navigation -->
<!-- END_SetTemplate -->