<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="tag_filter_order" class="js-select2">
				<option value="name-asc"{tag_filter_order:selected#name-asc}><!--T-->名前 ( 昇順 )<!--/T--></option>
				<option value="name-desc"{tag_filter_order:selected#name-desc}><!--T-->名前 ( 降順 )<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="tag_filter_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="tag_filter_limit" size="4" value="{tag_filter_limit}" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="tag_filter_limit" />
			<input type="hidden" name="tag_filter_limit:convert" value="a" />
			<input type="hidden" name="tag_filter_limit:validator#digits" id="validator-tag_filter_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-tag_filter_limit-digits" class="validator-result-{tag_filter_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->選択数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->選択されているタグの最大表示件数を設定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="tag_filter_selected_limit" size="4" value="{tag_filter_selected_limit}" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="tag_filter_selected_limit" />
			<input type="hidden" name="tag_filter_selected_limit:convert" value="a" />
			<input type="hidden" name="tag_filter_selected_limit:validator#digits" id="validator-tag_filter_selected_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-tag_filter_selected_limit-digits" class="validator-result-{tag_filter_selected_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
</table>

<!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name --><!-- BEGIN_MODULE Admin_Config_Set_Name -->
<input type="hidden" name="setid" value="{setid}" /><!-- END_MODULE Admin_Config_Set_Name -->
