<!-- BEGIN_MODULE Entry_Summary -->
<div class="module-section">
	<!--#include file="/admin/module/setting.html"-->
	<!-- BEGIN moduleField --><!-- BEGIN_IF [{module_heading}/nem] -->
	<div class="module-header clearfix">
		<h2 class="module-heading">{module_heading}</h2>
	</div><!-- END_IF --><!-- END moduleField -->
	<ul class="pickup-list clearfix">
		<!-- BEGIN unit:loop -->
		<!-- BEGIN entry:loop -->
		<li class="js-biggerlink {entry:loop.class}">
			<div class="photo">
				<img src="%{ROOT_DIR}{path}[resizeImg(273,180)]" class="acms-img-responsive" width="273" height="180" alt="{alt}"/>
			</div>
			<p class="pickup-title"><a href="{url}">{title}</a></p>
			<p>{summary}</p>
		</li>
		<!-- END entry:loop -->
		<!-- END unit:loop -->
	</ul>
</div>
<!-- END_MODULE Entry_Summary -->
