.link-btn a{
  color: #fff;
  text-decoration: none;
  padding: 5px 24px;
  display: inline-block;
  transition: all .2s;
  background-color: #376f98;
  border-radius: 4px;
}

.link-btn a:hover{
  background-color: #184566;
  text-decoration: none;
}