<!-- BEGIN custom_AddLink -->
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>内容</th>
    <td>
      <div class="acms-admin-form-radio">
        <input type="radio" name="entry_add_link_detail{id}" value="-suitably" {entry_add_link_detail:checked#-suitably} id="input-radio-entry_add_link_detail--suitably-{id}">
        <label for="input-radio-entry_add_link_detail--suitably-{id}">
          <i class="acms-admin-ico-radio"></i>合わせて読む</label>
      </div>
      <div class="acms-admin-form-radio">
        <input type="radio" name="entry_add_link_detail{id}" value="-check" {entry_add_link_detail:checked#-check} id="input-radio-entry_add_link_detail--check-{id}">
        <label for="input-radio-entry_add_link_detail--check-{id}">
          <i class="acms-admin-ico-radio"></i>チェック</label>
      </div>
      <div class="acms-admin-form-radio">
        <input type="radio" name="entry_add_link_detail{id}" value="-point" {entry_add_link_detail:checked#-point} id="input-radio-entry_add_link_detail--point-{id}">
        <label for="input-radio-entry_add_link_detail--point-{id}">
          <i class="acms-admin-ico-radio"></i>ポイント</label>
      </div>
      <div class="acms-admin-form-radio">
        <input type="radio" name="entry_add_link_detail{id}" value="-relation" {entry_add_link_detail:checked#-relation} id="input-radio-entry_add_link_detail--relation-{id}">
        <label for="input-radio-entry_add_link_detail--relation-{id}">
          <i class="acms-admin-ico-radio"></i>関連記事</label>
      </div>
      <div class="acms-admin-form-radio">
        <input type="radio" name="entry_add_link_detail{id}" value="-reference" {entry_add_link_detail:checked#-reference} id="input-radio-entry_add_link_detail--reference-{id}">
        <label for="input-radio-entry_add_link_detail--reference-{id}">
          <i class="acms-admin-ico-radio"></i>参考記事</label>
      </div>
      <input type="hidden" name="unit{id}[]" value="entry_add_link_detail{id}">
    </td>
  </tr>
</table>
<h2 class="acms-admin-admin-title2">リスト</h2>
<table class="js-fieldgroup-sortable adminTable acms-admin-table-admin-edit">
  <thead class="acms-admin-hide-sp">
  <tr>
    <th class="acms-admin-table-left acms-admin-admin-config-table-item-handle">&nbsp;</th>
    <th class="acms-admin-table-left">リンクテキスト</th>
    <th class="acms-admin-table-left">URL</th>
    <th class="acms-admin-table-left acms-admin-admin-config-table-action">削除</th>
  </tr>
  </thead>
  <tbody>
  <!-- BEGIN entry_add_link:loop -->
  <tr class="sortable-item">
    <td class="item-handle">
      <i class="acms-admin-icon-sort"></i>
    </td>
    <td>
      <input type="text" name="entry_add_link_text{id}[]" value="{entry_add_link_text}" class="acms-admin-form-width-full">
    </td>
    <td>
      <input type="text" name="entry_add_link_url{id}[]" value="{entry_add_link_url}" class="acms-admin-form-width-full">
    </td>
    <td>
      <input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除">
    </td>
  </tr>
  <!-- END entry_add_link:loop -->
  <tr class="sortable-item item-template">
    <td class="item-handle">
      <i class="acms-admin-icon-sort"></i>
    </td>
    <td>
      <input type="text" name="entry_add_link_text{id}[]" value="" class="acms-admin-form-width-full">
    </td>
    <td>
      <input type="text" name="entry_add_link_url{id}[]" value="" class="acms-admin-form-width-full">
    </td>
    <td>
      <input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除">
    </td>
  </tr>
  <tfoot>
  <tr>
    <td colspan="2">
      <input type="button" class="item-insert acms-admin-btn-admin" value="追加">
    </td>
  </tr>
  </tfoot>
  </tbody>
</table>
<input type="hidden" name="@entry_add_link{id}[]" value="entry_add_link_text{id}">
<input type="hidden" name="unit{id}[]" value="entry_add_link_text{id}">
<input type="hidden" name="@entry_add_link{id}[]" value="entry_add_link_url{id}">
<input type="hidden" name="unit{id}[]" value="entry_add_link_url{id}">
<input type="hidden" name="unit{id}[]" value="@entry_add_link{id}">
<!-- END custom_AddLink -->

<!-- BEGIN custom_source -->
<table class="acms-admin-table-admin-edit">
  <tr>
    <td>
      <textarea name="custom_source_hidden{id}" class="acms-admin-form-width-full">{custom_source_hidden}</textarea>
      <input type="hidden" name="unit{id}[]" value="custom_source_hidden{id}">
    </td>
  </tr>
</table>
<!-- END custom_source -->
