@font-face {
	font-family: 'a-table-icon';
	src: url('fonts/a-table.eot?3slmb0');
	src: url('fonts/a-table.eot?3slmb0#iefix') format('embedded-opentype'), url('fonts/a-table.ttf?3slmb0') format('truetype'), url('fonts/a-table.woff?3slmb0') format('woff'), url('fonts/a-table.svg?3slmb0#a-table-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="a-table-icon-"],
[class*=" a-table-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'a-table-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.a-table-icon-center:before {
	content: "\e900";
}

.a-table-icon-left:before {
	content: "\e901";
}

.a-table-icon-merge01:before {
	content: "\e902";
}

.a-table-icon-merge02:before {
	content: "\e903";
}

.a-table-icon-right:before {
	content: "\e904";
}

.a-table-icon-source01:before {
	content: "\e905";
}

.a-table-icon-source02:before {
	content: "\e906";
}

.a-table-icon-source03:before {
	content: "\e907";
}

.a-table-icon-split01:before {
	content: "\e908";
}

.a-table-icon-split02:before {
	content: "\e909";
}

.a-table-icon-td01:before {
	content: "\e90a";
}

.a-table-icon-td02:before {
	content: "\e90b";
}

.a-table-icon-td03:before {
	content: "\e90c";
}

.a-table-icon-th01:before {
	content: "\e90d";
}

.a-table-icon-th02:before {
	content: "\e90e";
}

.a-table-icon-undo:before {
	content: "\e90f";
}

