@charset 'UTF-8';
/* ------------------------------
　　ベース
------------------------------ */
body
{
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',Meiryo,'メイリオ','ＭＳ Ｐゴシック','MS PGothic',Verdana,sans-serif;
    font-size: 14px; 

    color: #333;
    background: #fff;
}

/* リンクの設定 */
a
{
    text-decoration: none; 

    color: #006dd9;
    border: none;
}

a:visited
{
    text-decoration: none; 

    color: #7f5ad7;
}

a:active
{
    text-decoration: none; 

    color: #006dd9;
}

a:hover
{
    text-decoration: underline; 

    color: #006dd9;
}

/* コンテナー */
.acms-container
{
    max-width: 1170px;
}
.acms-container .acms-container
{
    padding: 0;
}

.narrow-container
{
    max-width: 960px;
    margin: 0 auto;
    padding-right: 20px; 
    padding-left: 20px;
}

@media (max-width: 1170px)
{
    .acms-container
    {
        padding-right: 20px; 
        padding-left: 20px;
    }
    .sp-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .acms-grid .sp-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sp-container .sp-container
    {
        padding: 0;
    }
    .sp-container .acms-container .sp-container
    {
        padding: 0;
    }
}

/* アニメーション */
@keyframes fade-in
{
    0%
    {
        display: none;

        opacity: 0;
    }
    20%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}

@-webkit-keyframes fade-in
{
    0%
    {
        display: none;

        opacity: 0;
    }
    20%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}

/* ------------------------------
　　ボタン
------------------------------ */
.btn
{
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    padding: 8px 15px;

    color: #fff;
    border: 0;
    border: 0;
    border-radius: 3px; 
    background: #666;
}
.btn:hover,
.btn:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn:focus,
.btn:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn:hover
{
    color: #fff; 
    background-color: #444;
    background-image: linear-gradient(to bottom, #666, #444);
}
.btn:active,
.btn:focus
{
    background: #444;
}

/* ボタン　色付き */
.btn-attention
{
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    padding: 8px 15px;

    color: #fff;
    border: 0;
    border: 0;
    border-radius: 3px; 
    background: #c41134;
}
.btn-attention:hover,
.btn-attention:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn-attention:focus,
.btn-attention:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention:hover
{
    color: #fff; 
    background-color: #910021;
    background-image: linear-gradient(to bottom, #c41134, #910021);
}
.btn-attention:active,
.btn-attention:focus
{
    background: #910021;
}

/* ボタンサイズ大 */
.btn-large
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    box-sizing: border-box;
    padding: 15px 20px;

    transition: background-color .25s linear; 
    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #666;
}
.btn-large:hover,
.btn-large:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn-large:focus,
.btn-large:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-large:hover
{
    background: #444;
}
.btn-large:active,
.btn-large:focus
{
    background: #444;
}

/* ボタンサイズ大 色付き */
.btn-attention-large
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    box-sizing: border-box;
    padding: 15px 20px;

    transition: background-color .25s linear; 
    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #c41134;
}
.btn-attention-large:hover,
.btn-attention-large:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn-attention-large:focus,
.btn-attention-large:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-large:hover
{
    background: #910021;
}
.btn-attention-large:active,
.btn-attention-large:focus
{
    background: #910021;
}

/* デスクトップ：最大360pxボタン */
.btn-block-large
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;

    transition: background-color .25s linear; 
    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #666;
}
.btn-block-large:hover,
.btn-block-large:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn-block-large:focus,
.btn-block-large:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-block-large:hover
{
    background: #444;
}
.btn-block-large:active,
.btn-block-large:focus
{
    background: #444;
}

/* デスクトップ：最大360pxボタン 色付き */
.btn-attention-block-large
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;

    transition: background-color .25s linear; 
    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #c41134;
}
.btn-attention-block-large:hover,
.btn-attention-block-large:visited
{
    text-decoration: none; 

    color: #fff;
}
.btn-attention-block-large:focus,
.btn-attention-block-large:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.btn-attention-block-large:hover
{
    background: #910021;
}
.btn-attention-block-large:active,
.btn-attention-block-large:focus
{
    background: #910021;
}

@media (min-width: 768px)
{
    .btn-block-large
    {
        max-width: 360px;
    }
    .btn-attention-block-large
    {
        max-width: 360px;
    }
}

@media (max-width: 767px)
{
    .btn-search-block
    {
        font-size: 20px; 

        display: block;

        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        padding: 15px 20px;
    }
}

/* ボーダーボタン */
.home-btn
{
    margin: 20px 0 10px;
}

.btn-border
{
    font-size: 16px;

    display: inline-block;

    padding: 7px 10px;

    color: #333;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
.btn-border [class*='acms-icon-']
{
    font-size: 14px; 

    color: #ccc;
}
.btn-border:hover
{
    text-decoration: none;
}

/* ------------------------------
　　ラベル
------------------------------ */
.label-new
{
    background: #c41134;
}

.label-category
{
    background: #666;
}

/* ------------------------------
　　ページタイトル
------------------------------ */
.page-title-wrapper
{
    position: relative;

    display: table;

    width: 100%;
    height: 100px;

    color: #fff;
    background: url('../images/bg_other.jpg') #333 no-repeat center;
    background-size: cover;
}

.page-title-filter
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
}

.page-title-inner
{
    position: relative;

    display: table-cell;

    padding: 15px 10px;

    vertical-align: middle;
}

.page-title
{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2; 

    margin: 0 0 10px 0;
}
.page-title a
{
    color: #fff;
}

.page-description
{
    font-size: 16px;
    line-height: 1.5; 

    margin: 10px 0;
}

@media (min-width: 768px)
{
    .page-title-wrapper
    {
        height: 270px;
    }
}

/* ------------------------------
　　ページャー
------------------------------ */
.pager
{
    margin: 0 -5px 50px -5px;
    padding: 0;

    list-style: none;

    text-align: center;
}
.pager li
{
    display: inline-block;

    margin: 0 5px;
}
.pager li.cur
{
    /* 現在いる位置 */
    padding: 5px 20px;

    color: #fff;
    border-radius: 3px; 
    background: #767676;
}

.pager-link
{
    display: block;

    padding: 5px 20px;

    color: #333;
    border-radius: 3px;
    background: #e5e5e5;
}
.pager-link:visited,
.pager-link:focus,
.pager-link:active
{
    color: #333;
}
.pager-link:hover
{
    text-decoration: none;

    color: #fff;
    background: #333;
}

.pager-link-forward
{
    float: right;
}

.pager-link-prev
{
    float: left;
}

@media screen and (min-width: 768px)
{
    .pager-link
    {
        padding: 5px 10px;
    }
    .pager li.cur
    {
        /* 現在いる位置 */
        padding: 5px 10px;
    }
}

/* 前後リンク */
.serial-nav
{
    margin: -25px 0 60px 0;
    padding: 0; 

    list-style: none;
}
.serial-nav .serial-nav-item
{
    display: block;
    float: none;
}
.serial-nav .serial-nav-item-prev
{
    text-align: left;
}
.serial-nav .serial-nav-item-next
{
    text-align: right;
}
.serial-nav a
{
    display: block;

    padding: 25px 0;

    color: #333; 
    border-bottom: 1px solid #e5e5e5;
}
.serial-nav a:hover,
.serial-nav a:visited,
.serial-nav a:focus,
.serial-nav a:active
{
    text-decoration: none; 

    color: inherit;
}
.serial-nav a:hover
{
    background: #e5e5e5;
}

@media screen and (min-width: 768px)
{
    .serial-nav
    {
        margin: 0 0 60px 0;

        border: 0;
    }
    .serial-nav .serial-nav-item-prev
    {
        float: left;
    }
    .serial-nav .serial-nav-item-next
    {
        float: right;
    }
    .serial-nav a
    {
        display: inline;

        border: 0;
    }
    .serial-nav a:hover
    {
        text-decoration: underline;

        background: 0;
    }
}

/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath
{
    margin-bottom: 30px;
    padding: 10px 0;

    background: #f5f5f5;
}

.topicpath-list
{
    margin: 0 auto; 

    list-style: none;
}

.topicpath-item
{
    float: left;

    padding: 0 10px 0 23px;

    background: url('../images/marker/icon_arrow.png') no-repeat left center;
}
.topicpath-item:first-child
{
    padding: 0 10px 0 0;

    background: 0;
}

.topicpath-link
{
    font-size: 14px; 

    color: #666;
}
.topicpath-link:visited,
.topicpath-link:focus,
.topicpath-link:active
{
    color: #666;
}

/* ------------------------------
　　スライダー
------------------------------ */
.slick-slider
{
    padding: 0 0 12px 0;
}
.slick-slider img
{
    margin: 0 auto;
}

.fix-height
{
    /* はじめのちらつき防止 */
    overflow: hidden;

    height: 300px;
    /* はじめのちらつき防止 */
}

.slick-slide:hover
{
    cursor: pointer;
}

.slick-list:focus
{
    position: relative;
}
.slick-list:focus:before
{
    position: absolute;
    z-index: 1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border: 2px dotted #00c2ff;
}

.main-slider-image
{
    height: 300px;

    background: no-repeat center #333;
    background-size: cover;
}
.main-slider-image a:hover
{
    text-decoration: none;
}

.main-slider-text-outer
{
    height: 100%;
}

.main-slider-text-wrap
{
    display: table;

    width: 100%;
    height: 100%;
}

.main-slider-text-inner
{
    display: table-cell;

    padding: 0 20px;

    text-align: center;
    vertical-align: middle;
}

.main-slider-main-copy
{
    font-size: 24px; 
    font-weight: bold;

    margin: 0;

    color: #fff;
}

.main-slider-side-copy
{
    font-size: 16px; 

    margin: 0;

    color: #fff;
}

/* ちらつき防止 */
.slick-track,
.slick-list
{
    -webkit-transform: translateZ(0);

    -webkit-perspective: 1000;
}

/* 矢印ナビゲーション */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 19px;
    height: 60px;
    margin-top: -29px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:focus,
.slick-next:focus
{
    border: 1px dotted #fff;
}

.slick-prev
{
    left: 10px;

    background: url('../images/marker/icon_white_arrow_left.png') no-repeat;
}

.slick-next
{
    right: 10px;

    background: url('../images/marker/icon_white_arrow_right.png') no-repeat;
}

/* ドットのナビゲーション */
.slick-dots
{
    position: relative;

    margin: -35px 0 0 0;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{
    display: inline-block;
}

.slick-dots li button
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 0 8px;

    content: '';

    border: 1px solid transparent; 
    border-radius: 7px;
    background: #fff;
}

.slick-dots li button:focus
{
    border: 1px solid #c41134; 
    outline: 0;
}

.slick-dots li:hover button
{
    cursor: pointer;
}

.slick-dots li.slick-active button
{
    background: #c41134;
}

.slick-dots button
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0); 

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

#autoplay-btn
{
    position: absolute;
    z-index: 1; 
    right: 10px;
    bottom: 10px;

    width: 50px;
    height: 50px;

    color: #fff;
    border: 0;
    border-radius: 50%;
    outline: 0;
    background: rgba(0, 0, 0, .7);
}
#autoplay-btn:hover
{
    background: rgba(0, 0, 0, .9);
}
#autoplay-btn:active:before,
#autoplay-btn:focus:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    border: 1px dotted #fff;
}
#autoplay-btn:after
{
    position: absolute;
    top: 15px;
    left: 17px;

    display: block;

    box-sizing: border-box;
    width: 16px;
    height: 20px;
    margin-left: 0;

    content: '';

    border-top: none;
    border-right: 5px solid #fff;
    border-bottom: none;
    border-left: 5px solid #fff;
}
#autoplay-btn.active:after
{
    left: 15px;

    width: 0;
    height: 0;
    margin-left: 5px;

    border-width: 10px 0 10px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

@media screen and (min-width: 768px)
{
    .slick-prev
    {
        left: 50px;
    }
    .slick-next
    {
        right: 50px;
    }
    .fix-height
    {
        height: 400px;
        /* はじめのちらつき防止 */
    }
    .main-slider-image
    {
        height: 400px;
    }
    .main-slider-main-copy
    {
        font-size: 40px;
    }
    .main-slider-side-copy
    {
        font-size: 24px;
    }
}

/* ------------------------------
　　各モジュール
------------------------------ */
.module-section
{
    margin: 0 0 30px 0;
}

/* タイトル */
.module-header
{
    position: relative;

    margin: 0;
    padding: 5px 0;

    color: #333;
    border-bottom: 2px solid #333;
}
.module-header + .summary-custom,
.module-header + .summary-default,
.module-header + .entry-column,
.module-header + .pickup-list,
.module-header + .search-form,
.module-header + .banner
{
    margin-top: 10px;
}

.module-heading
{
    font-size: 18px; 

    margin: 0;
}
.module-heading [class*='acms-icon-']
{
    margin: 0 10px 0 0;

    vertical-align: baseline;
}

a.module-index-link
{
    font-size: 16px; 

    position: absolute;
    right: 0;
    bottom: 5px;

    color: #333;
}
a.module-index-link [class*='acms-icon-']
{
    font-size: 14px; 

    color: #ccc;
}

/* カスタムフィールドグループ */
.group-list
{
    padding: 0; 

    list-style: none;
}

/* 行揃えの設定 */
/* 見出し */
.heading-align-left .group-heading
{
    text-align: left;
}

.heading-align-center .group-heading
{
    text-align: center;
}

.heading-align-right .group-heading
{
    text-align: right;
}

/* 概要文 */
.detail-align-left .group-detail
{
    text-align: left;
}

.detail-align-center .group-detail
{
    text-align: center;
}

.detail-align-right .group-detail
{
    text-align: right;
}

/* ボタン */
.btn-align-left .group-btn-wrap
{
    text-align: left;
}

.btn-align-center .group-btn-wrap
{
    text-align: center;
}

.btn-align-right .group-btn-wrap
{
    text-align: right;
}

/* ------------------------------
　　リスト
------------------------------ */
@media screen and (min-width: 768px)
{
    /* リスト */
    a.acms-list-group-item
    {
        padding: 10px 20px 10px 10px;

        transition: padding .15s ease-out;
    }
    a.acms-list-group-item:hover
    {
        padding: 10px 10px 10px 20px;

        transition: padding .25s ease-out;
    }
}

/* 検索結果 */
.list-results-wrap
{
    margin: 15px 0 15px 0;
    padding: 10px;

    border: 1px solid #ccc;
}

.list-results-heading
{
    margin: 0 0 10px 0;
    padding: 5px;

    background: #e5e5e5;
}

.list-results
{
    position: relative;

    margin: 0;
}

.list-results-item
{
    position: absolute;

    width: 100px;
}

.list-results-detail
{
    font-weight: bold; 

    margin: 0;
    padding: 0 0 0 100px;
}

/* ------------------------------
　　サマリー
------------------------------ */
.summary-default
{
    margin: 0 0 20px 0;
    padding: 0;

    list-style: none;

    border-top: 1px solid #e5e5e5; 
    border-left: 1px solid #e5e5e5;
}

.summary-default-entry
{
    float: left;

    box-sizing: border-box;
    padding: 10px;

    transition: background-color .25s ease-out; 

    color: #333;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.summary-default-entry.bl-hover
{
    background: #f1f1f1;
}
.acms-entry .summary-default-entry
{
    padding: 10px;
}

.summary-title
{
    font-size: 16px; 

    margin: 0 0 10px 0;
}

.summary-detail
{
    font-size: 14px; 
    line-height: 1.5;

    margin: 0;
}

@media screen and (max-width: 767px)
{
    .summary-default-entry-image-wrap img
    {
        width: 60px;
        height: auto;
    }
}

@media screen and (min-width: 480px)
{
    .summary-default
    {
        margin: 0 0 20px 0;
    }
}

/* ------------------------------
　　ピックアップリスト
------------------------------ */
.pickup-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.pickup-list img
{
    display: block;

    transition: opacity .25s ease-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.pickup-list img:hover
{
    opacity: .75;
}

/* ------------------------------
　　バナー
------------------------------ */
.banner
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.banner a
{
    display: block;

    transition: opacity .25s ease-out;
}
.banner a:hover
{
    opacity: .75;
}

.banner-list-item
{
    margin: 0 0 20px 0;
}

/* ------------------------------
　　ヘッドライン
------------------------------ */
.headline-item
{
    line-height: 1.5;

    transition: background-color .25s ease-out;
}
.headline-item.bl-hover
{
    background: #f1f1f1;
}

@media screen and (max-width: 479px)
{
    /* 画面幅が小さいとき */
    /* ヘッドライン */
    .headline-item
    {
        padding: 10px 0;
    }
    .headline-title
    {
        display: block;

        margin: 0;
    }
}

/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form .btn-search
{
    font-size: 16px;

    padding: 10px 20px;

    color: #fff;
    border: 1px solid #333; 
    border-radius: 0 4px 4px 0;
    /* IEでのグラデーションを上書き */
    background: #333;

    -webkit-filter: none;
            filter: none;
}
.search-form .btn-search:hover,
.search-form .btn-search:active,
.search-form .btn-search:focus
{
    background: #666;
}

.search-form input[type='search']
{
    font-size: 16px;

    box-sizing: border-box; 
    height: 40px;
    padding: 9px 10px;
}

input[type='search'].search-form-input
{
    font-size: 20px;

    box-sizing: border-box; 
    padding-top: 5px;
    padding-bottom: 4px;
}

/* ------------------------------
　　レイアウトモジュール
------------------------------ */
/* 背景色 */
.layout-bg
{
    padding: 20px 0;

    background: #f6f6f6;
}

.layout-space
{
    padding: 20px 0;
}

/* カラムの中央寄せ */
.center-col
{
    float: none;

    margin: 0 auto;
}

/* 見出し */
.section-heading
{
    font-size: 28px; 

    margin: 20px 0 40px 0;
}
.section-heading a
{
    color: #333;
}

/* ------------------------------
　　各モジュール
------------------------------ */
/* フィールドグループ */
.group-heading
{
    font-size: 18px;
    line-height: 1.2; 

    margin: 0 0 20px 0;
}

.group-detail
{
    font-size: 16px;
    line-height: 1.7; 

    margin: 0 0 30px 0;
}

/* ヘッドライン */
.lp-headline
{
    font-size: 16px;
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.lp-suggest-box
{
    padding: 50px 0;
}

.lp-suggest-text
{
    margin: 30px 0 10px 0;
}

.lp-suggest-tel
{
    font-size: 34px;
    font-weight: bold;

    margin: 0;

    color: #c38a00;
}
.lp-suggest-tel a
{
    color: #c38a00;
}

.btn-shadow
{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

/* ------------------------------
　　エントリー
------------------------------ */
.entry
{
    margin: 0 0 25px 0;

    border-bottom: 1px solid #e5e5e5;
}

.page-header
{
    margin: 0 0 20px 0;
}

.entry-info
{
    font-size: 14px; 

    margin-top: 0;
}

/* カテゴリーと新着ラベル */
.entry-category,
.entry-new
{
    font-size: 14px;
}

/* タイトル */
.entry-title
{
    margin: 10px 0;
}
.entry-title a
{
    color: #333;
}
.acms-entry h2 .entry-title
{
    padding: 0;
}

/* エントリーのスタイル */
.entry-column
{
    word-wrap: break-word; 

    color: #333;
}
.entry-column h2
{
    font-size: 18px;

    margin: 0 10px 25px 10px;
    padding: 5px 10px;

    color: #666;
    border-left: 4px solid #666;
}
.entry-column h2.module-heading
{
    margin: 0;
    padding: 0;

    border: 0;
}
.entry-column h3
{
    font-size: 16px;

    margin: 0 10px 20px 10px;
    padding: 5px 10px;

    color: #333;
    background: #e5e5e5;
}
.entry-column a:link
{
    text-decoration: none; 

    color: #006dd9;
}
.entry-column a:hover,
.entry-column a:focus,
.entry-column a:active
{
    text-decoration: underline;
}
.entry-column a:visited
{
    text-decoration: none; 

    color: #7f5ad7;
}

/* 本文 */
.entry-column p
{
    font-size: 16px;
    line-height: 1.7; 

    margin-top: 0;
    margin-bottom: 30px;
}

/* エントリー内ボタン */
.entry-column p.entry-btn
{
    margin-bottom: 10px;
}
.entry-column p.entry-btn a
{
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    padding: 8px 15px;

    color: #fff;
    border: 0;
    border-radius: 3px; 
    background: #666;
}
.entry-column p.entry-btn a:hover,
.entry-column p.entry-btn a:visited
{
    text-decoration: none; 

    color: #fff;
}
.entry-column p.entry-btn a:focus,
.entry-column p.entry-btn a:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn a:hover
{
    color: #fff; 
    background-color: #444;
    background-image: linear-gradient(to bottom, #666, #444);
}
.entry-column p.entry-btn a:active,
.entry-column p.entry-btn a:focus
{
    background: #444;
}

/* 色付きボタン */
.entry-column p.entry-btn-attention a
{
    font-weight: bold;
    line-height: 1.2;

    display: inline-block;

    padding: 8px 15px;

    color: #fff;
    border: 0;
    border-radius: 3px; 
    background: #c41134;
}
.entry-column p.entry-btn-attention a:hover,
.entry-column p.entry-btn-attention a:visited
{
    text-decoration: none; 

    color: #fff;
}
.entry-column p.entry-btn-attention a:focus,
.entry-column p.entry-btn-attention a:active
{
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
}
.entry-column p.entry-btn-attention a:hover
{
    color: #fff; 
    background-color: #910021;
    background-image: linear-gradient(to bottom, #c41134, #910021);
}
.entry-column p.entry-btn-attention a:active,
.entry-column p.entry-btn-attention a:focus
{
    background: #910021;
}

.entry-column p.summary-title
{
    margin: 0 0 10px 0;
}

.entry-column p.summary-detail
{
    font-size: 14px; 

    margin: 0 0 10px 0;
}

/* エントリー内コンテナー */
.entry-container
{
    margin: 0 5px;
}

/* テーブル */
.entry-column table
{
    width: 100%;
    margin: 0 0 30px 0;
}
.entry-column table.table-history
{
    table-layout: fixed;
}

.entry-column th,
.entry-column td
{
    font-size: 16px;
    line-height: 1.5;

    display: block;

    padding: 5px 10px;

    text-align: left;
    vertical-align: top; 

    color: #333;
    border-top: 1px solid #dfdfdf;
}

.entry-column .acms-table-responsive
{
    margin-bottom: 30px;
}
.entry-column .acms-table-responsive th,
.entry-column .acms-table-responsive td
{
    display: table-cell;

    white-space: nowrap;
}
.entry-column .acms-table-responsive table
{
    margin: 0;
}

.entry-column th
{
    background: #f5f5f5;
}

/* 沿革用テーブル */
.entry-column table.table-history tr
{
    background: #fff;
}

.entry-column table.table-history th,
.entry-column table.table-history td
{
    display: block;
}

.entry-column table.table-history th
{
    padding: 10px;
}

.entry-column table.table-history td
{
    padding: 10px 0;
}

.entry-column table.table-history .table-history-img
{
    display: block;

    padding: 0 10px 10px 10px;

    background: #fff;
}

/* リスト */
.entry-column ul
{
    margin: 0 0 25px 0;
    padding: 0 0 0 2em;
}
.entry-column ul li
{
    font-size: 16px;
    line-height: 1.5; 

    margin: 0 0 5px 0;
}
.entry-column ul.summary-default
{
    padding: 0;
}
.entry-column ul.summary-default li
{
    margin: 0;
}

/* 番号付きリスト */
.entry-column ol
{
    margin: 0 0 25px 0;
    padding: 0 0 0 2.5em;
}
.entry-column ol li
{
    font-size: 16px;
    line-height: 1.5; 

    margin: 0 0 5px 0;
}

/* 定義リスト */
.entry-column dl
{
    font-size: 16px;
    line-height: 1.5; 

    margin-top: 0;
    margin-bottom: 30px;
}

.entry-column dt
{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2; 

    margin: 0 0 5px 0;
}

.entry-column dd
{
    font-size: 16px;
    line-height: 1.5; 

    margin-bottom: 10px;
    margin-left: 0;
}

/* 引用 */
.entry-column blockquote
{
    font-size: 16px;
    line-height: 1.5;

    box-sizing: border-box; 
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 20px 15px 16px;

    border-left: 4px solid #bfbfbf;
    background: #efefef;
}

/* ソースコード */
.entry-column pre
{
    box-sizing: border-box; 
    width: 100%;
    margin: 0 0 30px 0;
}
.entry-column pre ol
{
    margin: 0;
    padding: 0 0 0 2.5em;
}
.entry-column pre ol li
{
    line-height: 1.5;
}

/* 区切り線 */
.entry-column hr
{
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/* ユニット */
.entry-column .caption
{
    font-size: 13px; 

    margin: 0 0 20px 0;
}

.column-file-auto + .caption
{
    margin-left: 10px;
}

@media screen and (min-width: 480px)
{
    .entry-column .table-history-img
    {
        float: right;
    }
}

@media screen and (min-width: 768px)
{
    .entry-column th,
    .entry-column td
    {
        font-size: 16px;

        display: table-cell;

        padding: 15px 20px;

        text-align: left;

        border-top: 1px solid #dfdfdf;
    }
    .entry-column th
    {
        background: inherit;
    }
    .entry-column tr:nth-child(odd)
    {
        background: #f5f5f5;
    }
}

/* エントリーフッター */
.entry-footer
{
    margin: 0 0 20px 0;
    padding: 10px;

    background: #f5f5f5;
}

/* タグ */
.entry-tag
{
    margin: 0 0 5px 0;
}

.entry-tag-icon
{
    float: left;

    color: #707070;
}

.entry-tag-item
{
    float: left;

    margin: 0 0 0 10px;
}

/* SNSシェア */
.share-wrapper
{
    float: right;
}

.share-text
{
    display: inline;
    float: left;

    margin: 0;
}

/* SNSシェアボタン */
.share-list
{
    display: inline;
    float: right;

    margin: 0;
    padding: 0; 

    list-style: none;
}

.share-item
{
    display: inline-block;

    margin: 0 0 0 20px;

    vertical-align: top;
}
.share-item a
{
    text-decoration: none; 

    color: #999;
}
.share-item [class*='acms-icon']
{
    font-size: 16px;

    vertical-align: middle;
}
.share-item .share-item-facebook
{
    font-size: 16px;
    line-height: 1.2;
    /* Facebook */

    position: relative;

    display: block;

    width: 22px;
    height: 22px;

    text-align: center;

    color: #fff;
    border-radius: 4px; 
    background: #3b5999;
}
.share-item .share-item-facebook:before
{
    vertical-align: middle;
}
.share-item .share-item-facebook:focus:before
{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    content: '';

    border: 1px dotted #333;
}
.share-item .share-item-twitter
{
    font-size: 16px;
    line-height: 1.2;
    /* Twitter */

    position: relative;

    display: block;

    width: 22px;
    height: 22px;

    text-align: center;

    color: #fff;
    border-radius: 4px; 
    background: #55acee;
}
.share-item .share-item-twitter:before
{
    vertical-align: middle;
}
.share-item .share-item-twitter:focus:before
{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    content: '';

    border: 1px dotted #333;
}
.share-item .share-item-gplus
{
    font-size: 16px;
    line-height: 1.2;
    /* Google + */

    position: relative;

    display: block;

    width: 22px;
    height: 22px;

    text-align: center;

    color: #fff;
    border-radius: 4px; 
    background: #dd4b39;
}
.share-item .share-item-gplus:before
{
    vertical-align: middle;
}
.share-item .share-item-gplus:focus:before
{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    content: '';

    border: 1px dotted #333;
}

/* 続きを読むボタン */
.continue-link
{
    font-size: 16px; 

    margin: 0;
}

.continue-link a
{
    font-weight: bold;
    line-height: 1.5;

    display: inline-block;

    padding: 10px;

    color: #fff;
    border-radius: 3px;
    background: #767676;
}
.continue-link a [class*='acms-icon']
{
    margin: 0 10px 0 0;
}
.continue-link a:link,
.continue-link a:visited
{
    color: #fff;
}
.continue-link a:hover,
.continue-link a:focus,
.continue-link a:active
{
    text-decoration: none;

    color: #fff;
    background: #aaa;
}

@media screen and (min-width: 768px)
{
    /* タグ */
    .entry-tag
    {
        margin: 0;
    }
    /* 続きを読むボタン */
    .continue-link a
    {
        font-weight: normal; 

        padding: 5px 10px;
    }
}

/* ------------------------------
　　編集ページ
------------------------------ */
.field-title
{
    padding: 0 10px;
}

.field-title:first-child
{
    margin: 0 0 10px 0;
}

/* ------------------------------
　　サブカラム
------------------------------ */
.side-title
{
    font-size: 18px; 

    margin-top: 0;
}

/* ------------------------------
　　物件情報
------------------------------ */
/* 地図 */
.realestate-map
{
    overflow: hidden;
}

.realestate-map .js-s2d-ready,
.realestate-map [class*='column-map-']
{
    width: auto !important;
    max-width: 100%;
}

.realestate-map img[class*='column-map-']
{
    width: auto !important;
    max-width: 100%;
    height: auto;
}

.realestate-map-entry
{
    margin: 0 10px;
}

.entry-column table.realestate-search
{
    margin: 20px 0 30px 0;
}

@media screen and (min-width: 1024px)
{
    .table-nowrap
    {
        white-space: nowrap;
    }
}

/* 物件一覧 */
.summary-custom
{
    margin: 0 0 40px 0;
    padding: 0;

    list-style: none;

    border-left: 1px solid #e5e5e5;
}

.summary-custom-entry
{
    padding: 10px;

    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.summary-custom-entry:hover
{
    transition: background-color .25s linear; 

    background: #f5f5f5;
}

.photo
{
    margin: 0 0 10px 0;
}

.photo-title
{
    font-size: 16px; 

    margin: 0;
}

.pickup-title
{
    font-size: 16px; 

    color: #333;
}

@media screen and (max-width: 767px)
{
    /* 物件情報 */
    .realestate-search th,
    .realestate-search td
    {
        display: block;

        box-sizing: border-box;
    }
    .realestate-search input
    {
        box-sizing: border-box;
    }
}

/* ------------------------------
　　お問い合わせ
------------------------------ */
.contact-box p.message
{
    font-weight: bold;

    margin: 0 0 35px 0;
    padding: 0 10px;

    color: #c41134;
}

.contact-box p.contact-no
{
    font-size: 30px;
    font-weight: bold;

    margin: 0;

    color: #333;
}
.contact-box p.contact-no a
{
    color: inherit;
}

.contact-box p.error-text
{
    /* エラー文 */
    margin: 5px 0 0 0;

    color: #c41134;
}

.contact-box table.contact-form
{
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.contact-box table.contact-form tr
{
    background: #fff;
}

@media screen and (min-width: 480px)
{
    .contact-box th,
    .contact-box td
    {
        display: table-cell;
    }
}

@media screen and (min-width: 768px)
{
    .contact-box th
    {
        width: 260px;
    }
}

/* ステップ 
------------------------------ */
.contact-box .mail-step
{
    margin: 0 10px 35px 10px;
    padding: 0 10px;
    /* カウンターの設定 */

    counter-reset: mailStep; 

    background: #e5e5e5;
}

.contact-box .mail-step-item
{
    font-size: 16px;
    font-weight: bold;

    float: left;

    margin: 0 10px;
    padding: 18px 0 14px;

    list-style: none;

    color: #999;
    border-bottom: 4px solid transparent;
}
.contact-box .mail-step-item:before
{
    content: counter(mailStep) '.'; 
    /* カウンターの設定 */
    counter-increment: mailStep;
}

.contact-box .mail-step-item-current
{
    color: #333;
    border-bottom: 4px solid #333;
}

@media screen and (min-width: 768px)
{
    .contact-box .mail-step
    {
        height: 60px;
    }
}

/* 送信ボタン
------------------------------ */
.form-btn-box
{
    margin: 0 10px 50px 10px;

    text-align: center;
}

.form-btn
{
    display: inline-block;
}

.form-btn-return
{
    float: left;
}

.form-btn-send
{
    float: right;
}

@media screen and (min-width: 768px)
{
    .form-btn-return
    {
        float: none;
    }
    .form-btn-send
    {
        float: none;

        width: 100%; 
        max-width: 360px;
    }
}

/* ラベル 
------------------------------ */
.label-required
{
    font-size: 12px;

    margin: 0 5px;
    padding: 2px 8px;

    color: #fff;
    border-radius: 3px;
    background: #c41134;
}

@media screen and (min-width: 768px)
{
    .label-required
    {
        float: right;
    }
}

/* フォーム要素
------------------------------ */
.contact-box select[required]:required
{
    border: 1px solid #c49511;
}

.contact-box select.focused:invalid
{
    border: 1px solid #c41134;
}

.contact-box select[required]:valid
{
    border: 1px solid #a7a7aa;
}

.contact-box input[required]:required,
.contact-box textarea[required]:required
{
    background: #fffdeb;
}

.contact-box input.focused:invalid,
.contact-box textarea.focused:invalid
{
    background: #ffebee;
}

.contact-box input[required]:valid,
.contact-box textarea[required]:valid
{
    background: #fff;
}

/* バリデーター
------------------------------ */
.valid-mark
{
    display: none;
}

.valid-mark.valid
{
    display: inline;
    float: right; 

    color: #5cb85c;
}

.invalid
{
    background: #ffebee !important;
}

/* ------------------------------
　　ヘッダー
------------------------------ */
/* サイト名 */
.site-name
{
    font-size: 24px;
    font-weight: bold;

    color: #c41134;
}
.header-stack .site-name
{
    margin: 30px 0 20px;
}
.site-name a
{
    color: #c41134;
}
.site-name a:hover,
.site-name a:focus,
.site-name a:active,
.site-name a:visited
{
    color: #c41134;
}

.site-logo
{
    display: inline-block;

    width: 22px;
    height: auto;
    margin: 0 10px 0 0;

    vertical-align: middle;
}

.site-name-text
{
    display: inline;

    vertical-align: middle;
}

.edit-link
{
    font-size: 14px; 

    display: inline-block;

    vertical-align: middle;
}

@media (min-width: 768px)
{
    .site-name
    {
        font-size: 24px;
    }
    .header-stack .site-name
    {
        text-align: center;
    }
    .site-logo
    {
        width: 40px;
    }
    .header
    {
        display: table;

        width: 100%;
    }
    .header-stack .header
    {
        display: block;
    }
    .header-logo
    {
        display: table-cell;

        width: 100%;

        vertical-align: middle;
    }
    .header-stack .header-logo
    {
        display: block;
    }
    .header-nav
    {
        display: table-cell;

        width: 50%;

        vertical-align: middle;
    }
    .header-stack .header-nav
    {
        display: block;

        width: 100%;
        margin: 0 0 15px 0;
    }
}

@media (min-width: 1024px)
{
    .header-logo
    {
        display: table-cell;

        width: 40%;
    }
    .header-stack .header-logo
    {
        display: block;

        width: 100%;
    }
    .header-nav
    {
        display: table-cell;

        width: 60%;
    }
    .header-stack .header-nav
    {
        display: block;

        width: 100%;
        margin: 0 0 15px 0;
    }
}

/* ------------------------------
　　ナビゲーション
------------------------------ */
.header-logo
{
    /* 固定したときの高さを保つ */
    padding: 48px 0 0 0;
}

.site-header
{
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;

    box-sizing: border-box; 
    width: 100%;
    padding: 0 5px;

    border-top: 4px solid #333;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

/* モバイル時ナビゲーションボタン */
.nav-menu-btn
{
    font-size: 20px;

    display: inline-block;

    box-sizing: border-box; 
    height: 44px;
    padding: 7px 5px;

    color: #333;
}
a .nav-menu-btn
{
    color: #333;
}
.nav-menu-btn:hover
{
    text-decoration: none; 

    color: #333;
}
.nav-menu-btn .acms-icon-sort
{
    display: inline-block;
}

.nav-menu-btn-text
{
    font-size: 11px;
    font-weight: bold;

    display: inline-block; 

    margin: 0 0 0 5px;

    vertical-align: middle;

    color: #333;
}

/* モバイル時ヘッダー アイコン */
.nav-menu-action
{
    display: table;
    float: right;

    margin: 0;
    padding: 0;
}

.nav-menu-action-item
{
    font-size: 20px;

    display: table-cell;

    width: 44px;
    height: 44px;

    text-align: center;
    vertical-align: middle;

    color: #333;
}

.nav-menu-action-link
{
    color: #333;
}
.nav-menu-action-link:hover,
.nav-menu-action-link:active,
.nav-menu-action-link:visited,
.nav-menu-action-link:focus
{
    text-decoration: none; 

    color: #333;
}

.navbar
{
    display: none;

    width: 100%;
}
.navbar.acms-admin-module-edit-wrapper
{
    z-index: 1;
}
.navbar ul
{
    margin: 0;
    padding: 0; 

    list-style: none;
}
.navbar li a
{
    font-size: 16px; 
    font-weight: bold;

    display: block;

    padding: 10px;

    color: #333;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active
{
    text-decoration: none;

    color: #fff;
    background: #c41134;
}

@media (min-width: 1024px)
{
    .header
    {
        height: 100px;
    }
    .navbar
    {
        display: inline-block;

        vertical-align: middle;
    }
    .navbar > ul
    {
        float: right;

        padding: 0; 

        list-style: none;
    }
    .header-stack .navbar > ul
    {
        display: table;
        float: none;

        width: 100%;

        table-layout: fixed;

        border-right: 1px solid #eee;
    }
    .navbar li
    {
        position: relative;

        float: left;

        margin: 0 10px;

        text-align: center; 
        vertical-align: middle;
    }
    .header-stack .navbar li.navbar-btn
    {
        padding: 0 10px;
    }
    .header-stack .navbar li
    {
        display: table-cell;
        float: none;

        border-left: 1px solid #eee;
    }
    .navbar li ul
    {
        position: absolute;
        left: 0;
        /* 二階層目 */

        display: none;

        min-width: 200px;
    }
    .navbar li li
    {
        margin: 0;
    }
    .header-stack .navbar li li
    {
        display: block;

        border: 0;
    }
    .navbar li a
    {
        /* 一階層目のリンクのみ */
        padding: 0;

        transition: border .25s ease-out; 

        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .navbar li a:hover,
    .navbar li a:focus,
    .navbar li a:active
    {
        color: #333;
        background: transparent;
    }
    .header-stack .navbar li a
    {
        font-size: 16px; 

        display: block;

        padding: 10px;
    }
    .navbar li.stay a
    {
        /* 一階層目のリンクのみ */
        border-bottom: 4px solid #c41134;
    }
    .navbar li.stay a.btn-attention
    {
        border: 0;
    }
    .navbar li:hover ul
    {
        z-index: 10000;
        /* 二階層目 */

        display: block;

        -webkit-animation: .8s fade-in;
                animation: .8s fade-in;
    }
    .navbar li:hover a
    {
        /* 一階層目のリンクのみ */
        border-bottom: 4px solid #c41134;
    }
    .navbar li:hover a.btn-attention
    {
        border: 0;
    }
    .navbar li:hover li a
    {
        border: 0;
    }
    .navbar li li
    {
        /* 二階層目以降 */
        display: block;
        float: none;

        text-align: left;

        border: 0;
        border-top: 1px solid #910021; 
        background: #c41134;
    }
    .navbar li li:first-child
    {
        border: 0;
    }
    .navbar li li a
    {
        margin: 0;
        padding: 10px 15px;

        color: #fff;
        border: 0;
    }
    .navbar li li a:hover
    {
        color: #fff;
        border: 0;
        background: #910021;
    }
    .navbar a.btn-attention
    {
        font-weight: bold;
        line-height: 1.2;

        display: inline-block;

        padding: 8px 15px;

        color: #fff;
        border: 0;
        border: 0; 
        border-radius: 3px;
        /* ボタン（色付き） */
        background: #c41134;
    }
    .navbar a.btn-attention:hover,
    .navbar a.btn-attention:visited
    {
        text-decoration: none; 

        color: #fff;
    }
    .navbar a.btn-attention:focus,
    .navbar a.btn-attention:active
    {
        color: #fff;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
    }
    .navbar a.btn-attention:hover
    {
        color: #fff;
        border: 0; 
        background-color: #910021;
        background-image: linear-gradient(to bottom, #c41134, #910021);
    }
    .navbar a.btn-attention:active,
    .navbar a.btn-attention:focus
    {
        background: #910021;
    }
}

@media (min-width: 1024px)
{
    .header-logo
    {
        padding: 0;
    }
    .navbar ul li a
    {
        font-size: 14px;
    }
}

@media (min-width: 1440px)
{
    .navbar ul li a
    {
        font-size: 16px;
    }
}

/* オフキャンバス */
.close-btn
{
    display: none;
    overflow: hidden;

    width: 100%;
    padding: 0;

    white-space: nowrap;
    text-indent: 100%;

    opacity: 1;
    border: 0;
    outline: none;

    -webkit-tap-highlight-color: transparent;
}

.js-acms-offcanvas-open #offcanvas .close-btn
{
    display: block;

    opacity: .7;
}

.js-acms-offcanvas-open #offcanvas .close-btn:focus
{
    overflow: initial;

    white-space: initial;
    text-indent: initial; 

    color: #fff;
}

@media (max-width: 1023px)
{
    #nav
    {
        box-sizing: border-box; 
        padding: 10px 15px 100px 15px;
    }
    .offcanvas-nav
    {
        /* グローバルナビゲーション */
        margin: 0 0 20px 0;
    }
    .offcanvas-nav ul
    {
        margin: 0;
        padding: 0; 

        list-style: none;
    }
    .offcanvas-nav li
    {
        font-size: 16px;

        display: block;

        padding: 10px;

        color: #e8ede3;
        border-top: 1px solid #ccc;
    }
    .offcanvas-nav li.navbarBtn
    {
        border: 0;
    }
    .offcanvas-nav li.stay
    {
        background: #555;
    }
    .no-js .offcanvas-nav li.stay
    {
        background: #e5e5e5;
    }
    .offcanvas-nav li:first-child
    {
        border: 0;
    }
    .offcanvas-nav li ul
    {
        display: none;
    }
    .offcanvas-nav a
    {
        display: block;

        margin: -10px;
        padding: 10px;

        color: #e8ede3;
    }
    .offcanvas-nav a:hover
    {
        text-decoration: none;
    }
    .offcanvas-nav a.btn-attention
    {
        font-weight: normal; 

        border-top: 0;
        border-radius: 0;
    }
    .offcanvas-nav a.btn-attention:hover
    {
        background: #910021;
    }
    .no-js .offcanvas-nav a
    {
        color: #333;
    }
    /* オフキャンバス内のパーツ */
    .offcanvas-bar
    {
        display: none;

        padding: 10px 15px 100px 15px;
    }
    .js-acms-offcanvas-active .offcanvas-bar
    {
        background: #333;
    }
    .offcanvas-bar .module-header
    {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
    .no-js .offcanvas-bar .module-header
    {
        /* IE8対応 */
        color: #333;
        border-bottom: 2px solid #333;
    }
    .offcanvas-bar .side-list-link
    {
        color: #fff;
    }
    .no-js .offcanvas-bar .side-list-link
    {
        /* IE8対応 */
        color: #333;
    }
    .offcanvas-bar .side-list-link:hover,
    .offcanvas-bar .side-list-link:visited,
    .offcanvas-bar .side-list-link:focus,
    .offcanvas-bar .side-list-link:active
    {
        color: #fff;
        background: 0;
    }
    .no-js .offcanvas-bar .side-list-link:hover,
    .no-js .offcanvas-bar .side-list-link:visited,
    .no-js .offcanvas-bar .side-list-link:focus,
    .no-js .offcanvas-bar .side-list-link:active
    {
        /* IE8対応 */
        color: #333;
    }
    .offcanvas-bar .pickup-title
    {
        font-size: 16px; 

        margin: 0;

        color: #fff;
    }
    .offcanvas-bar .pickup-title a
    {
        color: inherit;
    }
    .offcanvas-bar .btn-search
    {
        border: 1px solid #666; 
        background: #999;
    }
    .offcanvas-bar .sns-list
    {
        margin: 0 -5px 20px;
    }
}

/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggest-box
{
    background: #ddd;
}

.suggest-inner
{
    display: table;

    width: 100%;
    padding: 15px 0;
}

.suggest-item
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.suggest-text
{
    font-size: 14px; 
    line-height: 1.5;

    margin: 0 0 10px 0;
}

.suggest-tel
{
    font-size: 24px;
    font-weight: bold;

    margin: 0 0 10px 0;

    color: #666;
}
.suggest-tel a
{
    color: inherit;
}

.suggest-btn
{
    margin: 0;
}

@media screen and (min-width: 768px)
{
    .suggest-inner
    {
        padding: 0;
    }
    .suggest-item
    {
        padding: 30px 10px;
    }
    .suggest-tel
    {
        margin: 0;
    }
    .suggest-half
    {
        display: table-cell;

        width: 50%;

        vertical-align: middle;
    }
}

/* フッター内会社情報 */
.foot-wrapper
{
    padding: 30px 0;

    background: #323232;
}

.company-about
{
    margin: 0 0 30px 0;

    color: #fff;
}

.company-name
{
    font-size: 20px;
    font-style: normal; 

    margin: 0 0 15px 0;

    color: #fff;
}

.company-detail
{
    font-size: 14px;
    font-style: normal; 

    margin: 0 0 5px 0;
    padding: 0;

    color: #fff;
}
.company-detail a
{
    color: #fff;
}
.company-detail a:hover
{
    text-decoration: underline;
}

/* フッターナビゲーション */
.footer-nav
{
    float: right;

    width: 650px;
    max-width: 100%;
    margin: 0 -10px;
}

.footer-nav-item
{
    display: block;
    float: left;

    box-sizing: border-box; 
    width: 25%;
    margin: 0 0 10px 0;
    padding: 0 10px;

    vertical-align: top;
}

.footer-nav-title
{
    font-size: 16px; 

    margin: 0 0 5px 0;

    color: #fff;
}

.footer-nav-list
{
    margin: 0;
    padding: 0;

    list-style: none;

    color: #999;
}
.footer-nav-list li
{
    line-height: 1.7;
}
.footer-nav-list a
{
    color: #999;
}

@media screen and (max-width: 767px)
{
    .footer-nav
    {
        display: none;
    }
}

/* ページの上に戻るボタン */
.page-top a:focus
{
    display: block;

    border: 1px dotted #fff;
}

.page-top-btn
{
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;

    display: block;
    overflow: hidden;

    width: 44px;
    height: 44px;

    transition: opacity .2s ease-out; 
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    white-space: nowrap;
    text-indent: 100%;

    opacity: 0;
    background: url('../images/marker/btn_pageTop.png') no-repeat center;
}
.no-js .page-top-btn
{
    /* jsが無効の環境のとき */
    opacity: .6;
}

.page-top-btn-appear
{
    opacity: 1;
}

@media screen and (max-width: 767px)
{
    .page-top-btn
    {
        display: none;
    }
}

@media screen and (min-width: 768px)
{
    .page-top-btn:hover
    {
        transition: opacity .25s linear; 

        opacity: .8;
    }
}

/* フッター内各SNSアカウントのリンク集 */
.sns-list
{
    margin: 0 -5px 30px 15px;
    padding: 0; 

    list-style: none;
}

.sns-list-item
{
    float: left;

    margin: 0 5px;
}
.sns-list-item a:hover,
.sns-list-item a:visited,
.sns-list-item a:active,
.sns-list-item a:focus
{
    text-decoration: none;
}

/* 各種SNSボタン */
.sns-list-item .sns-list-facebook
{
    font-size: 19px;
    line-height: 1.5;
    /* Facebook */

    display: block;

    width: 30px;
    height: 30px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #3b5999;
}
.sns-list-item .sns-list-facebook:before
{
    vertical-align: middle;
}

.sns-list-item .sns-list-twitter
{
    font-size: 19px;
    line-height: 1.5;
    /* Twitter */

    display: block;

    width: 30px;
    height: 30px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #55acee;
}
.sns-list-item .sns-list-twitter:before
{
    vertical-align: middle;
}

.sns-list-item .sns-list-gplus
{
    font-size: 19px;
    line-height: 1.5;
    /* Google + */

    display: block;

    width: 30px;
    height: 30px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #dd4b39;
}
.sns-list-item .sns-list-gplus:before
{
    vertical-align: middle;
}

.sns-list-item .sns-list-youtube
{
    font-size: 19px;
    line-height: 1.5;
    /* YouTube */

    display: block;

    width: 30px;
    height: 30px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
    background: #cd201f;
}
.sns-list-item .sns-list-youtube:before
{
    vertical-align: middle;
}

@media screen and (min-width: 768px)
{
    .sns-list
    {
        float: right;

        margin: 0 -10px;
    }
    .sns-list-item
    {
        margin: 10px;
    }
    .sns-list-item a:hover
    {
        transition: opacity .25s linear; 

        opacity: .8;
    }
}

/* 著作権表示 */
.copyright
{
    margin: 0;

    color: #fff;
}

.copyright-text
{
    margin: 0 auto;
}

.copryright-logo
{
    vertical-align: middle;
}
