/* ------------------------------
　　目次
------------------------------ */

.c-agenda{
  margin-bottom: 24px;
}

.c-agenda__heading{
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  background: #EBEBEB;
  margin-bottom: 0;

  i{
    font-size: 16px;
    color: $primary-color;
    margin: 0 0 0 18px;
  }
}

.c-agenda__listwrap{
  background: #F8F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-agenda__list{
  margin: 0 auto;
  padding: 24px;
}

.c-agenda__item{
  line-height: 2;

  a{
    color: #444;

    &:hover{
      color: $primary-color;
    }
  }
}
