/* ------------------------------
　　ranking
------------------------------ */

@keyframes fuwafuwa
{
  0%
  {
    transform: translateX(-15px);
  }
  100%
  {
    transform: translateX(  0px);
  }
}

.c-ranking{
  list-style: none;
  padding-left: 0;
}

.c-ranking__item{
  padding-bottom: 26px;

  a{
    display: flex;
    color: #444;

    &:hover{
      text-decoration: none;
    }
  }
  i{
    padding-top: 20px;
    color: $primary-color;
  }
  &:hover{
    i{
      animation: fuwafuwa .5s ease-in-out infinite alternate;
    }
    .c-ranking__title{
      color: $primary-color;
    }
  }
}

.c-ranking__title{
  padding: 0 20px;
  margin: 0;
}


/* ------------------------------
　　オフキャンバス内
------------------------------ */

.c-category-list{
  width: 50%;
  margin: 20px auto;
  text-align: center;

  &__item{
    padding: 10px 0;
    display: block;
    color: #444;
    font-weight: bold;
    font-family: $font-heading;

    &:hover,&:visited{
      color: #444;
      text-decoration: none;
    }
  }
}
