/* ------------------------------
　　ラベル
------------------------------ */
.c-label {
  margin-left: 5px;

  &__link {
    padding: 3px;
    border: $border-width-thin solid $primary-color;
    border-radius: $border-radius-lg;
    color: $primary-color;
    @include font-size(12);
    transition: background .2s ease-out, color .2s ease-out;

    &:hover,
    &:visited{
      text-decoration: none;
    }

    &:hover{
      background-color: $primary-color;
      color: map-get($color-text, inverse);
    }
  }
}

