/* ------------------------------
　　メディア
------------------------------ */
.c-media {
  $parent: &;

  &__item {
    padding: 0 0 40px;
  }

  &__link {
    display: block;
    color: map-get($color-text, base);
    text-decoration: none;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: map-get($color-text, base);
      text-decoration: none;
    }

    &:hover {

      #{$parent}__heading {
        color: $primary-color;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;

    &-wrap {
      width: 100%;
      height: auto;
    }
  }

  &__detail {
    flex: 1;
    padding-left: 0;
    padding-top: 20px;
    @include box-sizing(border-box);
  }

  &__description {
    color: map-get($color-neutral, light);
    @include font-size(14);
  }

  &__heading {
    margin: 0 0 15px;
    @include font-size(20);
    font-family: $font-heading;
    transition: color .2s ease-out;
  }

  &__label {
    display: inline-block;
    margin: 0 0 10px;
    padding: 2px 10px;
    @include box-sizing(border-box);
    background: map-get($color-neutral, dark);
    color: map-get($color-text, inverse);
    @include font-size(10);
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-media {
    &__link {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
    }
    &__img {
      width: 300px;
      height: auto;

      &-wrap {
        width: 300px;
      }
    }
    &__detail {
      padding-left: 20px;
      padding-top: 0;
    }
  }
}

/* ------------------------------
　　メディア（小/背景色あり）
------------------------------ */
.c-media02{
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  $parent: &;

  &__item{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: $border-radius-lg;
    background-color: rgba(map-get($color-neutral, lightest), .7);

    a{
      display: flex;
      align-items: center;
    }

    &:first-child #{$parent}__title::before,
    &:nth-child(2) #{$parent}__title::before,
    &:nth-child(3) #{$parent}__title::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom: 12px solid #fb0;
      content: "";
    }

    &:first-child #{$parent}__title::after,
    &:nth-child(2) #{$parent}__title::after,
    &:nth-child(3) #{$parent}__title::after{
      position: absolute;
      top: 10px;
      left: 0;
      width: 0;
      height: 0;
      border: 9px solid #fb0;
      border-top: 7px solid transparent;
      border-bottom: 6px solid #f90;
      content: "";
    }

    &:nth-child(2) #{$parent}__title::before{
      border-bottom-color: #ccc;
    }
    &:nth-child(2) #{$parent}__title::after{
      border-color: #ccc;
      border-top: 7px solid transparent;
      border-bottom-color: #aaa;
    }
    &:nth-child(3) #{$parent}__title::before{
      border-bottom-color: #d98;
    }
    &:nth-child(3) #{$parent}__title::after{
      border-color: #d98;
      border-top: 7px solid transparent;
      border-bottom-color: #c76;
    }
  }

  &__link {
    color: map-get($color-text, base);
    text-decoration: none;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: map-get($color-text, base);
      text-decoration: none;
    }

    &:hover {

      #{$parent}__title {
        color: $primary-color;
      }
    }
  }

  &__title{
    position: relative;
    margin: 0;
    padding: 0 20px 0 28px;
    @include font-size(18);
    transition: color .2s ease-out;

    &::before{
      position: absolute;
      top: 4px;
      left: 1px;
      color: $primary-color;
      @include font-size(16);
      content: "✔︎";
    }
  }

  &__category{
    color: map-get($color-neutral, light);
    @include font-size(12);

    &::before{
      content: "\A";
      white-space: pre;
    }
  }

  &__img{
    display: none;
    min-width: 250px;
    max-width: 250px;
    padding-right: 20px;
    border-top-left-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-media02{
    width: 600px;

    &__item{
      padding: 0;
    }

    &__img{
      display: block;
    }

    &__category::before{
      content: "";
    }
  }
}


