/* ------------------------------
　　ナビゲーション
------------------------------ */
.c-navbar{
  list-style: none;
  padding: 0;
  margin: 0 -5px;
  display: none;
  position: relative;
  z-index: 1;

  .c-navbar__item{
    z-index: 9999;
    margin: 0 5px;

    &.-top a{
      color: $primary-color;
      font-weight: bold;
      padding: 6px 12px;
      transition: all .2s;
      @include font-size(14);

      &:hover{
        text-decoration: none;
        opacity: .5;
      }

      &::before {
        font-family: "FontAwesome";
        content: $fa-var-bookmark;
        padding-right: 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



