/* ------------------------------
　　ページタイトル
------------------------------ */

/* 　ページタイトル（背景画像つき）
------------------------------ */
.c-pagetitle {
  position: relative;
  background: linear-gradient(60deg,rgba(55,111,152,.3),rgba(70,221,199,.3));
  background-size: cover;
  text-align: center;
  margin: -30px 0 60px;
  padding: 30px 0;

  &__wrap{
    position: relative;
    z-index: 1;
  }

  &__affiliation{
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
  }

  &-inner {
    padding: 35px 0;
  }

  &__heading {
    margin: 0;
    font-family: $font-heading;
    @include font-size(24);
    line-height: 1.3;
  }

  &__amount{
    margin: 0;
  }

  time{
    @include font-size(12);
    margin-right: 5px;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-pagetitle-heading {
    @include font-size(28);
    text-align: left;
  }
}

/* 　エントリータイトル
------------------------------ */

.c-pagetitle-entry{
  text-align: center;
  padding: 0 20px 20px;

  &__heading{
    color: #666;
    font-family: $font-heading;
    @include font-size(22);
  }

  &__date{
    color: #888;
    @include font-size(12);
    padding-right: 10px;

    .publish::before {
      font-family: "FontAwesome";
      content: $fa-var-upload;
      padding-right: 4px;
    }

    .update::before {
      font-family: "FontAwesome";
      content: $fa-var-refresh;
      padding-right: 4px;
    }
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-pagetitle-entry{

    &__heading{
      @include font-size(30);
    }
  }
}


.c-pagetitle--entry {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top center;
    top: 0;
    z-index: -1;

    &-wrap {

    }
  }

  &__title {
    max-width: 1000px;
    background: rgba(255, 255, 255, .7);
    @include box-sizing(border-box);
    padding: 10px 10px 30px;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-md-min) {

  .c-pagetitle--entry {
    height: 500px;
    margin-top: -50px;

    &__bg {
      background-size: cover;
    }

    &__title {
      padding: 40px 30px 60px;
    }
  }
}
