/* ------------------------------
　　ページャー
------------------------------ */
.c-pager {
  clear: both;
  list-style: none;
  margin: 0 -5px 0;
  padding: 0;
  border-bottom: $border-width-thicker solid map-get($color-neutral, lighter);
  text-align: center;
  font-weight: bold;

  li {
    display: inline-block;
    margin: 0 8px -5px;
    padding: 0 8px 26px;
    line-height: 1;

    &.cur {
      border-bottom: $border-width-thicker solid map-get($color-primary, base);
      color: map-get($color-primary, base);
    }
  }

  &__link {
    color: map-get($color-neutral, light);
    text-decoration: none;
    transition: color .2s ease-out;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      color: map-get($color-primary, base);
    }
  }

  &__all{
    text-align: center;
    color: map-get($color-neutral, light);
    font-weight: bold;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-pager{
    margin: 0 -5px 12px -5px;

    &__item {
      margin: 0 15px -5px 15px;
      padding: 0 10px 26px 10px;
    }
  }
}


/* 　前後リンク
------------------------------ */
.c-serial-nav {
  display: inherit;
  list-style: none;
  margin: 30px 0 30px;
  padding: 0;
  $parent: &;

  &__link {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 10px 15px;
    border-radius: $border-radius-sm;
    border: $border-width-thin solid map-get($color-primary, base);
    color: map-get($color-primary, base);
    @include font-size(14)
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background .2s ease-out, color .2s ease-out;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      background: map-get($color-primary, base);
      color: map-get($color-neutral, lightest);
    }
  }

  &__list {
    width: 68px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }

  &__prev {
    margin-bottom: 10px;
    text-align: left;

    #{$parent}__link {
      padding-left: 9px;
      font-family: "FontAwesome";

      &:before{
        padding-right: 15px;
        content: $fa-var-angle-left;
      }
    }
  }

  &__next {
    text-align: right;

    #{$parent} {
      padding-right: 9px;
      font-family: "FontAwesome";

      &:after{
        padding-left: 15px;
        content: $fa-var-angle-right;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .c-serial-nav {
    display: flex;
    margin: 0 -15px 60px;
    padding: 0 16px;

    &__prev {
      margin-bottom: 0;
    }

    &__prev,
    &__next {
      flex: 1;
    }
  }
}

