/* ------------------------------
　　検索
------------------------------ */

.c-search-form{
  display: flex;
  margin: 0 0 60px;

  &__input{
    @include font-size(20);
    padding: 10px;
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    flex: 1;
    margin-right: 10px;
  }

  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    @include font-size(26);
    color: #999;
  }
}
