/*
SNSシェアボタン
---------------------------*/
.c-sns {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 0 5% 0 !important;
  padding: 0;
  @include font-size(14);
  table-layout: fixed;

  &__item {
    flex: 1;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__link {
    font-family: 'FontAwesome';
    line-height: 42px;
    position: relative;
    display: block;
    overflow: hidden;
    height: 42px;
    text-align: center;
    text-decoration: none;
    border: $border-width-thin solid;
    outline: none;
    transition: background .2s ease-out, color .2s ease-out;

    &::before {
      color: #fff;
      margin-right: 10px;
    }
    &::after {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      content: '';
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      border-radius: 50%;
      background-color: rgba(255,255,255,.3);
    }

    &.-twitter {
      background: $twitter-color;
      border-color: $twitter-color;

      &:before{
        content: $fa-var-twitter;
      }
      &:hover{
        background: transparent;
        color: $twitter-color;

        &:before{
          color: $twitter-color;
        }
      }
    }

    &.-facebook
    {
      background: $facebook-color;
      border-color: $facebook-color;

      &:before{
        content: $fa-var-facebook;
      }
      &:hover{
        background: transparent;
        color: $facebook-color;

        &:before{
          color: $facebook-color;
        }
      }
    }

    &.-hatena
    {
      background: $hatebu-color;
      border-color: $hatebu-color;

      &:before{
        font-family: Verdana;
        font-weight: bold;
        content: $fa-var-hatebu;
      }
      &:hover{
        background: transparent;
        color: $hatebu-color;

        &:before{
          color: $hatebu-color;
        }
      }
    }

    &.-feed
    {
      background: $feed-color;
      border-color: $feed-color;

      &:before{
        content: $fa-var-feed;
      }
      &:hover{
        background: transparent;
        color: $feed-color;

        &:before{
          color: $feed-color;
        }
      }
    }

    &.-pocket {
      background: $pocket-color;
      border-color: $pocket-color;

      &:before{
        content: $fa-var-get-pocket;
      }
      &:hover{
        background: transparent;
        color: $pocket-color;

        &:before{
          color: $pocket-color;
        }
      }
    }
  }
}






@media screen and (max-width: $breakpoint-md-max) {
  .c-sns__link {
    &:before {
      margin-right: 0;
    }
  }
}

/* ------------------------------
　　snsボタン
------------------------------ */

.c-sns-list {
  margin-top: 25px;
  text-align: center;
}

.c-sns-list__item{
  display: inline-block;
}
.c-sns-list__item.-facebook{
  line-height: 0.7;
}

/*
ページ横
---------------------------*/

.c-entry-sns
{
  width: 25px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 80px;
  //top: auto;
  //bottom: 0;
}

.c-entry-sns__item
{
  transition: all .2s;
  list-style-type: none;
  vertical-align: middle;
  margin-bottom: 30px;

  &:last-child
  {
    margin-right: 0;
  }
  a
  {
    text-decoration: none;
    color: #444;
  }
}

.c-entry-sns__link
{
  font-family: 'FontAwesome';
  line-height: 42px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: .2s;
  border-radius: 50%;
  background-color: #eee;

  &:after
  {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
    display: block;
    background-color: rgba(255,255,255,.3);
  }
  &:before{
    display: block;
  }
  &:hover
  {
    text-decoration: none;
    opacity: .5;
  }
}

.c-entry-sns__twitter
{

  &:before{
    content: $fa-var-twitter;
    color: $twitter-color;
  }

}

.c-entry-sns__facebook
{

  &:before{
    content: $fa-var-facebook;
    color: $facebook-color;
  }
}

.c-entry-sns__bookmark
{

  &:before{
    font-family: Verdana;
    font-weight: bold;
    content: $fa-var-hatebu;
    color: $hatebu-color;
  }
}

.c-entry-sns__pocket
{

  &:before{
    content: $fa-var-get-pocket;
    color: $pocket-color;
  }
}

@media screen and (max-width: 1050px) {
  .c-entry-sns{
    display: none;
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .c-entry-sns__link {
    &:before {
      margin-right: 0;
    }
  }
}


