/* ------------------------------
　　tag
------------------------------ */

.c-tags{
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px 0;
  color: map-get($color-neutral, base);

  &__item{
    margin-left: 20px;

    &::before {
      content: "#";
      color: map-get($color-primary, primary);
      padding-right: 5px;
    }
  }

  &__link{
    color: map-get($color-neutral, base) !important;
  }
}


/*-----
tag
------------*/

.c-tag-cancel{
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}

.c-tag-add{
  a{
    color: #fff;
    margin: 0 10px;
  }
}
