/* ------------------------------
　　サムネイル
------------------------------ */

.c-thumbnail{
  display: flex;
  flex-wrap: wrap;

  &__heading{
    font-size: 20px;
    background: #EBEBEB;
    padding: 12px 0;
    text-align: center;
    margin: 60px 0 24px 0;
  }

  &__img{
    border-radius: 7px;
    border: 1px solid #eee;
    width: 100%;
    height: auto;
  }

  &__title{
    margin: 0;
  }

  &__item{
    width: 50%;
    padding: 0 13px 20px 0;
    box-sizing: border-box;

    &:nth-child(4n){
      padding-right: 0;
    }
  }

  &__link{
    color: #444;
    transition: all .2s;

    &:hover,&:visited,&:link{
      text-decoration: none;
      color: #444;
    }

    &:hover{
      text-decoration: none;
      opacity: .6;
    }
  }

  @media screen and (min-width: $breakpoint-md-min) {
    &__item{
      width: 25%;
    }
  }
}
