/* ------------------------------
　　トピックパス
------------------------------ */
.c-topicpath {
  margin-bottom: 10px;
  background: #fff;
  overflow: auto;

  &__list {
    list-style: none;
    margin: 0 auto;
    padding: 10px 0 0;
    line-height: 1;
    @include font-size(13);
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
    padding: 8px 10px 8px 0;
    color: #adadad;

    &:first-child:before {
      content: $fa-var-home;
      @include fa-icon();
      @include font-size(13);
      color: $primary-color;
    }

    &::after {
      content: '/';
      padding-left: 10px;
    }

    &:last-child::after {
      content: '';
    }
  }

  &__link {
    color: #666;

    &:visited,
    &:focus,
    &:active {
      color: #666;
    }
  }
}

@media screen and (min-width: $breakpoint-md-min){
  .c-topicpath {
    margin-bottom: 30px;
  }
}
