main form#addWant{
	margin: 50px 0 20px 0;
	
	input#addwant {
	    width: 42px;
	    font-size: 13px;
	    padding: 6px;
	    border-radius: 4px;
	    margin-left: 5px;
	}

	input#addMyWant{
		float: left;
		margin-right: 10px;
		padding: 5px 8px;
		width: 84%;
	}
}

a.deleteLink{
	color: #fff;
	background-color: red;
	font-size: 12px;
	padding: 3px 6px;
	float: right;
}

ul.wantList{
	list-style: none;

	li{
		border-bottom: 1px solid #ccc;
		padding: 10px 30px;
	
		&:last-child{
			border-bottom: 0;
		}
	
	}
}

main img.ui-datepicker-trigger {
    width: 28px;
    margin: 0 0 -5px 10px;
}