<!-- BEGIN_MODULE Blog_Field id="BF_root" -->
<ul class="sns-list clearfix" aria-label="各SNSアカウントページ">
	<!-- BEGIN facebook_account:veil --><li class="sns-list-item"><a href="https://www.facebook.com/{facebook_account}" class="sns-list-facebook"><span class="acms-icon-facebook" aria-hidden="true"></span><span class="acms-hide-visually">Facebook アカウント</span></a></li><!-- END facebook_account:veil -->
	<!-- BEGIN twitter_account:veil --><li class="sns-list-item"><a href="https://twitter.com/{twitter_account}" class="sns-list-twitter"><span class="acms-icon-twitter" aria-hidden="true"></span><span class="acms-hide-visually">Twitter アカウント</span></a></li><!-- END twitter_account:veil -->
	<!-- BEGIN gplus_account:veil --><li class="sns-list-item"><a href="https://plus.google.com/{gplus_account}" class="sns-list-gplus"><span class="acms-icon-gplus" aria-hidden="true"></span><span class="acms-hide-visually">Google+ アカウント</span></a></li><!-- END gplus_account:veil -->
	<!-- BEGIN youtube_account:veil --><li class="sns-list-item"><a href="https://www.youtube.com/user/{youtube_account}" class="sns-list-youtube"><span class="acms-icon-youtube" aria-hidden="true"></span><span class="acms-hide-visually">YouTube アカウント</span></a></li><!-- END youtube_account:veil -->
</ul><!-- END_MODULE Blog_Field -->
