<div class="suggest-box">
	<div class="narrow-container sp-container">
		<div class="suggest-inner">
			<div class="suggest-half">
				<!-- BEGIN_MODULE Blog_Field id="BF_root" -->
				<div class="suggest-item">
					<p class="suggest-text">お電話でのお問い合せはこちら<!-- BEGIN tel_time:veil -->（{tel_time}）<!-- END tel_time:veil --></p>
					<p class="suggest-tel"><span class="acms-icon-tel" aria-hidden="true"></span><a href="tel:{tel}"><span class="acms-hide-visually">電話番号：</span>{tel}</a></p>
					<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
					<p class="acms-admin-module-edit"><a href="/bid/{id}/admin/blog_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
				<!-- END_MODULE Touch_SessionWithAdministration -->
				</div>
				<!-- END_MODULE Blog_Field -->
			</div>
			<div class="suggest-half">
				<div class="suggest-item">
					<p class="suggest-btn acms-text-right"><a href="%{HTTP_ROOT}contact/" class="btn-attention-block-large">資料請求 / お問い合わせ</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
