<h3 class="acms-admin-admin-title2"><!--T-->サンプルプラグインのフォーム設定<!--/T--></h3>
<div class="acms-admin-table-responsive">
	<table class="acms-admin-table-admin">
		<tr>
			<input type="text" name="sample_plugin_config" value="{sample_plugin_config}" class="acms-admin-form-width-full">
			<input type="hidden" name="mail[]" value="sample_plugin_config">
		</tr>
	</table>
</div>