<h3>お問い合わせ情報</h3>
<div class="entry-container">
	<table class="contact-form">
		<tr>
			<th>ご用件</th>
			<td>{description}</td>
		</tr>
		<tr>
			<th>お問い合せ内容</th>
			<td>{inquiry}[escape|nl2br]</td>
		</tr>
	</table>
</div>
<h3>お客様情報</h3>
<div class="entry-container">
	<table class="contact-form">
		<tr>
			<th>会社名</th>
			<td>{organization}</td>
		</tr>
		<tr>
			<th>お名前</th>
			<td>{name}</td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td>{email}</td>
		</tr>
		<tr>
			<th>お電話番号</th>
			<td>{tel}</td>
		</tr>
		<tr>
			<th>ご住所</th>
			<td>〒{postal-code}<br />
				{address-level1}{address}[escape|nl2br]</td>
		</tr>
	</table>
</div>