<!-- BEGIN_MODULE Form -->
						
<!-- BEGIN step -->
<!-- フォームステップ：初期 -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<div class="acms-grid">
			<h2>お電話でのお問い合わせ</h2>
			<!-- BEGIN_MODULE Blog_Field -->
			<div>
				<p class="contact-no">Tel : <a href="tel:{tel}">{tel}</a></p>
				<p>{tel_time}</p>
				<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
				<p class="acms-admin-module-edit"><a href="/bid/{id}/admin/blog_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
				<!-- END_MODULE Touch_SessionWithAdministration -->
			</div>
			<!-- END_MODULE Blog_Field -->
		</div>
	</section>

	<section class="entry-column">
		<div class="acms-grid">
			<h2>メールでのお問い合わせ</h2>
			<!-- フォームステップ -->
			<!--#include file="/contact/form/step.html" -->
			<p>ご質問やご要望がありましたら、お気軽にお問い合わせください。</p>

			<form action="?step=reapply" method="post" class="js-unload_alert js-validator acms-form" enctype="multipart/form-data">
				<!--#include file="/contact/form/input.html"-->
				<!-- BEGIN_MODULE Category_Field --><div>
				<p>{contact_supplementary}[nl2br]</p>
				<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
				<p class="acms-admin-module-edit"><a href="/bid/%{BID}/cid/{id}/admin/category_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
				<!-- END_MODULE Touch_SessionWithAdministration -->
				</div><!-- END_MODULE Category_Field -->
				<div class="form-btn-box clearfix">
					<input type="hidden" name="step" value="confirm" />
					<input type="hidden" name="error" value="reapply" />

					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Confirm" value="送信内容の確認へ" id="btnConfirm" class="btn-attention-block-large" />
					<hr class="clearHidden" />
				</div>
			</form>
		</div>
	</section>
</div>
<!-- END step -->

<!-- BEGIN step#reapply -->
<!-- フォームステップ：修正・エラー -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<div class="acms-grid">
			<h2>メールでのお問い合わせ</h2>
			<!-- フォームステップ -->
			<!--#include file="/contact/form/step.html" -->
			<p class="message">入力内容を、もう一度ご確認下さい。</p>
								
			<form action="?step=reapply" method="post" class="js-unload_alert js-validator acms-form" enctype="multipart/form-data">
				<!--#include file="/contact/form/input.html"-->
				<div class="form-btn-box clearfix">
					<input type="hidden" name="step" value="confirm" />
					<input type="hidden" name="error" value="reapply" />

					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Confirm" value="送信内容の確認へ" id="btnConfirm" class="btn-attention-block-large" />
					<hr class="clearHidden" />
				</div>
			</form>
		</div>
	</section>
</div>
<!-- END step#reapply -->
			

<!-- BEGIN step#confirm -->
<!-- フォームステップ：確認画面 -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<div class="acms-grid">
			<h2>メールでのお問い合わせ</h2>
			<!-- フォームステップ -->
			<!--#include file="/contact/form/step.html" -->
			<p class="message">内容に誤りがないか、よくご確認ください。</p>
			<!--#include file="/contact/form/confirm.html"-->
			<div class="form-btn-box clearfix">
				<form action="" method="post" class="js-unload_alert form-btn form-btn-return">
					<input type="hidden" name="step" value="reapply" />
					<input type="hidden" name="takeover" value="{takeover}" />
					<input type="submit" name="ACMS_POST_Form_Chain" value="戻る" id="btnToInput" class="btn-large" />
				</form>
				
				<form action="thanks.html" method="post" class="js-unload_alert form-btn form-btn-send" enctype="multipart/form-data">
					<input type="hidden" name="To[]" value="{email}" />
					<input type="hidden" name="AdminReply-To[]" value="{email}" />
					<input type="hidden" name="AdminFrom[]" value="{email}" />
					<input type="hidden" name="step" value="result" />
					<input type="hidden" name="takeover" value="{takeover}" />
					<input type="hidden" name="id" value="contactForm" />
					<input type="submit" name="ACMS_POST_Form_Submit" value="送信する" id="btnSubmit" class="btn-attention-block-large" />
				</form>
			</div>
		</div>
	</section>
</div>
<!-- END step#confirm -->

<!-- BEGIN step#result -->
<!-- フォームステップ：完了画面 -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<div class="acms-grid">
			<h2>メールでのお問い合わせ</h2>
			<p class="message">お問い合わせありがとうございました。以下の内容で送信しました。</p>
			<!--#include file="/contact/form/confirm.html"-->
		</div>
	</section>
</div>
<!-- END step#result -->

<!-- BEGIN step#forbidden -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<h2>不正なアクセスです。</h2>
		<p class="message">お手数ですが、はじめからやり直して下さい。</p>
	</section>
</div>
<!-- END step#forbidden -->

<!-- BEGIN step#repeated -->
<div class="acms-entry contact-box">
	<section class="entry-column">
		<h2>連続投稿は禁止されています。</h2>
		<p class="message">お手数ですが、はじめからやり直して下さい。</p>
	</section>
</div>
<!-- END step#repeated -->

<!-- BEGIN error -->
	<!-- フォームID : {formID} / エラー項目 : {errorKey} -->
<!-- END error -->

<!-- END_MODULE Form -->
