<!-- BEGIN block:loop -->
	<!-- BEGIN type#module -->
		<!-- COL#1 -->
		<!-- MODULE -->
	<!-- END type#module --><!-- BEGIN type#col12 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
				<!-- COL#1 -->
		</div>
	</div>
	<!-- END type#col12 --><!-- BEGIN type#col8 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-8 center-col">
				<!-- COL#1 -->
			</div>
		</div>
	</div>
	<!-- END type#col8 --><!-- BEGIN type#col12_wide -->
	<div>
		<!-- COL#1 -->
	</div>
	<!-- END type#col12_wide --><!-- BEGIN type#col12_vertical_space -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="layout-space">
				<!-- COL#1 -->
			</div>
		</div>
	</div>
	<!-- END type#col12_vertical_space --><!-- BEGIN type#col12_bg -->
	<div class="layout-bg">
		<!-- COL#1 -->
	</div>
	<!-- END type#col12_bg --><!-- BEGIN type#search -->
	<div>
		<!-- 検索フォーム -->
		<!-- #include file="/include/parts/search.html" -->
	</div>
	<!-- END type#search --><!-- BEGIN type#col6-6 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-6">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-6">
				<!-- COL#2 -->
			</div>
		</div>
	</div>
	<!-- END type#col6-6 --><!-- BEGIN type#col3-9 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-3">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-9">
				<!-- COL#2 -->
			</div>
		</div>
	</div>
	<!-- END type#col3-9 --><!-- BEGIN type#col4-8 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-4">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-8">
				<!-- COL#2 -->
			</div>
		</div>
	</div>
	<!-- END type#col4-8 --><!-- BEGIN type#col9-3 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-9">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-3">
				<!-- COL#2 -->
			</div>
		</div>
	</div>
	<!-- END type#col9-3 --><!-- BEGIN type#col8-4 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-8">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-4">
				<!-- COL#2 -->
			</div>
		</div>
	</div>
	<!-- END type#col8-4 --><!-- BEGIN type#col4-4-4 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-4">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-4">
				<!-- COL#2 -->
			</div>
			<div class="acms-col-md-4">
				<!-- COL#3 -->
			</div>
		</div>
	</div>
	<!-- END type#col4-4-4 --><!-- BEGIN type#col3-3-3-3 -->
	<div class="acms-container sp-container">
		<div class="acms-grid">
			<div class="acms-col-md-3">
				<!-- COL#1 -->
			</div>
			<div class="acms-col-md-3">
				<!-- COL#2 -->
			</div>
			<div class="acms-col-md-3">
				<!-- COL#3 -->
			</div>
			<div class="acms-col-md-3">
				<!-- COL#4 -->
			</div>
		</div>
	</div>
	<!-- END type#col3-3-3-3 -->
<!-- END block:loop -->