/* ------------------------------
　　エントリー
------------------------------ */
.p-entry {
  margin: 0 0 $entry-margin-bottom 0;
  @include clearfix();
}

.acms-container{
  padding-right: 15px;
  padding-left: 15px;
}

.c-entry___img{
  width: 100%;
  height: auto;
}

[class*=acms-col] {
  padding: 0;
}

[class*=column-image] {
  padding: 0 ($grid-space / 2);
  margin-bottom: $entry-element-margin-bottom-md;
}

/*-------------------------------
ajax
------------------------------- */
.p-entry-column{

  //キーボード
  .key{
    display: inline-block;
    padding: 0 10px;
    margin: 0 4px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    text-align: center;
    color: #666;
  }
  //下線
  .under-line {
    font-style: normal;
    position: relative;
    background: -webkit-linear-gradient(top, transparent 45%, #FCFC7B 0);
    background: linear-gradient(transparent 45%, #FCFC7B 0);
  }
  //太字
  strong{
    font-weight: bold;
    font-family: $font-heading;
  }
  //コード・タグ
  code{
    padding: .2em .4em;
    background: #EBEBEB;
    color: #444;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 5px;
    font-family: $font-code;
  }
}

/*  カスタムフィールドのスタイル
------------------------------ */


/*  エントリーのスタイル
------------------------------ */
.p-entry-column {
  color: #3d3838;

  a {
    &:link {
      color: $primary-color;
      text-decoration: underline;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
    &:visited {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .link-btn{
    a{
      color: #fff;
      text-decoration: none;
      padding: 5px 24px;
      display: inline-block;
      transition: all .2s;
      background-color: $primary-color;
      border-radius: 4px;

      &:hover{
        background-color: #184566;
        text-decoration: none;
      }
    }
  }
  img.columnImage{
    border-radius: 7px;
    box-shadow: 0 0 8px grey;
  }
  /* 見出し */
  h2,h3,h4,h5{
    text-align: left;
    margin: 20px 0;
    font-family: $font-heading;
  }
  h2{
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin: 60px 0 40px;
    padding: 0 ($grid-space / 2);
    color: #666;

    &:first-letter{
    color: $primary-color;
    font-size: 32px;
    }
  }
  h3{
    @include primary_alpha(0.2);
    font-weight: normal;
    border-radius: 8px;
    padding: 8px 0 8px 20px;
    margin: 20px ($grid-space / 2);
    font-size: 20px;
  }
  h4 {
    margin: 40px ($grid-space / 2);
    font-size: 20px;
    color: $primary-color;
    border-bottom: dotted 4px $primary-color;
    padding: 0.5em;
  }
  h5 {
    @include font-size(18);
    border-bottom: 2px solid $primary-color;
    margin: 30px ($grid-space / 2);
    padding: 2px 22px 8px 25px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      border-left: solid 15px transparent;
      border-bottom: solid 15px $primary-color;
    }
  }
  /* 本文 */
  p {
    margin-top: 0;
    margin-bottom: $entry-element-margin-bottom-lg;
    padding: 0 ($grid-space / 2);
    @include font-size(16);
    line-height: 1.9;

    &.note{
      margin: -20px auto 40px;
      font-size: 13px;
      line-height: 1.8;
      display: table;
      width: 100%;

      &:before{
        content: '※';
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
  /* エントリー内ボタン */
  p {
    &.entry-btn {
      margin-bottom: $entry-element-margin-bottom-sm;
      a {
        display: table;
        margin: 20px auto;
        padding: 12px 40px;
        color: #FFF;
        @include font-size(18);
        border-radius: 5px;
        background: #3d3838;
        transition: all .3s;
        &:active,
        &:focus,
        &:hover {
          text-decoration: none;
          background: #111;
        }
      }
    }
  }
  /* テーブル */
  table {
    width: calc(100% - 30px);
    margin: 0 ($grid-space / 2) $entry-element-margin-bottom-lg;
    border-collapse: collapse;
    border-spacing: 0;
  }
  tr{
    border-bottom: 1px solid #eee;
  }
  tr:last-child{
    border: 0;
  }
  th,
  td {
    display: block;
    padding: 5px 10px;
    color: #3d3838;
    @include font-size(16);
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
  }
  .acms-table-responsive {
    margin-bottom: 30px;

    th,
    td {
      display: table-cell;
      white-space: nowrap;
    }
    table {
      margin: 0;
    }
  }
  th {
    background: #f8f9fa;
  }
  /* リスト */
  ul {
    margin: 0 0 $entry-element-margin-bottom-md 0;
    padding: 0 $grid-space 0 ($grid-space + 15px);
    list-style-type:none;

    li {
      display: block;
      margin: 0 0 10px;
      padding: 0 0 0 32px;
      line-height: 1.5;
      background-image: url('#{$root-theme-img}icon_list.svg');
      background-repeat: no-repeat;
      background-position: 0px 4px;
      background-size: 20px;
    }
  }
  @media screen and (max-width: $breakpoint-md-max) {
    ul{
      padding: 0 $grid-space 0 5px;
    }
  }
  /* 番号付きリスト */
  ol {
    counter-reset: ol-counter;
    list-style: none;
    margin: 0 0 $entry-element-margin-bottom-md 0;
    padding: 0 $grid-space 0 ($grid-space + 8px);
    li {
      position: relative;
      margin: 0 0 10px;
      padding: 0 0 0 30px;
      @include font-size(16);
      line-height: 1.5;
      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2px 7px 0 0;
        padding: 3px 6px;
        background: $primary-color;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        counter-increment: ol-counter;
        content: counter(ol-counter);
      }
    }
  }
  /* 引用 */
  blockquote:not(.c-amazon) {
    width: calc(100% - 10px);
    margin: 0 5px 30px;
    padding: 40px 26px;
    line-height: 1.8;
    box-sizing: border-box;
    background-color: #EBEBEB;
    background-image: url('#{$root-theme-img}dot.png');
    background-position: 0 -40px;
    background-repeat: no-repeat;
    border-radius: 7px;
  }
  .c-amazon{
    position: relative;
    padding: 40px 15px 15px;
    border: 1px solid $amazon-color;
    border-radius: 7px;
    margin: 0;

    &:after{
      content: 'amazon';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      color: map-get($color-neutral, lightest);
      background-color: $amazon-color;
    }

    &__link{
      text-decoration: none !important;
      color: #444;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      transition: all .2s;

      &:hover{
        opacity: .6;
      }
    }

    @media screen and (max-width: $breakpoint-md-max) {
      &__link{
        display: block;
      }

      &__img {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
        width: 100%;
        padding: 0;
      }
    }

    &__img{
      height: 300px;
      padding-right: 20px;
    }

    &__title{
      margin-bottom: 5px;
      @include font-size(20);
    }

    &__description{
      color: #9ab;
      margin: 0;
      @include font-size(14);
    }

    &__price{
      color: #9ab;
      margin: 5px 0 0;
      @include font-size(14);
    }
  }
  /* ソースコード */
  pre {
    width: calc(100% - 50px);
    margin: 0 ($grid-space / 2) $entry-element-margin-bottom-lg;
    white-space: nowrap;
    position: relative;
    overflow: scroll;
    box-shadow: 0 0 40px 0 #cfcfcf !important;
    border-radius: 6px;

    &.source-hidden {
      max-height: 250px;
      overflow: hidden;

      &.active {
        overflow: scroll;
        max-height: 100%;

        &::after {
          display: none;
          content: '';
        }
      }

      &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140px;
        padding-top: 25px;
        background: linear-gradient(180deg, rgba(map-get($color-primary, base-light),0) 0%, rgba(map-get($color-primary, base-light),1) 50%);
        color: #6885b3;
        @include font-size(18);
        content: 'ソースコードをすべて表示する';
        cursor: pointer;
      }
    }

    code{
      background-color: transparent;
      font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
      border: 0;
    }
    ol {
      margin: 0 0 0 30px;
      padding: 20px;
      list-style: decimal inside!important;

      li{
        margin: 0;
        padding: 0 0 10px 10px;
        background-color: transparent;
        text-shadow: none;
        list-style: decimal outside!important;

        &:before{
          display: none;
        }
      }
      li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
        list-style-type: decimal;
      }
    }
    &:before{
      padding: 5px 20px;
      border-radius: 10px 10px 0 0/10px 10px 0 0;
      background-color: #ddd;
      text-align: center;
      -webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      border-radius: 10px 10px 0 0 / 10px 10px 0 0;
      font-size: 14px;
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -1;
    }
    &.html{
      margin-top: 54px;
      &:before{
        content: "</> HTML";
      }
    }
    &.css{
      margin-top: 54px;
      &:before{
        content: "</> CSS";
      }
    }
    &.js{
      margin-top: 54px;
      &:before{
        content: "</> Javascript / jQuery";
      }
    }
    &.php{
      margin-top: 54px;
      &:before{
        content: "</> PHP";
      }
    }
  }
  /* 区切り線 */
  hr {
    border: 0;
    border-bottom: 1px solid $base-color;
  }
  /* ユニット */
  .caption {
    margin: 0 0 20px 0;
    @include font-size(13);
    text-align: center;
    color: #95989A;
  }
  [class^="column-file-"] .caption {
    @include font-size(15);
    text-align: inherit;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .p-entry-column {
    th,
    td {
      display: table-cell;
      padding: 15px 20px;
      text-align: left;
      @include font-size(16);
      border-top: 1px solid #eee;
    }
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .p-entry-column{
    pre {
      width: calc(100% - 60px);
    }
  }
}


/*  ユニットグループ
------------------------------ */
.acms-col-center {
  float: none;
  margin: 0 auto;
}

/*  エントリーフッター
------------------------------ */
.p-entry-footer {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #f5f5f5;
}

/* タグ */
.p-entry-tag {
  margin: 0 0 5px 0;
}

.p-entry-tag-icon {
  float: left;
  color: #999;
}

.p-entry-tag-item {
  float: left;
  margin: 0 0 0 10px;
}

@media screen and (min-width: $breakpoint-md-min) {
  /* タグ */
  .p-entry-tag {
    margin: 0;
  }
}

/* sns */
.sns
{
  display: table;
  overflow: hidden;
  width: 100%;
  margin: 0 0 5% 0 !important;
  padding: 0;
  table-layout: fixed;
}
.sns li
{
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;
}
.sns li:last-child
{
  margin-right: 0;
}
.sns li a
{
  text-decoration: none;

  color: #fff;
}
.sns li i
{
  padding-right: 5px;
}
.sns-link
{
  line-height: 42px;
  position: relative;
  display: block;
  overflow: hidden;
  height: 42px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.sns-link::after
{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
}
.sns-link:hover
{
  text-decoration: none;
}
.sns-twitter
{
  background: #55acee;
}
.sns-facebook
{
  background: #3a5795;
}
.sns-bookmark
{
  background: #00a5de;
}
.sns-pocket
{
  background: #ed4055;
}

// 中見出し
//===============================

span {
  &.dir {
    border: 1px solid #eee;
    padding: 4px;
    box-shadow: 0 0 6px #ccc;
  }
}

.p-entry-column {

  .c-emphasis-link {
    position: relative;
    margin: 15px ($grid-space / 2) $entry-element-margin-bottom-lg;
    padding: 35px 20px 16px;
    background-color: #fffcf9;

    &__item {
      padding: 0;
      margin: 0 0 5px;
      background: none;
      color: #606060;
      font-weight: bold;

      &:last-child {
        margin: 0;
      }
    }

    &::before {
      position: absolute;
      top: -12px;
      left: 20px;
      padding: 5px 10px 5px 26px;
      border-radius: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }

    &::after {
      font-family: 'FontAwesome';
      position: absolute;
      top: -16px;
      left: 4px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      line-height: 38px;
      text-align: center;
      @include font-size(22);
      color: #fff;
    }

    &.-suitably {
      border: 2px solid #ffadae;

      &::before {
        content: "あわせて読みたい";
        background-color: #ffadae;
      }

      &::after {
        background-color: #ffadae;
        content: $fa-var-pencil-square-o;

      }
    }

    &.-check {
      border: 2px solid #f9d689;

      &::before {
        content: "Check";
        background-color: #f9d689;
      }

      &::after {
        background-color: #f9d689;
        content: $fa-var-check-circle-o;

      }

      //.c-emphasis-link__url {
      //  font-family: 'FontAwesome';
      //  text-decoration: none;
      //
      //  &:link::before {
      //    //content: $fa-var-square-o;
      //    content: 'a';
      //    color: blue;
      //  }
      //
      //
      //  &:visited::before {
      //    //content: $fa-var-check-square-o;
      //    content: 'i';
      //    color: pink;
      //  }
      //
      //
      //}
    }

    &.-point {
      border: 2px solid #f9d689;

      &::before {
        content: "Point";
        background-color: #f9d689;
      }

      &::after {
        background-color: #f9d689;
        content: $fa-var-check-circle-o;

      }
    }

    &.-relation {
      border: 2px solid #98dbf9;

      &::before {
        content: "関連記事";
        background-color: #98dbf9;
      }

      &::after {
        background-color: #98dbf9;
        content: $fa-var-link;

      }
    }

    &.-reference {
      border: 2px solid #c8b0f4;

      &::before {
        content: "参考記事";
        background-color: #c8b0f4;
      }

      &::after {
        background-color: #c8b0f4;
        content: $fa-var-external-link;

      }
    }
  }
}

