/* ------------------------------
　　フッター
------------------------------ */
.p-footer{
  .c-footer-top{
    background: linear-gradient(60deg,rgba(55, 111, 152,.3),rgba(70, 221, 199,.3));
    padding: 50px 0;
  }
  .c-footer-top__title{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    margin-bottom: 30px;
    @include font-size(30);
    font-family: $font-heading;
  }

  .c-footer-bottom{
    clear: both;
    color: #888;
    text-align: center;
    font-size: 14px;
    padding: 4px 0;

    &__wrap{
      width: 30%;
      margin: 0 auto;
    }
  }

  /* フッターのSNS */
  .c-footer-sns{
    padding-left: 0;
    width: 70%;
    margin: 20px auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .c-footer-sns__item{
    a{
      color: #888;
      font-size: 20px;
      width: 40px;
      height: 40px;
      border: 1px solid #888;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;

      &:hover{
        text-decoration: none;
        opacity: .6;
      }
    }
    &:before {
      position: absolute;
      font-size: 12px;
    }
  }
  @media screen and (max-width: $breakpoint-md-max) {
    .c-footer-sns {
      padding-left: 0;
    }
    .c-footer-bottom{

      &__wrap{
        width: 100%;
      }
    }
  }
  .c-footer-bottom-linklist{
    display: flex;
    justify-content: center;
    margin: 0;

    &__link{
      color: #888;
      padding: 0 5px;
      @include font-size(12);

      &:hover,&:visited{
        color: #888;
      }
    }
  }
}
