/* ------------------------------
　　ヘッダー
------------------------------ */
.js-offcanvas{
  display: none;
}

.p-header{
  width: 100%;
  height: 100%;
  padding: 20px 20px 0px 20px;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  @include box-sizing(border-box);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-header-filter{
    background: rgba(54, 92, 152, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .c-logo{
    margin: 0;

    &__img {
      width: 150px;
    }
  }

  .p-header-fixed{
    .c-logo{
      text-align: left;
      margin-top: 8px;
      float: left;
    }
  }
}

@media screen and (min-width: $breakpoint-md-min) {

  .p-header{
    padding: 30px;

    &__inner{
      justify-content: space-between;
    }

    .c-logo{
      &__img {
        width: 200px;
      }
    }
  }
}

.l-entry {
  position: relative;
}


