/* ------------------------------
　　エントリーサマリー
------------------------------ */
.p-entry-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -20px;

  .c-entry-summary__label{
    margin: 0;
    padding: 3px 12px;
    background-color: #5e9cc9;
    color: #fff;
    font-size: 14px;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-top-right-radius: 7px;
  }
  .c-entry-summary__item{
    position: relative;
    width: calc(50% - 20px);
    margin: 0 10px 30px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #ddd;
  }
  .c-entry-summary__link{
    display: block;
    color: #333;
    text-decoration: none;
    transition: all .2s;

    &:hover,
    &:visited,
    &:active{
      color: #333;
    }

    &:hover{
      opacity: .6;
    }
  }
  .c-entry-summary___img{
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    vertical-align: bottom;
  }
  .c-entry-summary__data{
    padding: 24px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .c-entry-summary__data__p{
    margin: 0;
    @include font-size(18);
    text-align: center;

    a{
      color: #444;

      &:hover{
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md-max) {
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-sm-max) {

    .c-entry-summary__label{
      padding: 5px 10px;
      font-size: 12px;
    }
    .c-entry-summary__item{
      width: 100%;
    }
    .c-entry-summary__data{
      padding: 12px 20px;
    }
  }
}

