$z-map-offset: 100000;
$z-map: (
  acms-fix-right: true,
  acms_fix_bg: true,
  fixed: true,
  js-acms_fix_marker: true,
  js-acms-drop-down-menu: true,
  acms-nav: true,
  acms-main: true,
  acms-navbar-deep: true,
  acms-navbar: true,
  acms-navbar-admin: true,
  outer-wrap-top: true,
  acms_fix_bg_index: true,
  acms-layout-menu: true,
  acms-drop-area-before: true,
  acms-drop-area-inner: true,
  acms-drop-area: true,
  com-post: true,
	ui-dialog: true,
  preview-area: true,
  js-acms-offcanvas-sidebar: true,
  js-acms-offcanvas-active: true,
  acms-preview-iframe-wrapper: true,
  js-edit_inplace-sort_label: true,
  js-edit_inplace-sort_close: true,
  js-edit_sort-control-move: true,
  js-edit_inplace-below_control: true,
  js-edit_inplace-title: true,
  js-edit_inplace-sort_selection: true,
  js-edit_inplace-box: true,
  js-ui-expand: true,
  ckeditor-select: true,
  acms-modal: true,
  banner-sorable: true,
  flatpickr: true,
  js-edit_inplace-detail: true,
  acms-media-modal: true,
  banner-edit-item-wrap: true,
  select2-container: true,
  related-item: true,
  preview-container: true,
  acms-revision-header: true,
  js-dragAdminBox: true,
  js-entry_saving_progress: true,
  js-loading_splash: true,
  js-media_view: true,
  acms-module-edit: true,
  acms-tooltip: true,
  smartphoto: true
);

// z-index
@function zIndex($name, $childname: 0) {
  $getkey: map-get($z-map, $name);
  @if $childname != 0 {
    @return $z-map-offset + index($getkey, $childname);
  }
  @return $z-map-offset + index($z-map, ($name $getkey));
}
