@import "variable";
@import "variables-fonts";

@font-face {
	font-weight: normal;
	font-family: 'acms-fonts';
	font-style: normal;
	src: url(#{$acms-font + '/acms-fonts.eot'});
	src: url(#{$acms-font + '/acms-fonts.eot'}) format('embedded-opentype'), url(#{$acms-font + '/acms-fonts.ttf'}) format('truetype'), url(#{$acms-font + '/acms-fonts.woff'}) format('woff'), url(#{$acms-font + '/acms-fonts.svg'}) format('svg');
}

.acms-icon,
[class*="acms-icon-"] {
	display: inline-block;
	font-weight: normal;
	font-family: "acms-fonts";
	font-style: normal;
	line-height: 1;
	text-transform: none;
	text-decoration: inherit;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.acms-icon-contract-arrow {
  &:before {
    content: $icon-contract-arrow; 
  }
}
.acms-icon-expand-arrow {
  &:before {
    content: $icon-expand-arrow; 
  }
}
.acms-icon-facebook-circle {
  &:before {
    content: $icon-facebook-circle; 
  }
}
.acms-icon-twitter-circle {
  &:before {
    content: $icon-twitter-circle; 
  }
}
.acms-icon-list {
  &:before {
    content: $icon-list; 
  }
}
.acms-icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.acms-icon-device_turn {
  &:before {
    content: $icon-device_turn; 
  }
}
.acms-icon-user-switch {
  &:before {
    content: $icon-user-switch; 
  }
}
.acms-icon-contract {
  &:before {
    content: $icon-contract; 
  }
}
.acms-icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.acms-icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.acms-icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.acms-icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.acms-icon-add-below {
  &:before {
    content: $icon-add-below; 
  }
}
.acms-icon-add-duplicate {
  &:before {
    content: $icon-add-duplicate; 
  }
}
.acms-icon-alias {
  &:before {
    content: $icon-alias; 
  }
}
.acms-icon-app {
  &:before {
    content: $icon-app; 
  }
}
.acms-icon-attention {
  &:before {
    content: $icon-attention; 
  }
}
.acms-icon-backup {
  &:before {
    content: $icon-backup; 
  }
}
.acms-icon-blog-children {
  &:before {
    content: $icon-blog-children; 
  }
}
.acms-icon-blog {
  &:before {
    content: $icon-blog; 
  }
}
.acms-icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.acms-icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.acms-icon-category {
  &:before {
    content: $icon-category; 
  }
}
.acms-icon-change-blog {
  &:before {
    content: $icon-change-blog; 
  }
}
.acms-icon-checklist {
  &:before {
    content: $icon-checklist; 
  }
}
.acms-icon-clip {
  &:before {
    content: $icon-clip; 
  }
}
.acms-icon-close {
  &:before {
    content: $icon-close; 
  }
}
.acms-icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.acms-icon-config {
  &:before {
    content: $icon-config; 
  }
}
.acms-icon-control-edit {
  &:before {
    content: $icon-control-edit; 
  }
}
.acms-icon-control-move {
  &:before {
    content: $icon-control-move; 
  }
}
.acms-icon-control-remove {
  &:before {
    content: $icon-control-remove; 
  }
}
.acms-icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.acms-icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.acms-icon-down {
  &:before {
    content: $icon-down; 
  }
}
.acms-icon-entry {
  &:before {
    content: $icon-entry; 
  }
}
.acms-icon-exit {
  &:before {
    content: $icon-exit; 
  }
}
.acms-icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.acms-icon-form {
  &:before {
    content: $icon-form; 
  }
}
.acms-icon-graph {
  &:before {
    content: $icon-graph; 
  }
}
.acms-icon-import {
  &:before {
    content: $icon-import; 
  }
}
.acms-icon-left {
  &:before {
    content: $icon-left; 
  }
}
.acms-icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.acms-icon-logo {
  &:before {
    content: $icon-logo; 
  }
}
.acms-icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.acms-icon-media {
  &:before {
    content: $icon-media; 
  }
}
.acms-icon-mobile {
  &:before {
    content: $icon-mobile; 
  }
}
.acms-icon-module {
  &:before {
    content: $icon-module; 
  }
}
.acms-icon-money {
  &:before {
    content: $icon-money; 
  }
}
.acms-icon-open {
  &:before {
    content: $icon-open; 
  }
}
.acms-icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.acms-icon-publish {
  &:before {
    content: $icon-publish; 
  }
}
.acms-icon-right {
  &:before {
    content: $icon-right; 
  }
}
.acms-icon-rule {
  &:before {
    content: $icon-rule; 
  }
}
.acms-icon-schedule {
  &:before {
    content: $icon-schedule; 
  }
}
.acms-icon-shortcut {
  &:before {
    content: $icon-shortcut; 
  }
}
.acms-icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.acms-icon-sort2 {
  &:before {
    content: $icon-sort2; 
  }
}
.acms-icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.acms-icon-time {
  &:before {
    content: $icon-time; 
  }
}
.acms-icon-tooltip {
  &:before {
    content: $icon-tooltip; 
  }
}
.acms-icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.acms-icon-unit-eximage {
  &:before {
    content: $icon-unit-eximage; 
  }
}
.acms-icon-unit-file {
  &:before {
    content: $icon-unit-file; 
  }
}
.acms-icon-unit-image_h2 {
  &:before {
    content: $icon-unit-image_h2; 
  }
}
.acms-icon-unit-image {
  &:before {
    content: $icon-unit-image; 
  }
}
.acms-icon-unit-map {
  &:before {
    content: $icon-unit-map; 
  }
}
.acms-icon-unit-text {
  &:before {
    content: $icon-unit-text; 
  }
}
.acms-icon-unit-youtube {
  &:before {
    content: $icon-unit-youtube; 
  }
}
.acms-icon-up {
  &:before {
    content: $icon-up; 
  }
}
.acms-icon-user-group {
  &:before {
    content: $icon-user-group; 
  }
}
.acms-icon-user {
  &:before {
    content: $icon-user; 
  }
}
.acms-icon-workflow {
  &:before {
    content: $icon-workflow; 
  }
}
.acms-icon-google {
  &:before {
    content: $icon-google; 
  }
}
.acms-icon-google-square {
  &:before {
    content: $icon-google-square; 
  }
}
.acms-icon-config_access {
  &:before {
    content: $icon-config_access; 
  }
}
.acms-icon-config_alias_list {
  &:before {
    content: $icon-config_alias_list; 
  }
}
.acms-icon-config_api_bing_image-search {
  &:before {
    content: $icon-config_api_bing_image-search; 
  }
}
.acms-icon-config_api_bing_web-search {
  &:before {
    content: $icon-config_api_bing_web-search; 
  }
}
.acms-icon-config_api_instagram_users_media_liked {
  &:before {
    content: $icon-config_api_instagram_users_media_liked; 
  }
}
.acms-icon-config_api_instagram_users_media_recent {
  &:before {
    content: $icon-config_api_instagram_users_media_recent; 
  }
}
.acms-icon-config_api_twitter_list_members {
  &:before {
    content: $icon-config_api_twitter_list_members; 
  }
}
.acms-icon-config_api_twitter_list_statuses {
  &:before {
    content: $icon-config_api_twitter_list_statuses; 
  }
}
.acms-icon-config_api_twitter_search {
  &:before {
    content: $icon-config_api_twitter_search; 
  }
}
.acms-icon-config_api_twitter_statuses_home-timeline {
  &:before {
    content: $icon-config_api_twitter_statuses_home-timeline; 
  }
}
.acms-icon-config_api_twitter_statuses_user-timeline {
  &:before {
    content: $icon-config_api_twitter_statuses_user-timeline; 
  }
}
.acms-icon-config_authorize {
  &:before {
    content: $icon-config_authorize; 
  }
}
.acms-icon-config_banner {
  &:before {
    content: $icon-config_banner; 
  }
}
.acms-icon-config_blog_child-list {
  &:before {
    content: $icon-config_blog_child-list; 
  }
}
.acms-icon-config_cache {
  &:before {
    content: $icon-config_cache; 
  }
}
.acms-icon-config_calendar_month {
  &:before {
    content: $icon-config_calendar_month; 
  }
}
.acms-icon-config_category_entry-list {
  &:before {
    content: $icon-config_category_entry-list; 
  }
}
.acms-icon-config_category_entry-summary {
  &:before {
    content: $icon-config_category_entry-summary; 
  }
}
.acms-icon-config_category_list {
  &:before {
    content: $icon-config_category_list; 
  }
}
.acms-icon-config_column_list {
  &:before {
    content: $icon-config_column_list; 
  }
}
.acms-icon-config_common {
  &:before {
    content: $icon-config_common; 
  }
}
.acms-icon-config_default {
  &:before {
    content: $icon-config_default; 
  }
}
.acms-icon-config_edit {
  &:before {
    content: $icon-config_edit; 
  }
}
.acms-icon-config_entry_archive-list {
  &:before {
    content: $icon-config_entry_archive-list; 
  }
}
.acms-icon-config_entry_body {
  &:before {
    content: $icon-config_entry_body; 
  }
}
.acms-icon-config_entry_calendar {
  &:before {
    content: $icon-config_entry_calendar; 
  }
}
.acms-icon-config_entry_continue {
  &:before {
    content: $icon-config_entry_continue; 
  }
}
.acms-icon-config_entry_headline {
  &:before {
    content: $icon-config_entry_headline; 
  }
}
.acms-icon-config_entry_list {
  &:before {
    content: $icon-config_entry_list; 
  }
}
.acms-icon-config_entry_photo {
  &:before {
    content: $icon-config_entry_photo; 
  }
}
.acms-icon-config_entry_summary {
  &:before {
    content: $icon-config_entry_summary; 
  }
}
.acms-icon-config_entry_tag-relational {
  &:before {
    content: $icon-config_entry_tag-relational; 
  }
}
.acms-icon-config_export {
  &:before {
    content: $icon-config_export; 
  }
}
.acms-icon-config_feed_ex-list {
  &:before {
    content: $icon-config_feed_ex-list; 
  }
}
.acms-icon-config_feed_rss2 {
  &:before {
    content: $icon-config_feed_rss2; 
  }
}
.acms-icon-config_field_value-list {
  &:before {
    content: $icon-config_field_value-list; 
  }
}
.acms-icon-config_function {
  &:before {
    content: $icon-config_function; 
  }
}
.acms-icon-config_import {
  &:before {
    content: $icon-config_import; 
  }
}
.acms-icon-config_links {
  &:before {
    content: $icon-config_links; 
  }
}
.acms-icon-config_mail {
  &:before {
    content: $icon-config_mail; 
  }
}
.acms-icon-config_navigation {
  &:before {
    content: $icon-config_navigation; 
  }
}
.acms-icon-config_output {
  &:before {
    content: $icon-config_output; 
  }
}
.acms-icon-config_plugin_schedule {
  &:before {
    content: $icon-config_plugin_schedule; 
  }
}
.acms-icon-config_property {
  &:before {
    content: $icon-config_property; 
  }
}
.acms-icon-config_reset {
  &:before {
    content: $icon-config_reset; 
  }
}
.acms-icon-config_shop_cart_list {
  &:before {
    content: $icon-config_shop_cart_list; 
  }
}
.acms-icon-config_sitemap {
  &:before {
    content: $icon-config_sitemap; 
  }
}
.acms-icon-config_tag_cloud {
  &:before {
    content: $icon-config_tag_cloud; 
  }
}
.acms-icon-config_tag_filter {
  &:before {
    content: $icon-config_tag_filter; 
  }
}
.acms-icon-config_theme {
  &:before {
    content: $icon-config_theme; 
  }
}
.acms-icon-config_topicpath {
  &:before {
    content: $icon-config_topicpath; 
  }
}
.acms-icon-config_unit {
  &:before {
    content: $icon-config_unit; 
  }
}
.acms-icon-config_user_profile {
  &:before {
    content: $icon-config_user_profile; 
  }
}
.acms-icon-config_user_search {
  &:before {
    content: $icon-config_user_search; 
  }
}
.acms-icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.acms-icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.acms-icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.acms-icon-arrow-small-down {
  &:before {
    content: $icon-arrow-small-down; 
  }
}
.acms-icon-arrow-small-left {
  &:before {
    content: $icon-arrow-small-left; 
  }
}
.acms-icon-arrow-small-right {
  &:before {
    content: $icon-arrow-small-right; 
  }
}
.acms-icon-arrow-small-up {
  &:before {
    content: $icon-arrow-small-up; 
  }
}
.acms-icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.acms-icon-bike {
  &:before {
    content: $icon-bike; 
  }
}
.acms-icon-book {
  &:before {
    content: $icon-book; 
  }
}
.acms-icon-book2 {
  &:before {
    content: $icon-book2; 
  }
}
.acms-icon-bus {
  &:before {
    content: $icon-bus; 
  }
}
.acms-icon-business {
  &:before {
    content: $icon-business; 
  }
}
.acms-icon-car {
  &:before {
    content: $icon-car; 
  }
}
.acms-icon-children {
  &:before {
    content: $icon-children; 
  }
}
.acms-icon-company {
  &:before {
    content: $icon-company; 
  }
}
.acms-icon-cup {
  &:before {
    content: $icon-cup; 
  }
}
.acms-icon-custom-field {
  &:before {
    content: $icon-custom-field; 
  }
}
.acms-icon-domain {
  &:before {
    content: $icon-domain; 
  }
}
.acms-icon-facebook-square {
  &:before {
    content: $icon-facebook-square; 
  }
}
.acms-icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.acms-icon-gallery {
  &:before {
    content: $icon-gallery; 
  }
}
.acms-icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.acms-icon-gplus-square {
  &:before {
    content: $icon-gplus-square; 
  }
}
.acms-icon-gplus {
  &:before {
    content: $icon-gplus; 
  }
}
.acms-icon-home {
  &:before {
    content: $icon-home; 
  }
}
.acms-icon-install {
  &:before {
    content: $icon-install; 
  }
}
.acms-icon-ios-app {
  &:before {
    content: $icon-ios-app; 
  }
}
.acms-icon-lisence-code {
  &:before {
    content: $icon-lisence-code; 
  }
}
.acms-icon-lisence {
  &:before {
    content: $icon-lisence; 
  }
}
.acms-icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.acms-icon-lunch {
  &:before {
    content: $icon-lunch; 
  }
}
.acms-icon-man {
  &:before {
    content: $icon-man; 
  }
}
.acms-icon-manual {
  &:before {
    content: $icon-manual; 
  }
}
.acms-icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.acms-icon-map {
  &:before {
    content: $icon-map; 
  }
}
.acms-icon-news {
  &:before {
    content: $icon-news; 
  }
}
.acms-icon-person {
  &:before {
    content: $icon-person; 
  }
}
.acms-icon-plane {
  &:before {
    content: $icon-plane; 
  }
}
.acms-icon-role {
  &:before {
    content: $icon-role; 
  }
}
.acms-icon-scissors {
  &:before {
    content: $icon-scissors; 
  }
}
.acms-icon-search {
  &:before {
    content: $icon-search; 
  }
}
.acms-icon-senior {
  &:before {
    content: $icon-senior; 
  }
}
.acms-icon-server {
  &:before {
    content: $icon-server; 
  }
}
.acms-icon-ship {
  &:before {
    content: $icon-ship; 
  }
}
.acms-icon-shop {
  &:before {
    content: $icon-shop; 
  }
}
.acms-icon-support {
  &:before {
    content: $icon-support; 
  }
}
.acms-icon-target-blank {
  &:before {
    content: $icon-target-blank; 
  }
}
.acms-icon-tel {
  &:before {
    content: $icon-tel; 
  }
}
.acms-icon-train {
  &:before {
    content: $icon-train; 
  }
}
.acms-icon-truck {
  &:before {
    content: $icon-truck; 
  }
}
.acms-icon-twitter-square {
  &:before {
    content: $icon-twitter-square; 
  }
}
.acms-icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.acms-icon-unlimited {
  &:before {
    content: $icon-unlimited; 
  }
}
.acms-icon-user-add {
  &:before {
    content: $icon-user-add; 
  }
}
.acms-icon-version {
  &:before {
    content: $icon-version; 
  }
}
.acms-icon-woman {
  &:before {
    content: $icon-woman; 
  }
}
.acms-icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.acms-icon-text-center {
  &:before {
    content: $icon-text-center; 
  }
}
.acms-icon-text-left {
  &:before {
    content: $icon-text-left; 
  }
}
.acms-icon-merge {
  &:before {
    content: $icon-merge; 
  }
}
.acms-icon-split {
  &:before {
    content: $icon-split; 
  }
}
.acms-icon-text-right {
  &:before {
    content: $icon-text-right; 
  }
}
.acms-icon-source {
  &:before {
    content: $icon-source; 
  }
}
.acms-icon-undo {
  &:before {
    content: $icon-undo; 
  }
}

