<header>
	<div>
		@include("/admin/topicpath.html")
	</div>
	<div>
		<h1 class="acms-admin-admin-title js-dialog-title"><!--T-->CSVインポート<!--/T--></h1>
	</div>
</header>

<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
<!-- BEGIN_MODULE Admin_Import_Message -->
<!-- BEGIN message:veil --><!-- BEGIN_IF [{success}/eq/on] -->
<p class="acms-admin-alert acms-admin-alert-info acms-admin-alert-icon"><!-- ELSE -->
<p class="acms-admin-alert acms-admin-alert-danger acms-admin-alert-icon"><!-- END_IF -->
	<span class="acms-admin-alert-icon-before acms-admin-icon-news"></span>
	<!-- BEGIN_IF [{importMessage}/eq/0] -->
	<!--T-->インポートに成功しました<!--/T-->
	<!-- ELSE_IF [{importMessage}/eq/1/_or_/{importMessage}/eq/2] -->
	<!--T-->ファイルサイズが大きすぎます<!--/T-->
	<!-- ELSE_IF [{importMessage}/eq/4] -->
	<!--T-->ファイルが選択されていません<!--/T-->
	<!-- ELSE -->
	<!--T-->エラーが発生しました [code={importMessage}]<!--/T-->
	<!-- END_IF -->
	<button class="js-acms-alert-close acms-admin-alert-icon-after acms-admin-margin-right-mini">×</button>
</p><!-- END message:veil -->

<!-- BEGIN import:data -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info"><span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span><button class="js-acms-alert-close acms-admin-alert-icon-after">×</button><!--T--><!--$1-->{blog}<!--/$1--> ブログ <!--$2-->{category}<!--/$2--> に <!--$3-->{entry_count}<!--/$3-->件、インポートしました。<!--/T--></p><!-- END import:data -->
<!-- END_MODULE Admin_Import_Message -->

<div class="acms-admin-panel">
	<div class="acms-admin-panel-header">
		<p class="acms-admin-panel-title"><!--T-->CSVデータを、指定したカテゴリーにインポートまたは上書きします。<!--/T--></p>
	</div>
	<ul>
		<li><!--T-->CSV形式のファイル(カンマ区切りデータ)をエントリーと、エントリーのカスタムフィールドに変換してインポートします。<!--/T--></li>
		<li><!--T-->CSVファイルに、カスタムフィールドの情報のみが含まれる場合は、エントリー情報は自動で作成されます。<!--/T--></li>
		<li><!--T-->CSVに <strong>entry_id</strong> を指定することで既存のエントリーに上書きすることができます。<!--/T--></li>
		<li><!--T--><strong><プロフェッショナルライセンス以上限定></strong> CSVの項目に <strong>entry_id</strong> がなく <strong>*</strong> から始まる項目名（1つ）がある場合、その項目をキーにして<strong>一意(unique)</strong>になるエントリーをアップデートします。<!--/T--></li>
		<li><!--T-->CSVに<strong>entry_category_id</strong>を指定することで、優先してそのカテゴリーにインポートされます。<!--/T--></li>
		<li><!--T-->値の先頭を <strong>str-data_</strong> にしたデータは、表計算ソフトで文字列として扱い、値の自動変換を防止します。取り込み時はこの先頭の文字は無視してインポートされます。数値や日付のデータにお使いください。<!--/T--></li>
	</ul>
</div>

<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
	<input class="js-loading_splash acms-admin-btn-admin acms-admin-btn-admin-primary  acms-admin-margin-sp" data-msg="<!--T-->インポート中...<!--/T-->" type="submit" name="ACMS_POST_Import_Csv" value="<!--T-->インポートを実行する<!--/T-->"/ onclick="return confirm('<!--T-->インポートを実行します。よろしいですか？<!--/T-->');">

	<h2 class="acms-admin-admin-title2"><!--T-->CSVデータ<!--/T--></h2>
	<table class="adminTable acms-admin-table-admin-edit">
		<tr>
			<th><!--T-->インポート先ブログ<!--/T--></th>
			<td>%{BLOG_NAME}（<!--T-->現在のブログ<!--/T-->）</td>
		</tr>
		<tr>
			<th><!--T-->インポート先カテゴリー<!--/T--></th>
			<td>
				<select name="category_id" class="js-select2">
					<option value="0"><!--T-->なし<!--/T--></option><!-- BEGIN_MODULE Admin_Category_Select --><!-- BEGIN loop -->
					<option value="{value}"{selected}>{indent}[raw]{label} ( {amount} )</option><!-- END loop --><!-- END_MODULE Admin_Category_Select -->
				</select>
			</td>
		</tr>
		<tr>
			<th><!--T-->インポートデータ（CSV）<!--/T--></th>
			<td><input type="file" name="csv_import_file"></td>
		</tr>
	</table>
</form>

<h3 class="acms-admin-admin-title2"><!--T-->指定可能フィールド<!--/T--></h3>
<table class="acms-admin-table acms-admin-table-heading">
	<tbody>
	<tr>
		<th><!--T-->フィールド名<!--/T--></th>
		<th><!--T-->フォーマット<!--/T--></th>
		<th><!--T-->説明<!--/T--></th>
		<th><!--T-->例<!--/T--></th>
		<th><!--T-->指定なしの場合<!--/T--></th>
	</tr>
	<tr>
		<th>entry_id</th>
		<td>数値</td>
		<td>エントリーIDを指定</td>
		<td>123</td>
		<td>新規eid</td>
	</tr>
	<tr>
		<th>entry_code</th>
		<td>文字列</td>
		<td>コード（ファイル名）を指定</td>
		<td>entry-123.html</td>
		<td>通常エントリ作成時と同様</td>
	</tr>
	<tr>
		<th>entry_status</th>
		<td>open | close | draft | trash</td>
		<td>ステータスを指定（open: 公開、close: 非公開、draft: 下書き、trash: ゴミ箱）のいずれかを指定</td>
		<td>open</td>
		<td>open</td>
	</tr>
	<tr>
		<th>entry_title</th>
		<td>文字列</td>
		<td>タイトルを指定</td>
		<td>テストエントリー</td>
		<td>CSV_IMPORT-[eid]</td>
	</tr>
	<tr>
		<th>entry_link</th>
		<td>文字列</td>
		<td>リンク先URLを指定</td>
		<td>https://www.a-blogcms.jp/</td>
		<td></td>
	</tr>
	<tr>
		<th>entry_datetime</th>
		<td>yyyy-MM-dd H:mm:ss</td>
		<td>日付を指定</td>
		<td>2018-12-06 15:08:01</td>
		<td>インポート時の日時</td>
	</tr>
	<tr>
		<th>entry_start_datetime</th>
		<td>yyyy-MM-dd H:mm:ss</td>
		<td>公開日時を指定</td>
		<td>2018-12-06 15:08:01</td>
		<td>1000-01-01 00:00:00</td>
	</tr>
	<tr>
		<th>entry_end_datetime</th>
		<td>yyyy-MM-dd H:mm:ss</td>
		<td>掲載期限を指定</td>
		<td>2018-12-06 15:08:01</td>
		<td>9999-12-31 23:59:59</td>
	</tr>
	<tr>
		<th>entry_posted_datetime</th>
		<td>yyyy-MM-dd H:mm:ss</td>
		<td>作成日を指定</td>
		<td>2018-12-06 15:08:01</td>
		<td>インポート時の日時</td>
	</tr>
	<tr>
		<th>entry_updated_datetime</th>
		<td>yyyy-MM-dd H:mm:ss</td>
		<td>更新日を指定</td>
		<td>2018-12-06 15:08:01</td>
		<td>インポート時の日時</td>
	</tr>
	<tr>
		<th>entry_summary_range</th>
		<td>数値</td>
		<td>ユニットの「続きを読む」の位置を指定（例: 3 -&gt; 上から３番目のユニットを一覧で出力）</td>
		<td>3</td>
		<td></td>
	</tr>
	<tr>
		<th>entry_indexing</th>
		<td>on | off</td>
		<td>インデキシング（一覧に出力するかどうか）を設定（on: 出力する、off: 出力しない）</td>
		<td>on</td>
		<td>on</td>
	</tr>
	<tr>
		<th>entry_primary_image</th>
		<td>数値</td>
		<td>メイン画像のユニットIDを指定</td>
		<td>123</td>
		<td></td>
	</tr>
	<tr>
		<th>entry_category_id</th>
		<td>数値</td>
		<td>カテゴリーIDを指定</td>
		<td>1</td>
		<td></td>
	</tr>
	<tr>
		<th>entry_user_id</th>
		<td>数値</td>
		<td>エントリー所有者のユーザーIDを指定</td>
		<td>1</td>
		<td>インポート実行者のUID</td>
	</tr>
	<tr>
		<th>entry_sub_category</th>
		<td>カンマ区切り数値</td>
		<td>サブカテゴリーの数値をカンマ区切りで指定（必ずダブルクウォートで囲むこと）</td>
		<td>"1,2,3"</td>
		<td></td>
	</tr>
	<tr>
		<th>entry_tag</th>
		<td>カンマ区切り文字列</td>
		<td>タグをカンマ区切りで指定（必ずダブルクウォートで囲むこと）</td>
		<td>"タグ1,タグ2,タグ3"</td>
		<td></td>
	</tr>
	<tr>
		<th>unit@タグセレクト[数値]</th>
		<td>文字列</td>
		<td>テキストユニットの追加<div>タグセレクト: テキストタグセレクトで設定できるもの [p, h2, h3, ul, markdown, none....]&nbsp;</div><div>[]の中の数値: ユニットの順番を指定</div></td>
		<td>"テストユニット"</td>
		<td></td>
	</tr>
	<tr>
		<th>カスタムフィールド変数</th>
		<td></td>
		<td>カスタムフィールド としてインポートされます。インポート先のフィールド仕様にあった値を設定ください</td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
</table>

<!-- END_MODULE Touch_SessionWithAdministration -->

