<div class="js-img_resize_cf" style="margin: 0 10px;">
	<h3><label for="input-img-main_photo">メインイメージ</label></h3>
	<!-- BEGIN_IF [{main_photo@path}/em] -->
	<img src="" style="display:none;width:858px;" class="acms-admin-img-responsive js-img_resize_preview">
	<!-- END_IF -->
	<!-- BEGIN main_photo@path:veil -->
	<img src="%{ARCHIVES_DIR}{main_photo@path}" style="width:858px;" class="acms-admin-img-responsive js-img_resize_preview">
	<input type="hidden" name="main_photo@old" value="{main_photo@path}"><br>
	<div class="acms-admin-form-checkbox">
		<input type="checkbox" name="main_photo@edit" value="delete" id="input-checkbox-main_photo">
		<label for="input-checkbox-main_photo">
			<i class="acms-admin-ico-checkbox"></i> 削除
		</label>
	</div>
	<!-- END main_photo@path:veil -->
	<input type="file" name="main_photo" size="20" id="input-img-main_photo" class="js-img_resize_input"><br>
	<input type="hidden" name="field[]" value="main_photo">
	<input type="hidden" name="main_photo:extension" value="image">
	<input type="hidden" name="main_photo@size" value="858">
	<input type="hidden" name="main_photo@largeWidth" value="1716">
	<input type="hidden" name="main_photo@filename" value="">
	<input type="text" name="main_caption" value="{main_caption}" placeholder="キャプション" class="acms-admin-form-width-full">
	<input type="hidden" name="field[]" value="main_caption">
</div>

<div class="acms-admin-col-md-4 acms-admin-margin-bottom-medium js-img_resize_cf">
	<h3><label for="input-img-sub_photo01">サブイメージ1</label></h3>
	<!-- BEGIN_IF [{sub_photo01@path}/em] -->
	<img src="" style="display:none;width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<!-- END_IF -->
	<!-- BEGIN sub_photo01@path:veil -->
	<img src="%{ARCHIVES_DIR}{sub_photo01@path}" style="width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<input type="hidden" name="sub_photo01@old" value="{sub_photo01@path}"><br>
	<div class="acms-admin-form-checkbox">
		<input type="checkbox" name="sub_photo01@edit" value="delete" id="input-checkbox-sub_photo01">
		<label for="input-checkbox-sub_photo01">
			<i class="acms-admin-ico-checkbox"></i> 削除
		</label>
	</div>
	<!-- END sub_photo01@path:veil -->
	<input type="file" name="sub_photo01" id="input-img-sub_photo01" class="js-img_resize_input"><br>
	<input type="hidden" name="field[]" value="sub_photo01">
	<input type="hidden" name="sub_photo01:extension" value="image">
	<input type="hidden" name="sub_photo01@size" value="276">
	<input type="hidden" name="sub_photo01@largeWidth" value="1716">
	<input type="hidden" name="sub_photo01@filename" value="">
	<input type="text" name="sub_caption01" value="{sub_caption01}" placeholder="キャプション" class="acms-admin-form-width-full">
	<input type="hidden" name="field[]" value="sub_caption01">
</div>

<div class="acms-admin-col-md-4 acms-admin-margin-bottom-medium js-img_resize_cf">
	<h3><label for="input-img-sub_photo02">サブイメージ2</label></h3>
	<!-- BEGIN_IF [{sub_photo02@path}/em] -->
	<img src="" style="display:none;width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<!-- END_IF -->
	<!-- BEGIN sub_photo02@path:veil -->
	<img src="%{ARCHIVES_DIR}{sub_photo02@path}" style="width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<input type="hidden" name="sub_photo02@old" value="{sub_photo02@path}"><br>
	<div class="acms-admin-form-checkbox">
		<input type="checkbox" name="sub_photo02@edit" value="delete" id="input-checkbox-sub_photo02">
		<label for="input-checkbox-sub_photo02">
			<i class="acms-admin-ico-checkbox"></i> 削除
		</label>
	</div>
	<!-- END sub_photo02@path:veil -->
	<input type="file" name="sub_photo02" id="input-img-sub_photo02" class="js-img_resize_input"><br>
	<input type="hidden" name="field[]" value="sub_photo02">
	<input type="hidden" name="sub_photo02:extension" value="image">
	<input type="hidden" name="sub_photo02@size" value="276">
	<input type="hidden" name="sub_photo02@largeWidth" value="1716">
	<input type="hidden" name="sub_photo02@filename" value="">
	<input type="text" name="sub_caption02" value="{sub_caption02}" placeholder="キャプション" class="acms-admin-form-width-full">
	<input type="hidden" name="field[]" value="sub_caption02">
</div>

<div class="acms-admin-col-md-4 acms-admin-margin-bottom-medium js-img_resize_cf">
	<h3><label for="input-img-sub_photo03">サブイメージ3</label></h3>
	<!-- BEGIN_IF [{sub_photo03@path}/em] -->
	<img src="" style="display:none;width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<!-- END_IF -->
	<!-- BEGIN sub_photo03@path:veil -->
	<img src="%{ARCHIVES_DIR}{sub_photo03@path}" style="width:276px;" class="acms-admin-img-responsive js-img_resize_preview">
	<input type="hidden" name="sub_photo03@old" value="{sub_photo03@path}"><br>
	<div class="acms-admin-form-checkbox">
		<input type="checkbox" name="sub_photo03@edit" value="delete" id="input-checkbox-sub_photo03">
		<label for="input-checkbox-sub_photo03" class="acms-admin-form-checkbox">
			<i class="acms-admin-ico-checkbox"></i> 削除
		</label>
	</div>
	<!-- END sub_photo03@path:veil -->
	<input type="file" name="sub_photo03" id="input-img-sub_photo03" class="js-img_resize_input"><br>
	<input type="hidden" name="field[]" value="sub_photo03">
	<input type="hidden" name="sub_photo03:extension" value="image">
	<input type="hidden" name="sub_photo03@size" value="276">
	<input type="hidden" name="sub_photo03@largeWidth" value="1716">
	<input type="hidden" name="sub_photo03@filename" value="">
	<input type="text" name="sub_caption03" value="{sub_caption03}" placeholder="キャプション" class="acms-admin-form-width-full">
	<input type="hidden" name="field[]" value="sub_caption03">
</div>

<div style="margin: 10px;" class="acms-admin-table-responsive">
	<table class="acms-admin-table acms-admin-table-bordered">
		<tr>
			<th><label for="input-text-address">所在地</label></th>
			<th><label for="input-text-station">最寄駅</label></th>
			<th><label for="input-text-toho">徒歩</label></th>
			<th><label for="input-text-kubun">区分</label></th>
			<th colspan="2"><label for="input-text-kai">階</label>/<label for="input-text-kaidate">階建</label></th>
		</tr>
		<tr>
			<td><input type="text" name="address" value="{address}" size="20" id="input-text-address">
			<input type="hidden" name="field[]" value="address"></td>
			<td><select name="station" id="input-text-station">
				<option value="">未設定</option>
				<option value="あの駅"{station:selected#あの駅}>あの駅</option>
				<option value="この駅"{station:selected#この駅}>この駅</option>
				<option value="その駅"{station:selected#その駅}>その駅</option>
			</select>
			<input type="hidden" name="field[]" value="station"></td>
			<td><input type="text" name="toho" value="{toho}" size="5" id="input-text-toho">分
			<input type="hidden" name="field[]" value="toho">
			<input type="hidden" name="toho:c" value="a">
			</td>
			<td><select name="kubun" id="input-text-kubun">
				<option value="">未設定</option>
				<option value="一戸建て"{kubun:selected#一戸建て}>一戸建て</option>
				<option value="マンション"{kubun:selected#マンション}>マンション</option>
				<option value="アパート"{kubun:selected#アパート}>アパート</option>
			</select>
			<input type="hidden" name="field[]" value="kubun"></td>
			<td><input type="text" name="kai" value="{kai}" size="3" id="input-text-kai">階
			<input type="hidden" name="field[]" value="kai">
			<input type="hidden" name="kai:c" value="a">
			</td>
			<td><input type="text" name="kaidate" value="{kaidate}" size="3" id="input-text-kaidate">階建
			<input type="hidden" name="field[]" value="kaidate">
			<input type="hidden" name="kaidate:c" value="a">
			</td>
		</tr>
	</table>
</div>

<div style="margin: 10px;" class="acms-admin-table-responsive">
<table class="acms-admin-table acms-admin-table-bordered">
	<tr>
		<th><label for="input-text-price">家賃</label></th>
		<th><label for="input-text-kanri">管理費等</label></th>
		<th><label for="input-select-shiki">敷金</label>/<label for="input-text-rei">礼金</label></th>
		<th><label for="input-select-madori">間取</label></th>
		<th><label for="input-text-menseki">専有面積</label></th>
		<th><label for="input-text-chikunen">築年数</label></th>
	</tr>
	<tr>
		<td><input type="text" name="price" value="{price}" id="input-text-price" class="acms-admin-form-width-3quarters">円
		<input type="hidden" name="field[]" value="price">
		<input type="hidden" name="price:c" value="a"></td>
		<td><input type="text" name="kanri" value="{kanri}" id="input-text-kanri" class="acms-admin-form-width-3quarters">円
		<input type="hidden" name="field[]" value="kanri">
		<input type="hidden" name="kanri:c" value="a"></td>
		<td class="acms-admin-text-nowrap"><select name="shiki" id="input-select-shiki" class="acms-admin-margin-bottom-mini">
			<option value="無"{shiki:selected#無}>無</option>
			<option value="有"{shiki:selected#有}>有</option>
		</select>
		<input type="hidden" name="field[]" value="shiki">/<select name="rei" id="input-text-rei">
			<option value="無"{rei:selected#無}>無</option>
			<option value="有"{rei:selected#有}>有</option>
		</select>
		<input type="hidden" name="field[]" value="rei"></td>
		<td><select name="madori" id="input-select-madori">
			<option value=""></option>
			<!-- <option value="ワンルーム"{madori:selected#ワンルーム}>ワンルーム</option> -->
			<option value="1K"{madori:selected#1K}>1K</option>
			<option value="1DK"{madori:selected#1DK}>1DK</option>
			<option value="1LDK"{madori:selected#1LDK}>1LDK</option>
			<option value="2K"{madori:selected#2K}>2K</option>
			<option value="2DK"{madori:selected#2DK}>2DK</option>
			<option value="2LDK"{madori:selected#2LDK}>2LDK</option>
			<option value="3K"{madori:selected#3K}>3K</option>
			<option value="3DK"{madori:selected#3DK}>3DK</option>
			<option value="3LDK"{madori:selected#3LDK}>3LDK</option>
			<option value="4K"{madori:selected#4K}>4K</option>
			<option value="4DK"{madori:selected#4DK}>4DK</option>
			<option value="4LDK"{madori:selected#4LDK}>4LDK</option>
			<!-- <option value="4LDK以上"{madori:selected#4LDK以上}>4LDK以上</option> -->
		</select>
		<input type="hidden" name="field[]" value="madori"></td>
		<td><input type="text" name="menseki" value="{menseki}" id="input-text-menseki" class="acms-admin-form-width-3quarters"><span class="acms-admin-form-side">m<sup>2</sup></span>
		<input type="hidden" name="field[]" value="menseki">
		<input type="hidden" name="menseki:c" value="a"></td>
		<td><input type="text" name="chikunen" value="{chikunen}" id="input-text-chikunen" class="acms-admin-form-width-3quarters">年
		<input type="hidden" name="field[]" value="chikunen">
		<input type="hidden" name="chikunen:c" value="a"></td>
	</tr>
</table>
</div>

<div class="realestate-map realestate-map-entry js-map-editable" style="margin: 10px;">
<h3>地図</h3>


	<div class="acms-admin-margin-bottom-mini">
		<img class="js-map_editable-container" src="http://maps.google.com/maps/api/staticmap?center=35.185574,136.899066&zoom=10&size=818x300&maptype=roadmap&markers=35.185574,136.899066&key=%{GOOGLE_API_KEY}" width="818" height="300" style="display:block;">
	</div>
	<p>
	<label for="input-text-map_lat">緯度</label> <input type="text" name="map_lat" value="{map_lat}" size="9" id="input-text-map_lat" class="js-map_editable-lat">
	<label for="input-text-map_lng">経度</label> <input type="text" name="map_lng" value="{map_lng}" size="10" id="input-text-map_lng" class="js-map_editable-lng">
	<label for="input-text-map_zoom">ズーム</label> <input type="text" name="map_zoom" value="{map_zoom}" size="5" id="input-text-map_zoom" class="js-map_editable-zoom">
	<input type="hidden" name="field[]" value="map_lat">
	<input type="hidden" name="field[]" value="map_lng">
	<input type="hidden" name="field[]" value="map_zoom">
	<label for="input-text-map-search">検索</label> <input type="text" name="" value="" id="input-text-map-search" class="js-editable_map-search_text" disabled="disabled" size="35">
	<input type="button" name="" value="検索" class="js-editable_map-search_button acms-admin-btn" disabled="disabled">
	</p>

</div>