<span class="js-tag_insertion">
<!--<p> -->

	<a href="#" class="emoji-trigger-tag" rel="a" title="リンク先のURLを入力してください"><!--T-->リンク<!--/T--></a>
	<a href="#" class="emoji-trigger-tag" rel="strong"><!--T-->太字<!--/T--></a>
  <a href="#" class="emoji-trigger-tag" rel="code"><!--T-->タグ<!--/T--></a>
	<!-- 文字色 -->
	<a href="#" class="emoji-trigger-text" rel="under-line"><span class="under-line">下線</span></a>
	<a href="#" class="emoji-trigger-text" rel="key"><span class="key">Key</span></a>
	<a href="#" class="emoji-trigger-text" rel="dir"><span class="dir">ディレクトリ</span></a>
	<br />
<!--</p> -->
</span>
