<!-- BEGIN_MODULE Category_EntrySummary id="{{module_id}}" -->
<div>
@include("/admin/module/setting.html")
<!-- BEGIN categoryEntryList:loop --><!-- BEGIN categoryUl#front -->
<!-- END categoryUl#front --><!-- BEGIN category:loop --><section class="module-section {category:loop.class}">
<div class="module-header clearfix">
    <h2 id="category_entry_summary-{{module_id}}-{categoryCode}" class="module-heading"><a href="{categoryUrl}">{categoryName}</a></h2>
</div>
<!-- BEGIN notFound --><!-- END notFound -->
<ul class="summary-default clearfix" aria-labelledby="category_entry_summary-{{module_id}}-{categoryCode}">
    <!-- BEGIN unit:loop -->
    <!-- BEGIN entry:loop -->
    <li class="summary-default-item js-autoheight-r js-biggerlink {entry:loop.class}">
        <div class="acms-summary">
            <div class="summary-default-entry-image-wrap acms-summary-image">
                <!-- BEGIN image:veil -->
                <img src="%{ROOT_DIR}{path}[resizeImg(120,120)]" width="120" height="120" alt=""><!-- END image:veil --><!-- BEGIN noimage -->
                <img src="/images/noImage.png" width="120" height="120" alt="" />
                <!-- END noimage -->
            </div>
            <div class="acms-summary-body">
                <p class="summaryTitle acms-summary-heading"><a href="{url}">{title}</a></p>
                <p class="summary-detail">{summary}[trim(500, '...')]</p>
            </div>
        </div>
    </li><!-- END entry:loop -->
    <!-- END unit:loop -->

    <!-- END category:loop --><!-- BEGIN categoryLi#rear -->
</ul></section><!-- END categoryLi#rear --><!-- BEGIN categoryUl#rear --><!-- END categoryUl#rear -->
<!-- END categoryEntryList:loop -->
</div>
<!-- END_MODULE Category_EntrySummary -->