<!-- BEGIN_MODULE Category_List id="{{module_id}}" -->
<section class="module-section">
	@include("/admin/module/setting.html")
	<div class="module-header clearfix">
		<h2 id="category_list-{{module_id}}" class="module-heading">カテゴリーリスト</h2>
	</div>
	<div class="category-list">
		<!-- BEGIN category:loop --><!-- BEGIN ul#front -->
		<ul class="acms-list-group" aria-labelledby="category_list-{{module_id}}"><!-- END ul#front --><!-- BEGIN li#front -->
			<li><!-- END li#front --><!-- BEGIN category:veil -->
				<a href="{url}" class="acms-list-group-item">{name}</a><!-- BEGIN amount:veil --><!-- END amount:veil --><!-- END category:veil --><!-- BEGIN li#rear -->
			</li><!-- END li#rear --><!-- BEGIN ul#rear -->
		</ul><!-- END ul#rear --><!-- END category:loop -->
	</div>
</section>
<!-- END_MODULE Category_List -->