<h3 class="acms-admin-admin-title2">会社情報</h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><label for="input-text-company_name">会社名</label><i data-acms-tooltip="会社名を設定します。" class="acms-admin-icon-tooltip js-acms-tooltip"></i></th>
		<td>
			<input type="text" name="company_name" value="{company_name}" id="input-text-company_name" class="acms-admin-form-width-large" />
			<input type="hidden" name="field[]" value="company_name" />
		</td>
	</tr>
	<tr>
		<th><label for="input-text-zip">郵便番号</label><i data-acms-tooltip="郵便番号を設定します。" class="acms-admin-icon-tooltip js-acms-tooltip"></i></th>
		<td>
			<input type="text" name="zip" value="{zip}" size="10" id="input-text-zip" />
			<input type="hidden" name="field[]" value="zip" />
		</td>
	</tr>
	<tr>
		<th><label for="input-text-address">住所</label><i data-acms-tooltip="住所を設定します。" class="acms-admin-icon-tooltip js-acms-tooltip"></i></th>
		<td>
			<input type="text" name="address" value="{address}" id="input-text-address" class="acms-admin-form-width-large" />
			<input type="hidden" name="field[]" value="address" />
		</td>
	</tr>
	<tr>
		<th><label for="input-text-tel">電話番号</label><i data-acms-tooltip="電話番号を設定します。" class="acms-admin-icon-tooltip js-acms-tooltip"></i></th>
		<td>
			<input type="text" name="tel" value="{tel}" id="input-text-tel" class="acms-admin-form-width-large" />
			<input type="hidden" name="field[]" value="tel" />
		</td>
	</tr>
	<tr>
		<th><label for="input-text-tel_time">電話の受付時間</label><i data-acms-tooltip="電話の受付時間を設定します。" class="acms-admin-icon-tooltip js-acms-tooltip"></i></th>
		<td>
			<input type="text" name="tel_time" value="{tel_time}" id="input-text-tel_time" class="acms-admin-form-width-large" />
			<input type="hidden" name="field[]" value="tel_time" />
		</td>
	</tr>
</table>