<script>
  ACMS.Ready(function() {
    ACMS.Config.LiteEditorConf.btnOptions.push({
        label: '下線',
        tag: 'span',
        className: 'under-line'
      },
      {
        label: 'キーボード',
        tag: 'span',
        className: 'key'
      });
  });
</script>
<!-- <script src="/js/development.js" charset="UTF-8"></script> -->
<!-- 変数の読み込み -->
<!--##include file="/admin/vars_field.html" -->
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>目次前のテキスト</th>
    <td>
      <textarea name="before_agenda" class="acms-admin-form-width-full">{before_agenda}</textarea>
      <input type="hidden" name="field[]" value="before_agenda" />
    </td>
  </tr>１
</table>
<!-- SEOの設定 -->
<!--#include file="/admin/entry/field_seo.html" -->
<!-- OGPの設定 -->
<!--#include file="/admin/entry/field_ogp.html" -->

<!-- URLコンテキスト別 -->
<!--#include file="/admin/entry/bcd_%{BCD}.html" -->
<!--#include file="/admin/entry/rccd_%{RCCD}.html" -->
<!--#include file="/admin/entry/ccd_%{CCD}.html" -->
