<!--<script src="%{JS_LIB_JQUERY_DIR}jquery-%{JS_LIB_JQUERY_DIR_VERSION}.min.js" charset="UTF-8"></script>-->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?FjE3TXufQOc%3D&" charset="utf-8"></script>
<script src="/dest/google-code-prettify/run_prettify.js"></script>
<script src="https://use.fontawesome.com/28aefb05de.js"></script>
<script src="/dest/animatedModal.min.js"></script>
<script src="/dest/bundle.js" charset="UTF-8"></script>
<script>
  $(function(){
    $("#modal").animatedModal({
        color: '#fff',
        animatedIn: 'fadeIn',
        animatedOut: 'fadeOut'
    });
  });
</script>
