<!-- BEGIN edit_inplace --><div class="{class}" ></div><!-- END edit_inplace -->
<!-- BEGIN unit:loop --><!-- BEGIN unitGroup#rear -->
</div><!-- END unitGroup#rear --><!-- BEGIN unitGroup#front -->
<div class="js-unit_group-align acms-entry-unit-full {class}"><!-- END unitGroup#front --><!-- BEGIN inplace#front --><!-- BEGIN_MODULE Touch_SessionWithContribution -->
<div class="js-edit_inplace align_{unit:loop.align}" data-align="{unit:loop.align}[align2label]" id="{unit:loop.unit_eid}-{unit:loop.utid}"><!-- END_MODULE Touch_SessionWithContribution --><!-- END inplace#front -->
<!-- BEGIN clear -->
<hr class="clearHidden"><!-- END clear --><!-- BEGIN unit#text -->
@section(text-unit)
<!-- テキスト -->
<!-- BEGIN p -->
<p{class}>{text}[raw|nl2br]</p><!-- END p --><!-- BEGIN h2 -->
<h2{class} <!-- BEGIN_IF [{extend_tag}/nem] -->id="{extend_tag}"<!-- END_IF -->>{text}[raw|nl2br]</h2><!-- END h2 --><!-- BEGIN h3 -->
<h3{class} <!-- BEGIN_IF [{extend_tag}/nem] -->id="{extend_tag}"<!-- END_IF -->>{text}[raw|nl2br]</h3><!-- END h3 --><!-- BEGIN h4 -->
<h4{class} <!-- BEGIN_IF [{extend_tag}/nem] -->id="{extend_tag}"<!-- END_IF -->>{text}[raw|nl2br]</h4><!-- END h4 --><!-- BEGIN h5 -->
<h5{class} <!-- BEGIN_IF [{extend_tag}/nem] -->id="{extend_tag}"<!-- END_IF -->>{text}[raw|nl2br]</h5><!-- END h5 --><!-- BEGIN ul -->
<ul{class}>{text}[raw|list]</ul><!-- END ul --><!-- BEGIN ol -->
<ol{class}>{text}[raw|list]</ol><!-- END ol --><!-- BEGIN dl -->
<dl{class}>{text}[raw|definition_list]</dl><!-- END dl --><!-- BEGIN blockquote -->
<div class="entry-container"><blockquote{class}>{text}[raw|nl2br]</blockquote></div><!-- END blockquote --><!-- BEGIN table -->
<div class="entry-container"><table{class}>{text}[raw|table]</table></div><!-- END table --><!-- BEGIN pre -->
<div class="entry-container"><pre{class}>{text}</pre></div><!-- END pre --><!-- BEGIN none -->
{text}[raw]<!-- END none --><!-- BEGIN markdown -->
{text}[raw|markdown]<!-- END markdown --><!-- BEGIN wysiwyg -->
{text}[raw]<!-- END wysiwyg -->

@include("/include/unit/tag-select.html")
@endsection
<!-- END unit#text -->

<!-- BEGIN unit#table -->
@section(table-unit)
<!-- テーブル -->
<div class="column-table-{align}">
	<div class="entry-container">
	{table}[raw]
	</div>
</div>
@endsection
<!-- END unit#table -->

<!-- BEGIN unit#image -->
@section(image-unit)
<!-- 画像 -->
<div class="column-image-{align}{display_size_class}"{display_size}[raw]><!-- BEGIN link#front --><!-- BEGIN_IF [{url}/nem/] -->
	<a href="{url}"{viewer}[raw] data-caption="{caption}[nl2br|delnl]"><!-- END_IF --><!-- END link#front -->
		<img class="js-lazy-load columnImage"
			 src="/images/placeholder/image.svg"
			 data-src="%{HTTP_ROOT}{path}"
			 alt="{alt}[delnl]"
			 width="{x}"
			 height="{y}"><!-- BEGIN link#rear -->
	</a><!-- END link#rear --><!-- BEGIN_IF [{caption}[delnl]/nem] -->
	<p class="caption">{caption}[raw|nl2br]</p><!-- END_IF -->
</div>
@endsection
<!-- END unit#image -->

<!-- BEGIN unit#file -->
@section(file-unit)
<!-- ファイル -->
<div class="column-file-{align} js_notStyle">
	<a href="%{HTTP_ROOT}{path}"><img class="columnIcon" src="%{HTTP_ROOT}{icon}" alt="ファイルを開く" width="{x}" height="{y}"></a>
	<!-- BEGIN_IF [{caption}[delnl]/nem] --><p class="caption">{caption}[raw|nl2br]</p><!-- END_IF -->
</div>
@endsection
<!-- END unit#file -->

<!-- BEGIN unit#osmap -->
@section(osmap-unit)
<!-- Open Street Map -->
<div class="column-map-{align}{display_size_class}"{display_size}[raw]>
	<div class="js-open-street-map" data-lazy="true" data-lat="{lat}" data-lng="{lng}" data-zoom="{zoom}" data-msg="{msgRaw}" style="width: {x}px; height: {y}px;"></div>
</div>
@endsection
<!-- END unit#osmap -->

<!-- BEGIN unit#map -->
@section(map-unit)
<!-- Google Maps -->


<!-- BEGIN_IF [{view_activate}/nem] -->
<div class="column-street-view-{align}{display_size_class}"{display_size}[raw]>
	<div class="js-street-view column-street-view-inner" data-lazy="true" data-lat="{lat}" data-lng="{lng}" data-pitch="{view_pitch}" data-zoom="{view_zoom}" data-heading="{view_heading}"></div>
</div>
<!-- ELSE -->
<div class="column-map-{align}{display_size_class}"{display_size}[raw]>
	@include("/include/gmaps-error.html")
	<img data-lazy="true" src="//maps.googleapis.com/maps/api/staticmap?center={lat},{lng}&zoom={zoom}&size={x}x{y}&maptype=roadmap&markers={lat},{lng}&key=%{GOOGLE_API_KEY}" alt="{msg}" width="{x}" height="{y}" title="クリックで地図が動かせるようになります。">
</div>
<!-- END_IF -->
@endsection
<!-- END unit#map -->

<!-- BEGIN unit#yolp -->
@section(yolp-unit)
<!-- yahoo地図 -->
<div class="column-yolp-{align}{display_size_class}"{display_size}[raw]>
	<!-- BEGIN_IF [%{PROTOCOL}/eq/https] -->
	<img class="js-s2d-yolp-ready" data-lazy="true" src="//map.yahooapis.jp/map/V1/static?appid=%{YAHOO_API_KEY}&lat={lat}&lon={lng}&z={zoom}&width={x}&height={y}&pin={lat},{lng},,red&mode={mode}&style={style}" alt="yahoo map" width="{x}" height="{y}" title="クリックで地図が動かせるようになります。">
	<!-- ELSE -->
	<img class="js-s2d-yolp-ready" data-lazy="true" src="//map.olp.yahooapis.jp/OpenLocalPlatform/V1/static?appid=%{YAHOO_API_KEY}&lat={lat}&lon={lng}&z={zoom}&width={x}&height={y}&pin={lat},{lng},,red&mode={mode}&style={style}" alt="yahoo map" width="{x}" height="{y}" title="クリックで地図が動かせるようになります。">
	<!-- END_IF -->
</div>
@endsection
<!-- END unit#yolp -->

<!-- BEGIN unit#youtube -->
@section(youtube-unit)
<!-- YouTube -->
<div class="column-youtube-{align}{display_size_class}"{display_size}[raw]>
	<div class="column-iframe">
		<iframe width="{x}" height="{y}" src="https://www.youtube.com/embed/{youtubeId}?wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
@endsection
<!-- END unit#youtube -->

<!-- BEGIN unit#video -->
@section(video-unit)
<!-- Video -->
<div class="column-video-{align}{display_size_class}"{display_size}[raw]>
	<div class="column-iframe acms-placeholder-movie">
		<iframe class="js-lazy-load" width="{x}" height="{y}" data-src="https://www.youtube.com/embed/{videoId}?wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
@endsection
<!-- END unit#video -->

<!-- BEGIN unit#eximage -->
@section(eximage-unit)
<!-- 画像URL -->
<div class="column-eximage-{align}{display_size_class}"{display_size}[raw]><!-- BEGIN link#front -->
	<a href="{url}"{viewer}[raw]><!-- END link#front -->
		<img class="js-lazy-load columnImage"
			 src="/images/placeholder/image.svg"
			 data-src="{normal}"
			 alt="{alt}"
			 width="{x}"
			 height="{y}"><!-- BEGIN link#rear -->
	</a><!-- END link#rear --><!-- BEGIN_IF [{caption}[delnl]/nem] -->
	<p class="caption">{caption}[raw|nl2br]</p><!-- END_IF -->
</div>
@endsection
<!-- END unit#eximage -->

<!-- BEGIN unit#media -->
@section(media-unit)
<!-- media -->
<div class="column-media-{align}{display_size_class}"{display_size}[raw]><!-- BEGIN type#image -->
	<!-- BEGIN link#front -->
	<a href="{url}"{viewer}[raw]><!-- END link#front -->
		<img class="js-lazy-load columnImage"
			 src="/images/placeholder/image.svg"
			 data-src="%{HTTP_ROOT}{path}[resizeImg({x})]"
			 alt="{alt}"><!-- BEGIN link#rear -->
	</a><!-- END link#rear --><!-- BEGIN_IF [{caption}[delnl]/nem] -->
	<p class="caption">{caption}[raw|nl2br]</p><!-- END_IF -->

	<!-- END type#image --><!-- BEGIN type#svg -->

	<!-- BEGIN link#front -->
	<a href="{url}"{viewer}[raw]><!-- END link#front -->
		<img class="js-lazy-load columnImage"
			 src="/images/placeholder/image.svg"
			 data-src="%{HTTP_ROOT}{path}"
			 alt="{alt}"
			 width="{x}"><!-- BEGIN link#rear -->
	</a><!-- END link#rear --><!-- BEGIN_IF [{caption}[delnl]/nem] -->
	<p class="caption">{caption}[raw|nl2br]</p><!-- END_IF -->

	<!-- END type#svg --><!-- BEGIN type#file -->
	<a href="{url}" target="_blank"><!-- BEGIN_IF [{thumbnail}/nem/_and_/{use_icon}/neq/yes] -->
		<img class="column-media-pdf-image" src="%{MEDIA_ARCHIVES_DIR}{thumbnail}" alt="{alt}">
		<!-- ELSE -->
		<img class="columnIcon" src="%{HTTP_ROOT}{icon}" alt="{alt}" width="{x}" height="{y}">
		<!-- END_IF -->
	</a>
	<!-- BEGIN_IF [{caption}[delnl]/nem] -->
	<p class="caption">{caption}[raw|nl2br]</p>
	<!-- END_IF -->
	<!-- END type#file -->
</div>
@endsection
<!-- END unit#media -->

<!-- BEGIN unit#rich-editor -->
@section(rich-editor)
<div>{html}[raw]</div>
@endsection
<!-- END unit#rich-editor -->

<!-- BEGIN unit#quote -->
@section(quote-unit)
<!-- 引用 -->
<div class="column-quote-{align}"{display_size}[raw]><!-- BEGIN html:veil -->
	{quote_html}[raw]<!-- END html:veil --><!-- BEGIN_IF [{quote_title}/nem/] -->
	<blockquote class="js-biggerlink"><!-- BEGIN image:veil -->
		<div class="quoteImageContainer">
			<img src="{quote_image}" class="quoteImage" width="154" alt="">
		</div><!-- END image:veil -->
		<div>
			<p class="quoteTitle"><a href="{quote_url}" class="quoteTitleLink">{quote_title}</a></p><!-- BEGIN description:veil --><!-- BEGIN site_name:veil -->
			<p class="quoteSiteName">{quote_site_name}</p><!-- END site_name:veil -->
			<p class="quoteDescription">{quote_description}[raw|trim(180, '...')]</p><!-- END description:veil -->
		</div>
		<hr class="clearHidden">
	</blockquote><!-- END_IF -->
</div>
@endsection
<!-- END unit#quote -->

<!-- BEGIN unit#module -->
@section(module-unit)
<!-- モジュール -->
<div class="column-module">
	{view}[raw]
</div>
@endsection
<!-- END unit#module -->

<!-- BEGIN unit#break -->
@section(break-unit)
<!-- 改ページ -->
<!-- {label} -->
@endsection
<!-- END unit#break -->

<!-- BEGIN unit#custom -->
@section(custom-unit)
<!-- カスタム -->
@include("/include/unit/custom.html")
@endsection
<!-- END unit#custom -->

@include("/include/unit/extend.html")

<!-- BEGIN inplace#rear --><!-- BEGIN_MODULE Touch_SessionWithContribution --></div><!-- END_MODULE Touch_SessionWithContribution --><!-- END inplace#rear -->
<!-- BEGIN unitGroup#last --></div><!-- END unitGroup#last -->
<!-- END unit:loop -->
