@extends("/layouts/one-column.html")

@section("head-meta")
@parent
<meta name="robots" content="noindex,nofollow,noarchive">
@endsection

@section("head-link")
@parent
<link href="/js/slick/slick.css" rel="stylesheet">
@endsection

@section("head-js")
@parent
<script src="/js/slick/slick.js" charset="UTF-8"></script>
<script src="/js/top.js" charset="UTF-8"></script>
@endsection

@section("main")
<!-- メインイメージ -->
@include("/include/header/topImage.html")

<div class="acms-container">
	<div class="acms-grid">
		<!-- メイン -->
		<main class="acms-col-md-9 main">

			<!-- エントリーヘッドライン（トップ用） -->
			@include("/include/entry/headline.html", {"module_id": "top_headline"})

			<!-- エントリーサマリー -->
			@include("/include/entry/summary.html", {"module_id": "top_summary"})

			<!-- エントリーサマリー（画像メイン表示） -->
			@include("/include/entry/summary_image.html", {"module_id": "summary_index", "message": "ここにメッセージを入れることができます。"})

			<!-- エントリーボディ（日付無し） -->
			@include("/include/entry/body.html", {"module_id": "body_no_date"})

		</main>
		<div class="acms-col-md-3 sub">
			<!-- エントリーリスト -->
			@include("/include/entry/entry-list.html", {"module_id": "entry_list"})
			<!-- カテゴリーリスト -->
			@include("/include/category/list.html", {"module_id": "category_list"})
			<!-- オフキャンバス -->
			@include("/include/parts/offcanvas.html")
		</div>
	</div>
</div>
@endsection
