@extends("/layouts/one-column.html")

@section("head-link")
@parent
<link href="/js/slick/slick.css" rel="stylesheet">
@endsection

@section("head-js")
@parent
<script src="/js/slick/slick.js" charset="UTF-8"></script>
<script src="/js/top.js" charset="UTF-8"></script>
@endsection

@section("topic-path")
@endsection

@section("main")
<!-- トップイメージ -->
@include("/include/header/topImage.html")

<div class="acms-container">
	<div class="acms-grid">
		<main class="acms-col-lg-9 main">

			<!-- エントリーヘッドライン（トップ用） -->
			@include("/include/entry/headline.html", {"module_id": "top_headline"})

			<!-- エントリーサマリー -->
			@include("/include/entry/summary.html", {"module_id": "top_summary"})

			<!-- 確認用テンプレート -->
			@include("/include/check-seo.html")

		</main>
		<div class="acms-col-lg-3 sub">
			<!-- オフキャンバス -->
			@include("/include/parts/offcanvas.html")
		</div>
	</div>
</div>
@endsection
