<!-- BEGIN unit#custom_AddLink -->
<ul class="c-emphasis-link {entry_add_link_detail}">
  <!-- BEGIN entry_add_link:loop -->
  <li class="c-emphasis-link__item">
    <!-- BEGIN_IF [{entry_add_link_url}/nem/] -->
    <a href="{entry_add_link_url}" class="c-emphasis-link__url"><!-- END_IF -->{entry_add_link_text}<!-- BEGIN_IF [{entry_add_link_url}/nem/] --></a><!-- END_IF -->
  </li>
  <!-- END entry_add_link:loop -->
</ul>
<!-- END unit#custom_AddLink -->

<!-- BEGIN unit#custom_source -->
<div class="entry-container"><pre class="source-hidden"><code>{custom_source_hidden}</code></pre></div>
<!-- END unit#custom_source -->
