/* ------------------------------
 グリッドシステム
------------------------------- */
.acms-container {
  box-sizing: border-box;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.acms-grid,
.acms-grid-r {
  margin-right: -10px;
  margin-left: -10px;
}
.acms-grid:before,
.acms-grid:after,
.acms-grid-r:before,
.acms-grid-r:after {
  display: table;
  content: " ";
}
.acms-grid:after,
.acms-grid-r:after {
  clear: both;
}

.acms-grid-negative {
  margin-right: 0;
  margin-left: 0;
}

[class*="acms-col"] {
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .acms-grid,
  .acms-grid-r {
    margin-right: -10px;
    margin-left: -10px;
  }
  [class*="acms-col"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}

[class*="acms-col"],
[class*="acms-col"]:before,
[class*="acms-col"]:after {
  box-sizing: border-box;
}

/* ------------------------------
 ユーティリティ
------------------------------- */
.clearHidden {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  margin: 0;
  border: none;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.clearfix {
  zoom: 1;

  _display: inline-table;
}

/* ------------------------------
 ユニットグループ
------------------------------- */
.clearHidden {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  margin: 0;
  border: none;
}

/* ---------------
 動的フォーム
--------------- */
/* ---------------
 エントリー内 主な要素
--------------- */
.acms-entry {
  /* ユニットの要素の位置調整 */
}
.acms-entry [class*=acms-col-] {
  padding: 0;
}
.acms-entry h2,
.acms-entry h3,
.acms-entry h4,
.acms-entry h5,
.acms-entry h6,
.acms-entry dl {
  margin-right: 10px;
  margin-left: 10px;
}
.acms-entry p {
  margin-right: 10px;
  margin-left: 10px;
}
.acms-entry .entry-container {
  margin-right: 10px;
  margin-left: 10px;
}
.acms-entry blockquote {
  margin: 0 0 15px 0;
  padding: 10px 20px;
  border-left: solid 5px #CCC;
}

/* ---------------
 各コンテンツ(画像、地図、動画など)表示設定
--------------- */
/* 添付画像配置（おまかせ） */
/* 添付画像配置（左） */
.column-image-left,
.column-media-left {
  display: inline;
  float: left;
  margin-bottom: 10px;
}

/* 添付画像配置（右） */
.column-image-right,
.column-media-right {
  display: inline;
  float: right;
  margin-bottom: 10px;
}

/* 添付画像配置（中央） */
.column-image-center,
.column-media-center {
  float: none;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
}

/* ファイル配置（おまかせ） */
.column-file-auto {
  margin-left: 10px;
}
.column-file-auto + .caption {
  margin-left: 10px;
}

/* ファイル配置（左） */
.column-file-left {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.column-file-left + .caption {
  text-align: left;
}

/* ファイル配置（右） */
.column-file-right {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.column-file-right + .caption {
  text-align: right;
}

/* ファイル配置（中央） */
.column-file-center {
  float: none;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
}
.column-file-center + .caption {
  text-align: center;
}

/* 地図配置（おまかせ） */
.column-map-auto {
  margin-bottom: 10px;
}

/* 地図配置（左） */
.column-map-left {
  float: left;
  margin-bottom: 10px;
}

/* 地図配置（右） */
.column-map-right {
  float: right;
  margin-bottom: 10px;
}

/* 地図配置（中央） */
.column-map-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

/* yahoo地図配置（おまかせ） */
.column-yolp-auto {
  margin-bottom: 10px;
}

/* yahoo地図配置（左） */
.column-yolp-left {
  float: left;
  margin-bottom: 10px;
}

/* yahoo地図配置（右） */
.column-yolp-right {
  float: right;
  margin-bottom: 10px;
}

/* yahoo地図配置（中央） */
.column-yolp-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

/* YouTube配置 (おまかせ) */
/* YouTube配置 (左) */
.column-youtube-left,
.column-video-left {
  display: inline;
  float: left;
}

/* YouTube配置 (右) */
.column-youtube-right,
.column-video-right {
  display: inline;
  float: right;
}

/* YouTube配置 (中央) */
.column-youtube-center,
.column-video-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

/* 画像URL配置（おまかせ） */
/* 画像URL配置（左） */
.column-eximage-left {
  display: inline;
  float: left;
}

/* 画像URL配置（右） */
.column-eximage-right {
  display: inline;
  float: right;
}

/* 画像URL配置（中央） */
.column-eximage-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* 引用配置（おまかせ） */
/* 引用配置（左） */
.column-quote-left {
  float: left;
}

/* 引用配置（右） */
.column-quote-right {
  float: right;
}

.column-quote-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

[class*="column-quote-"] {
  margin-right: 10px;
  margin-left: 10px;
  /* 引用ユニット画像 */
  /* 引用ユニットテキスト */
}
[class*="column-quote-"] blockquote {
  padding: 20px 10px 20px 20px;
}
[class*="column-quote-"] .quoteImageContainer {
  position: relative;
  float: left;
  max-width: 154px;
  margin-right: 25px;
}
[class*="column-quote-"] .quoteImage {
  display: block;
  max-width: 100%;
  height: auto;
}
[class*="column-quote-"] .quoteTitle {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
}
[class*="column-quote-"] .quoteTitleLink {
  color: #006CD8;
}
[class*="column-quote-"] .quoteSiteName {
  margin: 0 0 10px 0;
  padding: 0;
  color: #666;
  font-size: 11px;
}
[class*="column-quote-"] .quoteDescription {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 1.6;
}

/* 画像の最大幅 */
[class*="column-image-"],
[class*="column-media-"] {
  max-width: 100%;
}

/* メディア リンク */
[class*="column-media-"] a {
  display: block;
  text-align: center;
}

/* ユニットのガターの間隔 */
.acms-entry [class*="column-image-"],
.acms-entry [class*="column-media-"],
.acms-entry [class*="column-yolp-"],
.acms-entry [class*="column-youtube-"],
.acms-entry [class*="column-video-"],
.acms-entry [class*="column-eximage-"] {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.acms-entry [class*="column-map-"] {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.acms-entry [class*="column-map-"] > div {
  max-width: 100%;
}

.acms-entry [class*="column-image-"],
.acms-entry [class*="column-media-"],
.acms-entry [class*="column-eximage-"] {
  display: block;
  margin-bottom: 10px;
}
.acms-entry [class*="column-image-"] a,
.acms-entry [class*="column-media-"] a,
.acms-entry [class*="column-eximage-"] a {
  display: block;
}
.acms-entry [class*="column-image-"] .caption,
.acms-entry [class*="column-media-"] .caption,
.acms-entry [class*="column-eximage-"] .caption {
  padding: 0;
}

.acms-entry [class*="column-image-"].nocaption,
.acms-entry [class*="column-media-"].nocaption,
.acms-entry [class*="column-eximage-"].nocaption,
.acms-entry [class*="column-yolp-"],
.acms-entry [class*="column-youtube-"],
.acms-entry [class*="column-video-"] {
  margin-bottom: 20px;
}

.acms-entry .column-image-auto,
.acms-entry .column-media-auto,
.acms-entry .column-eximage-auto,
.acms-entry .column-yolp-auto,
.acms-entry .column-youtube-auto,
.acms-entry .column-video-auto {
  float: none;
}

[class*="column-image-"] img,
[class*="column-media-"] img,
[class*="column-eximage-"] img {
  max-width: 100%;
  width: auto\9;
  height: auto;
}

/* 画像左寄せ */
.column-image-left,
.column-media-left,
.column-eximage-left {
  float: left;
}

/* スマートフォンのときのエントリー内スタイル */
@media (max-width: 479px) {
  /* エントリー内画像サイズ */
  .acms-entry [class*="column-image-"],
  .acms-entry [class*="column-media-"],
  .acms-entry [class*="column-eximage-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
  .acms-entry [class*="column-image-"] img,
  .acms-entry [class*="column-media-"] img,
  .acms-entry [class*="column-eximage-"] img {
    box-sizing: border-box;
    padding: 0;
  }
  [class*="column-map-"],
  [class*="column-yolp-"] {
    max-width: 100%;
    width: auto;
  }
  [class*="column-map-"] > div,
  [class*="column-yolp-"] > div {
    max-width: 100%;
  }
  [class*="column-yolp-"] > div {
    width: 100%;
  }
  [class*="column-eximage-"] {
    width: auto;
  }
  [class*="column-youtube-"],
  [class*="column-video-"] {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.acms-entry-unit-full [class*="column-image-"],
.acms-entry-unit-full [class*="column-media-"],
.acms-entry-unit-full [class*="column-map-"],
.acms-entry-unit-full [class*="column-eximage-"],
.acms-entry-unit-full [class*="column-youtube-"],
.acms-entry-unit-full [class*="column-video-"] {
  max-width: 100%;
  width: auto;
}

/* YouTube動画をレスポンシブ対応させるための記述 */
.column-youtube,
.column-iframe {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 56.25%;
}
.column-youtube iframe,
.column-youtube object,
.column-youtube embed,
.column-iframe iframe,
.column-iframe object,
.column-iframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*="column-map-"] > img {
  max-width: 100%;
}

/* 地図ユニットのアイコンの調整 */
[class*="column-map-"] img,
[class*="column-yolp-"] img {
  width: auto;
  height: auto;
}

/* Yahoo地図 */
[class*="column-yolp-"] {
  width: auto;
}

/* ---------------
 ユニット
--------------- */
.entryFormColumnBody .entryFormFileentryFormImages,
.entryFormColumnBody .formColumnMapTd {
  padding-right: 10px;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

/* ------------------------------
　　ベース
------------------------------ */
html {
  height: 100%;
}

body {
  margin: 0;
  color: #3D3838;
  font-family: "FOT-ロダンカトレア Pro M", Arial, Helvetica, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.7;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/* リンクの設定 */
a {
  border: none;
  color: #006DD9;
  text-decoration: none;
}

a:visited {
  color: #006DD9;
  text-decoration: none;
}

a:active {
  color: #006DD9;
  text-decoration: none;
}

a:hover {
  color: #006DD9;
  text-decoration: underline;
}

/* コンテナー */
.acms-container {
  max-width: 900px;
  padding-right: calc(constant(safe-area-inset-right) + 15px);
  padding-left: calc(constant(safe-area-inset-left) + 15px);
}
.acms-container .acms-container {
  padding: 0;
}

.acms-grid,
.acms-grid-r {
  margin-right: -15px;
  margin-left: -15px;
}

.c-narrow-container {
  max-width: 960px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.c-narrow-container-md {
  max-width: 750px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 900px) {
  .sp-container .sp-container {
    padding: 0;
  }
  .sp-container .acms-container .sp-container {
    padding: 0;
  }
}

/* ------------------------------
　　ヘッダー
------------------------------ */
.js-offcanvas {
  display: none;
}

.l-header {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  padding: 50px 0 35px;
  color: #FFF;
  text-align: center;
}
.l-header .c-header-filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(54, 92, 152, .5);
}
.l-header h1 {
  position: relative;
  z-index: 1;
  margin: 0;
}
.l-header .c-logo {
  margin-bottom: 20px;
}
.l-header .c-logo p {
  margin: 0;
}
.l-header .c-logo.-index {
  margin-bottom: 0;
}
.l-header .p-header-fixed .c-logo {
  float: left;
  margin-top: 8px;
  text-align: left;
}

header.l-header.--index {
  margin-bottom: 0;
  padding: 0;
  background-image: none;
}

.c-global-nav {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;

  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-global-nav .c-global-nav__item {
  z-index: 9999;
  margin: 0 15px;
}
.c-global-nav .c-global-nav__item.-top a {
  padding: 6px 12px;
  color: #5E9CC9;
  font-size: 14px;
  font-weight: bold;
  transition: all .2s;
}
.c-global-nav .c-global-nav__item.-top a:hover {
  opacity: .5;
  text-decoration: none;
}
.c-global-nav .c-global-nav__item.-top a::before {
  padding-right: 10px;
  font-family: "FontAwesome";
  content: "";
}
.c-global-nav.-offcanvas {
  display: block;
}
.c-global-nav.-offcanvas .c-global-nav__item {
  padding: 15px;
  border-bottom: 1px solid #DDD;
}
.c-global-nav.-offcanvas .c-global-nav__item:nth-child(2) {
  margin: 0;
}
.c-global-nav.-offcanvas .c-global-nav__item a,
.c-global-nav.-offcanvas .c-global-nav__item span,
.c-global-nav.-offcanvas .c-global-nav__item i {
  color: #444;
}

@media screen and (max-width: 767px) {
  .l-header {
    margin-bottom: 0;
    padding: 26px 0 0;
  }
  .l-header .c-logo img {
    width: 200px;
  }
  .l-header .c-logo.-index {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .l-header .p-header-fixed .c-logo {
    margin-top: 14px;
  }
  .l-header .c-header-search__container {
    width: 50px;
    height: 50px;
  }
  .l-header .c-header-search__container .fa-search {
    top: 7px;
    left: 11px;
  }
  .c-global-nav {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .l-header .c-logo img {
    width: 150px;
  }
}

.p-header-fixed__btn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 60px;
  height: 20px;
  color: #5E9CC9;
  text-align: center;
}

.p-header-fixed__btn-icon {
  font-size: 28px;
}

.p-header-fixed__btn-text {
  display: block;
  font-size: 9px;
}

.l-entry {
  position: relative;
}

/* ------------------------------
　　フッター
------------------------------ */
.l-footer {
  /* フッターのSNS */
}
.l-footer .c-footer-top {
  padding: 50px 0;
  background: linear-gradient(60deg, rgba(55, 111, 152, .3), rgba(70, 221, 199, .3));
}
.l-footer .c-footer-top__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: "FOT-ロダンカトレア Pro DB", "FOT-ロダン Pro L", "Open Sans", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 30px;
  text-align: center;
}
.l-footer .c-footer-bottom {
  clear: both;
  padding: 4px 0;
  color: #888;
  font-size: 14px;
  text-align: center;
}
.l-footer .c-footer-bottom__wrap {
  width: 30%;
  margin: 0 auto;
}
.l-footer .c-footer-sns {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 70%;
  margin: 20px auto;
  padding-left: 0;

  -ms-flex-pack: justify;
  justify-content: space-between;
}
.l-footer .c-footer-sns__item a {
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #888;
  border-radius: 50%;
  color: #888;
  font-size: 20px;
  transition: all .2s;

  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-footer .c-footer-sns__item a:hover {
  opacity: .6;
  text-decoration: none;
}
.l-footer .c-footer-sns__item:before {
  position: absolute;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .l-footer .c-footer-sns {
    padding-left: 0;
  }
  .l-footer .c-footer-bottom__wrap {
    width: 100%;
  }
}
.l-footer .c-footer-bottom-linklist {
  display: -ms-flexbox;
  display: flex;
  margin: 0;

  -ms-flex-pack: center;
  justify-content: center;
}
.l-footer .c-footer-bottom-linklist__link {
  padding: 0 5px;
  color: #888;
  font-size: 12px;
}
.l-footer .c-footer-bottom-linklist__link:hover,
.l-footer .c-footer-bottom-linklist__link:visited {
  color: #888;
}

/* ------------------------------
　　ボタン
------------------------------ */
/* 　ボタン
------------------------------ */
.c-btn {
  display: block;
  overflow: hidden;
  padding: 10px 30px;
  border: 1px solid #333;
  background: #FFF;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  transition: background-color .3s;
}
.c-btn:hover,
.c-btn:visited,
.c-btn:active,
.c-btn:focus {
  color: #333;
  text-decoration: none;
}
.c-btn:hover {
  background: #EEE;
}

/* ------------------------------
　　ranking
------------------------------ */
@keyframes fuwafuwa {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}

.c-ranking {
  list-style: none;
  padding-left: 0;
}

.c-ranking__item {
  padding-bottom: 26px;
}
.c-ranking__item a {
  display: -ms-flexbox;
  display: flex;
  color: #444;
}
.c-ranking__item a:hover {
  text-decoration: none;
}
.c-ranking__item i {
  padding-top: 20px;
  color: #5E9CC9;
}
.c-ranking__item:hover i {
  animation: fuwafuwa .5s ease-in-out infinite alternate;
}
.c-ranking__item:hover .c-ranking__title {
  color: #5E9CC9;
}

.c-ranking__title {
  margin: 0;
  padding: 0 20px;
}

/* ------------------------------
　　tag
------------------------------ */
.c-tags {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px 0;
  color: #A7A7A7;
}
.c-tags__item {
  margin-left: 20px;
}
.c-tags__link {
  color: #A7A7A7;
}

/* ------------------------------
　　ページャー
------------------------------ */
.c-pager {
  list-style: none;
  clear: both;
  margin: 0 -5px 12px -5px;
  padding: 0;
  border-bottom: 5px solid #D9D9D9;
  text-align: center;
}
.c-pager li {
  display: inline-block;
  margin: 0 15px -5px 15px;
  padding: 0 10px 26px 10px;
  line-height: 1;
}
.c-pager li a {
  color: #C1C1C1;
}
.c-pager li:hover a {
  color: #5E9CC9;
}
.c-pager li.cur {
  /* 現在いる位置 */
  border-bottom: 5px solid #5E9CC9;
}
.c-pager li.cur a {
  color: #5E9CC9;
}

.c-entry-all-number {
  color: #C1C1C1;
  text-align: center;
}

.c-pager-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #FFF;
  color: #333;
}
.c-pager-link:visited,
.c-pager-link:focus,
.c-pager-link:active {
  color: #333;
}
.c-pager-link:hover {
  background: #333;
  color: #FFF;
  text-decoration: none;
}

.c-pager-link-forward {
  float: right;
}

.c-pager-link-prev {
  float: left;
}

@media screen and (max-width: 767px) {
  .c-pager {
    margin: 0 -5px 0;
  }
  .c-pager li {
    margin: 0 8px -5px;
    padding: 0 8px 26px;
  }
}

/* 　前後リンク
------------------------------ */
.c-serial-nav {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: -25px 0 30px 0;
  padding: 0 16px;
}
.c-serial-nav a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 10px 15px;
  border: 1px solid #5E9CC9;
  border-radius: 3px;
  border-radius: 3px;
  color: #5E9CC9;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c-serial-nav a:hover,
.c-serial-nav a:focus,
.c-serial-nav a:active {
  border: 1px solid #5E9CC9;
  background: #5E9CC9;
  color: #FFF;
  text-decoration: none;
}

.c-serial-nav-list {
  width: 68px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
.c-serial-nav-list a:hover,
.c-serial-nav-list a:focus,
.c-serial-nav-list a:active {
  border: 1px solid #5E9CC9;
  background: #5E9CC9;
  color: #FFF;
  text-decoration: none;
}

.c-serial-nav-item {
  display: block;
  float: none;
  margin: 0 0 10px 0;
}

.c-serial-nav-index {
  text-align: center;
}
.c-serial-nav-index a {
  display: inline-block;
}

.c-serial-nav-prev {
  text-align: left;
}
.c-serial-nav-prev a {
  padding-left: 9px;
  font-family: "FontAwesome";
}
.c-serial-nav-prev a:before {
  padding-right: 15px;
  content: "";
}

.c-serial-nav-next {
  text-align: right;
}
.c-serial-nav-next a {
  padding-right: 9px;
  font-family: "FontAwesome";
}
.c-serial-nav-next a:after {
  padding-left: 15px;
  content: "";
}

.c-serial-nav-arrow {
  position: absolute;
  color: #5E9CC9;
  font-size: 18px;
  transition: all .2s;
}
.c-serial-nav-prev .c-serial-nav-arrow {
  top: 50%;
  left: 15px;
  margin: -9px 0 0 0;
}
.c-serial-nav-next .c-serial-nav-arrow {
  top: 50%;
  right: 15px;
  margin: -9px 0 0 0;
}

@media screen and (min-width: 768px) {
  .c-serial-nav {
    margin: 0 -15px 60px -15px;
  }
  .c-serial-nav-prev a:hover .c-serial-nav-arrow {
    left: 10px;
  }
  .c-serial-nav-next a:hover .c-serial-nav-arrow {
    right: 10px;
  }
  .c-serial-nav-item {
    box-sizing: border-box;
    padding: 0 15px;
    vertical-align: top;
  }
  .c-serial-nav-prev,
  .c-serial-nav-next {
    -ms-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .c-serial-nav {
    display: inherit;
    margin: 30px 0 30px;
    padding: 0;
  }
  .c-serial-nav-prev {
    margin-bottom: 10px;
    text-align: left;
  }
}

/* ------------------------------
　　ページタイトル
------------------------------ */
/* 　ページタイトル（背景画像つき）
------------------------------ */
.c-pagetitle {
  position: relative;
  margin: -30px 0 60px;
  padding: 30px 0;
  background: linear-gradient(60deg, rgba(55, 111, 152, .3), rgba(70, 221, 199, .3));
  background-size: cover;
  text-align: center;
}
.c-pagetitle__wrap {
  position: relative;
  z-index: 1;
}
.c-pagetitle__affiliation {
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}
.c-pagetitle-inner {
  padding: 35px 0;
}
.c-pagetitle__heading {
  margin: 0;
  font-family: "FOT-ロダンカトレア Pro DB", "FOT-ロダン Pro L", "Open Sans", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 24px;
  line-height: 1.3;
}
.c-pagetitle__amount {
  margin: 0;
}
.c-pagetitle time {
  margin-right: 5px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .c-pagetitle-heading {
    font-size: 28px;
    text-align: left;
  }
}

/*-----
tag
------------*/
.c-tag-cancel {
  margin-left: 10px;
  color: #FFF;
  font-size: 16px;
}

.c-tag-add a {
  margin: 0 10px;
  color: #FFF;
}

/* 　エントリータイトル
------------------------------ */
.c-pagetitle-entry {
  padding-bottom: 20px;
  text-align: center;
}
.c-pagetitle-entry__heading {
  color: #666;
  font-family: "FOT-ロダンカトレア Pro DB", "FOT-ロダン Pro L", "Open Sans", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
.c-pagetitle-entry__date {
  color: #888;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .c-pagetitle-entry {
    text-align: center;
  }
  .c-pagetitle-entry__heading {
    font-size: 26px;
  }
}

/* ------------------------------
　　ranking
------------------------------ */
.c-ranking {
  list-style-type: none;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}
.c-ranking__item {
  margin-bottom: 15px;
  padding: 0;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .7);
}
.c-ranking__item a {
  display: -ms-flexbox;
  display: flex;

  align-items: center;
  -ms-flex-align: center;
}
.c-ranking__item:first-child .c-ranking__title:before,
.c-ranking__item:nth-child(2) .c-ranking__title:before,
.c-ranking__item:nth-child(3) .c-ranking__title:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 12px solid #FB0;
  content: "";
}
.c-ranking__item:first-child .c-ranking__title:after,
.c-ranking__item:nth-child(2) .c-ranking__title:after,
.c-ranking__item:nth-child(3) .c-ranking__title:after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 0;
  height: 0;
  border: 9px solid #FB0;
  border-top: 7px solid transparent;
  border-bottom: 6px solid #F90;
  content: "";
}
.c-ranking__item:nth-child(2) .c-ranking__title:before {
  border-bottom-color: #CCC;
}
.c-ranking__item:nth-child(2) .c-ranking__title:after {
  border-color: #CCC;
  border-top: 7px solid transparent;
  border-bottom-color: #AAA;
}
.c-ranking__item:nth-child(3) .c-ranking__title:before {
  border-bottom-color: #D98;
}
.c-ranking__item:nth-child(3) .c-ranking__title:after {
  border-color: #D98;
  border-top: 7px solid transparent;
  border-bottom-color: #C76;
}
.c-ranking__title {
  position: relative;
  margin: 0;
  padding: 0 20px 0 28px;
  font-size: 18px;
}
.c-ranking__title:before {
  position: absolute;
  top: 4px;
  left: 1px;
  color: #5E9CC9;
  font-size: 16px;
  content: "✔︎";
}
.c-ranking__category {
  color: #9AB;
  font-size: 12px;
}
.c-ranking__img {
  padding-right: 20px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
@media screen and (max-width: 767px) {
  .c-ranking {
    width: 100%;
  }
  .c-ranking__item {
    padding: 10px;
  }
  .c-ranking__img {
    display: none;
  }
  .c-ranking__category:before {
    white-space: pre;
    content: "\A";
  }
}

/* ------------------------------
　　snsボタン
------------------------------ */
.c-sns-list {
  margin-top: 25px;
  text-align: center;
}

.c-sns-list__item {
  display: inline-block;
}

.c-sns-list__item.-facebook {
  line-height: .7;
}

/*
ページ下部
---------------------------*/
.c-entryfooter-sns {
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 5% 0;
  padding: 0;
  font-size: 14px;
}

.c-entryfooter-sns__item {
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;
  transition: all .2s;
}
.c-entryfooter-sns__item:last-child {
  margin-right: 0;
}
.c-entryfooter-sns__item a {
  color: #FFF;
  text-decoration: none;
}

.c-entryfooter-sns__link {
  display: block;
  overflow: hidden;
  position: relative;
  height: 42px;
  outline: none;
  font-family: "FontAwesome";
  text-decoration: none;
  text-align: center;
  line-height: 42px;
}
.c-entryfooter-sns__link:before {
  margin-right: 10px;
  color: #FFF;
}
.c-entryfooter-sns__link:after {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  opacity: 0;
  content: "";
  transform: translate(-50%, -50%);
}
.c-entryfooter-sns__link:hover {
  text-decoration: none;
}

.c-entryfooter-sns__twitter {
  border: 1px solid #55ACEE;
  background: #55ACEE;
}
.c-entryfooter-sns__twitter:before {
  content: "";
}
.c-entryfooter-sns__twitter:hover {
  background: transparent;
  color: #55ACEE;
}
.c-entryfooter-sns__twitter:hover:before {
  color: #55ACEE;
}

.c-entryfooter-sns__facebook {
  border: 1px solid #3B5999;
  background: #3B5999;
}
.c-entryfooter-sns__facebook:before {
  content: "";
}
.c-entryfooter-sns__facebook:hover {
  background: transparent;
  color: #3B5999;
}
.c-entryfooter-sns__facebook:hover:before {
  color: #3B5999;
}

.c-entryfooter-sns__bookmark {
  border: 1px solid #008FDE;
  background: #008FDE;
}
.c-entryfooter-sns__bookmark:before {
  font-family: Verdana;
  font-weight: bold;
  content: "B!";
}
.c-entryfooter-sns__bookmark:hover {
  background: transparent;
  color: #008FDE;
}
.c-entryfooter-sns__bookmark:hover:before {
  color: #008FDE;
}

.c-entryfooter-sns__feed {
  border: 1px solid #2BB24C;
  background: #2BB24C;
}
.c-entryfooter-sns__feed:before {
  content: "";
}
.c-entryfooter-sns__feed:hover {
  background: transparent;
  color: #2BB24C;
}
.c-entryfooter-sns__feed:hover:before {
  color: #2BB24C;
}

.c-entryfooter-sns__pocket {
  border: 1px solid #EF4056;
  background: #EF4056;
}
.c-entryfooter-sns__pocket:before {
  content: "";
}
.c-entryfooter-sns__pocket:hover {
  background: transparent;
  color: #EF4056;
}
.c-entryfooter-sns__pocket:hover:before {
  color: #EF4056;
}

@media screen and (max-width: 767px) {
  .c-entryfooter-sns__link:before {
    margin-right: 0;
  }
}

/* ------------------------------
　　ラベル
------------------------------ */
.c-label-category {
  margin-left: 5px;
}
.c-label-category a {
  padding: 3px;
  border: 1px solid #5E9CC9;
  border-radius: 7px;
  color: #5E9CC9;
  font-size: 12px;
  transition: all .2s;
}
.c-label-category a:hover,
.c-label-category a:visited {
  text-decoration: none;
}
.c-label-category a:hover {
  background-color: #5E9CC9;
  color: #FFF;
}

/* ------------------------------
　　目次
------------------------------ */
.c-agenda {
  margin-bottom: 24px;
}

.c-agenda__heading {
  margin-bottom: 0;
  padding: 12px 0;
  background: #EBEBEB;
  font-size: 18px;
  text-align: center;
}
.c-agenda__heading i {
  margin: 0 0 0 18px;
  color: #5E9CC9;
  font-size: 16px;
}

.c-agenda__listwrap {
  display: -ms-flexbox;
  display: flex;
  background: #F8F7F7;

  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-agenda__list {
  margin: 0 auto;
  padding: 24px;
}

.c-agenda__item {
  line-height: 2;
}
.c-agenda__item a {
  color: #444;
}
.c-agenda__item a:hover {
  color: #5E9CC9;
}

/* ------------------------------
　　エントリー
------------------------------ */
.p-entry {
  margin: 0 0 25px 0;
}
.p-entry:before,
.p-entry:after {
  display: table;
  content: " ";
}
.p-entry:after {
  clear: both;
}

.acms-container {
  padding-right: 15px;
  padding-left: 15px;
}

.c-entry___img {
  width: 100%;
  height: auto;
}

[class*=acms-col] {
  padding: 0;
}

[class*=column-image] {
  margin-bottom: 40px;
  padding: 0 15px;
}

/*-------------------------------
ajax
------------------------------- */
.p-entry-column .key {
  display: inline-block;
  margin: 0 4px;
  padding: 0 10px;
  border: 1px solid #DDD;
  border-bottom: 3px solid #DDD;
  border-radius: 4px;
  background: #FFF;
  color: #666;
  text-align: center;
}

.p-entry-column .under-line {
  position: relative;
  background: linear-gradient(transparent 45%, #FCFC7B 0);
  font-style: normal;
}

.p-entry-column strong {
  font-family: "FOT-ロダンカトレア Pro DB", "FOT-ロダン Pro L", "Open Sans", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: bold;
}

.p-entry-column code {
  margin-right: 5px;
  padding: .2em .4em;
  border: 1px solid #DDD;
  border-radius: 4px;
  background: #EBEBEB;
  color: #444;
  font-family: "Source Code Pro", "Monaco", "Consolas", "Courier New", Courier, monospace, sans-serif;
}

/*  カスタムフィールドのスタイル
------------------------------ */
/*  エントリーのスタイル
------------------------------ */
.p-entry-column {
  color: #3D3838;
  /* 見出し */
  /* 本文 */
  /* エントリー内ボタン */
  /* テーブル */
  /* リスト */
  /* 番号付きリスト */
  /* 引用 */
  /* ソースコード */
  /* 区切り線 */
  /* ユニット */
}
.p-entry-column a:link {
  color: #5E9CC9;
  text-decoration: underline;
}
.p-entry-column a:hover,
.p-entry-column a:focus,
.p-entry-column a:active {
  text-decoration: underline;
}
.p-entry-column a:visited {
  color: #5E9CC9;
  text-decoration: none;
}
.p-entry-column .link-btn a {
  display: inline-block;
  padding: 5px 24px;
  border-radius: 4px;
  background-color: #5E9CC9;
  color: #FFF;
  text-decoration: none;
  transition: all .2s;
}
.p-entry-column .link-btn a:hover {
  background-color: #184566;
  text-decoration: none;
}
.p-entry-column img.columnImage {
  border: 1px solid #EEE;
  border-radius: 7px;
}
.p-entry-column h2,
.p-entry-column h3,
.p-entry-column h4,
.p-entry-column h5 {
  margin: 20px 0;
  font-family: "FOT-ロダンカトレア Pro DB", "FOT-ロダン Pro L", "Open Sans", "-apple-system", "blinkMacSystemFont", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  text-align: left;
}
.p-entry-column h2 {
  margin: 60px 0 40px;
  padding: 0 15px;
  color: #666;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}
.p-entry-column h2:first-letter {
  color: #5E9CC9;
  font-size: 32px;
}
.p-entry-column h3 {
  margin: 20px 15px;
  padding: 8px 0 8px 20px;
  border-radius: 8px;
  background-color: rgba(55, 111, 152, .2);
  font-size: 20px;
  font-weight: normal;
}
.p-entry-column h4 {
  margin: 40px 15px;
  padding: .5em;
  border-bottom: dotted 4px #5E9CC9;
  color: #5E9CC9;
  font-size: 20px;
}
.p-entry-column h5 {
  position: relative;
  margin: 30px 15px;
  padding: 2px 22px 8px 25px;
  border-bottom: 2px solid #5E9CC9;
  font-size: 18px;
}
.p-entry-column h5:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-bottom: solid 15px #5E9CC9;
  border-left: solid 15px transparent;
  content: "";
}
.p-entry-column h5:after {
  position: absolute;
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #5E9CC9;
  content: "";
}
.p-entry-column p {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.9;
}
.p-entry-column p.note {
  display: table;
  width: 100%;
  margin: -20px auto 40px;
  font-size: 13px;
  line-height: 1.8;
}
.p-entry-column p.note:before {
  margin-right: 5px;
  font-size: 16px;
  content: "※";
}
.p-entry-column p.entry-btn {
  margin-bottom: 20px;
}
.p-entry-column p.entry-btn a {
  display: table;
  margin: 20px auto;
  padding: 12px 40px;
  border-radius: 5px;
  background: #3D3838;
  color: #FFF;
  font-size: 18px;
  transition: all .3s;
}
.p-entry-column p.entry-btn a:active,
.p-entry-column p.entry-btn a:focus,
.p-entry-column p.entry-btn a:hover {
  background: #111;
  text-decoration: none;
}
.p-entry-column table {
  border-spacing: 0;
  border-collapse: collapse;
  width: calc(100% - 30px);
  margin: 0 15px 50px;
}
.p-entry-column tr {
  border-bottom: 1px solid #EEE;
}
.p-entry-column tr:last-child {
  border: 0;
}
.p-entry-column th,
.p-entry-column td {
  display: block;
  padding: 5px 10px;
  color: #3D3838;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
}
.p-entry-column .acms-table-responsive {
  margin-bottom: 30px;
}
.p-entry-column .acms-table-responsive th,
.p-entry-column .acms-table-responsive td {
  display: table-cell;
  white-space: nowrap;
}
.p-entry-column .acms-table-responsive table {
  margin: 0;
}
.p-entry-column th {
  background: #F8F9FA;
}
.p-entry-column ul {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0 30px 0 45px;
}
.p-entry-column ul li {
  display: block;
  margin: 0 0 10px;
  padding: 0 0 0 32px;
  background-image: url("/themes/blog_ver5/images/icon_list.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .p-entry-column ul {
    padding: 0 30px 0 5px;
  }
}
.p-entry-column ol {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 30px 0 38px;
  counter-reset: ol-counter;
}
.p-entry-column ol li {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
  font-size: 16px;
  line-height: 1.5;
}
.p-entry-column ol li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px 7px 0 0;
  padding: 3px 6px;
  border-radius: 6px;
  background: #5E9CC9;
  color: #FFF;
  font-size: 14px;
  line-height: 1;
  content: counter(ol-counter);
  counter-increment: ol-counter;
}
.p-entry-column blockquote:not(.c-amazon) {
  box-sizing: border-box;
  width: calc(100% - 40px);
  margin: 0 15px 30px;
  padding: 40px 26px;
  border-radius: 7px;
  background-color: #EBEBEB;
  background-image: url("/themes/blog_ver5/images/dot.png");
  background-repeat: no-repeat;
  background-position: 0 -40px;
  line-height: 1.8;
}
.p-entry-column .c-amazon {
  position: relative;
  margin: 0;
  padding: 40px 15px 15px;
  border: 1px solid #F90;
  border-radius: 7px;
}
.p-entry-column .c-amazon:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F90;
  color: #FFF;
  text-align: center;
  content: "amazon";
}
.p-entry-column .c-amazon__link {
  display: -ms-flexbox;
  display: flex;
  color: #444;
  text-decoration: none;
  transition: all .2s;

  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.p-entry-column .c-amazon__link:hover {
  opacity: .6;
}
@media screen and (max-width: 767px) {
  .p-entry-column .c-amazon__link {
    display: block;
  }
  .p-entry-column .c-amazon__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
  }
}
.p-entry-column .c-amazon__img {
  height: 300px;
  padding-right: 20px;
}
.p-entry-column .c-amazon__title {
  margin-bottom: 5px;
  font-size: 20px;
}
.p-entry-column .c-amazon__description {
  margin: 0;
  color: #9AB;
  font-size: 14px;
}
.p-entry-column .c-amazon__price {
  margin: 5px 0 0;
  color: #9AB;
  font-size: 14px;
}
.p-entry-column pre {
  overflow: scroll;
  position: relative;
  width: calc(100% - 50px);
  margin: 0 15px 50px;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 #CFCFCF;
  white-space: nowrap;
}
.p-entry-column pre code {
  border: 0;
  background-color: transparent;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
}
.p-entry-column pre ol {
  list-style: decimal inside;
  margin: 0 0 0 30px;
  padding: 20px;
}
.p-entry-column pre ol li {
  list-style: decimal outside;
  margin: 0;
  padding: 0 0 10px 10px;
  background-color: transparent;
  text-shadow: none;
}
.p-entry-column pre ol li:before {
  display: none;
}
.p-entry-column pre ol li.L0,
.p-entry-column pre ol li.L1,
.p-entry-column pre ol li.L2,
.p-entry-column pre ol li.L3,
.p-entry-column pre ol li.L5,
.p-entry-column pre ol li.L6,
.p-entry-column pre ol li.L7,
.p-entry-column pre ol li.L8 {
  list-style-type: decimal;
}
.p-entry-column pre:before {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: 0;
  padding: 5px 20px;
  border-radius: 10px 10px 0 0/10px 10px 0 0;
  border-radius: 10px 10px 0 0 / 10px 10px 0 0;
  background-color: #DDD;
  font-size: 14px;
  text-align: center;
}
.p-entry-column pre.html {
  margin-top: 54px;
}
.p-entry-column pre.html:before {
  content: "</> HTML";
}
.p-entry-column pre.css {
  margin-top: 54px;
}
.p-entry-column pre.css:before {
  content: "</> CSS";
}
.p-entry-column pre.js {
  margin-top: 54px;
}
.p-entry-column pre.js:before {
  content: "</> Javascript / jQuery";
}
.p-entry-column pre.php {
  margin-top: 54px;
}
.p-entry-column pre.php:before {
  content: "</> PHP";
}
.p-entry-column hr {
  border: 0;
  border-bottom: 1px solid;
}
.p-entry-column .caption {
  margin: 0 0 20px 0;
  color: #95989A;
  font-size: 13px;
  text-align: center;
}
.p-entry-column [class^="column-file-"] .caption {
  font-size: 15px;
  text-align: inherit;
}

@media screen and (min-width: 768px) {
  .p-entry-column th,
  .p-entry-column td {
    display: table-cell;
    padding: 15px 20px;
    border-top: 1px solid #EEE;
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .p-entry-column pre {
    width: calc(100% - 60px);
  }
}

/*  ユニットグループ
------------------------------ */
.acms-col-center {
  float: none;
  margin: 0 auto;
}

/*  エントリーフッター
------------------------------ */
.p-entry-footer {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #F5F5F5;
}

/* タグ */
.p-entry-tag {
  margin: 0 0 5px 0;
}

.p-entry-tag-icon {
  float: left;
  color: #999;
}

.p-entry-tag-item {
  float: left;
  margin: 0 0 0 10px;
}

@media screen and (min-width: 768px) {
  /* タグ */
  .p-entry-tag {
    margin: 0;
  }
}

/* sns */
.sns {
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 5% 0;
  padding: 0;
}

.sns li {
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;
}

.sns li:last-child {
  margin-right: 0;
}

.sns li a {
  color: #FFF;
  text-decoration: none;
}

.sns li i {
  padding-right: 5px;
}

.sns-link {
  display: block;
  overflow: hidden;
  position: relative;
  height: 42px;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
}

.sns-link::after {
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  opacity: 0;
  content: "";
  transform: translate(-50%, -50%);
}

.sns-link:hover {
  text-decoration: none;
}

.sns-twitter {
  background: #55ACEE;
}

.sns-facebook {
  background: #3A5795;
}

.sns-bookmark {
  background: #00A5DE;
}

.sns-pocket {
  background: #ED4055;
}

span.dir {
  padding: 4px;
  border: 1px solid #EEE;
  box-shadow: 0 0 6px #CCC;
}

.p-entry-column .c-emphasis-link {
  position: relative;
  margin: 15px 15px 50px;
  padding: 35px 20px 16px;
  background-color: #FFFCF9;
}
.p-entry-column .c-emphasis-link__item {
  margin: 0 0 5px;
  padding: 0;
  background: none;
  color: #606060;
  font-weight: bold;
}
.p-entry-column .c-emphasis-link__item:last-child {
  margin: 0;
}
.p-entry-column .c-emphasis-link::before {
  position: absolute;
  top: -12px;
  left: 20px;
  padding: 5px 10px 5px 26px;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.p-entry-column .c-emphasis-link::after {
  position: absolute;
  top: -16px;
  left: 4px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #FFF;
  font-family: "FontAwesome";
  font-size: 22px;
  text-align: center;
  line-height: 38px;
}
.p-entry-column .c-emphasis-link.-suitably {
  border: 2px solid #FFADAE;
}
.p-entry-column .c-emphasis-link.-suitably::before {
  background-color: #FFADAE;
  content: "あわせて読みたい";
}
.p-entry-column .c-emphasis-link.-suitably::after {
  background-color: #FFADAE;
  content: "";
}
.p-entry-column .c-emphasis-link.-check {
  border: 2px solid #F9D689;
}
.p-entry-column .c-emphasis-link.-check::before {
  background-color: #F9D689;
  content: "Check";
}
.p-entry-column .c-emphasis-link.-check::after {
  background-color: #F9D689;
  content: "";
}
.p-entry-column .c-emphasis-link.-point {
  border: 2px solid #F9D689;
}
.p-entry-column .c-emphasis-link.-point::before {
  background-color: #F9D689;
  content: "Point";
}
.p-entry-column .c-emphasis-link.-point::after {
  background-color: #F9D689;
  content: "";
}
.p-entry-column .c-emphasis-link.-relation {
  border: 2px solid #98DBF9;
}
.p-entry-column .c-emphasis-link.-relation::before {
  background-color: #98DBF9;
  content: "関連記事";
}
.p-entry-column .c-emphasis-link.-relation::after {
  background-color: #98DBF9;
  content: "";
}
.p-entry-column .c-emphasis-link.-reference {
  border: 2px solid #C8B0F4;
}
.p-entry-column .c-emphasis-link.-reference::before {
  background-color: #C8B0F4;
  content: "参考記事";
}
.p-entry-column .c-emphasis-link.-reference::after {
  background-color: #C8B0F4;
  content: "";
}

/* ------------------------------
　　エントリーサマリー
------------------------------ */
.p-entry-summary {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;

  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-entry-summary .c-entry-summary__label {
  display: inline;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0;
  padding: 3px 12px;
  border-top-right-radius: 7px;
  background-color: #5E9CC9;
  color: #FFF;
  font-size: 14px;
}
.p-entry-summary .c-entry-summary__item {
  box-sizing: border-box;
  position: relative;
  width: calc(50% - 20px);
  margin: 0 10px 30px;
  border: 1px solid #DDD;
  border-radius: 7px;
}
.p-entry-summary .c-entry-summary__link {
  display: block;
  color: #333;
  text-decoration: none;
  transition: all .2s;
}
.p-entry-summary .c-entry-summary__link:hover,
.p-entry-summary .c-entry-summary__link:visited,
.p-entry-summary .c-entry-summary__link:active {
  color: #333;
}
.p-entry-summary .c-entry-summary__link:hover {
  opacity: .6;
}
.p-entry-summary .c-entry-summary___img {
  width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  vertical-align: bottom;
}
.p-entry-summary .c-entry-summary__data {
  padding: 24px 20px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.p-entry-summary .c-entry-summary__data__p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.p-entry-summary .c-entry-summary__data__p a {
  color: #444;
}
.p-entry-summary .c-entry-summary__data__p a:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .p-entry-summary {
    margin: 0;
  }
}
@media screen and (max-width: 575px) {
  .p-entry-summary .c-entry-summary__label {
    padding: 5px 10px;
    font-size: 12px;
  }
  .p-entry-summary .c-entry-summary__item {
    width: 100%;
  }
  .p-entry-summary .c-entry-summary__data {
    padding: 12px 20px;
  }
}

/* ------------------------------
　　関連エントリー
------------------------------ */
.p-relational {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.p-relational__heading {
  margin: 60px 0 24px 0;
  padding: 12px 0;
  background: #EBEBEB;
  font-size: 20px;
  text-align: center;
}
.p-relational__img {
  width: 100%;
  height: auto;
  border: 1px solid #EEE;
  border-radius: 7px;
}
.p-relational__title {
  margin: 0;
}
.p-relational__item {
  box-sizing: border-box;
  width: 50%;
  padding: 0 13px 20px 0;
}
.p-relational__item:nth-child(4n) {
  padding-right: 0;
}
.p-relational__link {
  color: #444;
  transition: all .2s;
}
.p-relational__link:hover,
.p-relational__link:visited,
.p-relational__link:link {
  color: #444;
  text-decoration: none;
}
.p-relational__link:hover {
  opacity: .6;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .p-relational__item {
    width: 25%;
  }
}
