<header>
	<div>
		@include("/admin/topicpath.html")
	</div>
	<div>
		<h1 class="acms-admin-admin-title js-dialog-title"><!--T-->バックアップ<!--/T--></h1>
	</div>
</header>

<hr class="clearHidden">

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-danger">
	<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
	<button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
	{error}
</p>
<!-- END_MODULE Admin_Errors -->

<!-- BEGIN_MODULE Admin_Messages -->
<!-- BEGIN message:loop -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info">
	<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
	<button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
	{message}
</p>
<!-- END message:loop -->
<!-- END_MODULE Admin_Messages -->

<!-- BEGIN_MODULE Touch_Role_BackupIndex -->
<!-- BEGIN_MODULE Admin_Backup_Index -->
<div class="acms-admin-panel acms-admin-panel-danger">
	<div class="acms-admin-panel-header">
		<!--T-->注意事項<!--/T-->
	</div>
	<div class="acms-admin-panel-body">
		<ul>
			<li><!--T-->CMS全体のデータベースとアーカイブのデータを置き換える際に利用します。<!--/T--></li>
			<li><!--T-->リストア実行時にドメイン変更を自動的に行います。<!--/T--></li>
			<li><!--T-->ユーザー情報などすべてのデータがリストアするデータに置きかわりますのでご注意ください。<!--/T--></li>
		</ul>
	</div>
</div>

<div class="acms-admin-tabs">
	<ul class="js-acms_admin_tabs">
		<li><a href="#backup"><!--T-->バックアップ<!--/T--></a></li>
		<li><a href="#restor"><!--T-->リストア<!--/T--></a></li>
	</ul>

	<div id="backup" class="acms-admin-tabs-panel">
		<!-- BEGIN_MODULE Touch_Role_BackupExport -->
		<h3 class="acms-admin-admin-title2"><!--T-->データベースのバックアップ<!--/T--></h3>
		<table class="adminTable acms-admin-table-admin-edit acms-admin-margin-bottom-large">
			<tr>
				<!-- BEGIN_IF [{processing}/eq/1]-->
				<td>
					<div id="js-database-export">
						<div class="js-progress acms-admin-progress acms-admin-progress-striped acms-admin-active"
							 style="display: none;">
							<div class="acms-admin-progress-bar">
								<span></span>
							</div>
						</div>
						<script type="text/template" class="js-processing-template">
							<% if (!processing && success) { %>
							<p class="acms-admin-alert acms-admin-alert-info">
								<!--T-->バックアップに成功しました。<!--/T-->
							</p>
							<% } else if ( !processing && error ) { %>
							<p class="acms-admin-alert acms-admin-alert-warning">
								<!--T-->バックアップに失敗しました。<!--/T-->
							</p>
							<% } %>
						</script>
						<div class="js-processing-box"></div>
					</div>
				</td>
				<!-- ELSE -->
				<td><!--T-->アクセスログとキャッシュ以外のテーブルをバックアップします。<!--/T--></td>
				<td class="acms-admin-text-right">
					<form action="" method="post">
						<p><input type="submit" name="ACMS_POST_Backup_Export" value="<!--T-->バックアップ<!--/T-->"
								  onclick="return confirm('<!--T-->アクセスログとキャッシュ以外のテーブルをzip形式でバックアップします。よろしいですか？<!--/T-->');"
								  class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
					</form>
				</td>
				<!-- END_IF -->
			</tr>
		</table>

		<h3 class="acms-admin-admin-title2"><!--T-->画像・ファイルのバックアップ<!--/T--></h3>
		<table class="adminTable acms-admin-table-admin-edit acms-admin-margin-bottom-large">
			<tr>
				<!-- BEGIN_IF [{archivesProcessing}/eq/1]-->
				<td>
					<div id="js-archives-export">
						<div class="js-progress acms-admin-progress acms-admin-progress-striped acms-admin-active"
							 style="display: none;">
							<div class="acms-admin-progress-bar">
								<span></span>
							</div>
						</div>
						<script type="text/template" class="js-processing-template">
							<% if (!processing && success) { %>
							<p class="acms-admin-alert acms-admin-alert-info">
								<!--T-->バックアップに成功しました。<!--/T-->
							</p>
							<% } else if ( !processing && error ) { %>
							<p class="acms-admin-alert acms-admin-alert-warning">
								<!--T-->バックアップに失敗しました。<!--/T-->
							</p>
							<% } %>
						</script>
						<div class="js-processing-box"></div>
					</div>
				</td>
				<!-- ELSE -->
				<td><!--T-->archives, media, storageディレクトリのデータをバックアップします。<!--/T--></td>
				<td class="acms-admin-text-right">
					<form action="" method="post">
						<p><input type="submit" name="ACMS_POST_Backup_ArchiveExport" value="<!--T-->バックアップ<!--/T-->"
								  onclick="return confirm('<!--T-->archives, media, storageディレクトリのデータをzip形式でバックアップします。データが大きい場合にはサーバに負荷がかかります。よろしいですか？<!--/T-->');"
								  class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
					</form>
				</td>
				<!-- END_IF -->
			</tr>
		</table>

		<!-- BEGIN_MODULE Admin_Backup_ArchiveZipList -->
		<h3 class="acms-admin-admin-title2"><!--T-->バックアップデータのダウンロード・削除<!--/T--></h3>
		<p class="acms-admin-alert acms-admin-alert-warning">
			<!--T-->バックアップ直後のバックアップはリストに出てこないため、リロードをしてください。<!--/T-->
		</p>
		<p class="acms-admin-alert acms-admin-alert-danger">
			<!--T-->バックアップファイルは暗号化されていないため、%{MEDIA_STORAGE_DIR}に、htaccess.txt を .htaccess にリネームしてhttpでアクセスできないようにしてください。<!--/T--><br>
			<!--T-->storageディレクトリは、ドキュメントルートより上の階層への設置が望ましいです。<!--/T--><br>
			<!--T-->上の階層に設置した場合は、config.server.php の MEDIA_STORAGE_DIR のパスを変更ください。（例: '../storage/'）<!--/T-->
		</p>
		<table class="adminTable acms-admin-table-admin-edit acms-admin-margin-bottom-large">
			<tr>
				<th style="text-align: left;"><!--T-->データベース<!--/T--></th>
				<th style="text-align: left;"><!--T-->画像・ファイル<!--/T--></th>
			</tr>
			<tr>
				<!-- BEGIN sqlfile:veil -->
				<td>
					<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
						<select name="backup_file" class="js-select2 acms-admin-form-width-half"><!-- BEGIN sql:loop -->
							<option value="{sqlfile}">{sqlfile}</option><!-- END sql:loop -->
						</select>
						<input type="hidden" name="backup_type" value="database" />

						<input type="submit" name="ACMS_POST_Backup_Download" value="<!--T-->ダウンロード<!--/T-->"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>

						<input type="submit" name="ACMS_POST_Backup_Remove" value="<!--T-->削除<!--/T-->"
							   onclick="return confirm('<!--T-->選択したバックアップを削除します。本当によろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-danger"/>
					</form>
				</td>
				<!-- END sqlfile:veil -->
				<!-- BEGIN zipfile:veil -->
				<td>
					<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
						<select name="backup_file" class="js-select2 acms-admin-form-width-half"><!-- BEGIN zip:loop -->
							<option value="{zipfile}">{zipfile}</option><!-- END zip:loop -->
						</select>
						<input type="hidden" name="backup_type" value="archives" />

						<input type="submit" name="ACMS_POST_Backup_Download" value="<!--T-->ダウンロード<!--/T-->"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>

						<input type="submit" name="ACMS_POST_Backup_Remove" value="<!--T-->削除<!--/T-->"
							   onclick="return confirm('<!--T-->選択したバックアップを削除します。本当によろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-danger"/>
					</form>
				</td>
				<!-- END zipfile:veil -->
			</tr>
		</table>
		<!-- END_MODULE Admin_Backup_ArchiveZipList -->
		<!-- END_MODULE Touch_Role_BackupExport -->
	</div>
	<div id="restor" class="acms-admin-tabs-panel">
		<!-- BEGIN_MODULE Touch_Role_BackupImport -->
		<!-- BEGIN_MODULE Admin_Backup_ArchiveZipList -->
		<h3 class="acms-admin-admin-title2"><!--T-->データベースのリストア<!--/T--></h3>
		<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
			<table class="adminTable acms-admin-table-admin-edit">
				<tr>
					<th style="width: 25%;"><!--T-->元のデータベースについて<!--/T-->
						<i class="acms-admin-icon-tooltip js-acms-tooltip-hover"
						   data-acms-tooltip="<!--T-->BACKUP_ACMS_(元のテーブル名) としてバックアップされます。万が一処理に失敗した場合は、テーブルを元の名前に戻して復旧してください<!--/T-->"></i>
					</th>
					<td>
						<select name="drop_table" class="js-select2">
							<option value="on"><!--T-->インポート後に元のデータベーステーブルを自動で削除する<!--/T--></option>
							<option value="off"><!--T-->元のテーブルをリネームして残しておく<!--/T--></option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th><!--T-->バージョンチェック<!--/T-->
						<i class="acms-admin-icon-tooltip js-acms-tooltip-hover"
						   data-acms-tooltip="<!--T-->バージョン照合を行わないとバージョン間の差異によって、正常に動作しない可能性があります。<!--/T-->"></i>
					</th>
					<td>
						<select name="version_check" class="js-select2">
							<option value="on"><!--T-->バックアップファイルと現在のシステムをバージョン照合する<!--/T--></option>
							<option value="off"><!--T-->バージョンの照合を省略します<!--/T--></option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th><!--T-->バックアップファイル<!--/T-->
						<i class="acms-admin-icon-tooltip js-acms-tooltip-hover"
						   data-acms-tooltip="<!--T-->ダウンロードしたZIPファイルを、FTPなどで %{MEDIA_STORAGE_DIR}backup_database/backup_database/ ディレクトリにアップロードしてください。<!--/T-->"></i>
					</th>
					<td>
						<p class="acms-admin-margin-bottom-medium"><!--T-->参照先<!--/T-->：%{MEDIA_STORAGE_DIR}backup_database/</p>
						<!-- BEGIN sql:veil -->
						<select name="sqlfile" class="js-select2"><!-- BEGIN sql:loop -->
							<option value="{sqlfile}">{sqlfile}</option><!-- END sql:loop -->
						</select>
						<!-- END sql:veil -->
						<!-- BEGIN foundSql -->
						<input type="submit" name="ACMS_POST_Backup_Import" value="<!--T-->リストア<!--/T-->"
							   onclick="return confirm('<!--T-->データベースのリストア処理を行います。よろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
						<!-- END foundSql -->

						<p class="acms-admin-alert acms-admin-alert-warning acms-admin-margin-top-medium">
							<!--T-->リストア完了後、通知メールが送信されます。<!--/T--> <!--T-->送信先<!--/T-->: %{SESSION_USER_MAIL}
						</p>
					</td>
				</tr>
			</table>
		</form>

		<form action="" method="post" enctype="multipart/form-data" class="acms-admin-form">
			<h3 class="acms-admin-admin-title2"><!--T-->画像・ファイルのリストア<!--/T--></h3>
			<table class="adminTable acms-admin-table-admin-edit">
				<tr>
					<th style="width: 25%;"><!--T-->バックアップファイル<!--/T-->
						<i class="acms-admin-icon-tooltip js-acms-tooltip-hover"
						   data-acms-tooltip="<!--T-->ダウンロードしたZIPファイルを、%{MEDIA_STORAGE_DIR}backup_archives/ディレクトリにアップロードしてください。<!--/T-->"></i>
					</th>
					<td>
						<p class="acms-admin-margin-bottom-medium"><!--T-->参照先<!--/T-->：%{MEDIA_STORAGE_DIR}backup_archives/</p>
						<!-- BEGIN zip:veil -->
						<select name="zipfile" class="js-select2">
							<!-- BEGIN zip:loop -->
							<option value="{zipfile}">{zipfile}</option><!-- END zip:loop -->
						</select>
						<!-- END zip:veil -->
						<!-- BEGIN foundZip -->
						<input type="submit" name="ACMS_POST_Backup_ArchiveImport"
							   value="<!--T-->リストア<!--/T-->"
							   onclick="return confirm('<!--T-->画像・ファイルのリストアを行います。よろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary"/>
						<!-- END foundZip -->

						<p class="acms-admin-alert acms-admin-alert-warning acms-admin-margin-top-medium">
							<!--T-->リストア完了後、通知メールが送信されます。<!--/T--> <!--T-->送信先<!--/T-->: %{SESSION_USER_MAIL}
						</p>
					</td>
				</tr>
			</table>
		</form>
		<!-- END_MODULE Admin_Backup_ArchiveZipList -->
		<!-- END_MODULE Touch_Role_BackupImport -->
	</div>
</div>
<!-- END_MODULE Admin_Backup_Index -->


