/*============
columnシステム
==================*/
/* 追加したいものがあれば随時追加 */
/*
.l-col-lg - 大きいPC 1200px以上
.l-col-md - PC 992px〜1119px
.l-col-sm - タブレット 768px〜991px
.l-col-xs - スマホ 767px以下
*/

.l-col-1 {
	float: left;
	width: 8.33333%;
}

.l-col-2 {
	float: left;
	width: 16.66667%;
}

.l-col-3 {
	float: left;
	width: 25%;
}

.l-col-4 {
	float: left;
	width: 33.33333%;
}

.l-col-5 {
	float: left;
	width: 41.66667%;
}

.l-col-6 {
	float: left;
	width: 50%;
}

.l-col-7 {
	float: left;
	width: 58.33333%;
}

.l-col-8 {
	float: left;
	width: 66.66667%;
}

.l-col-9 {
	float: left;
	width: 75%;
}

.l-col-10 {
	float: left;
	width: 83.33333%;
}

.l-col-11 {
	float: left;
	width: 91.66667%;
}

.l-col-12 {
	float: none;
	width: 100%;
}

/* スマホ用：767px以下 */
@media screen and (min-width: 768px){
	
	.l-col-xs-1 {
		float: left;
		width: 8.33333%;
	}
	.l-col-xs-2 {
		float: left;
		width: 16.66667%;
	}
	.l-col-xs-3 {
		float: left;
		width: 25%;
	}
	.l-col-xs-4 {
		float: left;
		width: 33.33333%;
	}
	.l-col-xs-5 {
		float: left;
		width: 41.66667%;
	}
	.l-col-xs-6 {
		float: left;
		width: 50%;
	}
	.l-col-xs-7 {
		float: left;
		width: 58.33333%;
	}
	.l-col-xs-8 {
		float: left;
		width: 66.66667%;
	}
	.l-col-xs-9 {
		float: left;
		width: 75%;
	}
	.l-col-xs-10 {
		float: left;
		width: 83.33333%;
	}
	.l-col-xs-11 {
		float: left;
		width: 91.66667%;
	}
	.l-col-xs-12 {
		float: none;
		width: 100%;
	}


}

/* タブレット用：　768px〜991px */
@media screen and (min-width: 769px) and (max-width: 992px){
	
	.l-col-sm-1 {
		float: left;
		width: 8.33333%;
	}
	.l-col-sm-2 {
		float: left;
		width: 16.66667%;
	}
	.l-col-sm-3 {
		float: left;
		width: 25%;
	}
	.l-col-sm-4 {
		float: left;
		width: 33.33333%;
	}
	.l-col-sm-5 {
		float: left;
		width: 41.66667%;
	}
	.l-col-sm-6 {
		float: left;
		width: 50%;
	}
	.l-col-sm-7 {
		float: left;
		width: 58.33333%;
	}
	.l-col-sm-8 {
		float: left;
		width: 66.66667%;
	}
	.l-col-sm-9 {
		float: left;
		width: 75%;
	}
	.l-col-sm-10 {
		float: left;
		width: 83.33333%;
	}
	.l-col-sm-11 {
		float: left;
		width: 91.66667%;
	}
	.l-col-sm-12 {
		float: none;
		width: 100%;
	}

}

/* 通常PC用：992px〜1199px */
@media screen and (min-width: 993px) and (max-width: 1200px){
	.l-col-md-1 {
		float: left;
		width: 8.33333%;
	}
	.l-col-md-2 {
		float: left;
		width: 16.66667%;
	}
	.l-col-md-3 {
		float: left;
		width: 25%;
	}
	.l-col-md-4 {
		float: left;
		width: 33.33333%;
	}
	.l-col-md-5 {
		float: left;
		width: 41.66667%;
	}
	.l-col-md-6 {
		float: left;
		width: 50%;
	}
	.l-col-md-7 {
		float: left;
		width: 58.33333%;
	}
	.l-col-md-8 {
		float: left;
		width: 66.66667%;
	}
	.l-col-md-9 {
		float: left;
		width: 75%;
	}
	.l-col-md-10 {
		float: left;
		width: 83.33333%;
	}
	.l-col-md-11 {
		float: left;
		width: 91.66667%;
	}
	.l-col-md-12 {
		float: none;
		width: 100%;
	}
}

/* 大きいPC用：1200px以上 */
@media screen and (min-width: 1201px){
	
	.l-col-lg-1 {
		float: left;
		width: 8.33333%;
	}
	.l-col-lg-2 {
		float: left;
		width: 16.66667%;
	}
	.l-col-lg-3 {
		float: left;
		width: 25%;
	}
	.l-col-lg-4 {
		float: left;
		width: 33.33333%;
	}
	.l-col-lg-5 {
		float: left;
		width: 41.66667%;
	}
	.l-col-lg-6 {
		float: left;
		width: 50%;
	}
	.l-col-lg-7 {
		float: left;
		width: 58.33333%;
	}
	.l-col-lg-8 {
		float: left;
		width: 66.66667%;
	}
	.l-col-lg-9 {
		float: left;
		width: 75%;
	}
	.l-col-lg-10 {
		float: left;
		width: 83.33333%;
	}
	.l-col-lg-11 {
		float: left;
		width: 91.66667%;
	}
	.l-col-lg-12 {
		float: none;
		width: 100%;
	}

}

@charset "utf-8";
/*
 * acms.css Ver.1.2.0 (http://www.a-blogcms.jp)
 * Copyright a-blog cms | MIT License
 *
 * カスタマイズする場合は、オリジナルのテーマにコピーしてご利用ください。
 */

/* ------------------------------
 グリッドシステム
------------------------------- */
.acms-container {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.acms-grid,
.acms-grid-r {
	margin-left: -10px;
	margin-right: -10px;
}
.acms-grid:before,
.acms-grid:after,
.acms-grid-r:before,
.acms-grid-r:after {
	content: " ";
	display: table;
}
.acms-grid:after,
.acms-grid-r:after {
	clear: both;
}

.acms-grid-negative {
	margin-left: 0;
	margin-right: 0;
}

[class*="acms-col"] {
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 768px) {
	.acms-grid,
	.acms-grid-r {
		margin-left: -10px;
		margin-right: -10px;
	}
	[class*="acms-col"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}

[class*="acms-col"],
[class*="acms-col"]:before,
[class*="acms-col"]:after {
	box-sizing: border-box;
}

/*
.acms-col-
.acms-col-sm
.acms-col-md
.acms-col-lg
.acms-col-xl
*/

.acms-col-1 {
	float: left;
	width: 8.33333%;
}

.acms-col-2 {
	float: left;
	width: 16.66667%;
}

.acms-col-3 {
	float: left;
	width: 25%;
}

.acms-col-4 {
	float: left;
	width: 33.33333%;
}

.acms-col-5 {
	float: left;
	width: 41.66667%;
}

.acms-col-6 {
	float: left;
	width: 50%;
}

.acms-col-7 {
	float: left;
	width: 58.33333%;
}

.acms-col-8 {
	float: left;
	width: 66.66667%;
}

.acms-col-9 {
	float: left;
	width: 75%;
}

.acms-col-10 {
	float: left;
	width: 83.33333%;
}

.acms-col-11 {
	float: left;
	width: 91.66667%;
}

.acms-col-12 {
	float: none;
	width: 100%;
}

@media (min-width: 480px) {
	.acms-col-sm-1 {
		float: left;
		width: 8.33333%;
	}
	.acms-col-sm-2 {
		float: left;
		width: 16.66667%;
	}
	.acms-col-sm-3 {
		float: left;
		width: 25%;
	}
	.acms-col-sm-4 {
		float: left;
		width: 33.33333%;
	}
	.acms-col-sm-5 {
		float: left;
		width: 41.66667%;
	}
	.acms-col-sm-6 {
		float: left;
		width: 50%;
	}
	.acms-col-sm-7 {
		float: left;
		width: 58.33333%;
	}
	.acms-col-sm-8 {
		float: left;
		width: 66.66667%;
	}
	.acms-col-sm-9 {
		float: left;
		width: 75%;
	}
	.acms-col-sm-10 {
		float: left;
		width: 83.33333%;
	}
	.acms-col-sm-11 {
		float: left;
		width: 91.66667%;
	}
	.acms-col-sm-12 {
		float: none;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.acms-col-md-1 {
		float: left;
		width: 8.33333%;
	}
	.acms-col-md-2 {
		float: left;
		width: 16.66667%;
	}
	.acms-col-md-3 {
		float: left;
		width: 25%;
	}
	.acms-col-md-4 {
		float: left;
		width: 33.33333%;
	}
	.acms-col-md-5 {
		float: left;
		width: 41.66667%;
	}
	.acms-col-md-6 {
		float: left;
		width: 50%;
	}
	.acms-col-md-7 {
		float: left;
		width: 58.33333%;
	}
	.acms-col-md-8 {
		float: left;
		width: 66.66667%;
	}
	.acms-col-md-9 {
		float: left;
		width: 75%;
	}
	.acms-col-md-10 {
		float: left;
		width: 83.33333%;
	}
	.acms-col-md-11 {
		float: left;
		width: 91.66667%;
	}
	.acms-col-md-12 {
		float: none;
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.acms-col-lg-1 {
		float: left;
		width: 8.33333%;
	}
	.acms-col-lg-2 {
		float: left;
		width: 16.66667%;
	}
	.acms-col-lg-3 {
		float: left;
		width: 25%;
	}
	.acms-col-lg-4 {
		float: left;
		width: 33.33333%;
	}
	.acms-col-lg-5 {
		float: left;
		width: 41.66667%;
	}
	.acms-col-lg-6 {
		float: left;
		width: 50%;
	}
	.acms-col-lg-7 {
		float: left;
		width: 58.33333%;
	}
	.acms-col-lg-8 {
		float: left;
		width: 66.66667%;
	}
	.acms-col-lg-9 {
		float: left;
		width: 75%;
	}
	.acms-col-lg-10 {
		float: left;
		width: 83.33333%;
	}
	.acms-col-lg-11 {
		float: left;
		width: 91.66667%;
	}
	.acms-col-lg-12 {
		float: none;
		width: 100%;
	}
}

@media (min-width: 1440px) {
	.acms-col-xl-1 {
		float: left;
		width: 8.33333%;
	}
	.acms-col-xl-2 {
		float: left;
		width: 16.66667%;
	}
	.acms-col-xl-3 {
		float: left;
		width: 25%;
	}
	.acms-col-xl-4 {
		float: left;
		width: 33.33333%;
	}
	.acms-col-xl-5 {
		float: left;
		width: 41.66667%;
	}
	.acms-col-xl-6 {
		float: left;
		width: 50%;
	}
	.acms-col-xl-7 {
		float: left;
		width: 58.33333%;
	}
	.acms-col-xl-8 {
		float: left;
		width: 66.66667%;
	}
	.acms-col-xl-9 {
		float: left;
		width: 75%;
	}
	.acms-col-xl-10 {
		float: left;
		width: 83.33333%;
	}
	.acms-col-xl-11 {
		float: left;
		width: 91.66667%;
	}
	.acms-col-xl-12 {
		float: none;
		width: 100%;
	}

}



