<!-- BEGIN_MODULE Admin_ActionMenu -->
<p align="center">User : {name}</p>
<table align="center">
<tr>
<!-- BEGIN insert -->
<td><form action="" method="post" class="adminBtn">
		<input type="submit" name="ACMS_POST_2GET" value="作成" />
		<input type="hidden" name="admin" value="entry-edit" />
		<input type="hidden" name="bid" value="%{BID}" />
		<input type="hidden" name="cid" value="%{CID}" />
	</form></td><!-- END insert -->
	<!-- BEGIN_MODULE Touch_NotAdmin -->
	<!-- BEGIN admin -->
<td><form action="" method="post" class="adminBtn">
		<input type="submit" name="ACMS_POST_2GET" value="管理" />
		<input type="hidden" name="admin" value="top" />
		<input type="hidden" name="bid" value="%{BID}" />
	</form></td><!-- END admin -->
	<!-- END_MODULE Touch_NotAdmin -->
	<!-- BEGIN pingUpdate -->
<td><form action="" method="post" class="adminBtn">
		<!-- BEGIN ping_weblog_updates_endpoint:loop -->
		<input type="hidden" name="ping_weblog_updates_endpoint[]" value="{ping_weblog_updates_endpoint}" /><!-- END ping_weblog_updates_endpoint:loop -->
		<input type="hidden" name="pingUpdate[]" value="ping_weblog_updates_endpoint" />
		<!-- BEGIN ping_weblog_updates_extended_endpoint:loop -->
		<input type="hidden" name="ping_weblog_updates_extended_endpoint[]" value="{ping_weblog_updates_extended_endpoint}" /><!-- END ping_weblog_updates_extended_endpoint:loop -->
		<input type="hidden" name="pingUpdate[]" value="ping_weblog_updates_extended_endpoint" />

		<input type="hidden" name="pingUpdateTpl" value="/rpc/weblog-updates-ping.xml" />
		<input type="hidden" name="pingUpdate[]" value="pingUpdateTpl" />

		<input type="submit" name="ACMS_POST_PingWeblogUpdate" value="Ping" />
	</form></td><!-- END pingUpdate -->
<td><form action="" method="post" class="adminBtn">
		<input type="submit" name="ACMS_POST_Logout" value="Logout" />
	</form></td>
</tr>
</table>
<!-- END_MODULE Admin_ActionMenu -->