<div class="lp-suggest-box">
	<div class="narrow-container sp-container">
		<div class="lp-suggest-item acms-text-center">
			<p class="lp-suggest-btn"><a href="%{HTTP_ROOT}contact/" class="btn-attention-block-large btn-shadow">資料請求 / お問い合わせ</a></p>
			<!-- BEGIN_MODULE Blog_Field -->
			<div>
				<p class="lp-suggest-text">お電話でのお問い合せはこちら（{tel_time}）</p>
				<p class="lp-suggest-tel"><a href="tel:{tel}">{tel}</a></p>
				<!-- BEGIN_MODULE Touch_SessionWithAdministration -->
				<p class="acms-admin-module-edit"><a href="/bid/{iD}/admin/blog_edit/?edit=update#acms_custom" class="js-dialog-btn js-link_no_rewrite">編集</a></p>
				<!-- END_MODULE Touch_SessionWithAdministration -->
			</div>
			<!-- END_MODULE Blog_Field -->
		</div>
	</div>
</div>
