<h2 class="acms-admin-admin-title2"><!--T-->送料の設定（配送方法の手数料に何も入力しないと，この送料が適用されます）<!--/T--></h2>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->送料無料のしきい値<!--/T--><i class="acms-admin-icon acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->送料無料のしきい値を設定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="shop_order_shipping_limit" value="{shop_order_shipping_limit}" size="6" />
			<input type="hidden" name="config[]" value="shop_order_shipping_limit" /><!--T-->円<!--/T--> （<!--T-->各種手数料を除いた合計金額がこの値を超えると無料になります<!--/T-->）
		</td>
	</tr>
	<tr>
		<th><!--T-->送料の全国一括設定<!--/T--><i class="acms-admin-icon acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->送料の全国一括設定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="shop_order_shipping_common" value="{shop_order_shipping_common}" size="6" />
			<input type="hidden" name="config[]" value="shop_order_shipping_common" /><!--T-->円<!--/T--> （<!--T-->入力すると送料が地域を問わず共通になります<!--/T-->）
		</td>
	</tr>
	<tr>
		<th><!--T-->配送地域と送料の設定<!--/T--><i class="acms-admin-icon acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="各地の配送地域と送料の設定します。"></i>
		</th>
		<td class="acms-admin-padding-none">
			<table>
				<tr>
					<th class="acms-admin-table-left"><!--T-->地域<!--/T--></th>
					<th class="acms-admin-table-left"><!--T-->送料<!--/T--></th>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[1]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[1]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[2]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[2]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[3]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[3]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[4]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[4]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[5]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[5]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[6]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[6]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[7]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[7]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[8]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[8]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[9]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[9]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[10]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[10]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[11]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[11]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[12]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[12]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[13]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[13]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[14]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[14]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[15]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[15]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[16]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[16]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[17]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[17]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[18]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[18]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[19]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[19]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[20]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[20]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[21]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[21]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[22]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[22]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[23]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[23]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[24]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[24]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[25]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[25]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[26]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[26]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[27]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[27]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[28]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[28]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[29]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[29]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[30]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[30]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[31]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[31]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[32]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[32]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[33]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[33]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[34]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[34]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[35]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[35]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[36]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[36]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[37]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[37]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[38]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[38]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[39]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[39]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[40]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[40]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[41]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[41]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[42]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[42]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[43]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[43]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[44]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[44]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[45]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[45]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[46]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[46]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[47]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[47]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[48]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[48]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[49]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[49]}" class="acms-admin-form-width-full"></td>
				</tr>
				<tr>
					<td><input type="text" name="shop_order_shipping_label[]" value="{shop_order_shipping_label[50]}" class="acms-admin-form-width-full"></td>
					<td><input type="text" name="shop_order_shipping_charge[]" value="{shop_order_shipping_charge[50]}" class="acms-admin-form-width-full"></td>
				</tr>
			</table>
			<input type="hidden" name="config[]" value="shop_order_shipping_label" />
			<input type="hidden" name="config[]" value="shop_order_shipping_charge" />
		</td>
	</tr>
</table>
