<h3 class="acms-admin-admin-title2"><!--T-->カテゴリー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。<!--/T-->"></i></th>
		<td>
			<select name="category_entry_list_category_order" class="js-select2">
				<option value="sort-asc"{category_entry_list_category_order:selected#sort-asc}><!--T-->表示順<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="sort-desc"{category_entry_list_category_order:selected#sort-desc}><!--T-->表示順<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="code-asc"{category_entry_list_category_order:selected#code-asc}><!--T-->コードネーム<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="code-desc"{category_entry_list_category_order:selected#code-desc}><!--T-->コードネーム<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="id-asc"{category_entry_list_category_order:selected#id-asc}>ID <!--T-->( 昇順 )<!--/T--></option>
				<option value="id-desc"{category_entry_list_category_order:selected#id-desc}>ID <!--T-->( 降順 )<!--/T--></option>
				<!--<option value="amount-asc"{category_entry_list_category_order:selected#amount-asc}>エントリー数 ( 昇順 )</option>-->
				<!--<option value="amount-desc"{category_entry_list_category_order:selected#amount-desc}>エントリー数 ( 降順 )</option>-->
			</select>
			<input type="hidden" name="config[]" value="category_entry_list_category_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないカテゴリーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="category_entry_list_category_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="category_entry_list_category_indexing" value="on"{category_entry_list_category_indexing:checked#on} id="input-checkbox-category_entry_list_category_indexing" />
				<label for="input-checkbox-category_entry_list_category_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているカテゴリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="category_entry_list_category_indexing" />
		</td>
	</tr>
	<tr>
		<th><!--T-->階層<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->表示するカテゴリーの階層の深さの設定です。数値で指定します。<!--/T-->"></i></th>
		<td>
			<input type="text" name="category_entry_list_level" value="{category_entry_list_level}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="category_entry_list_level" />
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->指定したクラスをカテゴリのループブロック内に設定できます。例えばグリッドシステムのカラム数設定などにご利用ください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="category_entry_list_category_loop_class" value="{category_entry_list_category_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="category_entry_list_category_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->フィールド検索<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->絞り込むフィールドを選択します。<!--/T-->"></i></th>
		<td>
			<select name="category_entry_list_field_search" class="js-select2">
				<option value="entry"{category_entry_list_field_search:selected#entry}><!--T-->エントリー<!--/T--></option>
				<option value="category"{category_entry_list_field_search:selected#category}><!--T-->カテゴリー<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="category_entry_list_field_search" />
		</td>
	</tr>
</table>

<h3 class="acms-admin-admin-title2"><!--T-->エントリー<!--/T--></h3>
<table class="adminTable acms-admin-table-admin-edit">
	<tr>
		<th><!--T-->表示順<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->どのようなルールに従って表示されるかの設定です。フィールド、数値フィールドはカスタムフィールドでの検索結果の表示時に利用します。<!--/T-->"></i></th>
		<td>
			<select name="category_entry_list_entry_order" class="js-select2">
				<option value="datetime-asc"{category_entry_list_entry_order:selected#datetime-asc}><!--T-->日時<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="datetime-desc"{category_entry_list_entry_order:selected#datetime-desc}><!--T-->日時<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="updated_datetime-asc"{category_entry_list_entry_order:selected#updated_datetime-asc}><!--T-->更新日<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="updated_datetime-desc"{category_entry_list_entry_order:selected#updated_datetime-desc}><!--T-->更新日<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="posted_datetime-asc"{category_entry_list_entry_order:selected#posted_datetime-asc}><!--T-->作成日<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="posted_datetime-desc"{category_entry_list_entry_order:selected#posted_datetime-desc}><!--T-->作成日<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="code-asc"{category_entry_list_entry_order:selected#code-asc}><!--T-->ファイル名<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="code-desc"{category_entry_list_entry_order:selected#code-desc}><!--T-->ファイル名<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="id-asc"{category_entry_list_entry_order:selected#id-asc}>ID <!--T-->( 昇順 )<!--/T--></option>
				<option value="id-desc"{category_entry_list_entry_order:selected#id-desc}>ID <!--T-->( 降順 )<!--/T--></option>
				<option value="sort-asc"{category_entry_list_entry_order:selected#sort-asc}><!--T-->表示順<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="sort-desc"{category_entry_list_entry_order:selected#sort-desc}><!--T-->表示順<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="field-asc"{category_entry_list_entry_order:selected#field-asc}><!--T-->フィールド<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="field-desc"{category_entry_list_entry_order:selected#field-desc}><!--T-->フィールド<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="intfield-asc"{category_entry_list_entry_order:selected#intfield-asc}><!--T-->数値フィールド<!--/T--> <!--T-->( 昇順 )<!--/T--></option>
				<option value="intfield-desc"{category_entry_list_entry_order:selected#intfield-desc}><!--T-->数値フィールド<!--/T--> <!--T-->( 降順 )<!--/T--></option>
				<option value="random"{category_entry_list_entry_order:selected#random}><!--T-->ランダム<!--/T--></option>
			</select>
			<input type="hidden" name="config[]" value="category_entry_list_entry_order" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示数<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->一度に表示される件数です。<!--/T-->"></i></th>
		<td>
			<input type="text" name="category_entry_list_entry_limit" value="{category_entry_list_entry_limit}" size="4" class="acms-admin-form-width-mini" />
			<input type="hidden" name="config[]" value="category_entry_list_entry_limit" />
			<input type="hidden" name="category_entry_list_entry_limit:convert" value="a" />
			<input type="hidden" name="category_entry_list_entry_limit:validator#digits" id="validator-category_entry_list_entry_limit-digits" />
			<div role="alert" aria-live="assertive">
				<div data-validator-label="validator-category_entry_list_entry_limit-digits" class="validator-result-{category_entry_list_entry_limit:validator#digits}">
					<p class="error-text"><span class="acms-admin-icon acms-admin-icon-attention" aria-hidden="true"></span><!--T-->数字を入力して下さい。<!--/T--></p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th><!--T-->ループ内クラス<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->指定したクラスをエントリのループブロック内に設定できます。例えばグリッドシステムのカラム数設定などにご利用ください。<!--/T-->"></i></th>
		<td>
			<input type="text" name="category_entry_list_entry_loop_class" value="{category_entry_list_entry_loop_class}" size="4" class="acms-admin-form-width-medium" />
			<input type="hidden" name="config[]" value="category_entry_list_entry_loop_class" />
		</td>
	</tr>
	<tr>
		<th><!--T-->インデキシング<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->チェックを外すと、インデキシングされていないエントリーも表示されます。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="category_entry_list_entry_indexing" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="category_entry_list_entry_indexing" value="on"{category_entry_list_entry_indexing:checked#on} id="input-checkbox-category_entry_list_entry_indexing" />
				<label for="input-checkbox-category_entry_list_entry_indexing"><i class="acms-admin-ico-checkbox"></i><!--T-->インデキシングされているエントリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="category_entry_list_entry_indexing" />
		</td>
	</tr>
	<tr>
		<th><!--T-->エントリーの有無<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->チェックを外すとエントリーが登録されていないカテゴリーが表示されなくなります。<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="category_entry_list_entry_amount_zero" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="category_entry_list_entry_amount_zero" value="on"{category_entry_list_entry_amount_zero:checked#on} id="input-checkbox-category_entry_list_entry_amount_zero" />
				<label for="input-checkbox-category_entry_list_entry_amount_zero"><i class="acms-admin-ico-checkbox"></i><!--T-->エントリーが登録されていないカテゴリーも表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="category_entry_list_entry_amount_zero" />
		</td>
	</tr>
	<tr>
		<th><!--T-->表示エントリー<!--/T--><i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="<!--T-->チェックを入れると、URLコンテキストで表示中の（選択中の）カテゴリに含まれるエントリーのみが表示され、選択中ではないカテゴリーのエントリーが表示されなくなります。モジュールの特性上、モジュール設定でカテゴリーIDのチェックを入れ「URLコンテキストを優先」にすると効果がありません<!--/T-->"></i></th>
		<td>
			<input type="hidden" name="category_entry_list_entry_active_category" value="off" />
			<div class="acms-admin-form-checkbox">
				<input type="checkbox" name="category_entry_list_entry_active_category" value="on"{category_entry_list_entry_active_category:checked#on} id="input-checkbox-category_entry_list_entry_active_category" />
				<label for="input-checkbox-category_entry_list_entry_active_category"><i class="acms-admin-ico-checkbox"></i><!--T-->URLコンテキストで表示中のカテゴリに含まれるエントリーのみ表示する<!--/T--></label>
			</div>
			<input type="hidden" name="config[]" value="category_entry_list_entry_active_category" />
		</td>
	</tr>
</table><!-- BEGIN_MODULE Admin_Rule_Name -->
<input type="hidden" name="rid" value="{rid}" /><!-- END_MODULE Admin_Rule_Name --><!-- BEGIN_MODULE Admin_Module_Name -->
<input type="hidden" name="mid" value="{mid}" /><!-- END_MODULE Admin_Module_Name --><!-- BEGIN_MODULE Admin_Config_Set_Name -->
<input type="hidden" name="setid" value="{setid}" /><!-- END_MODULE Admin_Config_Set_Name -->
