<!-- BEGIN_MODULE Blog_Field id="blog_field" -->
<footer class="p-footer">
  <div class="c-footer-top clearfix">
    <div class="acms-container">
      <div>
        <p class="c-footer-top__title -ranking">Popular Articles</p>
        <ol class="c-media02">
          <!-- BEGIN_MODULE Entry_Summary id="ranking1" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-media02__item">
            <a href="{url}" class="c-media02__link js-viewing-indelible">
              <!-- BEGIN_IF [{ogp_image@path}/nem] -->
              <img class="c-media02__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
              <img class="c-media02__img" src="%{ROOT_DIR}{path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- END_IF -->
              <div class="c-media02__data">
                <p class="c-media02__title">{title}<!-- BEGIN categoryField -->　<span class="c-media02__category">{fieldCategoryName}</span><!-- END categoryField --></p>
              </div>
            </a>
          </li>

          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking2" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-media02__item">
            <a href="{url}" class="c-media02__link js-viewing-indelible">
              <!-- BEGIN_IF [{ogp_image@path}/nem] -->
              <img class="c-media02__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
              <img class="c-media02__img" src="%{ROOT_DIR}{path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- END_IF -->
              <div class="c-media02__data">
                <p class="c-media02__title">{title}<!-- BEGIN categoryField -->　<span class="c-media02__category">{fieldCategoryName}</span><!-- END categoryField --></p>
              </div>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking3" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-media02__item">
            <a href="{url}" class="c-media02__link js-viewing-indelible">
              <!-- BEGIN_IF [{ogp_image@path}/nem] -->
              <img class="c-media02__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
              <img class="c-media02__img" src="%{ROOT_DIR}{path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- END_IF -->
              <div class="c-media02__data">
                <p class="c-media02__title">{title}<!-- BEGIN categoryField -->　<span class="c-media02__category">{fieldCategoryName}</span><!-- END categoryField --></p>
              </div>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking4" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-media02__item">
            <a href="{url}" class="c-media02__link js-viewing-indelible">
              <!-- BEGIN_IF [{ogp_image@path}/nem] -->
              <img class="c-media02__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
              <img class="c-media02__img" src="%{ROOT_DIR}{path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- END_IF -->
              <div class="c-media02__data">
                <p class="c-media02__title">{title}<!-- BEGIN categoryField -->　<span class="c-media02__category">{fieldCategoryName}</span><!-- END categoryField --></p>
              </div>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
          <!-- BEGIN_MODULE Entry_Summary id="ranking5" -->
          <!-- BEGIN unit:loop -->
          <!-- BEGIN entry:loop -->
          <li class="l_cf c-media02__item">
            <a href="{url}" class="c-media02__link js-viewing-indelible">
              <!-- BEGIN_IF [{ogp_image@path}/nem] -->
              <img class="c-media02__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
              <img class="c-media02__img" src="%{ROOT_DIR}{path}[resizeImgFill(250,150)]" width="250" height="150" alt="{title}"/>
              <!-- END_IF -->
              <div class="c-media02__data">
                <p class="c-media02__title">{title}<!-- BEGIN categoryField -->　<span class="c-media02__category">{fieldCategoryName}</span><!-- END categoryField --></p>
              </div>
            </a>
          </li>
          <!-- END entry:loop -->
          <!-- END unit:loop -->
          <!-- END_MODULE Entry_Summary -->
        </ol>
      </div>
    </div>
  </div>
  <div class="c-footer-bottom">
    <div class="c-footer-bottom__wrap">
      <div class="c-footer-about_sns">
        <ul class="c-footer-sns">
          <li class="c-footer-sns__item -twitter"><a href="https://twitter.com/{Twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="c-footer-sns__item -facebook"><a href="https://www.facebook.com/{FaceBook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="c-footer-sns__item -feed"><a href="https://feedly.com/i/subscription/feed/http://kigiroku.com/rss2.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
          <li class="c-footer-sns__item -instagram"><a href="https://www.instagram.com/{Instagram}/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <ul class="c-footer-bottom-linklist list-unstyled">
        <li class="c-footer-bottom-linklist__item"><a href="%{HTTP_ROOT}about.html" class="c-footer-bottom-linklist__link">このサイトについて</a></li>
        <li class="c-footer-bottom-linklist__item"><a href="%{HTTP_ROOT}about.html#3" class="c-footer-bottom-linklist__link">プライバシーポリシー</a></li>
      </ul>
      <small>© 2015-%{Y} kigiroku.com.</small>
    </div>
  </div>
</footer>
<!-- END_MODULE Blog_Field -->
