<!-- BEGIN_MODULE Touch_Unlogin -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83673906-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-83673906-1');
  ga('send', 'pageview');
</script>
<!-- END_MODULE Touch_Unlogin -->
