<header class="p-header">
  <div class="p-header__inner">
    <!-- BEGIN_IF [%{PBID}/em/_and_/%{VIEW}/eq/top] -->
    <h1 class="c-logo">
      <!-- ELSE -->
      <p class="c-logo"><a href="%{HTTP_ROOT}">
        <!-- END_IF -->
        <img src="/images/logo.svg" alt="kigirokuロゴ" width="200" class="c-logo__img">
        <!-- BEGIN_IF [%{VIEW}/eq/top] -->
    </h1>
    <!-- ELSE -->
    </a></p>
    <!-- END_IF -->

    <!-- BEGIN_MODULE Category_List id="category_list_all" -->
    <div>
      <!--#include file="/admin/module/setting.html"-->
      <ul class="c-navbar clearfix">
        <!-- BEGIN category:loop --><!-- BEGIN ul#front -->
        <!-- END ul#front --><!-- BEGIN li#front -->
        <li class="c-navbar__item -top"><!-- END li#front --><!-- BEGIN category:veil -->
          <a href="{url}" class="js-viewing-indelible" style="color:{category_theme_color};border-color:{category_theme_color};" onclick="ga('send', 'event', 'Nav', 'click', 'トップグローバルナビゲーション');">{name}</a><!-- END category:veil --><!-- BEGIN li#rear -->
        </li><!-- END li#rear --><!-- BEGIN ul#rear -->
        <!-- END ul#rear --><!-- END category:loop -->
      </ul>
    </div>
    <!-- END_MODULE Category_List -->
  </div>

  <!-- BEGIN_MODULE Touch_NotTop -->
  <!-- BEGIN_MODULE Topicpath -->
  <div class="c-topicpath">
    <ol class="c-topicpath__list">
      <!-- BEGIN blog:loop -->
      <li class="c-topicpath__item"><a href="{url}" class="c-topicpath__link">{name}</a></li><!-- END blog:loop --><!-- BEGIN category:loop -->
      <li class="c-topicpath__item"><a href="{url}" class="c-topicpath__link">{name}</a></li><!-- END category:loop --><!-- BEGIN entry -->
      <li class="c-topicpath__item"><a href="{url}" class="c-topicpath__link">{title}</a></li><!-- END entry -->
    </ol>
  </div>
  <!-- END_MODULE Topicpath -->
  <!-- END_MODULE Touch_NotTop -->
</header>

