<header class="l-header">
  <p class="c-logo"><a href="/">
      <!-- END_IF -->
      <amp-img src="/images/logo2.svg" alt="kigiroku" width="220" height="55">
      <!-- BEGIN_IF [%{VIEW}/eq/top] -->
  </a></p>

  <!-- BEGIN_MODULE Category_List id="category_list_all" -->
  <div>
    <ul class="c-global-nav clearfix">
      <!-- BEGIN category:loop --><!-- BEGIN ul#front -->
      <!-- END ul#front --><!-- BEGIN li#front -->
      <li class="c-global-nav__item -top"><!-- END li#front --><!-- BEGIN category:veil -->
        <a href="{url}" class="js-viewing-indelible">{name}</a><!-- END category:veil --><!-- BEGIN li#rear -->
      </li><!-- END li#rear --><!-- BEGIN ul#rear -->
      <!-- END ul#rear --><!-- END category:loop -->
    </ul>
  </div>
  <!-- END_MODULE Category_List -->
</header>
