@extends(/layouts/base.html)

@section("main")
<div class="acms-container clearfix">
  <h1>お探しの記事は見つかりませんでした。</h1>
  <p>削除または移動した可能性があります。下記フォームからも検索が可能です。</p>

  <form action="" method="post" class="c-search-form" aria-label="検索フォーム">
    <input type="search" id="searchForm" name="keyword" value="%{KEYWORD}" class="c-search-form__input">
    <input type="hidden" name="query" value="keyword">
    <button type="submit" class="c-search-form__btn" name="ACMS_POST_2GET"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
@endsection
