@extends(/layouts/base.html)

@section("main")
<div class="acms-container clearfix">
  <!-- BEGIN_MODULE Entry_Summary id="top_summary" -->
  <section>
    <ul class="c-media list-unstyled">
      <!--#include file="/admin/module/setting.html"-->
      <!-- BEGIN unit:loop -->
      <!-- BEGIN entry:loop -->
      <li class="c-media__item">
        <a href="{url}" class="c-media__link">
          <div class="c-media__img-wrap">
            <!-- BEGIN_IF [{ogp_image@path}/nem] -->
            <img class="c-media__img" src="%{ARCHIVES_DIR}{ogp_image@path}[resizeImgFill(300,180)]" width="300" height="180" alt="{title}"/>
            <!-- ELSE_IF [{ogp_image@path}/em/_and_/{path}/nem] -->
            <img class="c-media__img" src="%{ROOT_DIR}{path}[resizeImgFill(300,180)]" width="300" height="180" alt="{title}"/>
            <!-- ELSE -->
            <img class="c-media__img" src="/themes/blog_ver5/images/ogp.jpg" width="300" height="180" alt="{title}"/>
            <!-- END_IF -->
          </div>
          <div class="c-media__detail">
            <!-- BEGIN category:veil -->
            <p class="c-media__label">{categoryName}</p>
            <!-- END category:veil -->
            <p class="c-media__heading">{title}</p>
            <p class="c-media__description">{summary}[trim(150, '...')]</p>
          </div>
        </a>
      </li>
      <!-- END entry:loop -->
      <!-- END unit:loop -->
    </ul>
  </section>
  <!-- BEGIN pager:veil -->
  <ul class="c-pager"><!-- BEGIN firstPage:veil -->
    <li class="c-pager__item acms-hide acms-inline-md acms-inline-lg acms-inline-xl">
      <a href="{firstPageUrl}" class="c-pager__link"><<</a>
    </li><!-- END firstPage:veil -->
    <li class="c-pager__item">
      <!-- BEGIN backLink --><!-- BEGIN url:veil -->
      <a href="{url}" class="c-pager__link"><</a><!-- END url:veil --><!-- END backLink -->
    </li>
    <!-- BEGIN page:loop --><li class="c-pager-item {pageCurAttr}[raw]"><span><!-- BEGIN link#front --><a href="{url}" class="c-pager__link"><!-- END link#front -->{page}<!-- BEGIN link#rear --></a><!-- END link#rear --></span></li><!-- END page:loop -->
    <li class="c-pager__item">
      <!-- BEGIN forwardLink -->
      <!-- BEGIN_IF [{url}/nem] -->
      <a href="{url}" class="c-pager__link">></a>
      <!-- ELSE -->
      &nbsp;
      <!-- END_IF -->
      <!-- END forwardLink -->
    </li><!-- BEGIN lastPage:veil -->
    <li class="c-pager__item acms-hide acms-inline-md acms-inline-lg acms-inline-xl">
      <a href="{lastPageUrl}" class="c-pager__link">>></a>
    </li><!-- END lastPage:veil -->

  </ul>
  <p class="c-pager__all">{itemsTo} / {itemsAmount}件</p>
  <!-- END pager:veil -->
  <!-- END_MODULE Entry_Summary -->
</div>
@endsection
