<!-- BEGIN_MODULE Entry_Headline id="{{module_id}}" -->
<section class="module-section">
    @include("/admin/module/setting.html")
    <div class="module-header clearfix"><!-- BEGIN moduleField --><!-- BEGIN module_heading:veil -->
        <h2 id="top_headline-{{module_id}}" class="module-heading"><!-- BEGIN module_heading_icon:veil --><span class="{module_heading_icon}" aria-hidden="true"></span><!-- END module_heading_icon:veil -->{module_heading}</h2><!-- END module_heading:veil --><!-- END moduleField -->
        <a href="{indexUrl}" class="module-index-link"><span class="acms-icon acms-icon-arrow-right" aria-hidden="true"></span><!-- BEGIN moduleField --><span class="acms-hide-visually">{module_heading}の</span><!-- END moduleField -->一覧</a>
    </div>
    <ul class="headline acms-list-group clearfix" aria-labelledby="top_headline-{{module_id}}"><!-- BEGIN entry:loop -->
        <li class="acms-list-group-item headline-item {entry:loop.class} js-biggerlink">
            <time class="headline-dat" datetime="{date#Y}-{date#m}-{date#d}">{date#Y}年{date#m}月{date#d}日( {date#week} )</time>
            <!-- BEGIN category:veil --><span class="acms-label label-category">{categoryName}</span><!-- END category:veil -->
            <!-- BEGIN url#front --><a href="{url}" class="acms-list-group-title-link headline-title"><!-- END url#front -->{title}<!-- BEGIN url#rear --></a><!-- END url#rear --><!-- BEGIN new --><span class="acms-label label-new">NEW</span><!-- END new -->
        </li><!-- END entry:loop -->
    </ul>
</section>
<!-- END_MODULE Entry_Headline -->