<!-- BEGIN_MODULE Entry_List id="{{module_id}}" -->
<!-- BEGIN entry_list:veil -->
<section class="module-section">
	@include("/admin/module/setting.html")
	<div class="module-header clearfix">
		<h2 class="module-heading"><!-- BEGIN_IF [%{CID}/nem] -->%{CATEGORY_NAME}<!-- ELSE -->%{BLOG_NAME}の記事一覧<!-- END_IF --></h2>
	</div>
	<ul class="acms-list-group">
		<!-- BEGIN entry:loop -->
		<li class="{entry:loop.class}"><a href="{url}" class="acms-list-group-item">{title}</a></li>
		<!-- END entry:loop -->
	</ul>
</section><!-- END entry_list:veil -->
<!-- END_MODULE Entry_List -->