<!-- BEGIN_MODULE Entry_Summary id="summary_index" -->
<section class="module-section">
    @include("/admin/module/setting.html")
    <div class="module-header clearfix">
        <h2 class="module-heading">%{CATEGORY_NAME}</h2>
    </div>

    <!-- BEGIN_IF [{{message}}/nem] --><p>{{message}}</p><!-- END_IF -->

    <!-- BEGIN notFound -->
    <div>
        <p>ただいまページを準備しております。もうしばらくお待ちください。</p>
    </div>
    <!-- END notFound -->

    <ul class="summary-custom clearfix">
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
            <li class="summary-custom-entry {entry:loop.class} js-autoheight-r js-biggerlink">
                <div class="photo"><!-- BEGIN image:veil -->
                    <img src="%{ROOT_DIR}{path}[resizeImg(480,480)]" alt="" class="acms-img-responsive" /><!-- END image:veil --><!-- BEGIN noimage -->
                    <img src="/images/noImage.png" width="260" height="260" alt="" class="acms-img-responsive">
                    <!-- END noimage -->
                </div>
                <p class="photo-title"><a href="{url}">{title}</a></p>
                <p>{summary}</p>
            </li>
        <!-- END entry:loop -->
        <!-- END unit:loop -->
    </ul>
    <!-- ページャー -->
    @include("/include/parts/pager.html")
</section>
<!-- END_MODULE Entry_Summary -->