<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" -->
<section class="module-section">
	@include("/admin/module/setting.html")
	<!-- BEGIN moduleField --><!-- BEGIN_IF [{module_heading}/nem] -->
	<div class="module-header clearfix">
		<h2 class="module-heading"><!-- BEGIN module_heading_icon:veil --><span class="{module_heading_icon}" aria-hidden="true"></span><!-- END module_heading_icon:veil -->{module_heading}</h2>
	</div><!-- END_IF --><!-- END moduleField -->
	<ul class="pickup-list">
		<!-- BEGIN unit:loop -->
		<!-- BEGIN entry:loop -->
			<li class="js-biggerlink {entry:loop.class}">
			<div class="photo"><!-- BEGIN image:veil -->
				<img src="%{ROOT_DIR}{path}" width="{imgX}" height="{imgY}" alt="" class="acms-img-responsive" /><!-- END image:veil --><!-- BEGIN noimage -->
				noimage
				<!-- END noimage -->
			</div>
			<p class="pickup-title"><a href="{url}">{title}</a></p>
			</li>
		<!-- END entry:loop -->
		<!-- END unit:loop -->
	</ul>
</section>
<!-- END_MODULE Entry_Summary -->