<!-- BEGIN_MODULE Entry_Summary id="{{module_id}}" -->
<section class="module-section">
    @include("/admin/module/setting.html")
    <div class="module-header clearfix">
        <h2 id="summary_default-{{module_id}}" class="module-heading"><!-- BEGIN moduleField --><!-- BEGIN module_heading_icon:veil --><span class="{module_heading_icon}" aria-hidden="true"></span><!-- END module_heading_icon:veil --><!-- END moduleField --><!-- BEGIN_IF [<!-- BEGIN moduleField -->{module_heading}<!-- END moduleField -->/nem] --><!-- BEGIN moduleField -->{module_heading}<!-- END moduleField --><!-- ELSE -->%{CATEGORY_NAME}<!-- END_IF --></h2>
        <!-- BEGIN_IF [%{VIEW}/eq/top] --><a href="{indexUrl}" class="module-index-link"><span class="acms-icon acms-icon-arrow-right" aria-hidden="true"></span><span class="acms-hide-visually"><!-- BEGIN_IF [<!-- BEGIN moduleField -->{module_heading}<!-- END moduleField -->/nem] --><!-- BEGIN moduleField -->{module_heading}<!-- END moduleField --><!-- ELSE -->%{CATEGORY_NAME}<!-- END_IF -->の</span>一覧</a><!-- END_IF -->
    </div>
    <div class="summary-default js-summary-slider" aria-labelledby="summary_default-{{module_id}}">
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
        <div class="summary-default-item js-autoheight-r js-biggerlink {entry:loop.class}">
            <div class="acms-summary">
                <div class="summary-default-image-wrap acms-summary-image">
                    <!-- BEGIN image:veil -->
                    <img src="%{ROOT_DIR}{path}[resizeImg(120,120)]" width="120" height="120" alt=""><!-- END image:veil --><!-- BEGIN noimage -->
                    <img src="/images/noImage.png" width="120" height="120" alt="" /><!-- END noimage -->
                </div>
                <div class="acms-summary-body">
                    <p class="summary-title acms-summary-heading"><a href="{url}">{title}</a></p>
                    <p class="summary-detail">{summary}[trim(500, '...')]</p>
                </div>
            </div>
        </div><!-- END entry:loop --><!-- END unit:loop -->
    </div>
    <!-- ページャー -->
    @include("/include/parts/pager.html")
</section>
<!-- END_MODULE Entry_Summary -->