<!-- BEGIN_MODULE Entry_Summary id="summary_custom" -->
<div class="module-section">
    @include("/admin/module/setting.html")

    <!-- BEGIN notFound -->
    <div>
        <p>記事が見つかりませんでした。</p>
    </div>
    <!-- END notFound -->
    <header class="module-header">
        <h3 class="module-heading">物件の検索結果</h3>
    </header>

    <!-- BEGIN_MODULE Field_Search -->
    <!-- BEGIN search:veil -->
    <div class="list-results-wrap">
        <h4 class="list-results-heading">現在の検索条件</h4>
        <dl class="list-results">
            <!-- BEGIN_IF [{station}/nem] --><dt class="list-results-item">最寄り駅</dt><dd class="list-results-detail">{station}</dd><!-- END_IF -->
            <!-- BEGIN_IF [{price[0]}/nem/_or_/{price[1]}/nem] --><dt class="list-results-item">家賃</dt><dd class="list-results-detail"><!-- BEGIN price[0]:veil -->{price[0]}円<!-- END price[0]:veil -->〜<!-- BEGIN price[1]:veil -->{price[1]}円<!-- END price[1]:veil --></dd><!-- END_IF -->
            <!-- BEGIN_IF [%{KEYWORD}/nem] --><dt class="list-results-item">キーワード</dt><dd class="list-results-detail">%{KEYWORD}</dd><!-- END_IF -->
        </dl>
    </div><!-- END search:veil --><!-- END_MODULE Field_Search -->

    <ul class="summary-custom clearfix">
        <!-- BEGIN unit:loop -->
        <!-- BEGIN entry:loop -->
        <li class="summary-custom-entry js-biggerlink js-autoheight-r {entry:loop.class}">
            <div class="photo"><!-- BEGIN main_photo@path:veil -->
                <img src="%{ARCHIVES_DIR}{main_photo@path}[resizeImg(480,480)]" alt="" class="acms-img-responsive">
                <!-- END main_photo@path:veil -->
                <!-- BEGIN main_photo@path:empty -->
                <img src="/images/noImage.png" alt="" class="acms-img-responsive">
                <!-- END main_photo@path:empty -->
            </div>
            <p class="photo-title"><a href="{url}">{title}</a></p>
        </li><!-- END entry:loop -->
        <!-- END unit:loop -->
    </ul>
    <!-- ページャー -->
    @include("/include/parts/pager.html")
</div>
<!-- END_MODULE Entry_Summary -->