<!-- BEGIN_MODULE Entry_Summary -->
<section class="module-section">
	@include("/admin/module/setting.html")
	<div class="module-header clearfix"><!-- BEGIN moduleField --><!-- BEGIN_IF [{module_heading}/nem] -->
		<h2 id="layout-top_summary" class="module-heading">{module_heading}</h2><!-- END_IF --><!-- END moduleField --><a href="{indexUrl}" class="module-index-link"><span class="acms-icon acms-icon-arrow-right"></span>一覧</a>
	</div>

	<!-- BEGIN notFound -->
	<p>記事が見つかりませんでした。</p>
	<!-- END notFound -->
	<ul class="summary-default clearfix" aria-labelledby="layout-top_summary">
		<!-- BEGIN unit:loop -->
		<!-- BEGIN entry:loop -->
		<li class="summary-default-entry js-autoheight-r js-biggerlink {entry:loop.class}">
			<div class="acms-summary">
				<div class="summary-default-entry-image-wrap acms-summary-image">
					<div style="width:{x}px; height:{y}px; overflow:hidden; position:relative;"><!-- BEGIN image:veil -->
						<img src="%{ROOT_DIR}{path}"width="{imgX}" height="{imgY}" style="left:{left}px; top:{top}px; position:relative;" alt="{alt}" /><!-- END image:veil --><!-- BEGIN noimage -->
						<img src="/images/noImage.png" width="{noImgX}" />
						<!-- END noimage -->
					</div>
				</div>
				<div class="acms-summary-body">
					<p class="summary-title"><a href="{url}">{title}</a></p>
					<p class="summary-detail">{summary}[trim(500, '...')]</p>
				</div>
			</div>
		</li><!-- END entry:loop --><!-- END unit:loop -->
	</ul>
</section>
<!-- END_MODULE Entry_Summary -->
