/* ------------------------------
　　ベース
------------------------------ */
html {
  height: 100%;
}

body {
  color: #3d3838;
  font-family: $font-base;
  @include font-size(16);
  margin: 0;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* リンクの設定 */
a {
  border: none;
  color: #006dd9;
  text-decoration: none;
}

a:visited {
  color: #006dd9;
  text-decoration: none;
}

a:active {
  color: #006dd9;
  text-decoration: none;
}

a:hover {
  color: #006dd9;
  text-decoration: underline;
}

/* コンテナー */
.acms-container {
  max-width: $container;
  padding-right: calc(constant(safe-area-inset-right) + 15px);
  padding-left: calc(constant(safe-area-inset-left) + 15px);

  .acms-container {
    padding: 0;
  }
}

.acms-grid,
.acms-grid-r {
  margin-right: -($grid-space / 2);
  margin-left: -($grid-space / 2);
}

.c-narrow-container {
  margin: 0 auto;
  max-width: $narrow-container;
  padding-left: $grid-space;
  padding-right: $grid-space;
}

.c-narrow-container-md {
  margin: 0 auto;
  max-width: $narrow-container-md;
  padding-left: $grid-space;
  padding-right: $grid-space;
}

@media (max-width: $container) {
  .sp-container {
    .sp-container {
      padding: 0;
    }
    .acms-container {
      .sp-container {
        padding: 0;
      }
    }
  }
}
