<section class="clearfix">
	<div class="module-header clearfix">
		<h2 class="module-heading">%{CATEGORY_NAME}の検索</h2>
	</div>
	<div class="entry-column map-wrapper">

		<!-- BEGIN_MODULE Category_Field -->

		@include("/include/gmaps-error.html")

		<div class="realestate-map">
			<img class="js-s2d-ready" width="843" height="400" style="display:block;" src="http://maps.google.com/maps/api/staticmap?center={index_map_lat},{index_map_lng}&zoom={index_map_zoom}&size=843x400&maptype=roadmap&markers=<!-- BEGIN_MODULE Entry_Summary id="map_list" --><!-- BEGIN unit:loop --><!-- BEGIN entry:loop -->{map_lat},{map_lng},smallred<!-- BEGIN glue -->|<!-- END glue --><!-- END entry:loop --><!-- END unit:loop -->&sensor=false<!-- END_MODULE Entry_Summary -->" alt="<!-- BEGIN_MODULE Entry_Summary id="map_list" --><!-- BEGIN unit:loop --><!-- BEGIN entry:loop -->&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{url}&quot;&gt;&lt;!-- BEGIN image:veil --&gt;&lt;img src=&quot;%{ARCHIVES_DIR}{main_photo@tinyPath}&quot; width=&quot;200&quot; alt=&quot;&quot; /&gt;&lt;br/&gt;&lt;!-- END image:veil --&gt;{title}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;[[:split:]]<!-- END entry:loop --><!-- END unit:loop --><!-- END_MODULE Entry_Summary -->" />
		</div>

		<!-- BEGIN_MODULE Touch_SessionWithCompilation --> <p class="edit-link">[<a href="%{BLOG_URL}bid/%{BID}/cid/%{CID}/admin/category_edit/">編集</a>]</p><!-- END_MODULE Touch_SessionWithCompilation -->
		<!-- END_MODULE Category_Field -->

		<!-- BEGIN_MODULE Field_Search -->
		<form action="/" method="post" class="acms-form" role="search" aria-label="検索フォーム">
			<table class="realestate-search">
				<tr class="acms-hide-sp">
					<th>最寄り駅</th>
					<th>家賃</th>
					<th>キーワード</th>
					<th>検索</th>
				</tr>
				<tr>
					<td>
					<label for="station" class="acms-block acms-hide-visually-lg acms-hide-visually-xl">最寄り駅</label>
					<select name="station" id="station">
						<option value=""<!-- BEGIN_IF [{station}/em] --> selected="selected"<!-- END_IF -->>未設定</option>
						<option value="あの駅"{station:selected#あの駅}>あの駅</option>
						<option value="この駅"{station:selected#この駅}>この駅</option>
						<option value="その駅"{station:selected#その駅}>その駅</option>
					</select>
					<input type="hidden" name="field[]" value="station" />
					</td>
					<td class="table-nowrap">
						<span class="acms-block acms-hide-lg acms-hide-xl">家賃</span>
						<label for="price" class="acms-hide-visually">家賃下限</label>
						<select name="price[]" id="price">
							<option value=""<!-- BEGIN_IF [{price[0]}/em] --> selected="selected"<!-- END_IF -->>下限なし</option>
							<option value="30000"{price[0]:selected#30000}>30,000円以上</option>
							<option value="50000"{price[0]:selected#50000}>50,000円以上</option>
							<option value="80000"{price[0]:selected#80000}>80,000円以上</option>
						</select>
					 -
						<label for="price2" class="acms-hide-visually">家賃上限</label>
						<select name="price[]" id="price2" >
							<option value=""<!-- BEGIN_IF [{price[1]}/em] --> selected="selected"<!-- END_IF -->>上限なし</option>
							<option value="80000"{price[1]:selected#80000}>80,000円以下</option>
							<option value="50000"{price[1]:selected#50000}>50,000円以下</option>
							<option value="30000"{price[1]:selected#30000}>30,000円以下</option>
						</select>

						<input type="hidden" name="field[]" value="price" />
						<input type="hidden" name="price@operator[0]" value="gte" />
						<input type="hidden" name="price@operator[1]" value="lte" />
					</td>
					<td class="acms-form-width-full">
						<label for="keyword" class="acms-hide-visually-lg acms-hide-visually-xl">キーワード</label>
						<input type="search" name="keyword" value="%{KEYWORD}" id="keyword" class="acms-form-width-full" />
					</td>

					<td>
						<input type="hidden" name="cid" value="%{CID}" />
						<input type="hidden" name="bid" value="%{BID}" />
						<input type="submit" name="ACMS_POST_2GET" value="検索" class="btn btn-search-block" />
					</td>
				</tr>
			</table>
		</form>
		<!-- END_MODULE Field_Search -->

	</div>
</section>
