<div id="offcanvas" class="js-offcanvas offcanvas-bar">
	<div class="acms-hide-pc">
		<!-- グローバルナビ -->
		@include("/include/header/spGlobalNavi.html")
	</div>

	<nav aria-label="サイドメニュー">
		<!-- 検索フォーム -->
		@include("/include/parts/search.html")

		<!-- ピックアップリスト -->
		@include("/include/entry/summary_pickup.html", {"module_id": "pickup_list"})

		<!-- バナー -->
		@include("/include/banner.html", {"module_id": "banner"})

		<!-- リンクリスト -->
		@include("/include/links.html", {"module_id": "link_list"})

		<div class="acms-hide-pc">
			<!-- SNSアカウントへのリンク -->
			@include("/include/footer/snsLink.html")
		</div>
	</nav>

	<!-- ログインボタン -->
	@include("/include/parts/loginButton.html")

	<p><a class="js-offcanvas-close close-btn" id="nav-close-btn" href="#top">コンテンツに戻る</a></p>
</div>
