<style>
	.acms-admin-progress {
		position: relative;
		margin-top: 20px;
	}

	.acms-admin-progress span {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		margin: -10px 0 0 0;
		color: #000;
	}
</style>

<header>
	<div>
		@include("/admin/topicpath.html")
	</div>
	<div>
		<h1 class="acms-admin-admin-title js-dialog-title"><!--T-->システムの更新<!--/T--></h1>
	</div>
</header>

<hr class="clearHidden">

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-danger">
	<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
	<button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
	{error}
</p>
<!-- END_MODULE Admin_Errors -->

<!-- BEGIN_MODULE Admin_Messages -->
<!-- BEGIN message:loop -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info">
	<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
	<button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
	{message}
</p>
<!-- END message:loop -->
<!-- END_MODULE Admin_Messages -->

<!-- BEGIN_MODULE Admin_Update -->

<!-- BEGIN_IF [{processing}/eq/1]-->
<!--<form action="" method="post" class="acms-admin-form">-->
<!--<input type="submit" name="ACMS_POST_Update_InitLog" value="&lt;!&ndash;T&ndash;&gt;更新ログを初期化&lt;!&ndash;/T&ndash;&gt;&lt;!&ndash;T&ndash;&gt;（更新が途中で止まった場合に利用）&lt;!&ndash;/T&ndash;&gt;"-->
<!--class="acms-admin-btn-admin"/>-->
<!--</form>-->

<div id="js-systemUpdate">
	<div class="acms-admin-progress acms-admin-progress-striped acms-admin-active" id="js-progress"
		 style="display: none;">
		<div class="acms-admin-progress-bar">
			<span></span>
		</div>
	</div>

	<script type="text/template" id="js-processing-template">
		<% if ( !processing && success ) { %>
		<h2><!--T-->アップデートに成功しました。<!--/T--></h2>
		<% } else if ( !processing && error ) { %>
		<h2><!--T-->アップデートに失敗しました。<!--/T--></h2>
		<% } %>

		<ul>
			<% _.each(processList, function(item) { %>
			<% if (item.status === 'ng') { %>
			<li class="acms-admin-text-danger">[Error] <%= item.message %></li>
			<% } else { %>
			<li><%= item.message %></li>
			<% } %>
			<% }) %>
		</ul>
	</script>
	<div id="js-processing-box"></div>
</div>
<!-- ELSE -->
<div class="acms-admin-panel">
	<div class="acms-admin-panel-header">
		<h3 class="acms-admin-panel-title"><!--T-->システム更新<!--/T--></h3>
	</div>
	<div class="acms-admin-panel-body">
		<p><!--T-->最終チェック日時<!--/T--> : {finalCheckTime}&nbsp;&nbsp;&nbsp; インストールバージョン: Ver. %{VERSION}</p>
		<form action="" method="post" class="">
			<input type="submit" name="ACMS_POST_Update_CheckForUpdate" value="<!--T-->もう一度確認する<!--/T-->"
				   class="acms-admin-btn-admin"/>
		</form>

		<!-- BEGIN latest:patch -->
		<p><strong><!--T-->最新のパッチバージョンです。<!--/T--></strong></p>
		<!-- END latest:patch -->

		<!-- BEGIN latest:minor -->
		<p><strong><!--T-->最新のマイナーバージョンです。<!--/T--></strong></p>
		<!-- END latest:minor -->

		<!-- BEGIN old_version -->

		<form action="" method="post" class="js-system-update-submit">
			<div class="acms-admin-margin-top-large">
				<p class="acms-admin-alert acms-admin-alert-info acms-admin-alert-icon"><span class="acms-admin-icon-news acms-admin-alert-icon-before"></span><!--T-->新しいシステムの更新情報があります。<!--/T--></p>

				<div class="acms-admin-update-panel">
					<p class="acms-admin-margin-bottom-medium"><strong style="font-size: 30px;">Ver. {version}</strong></p>

					<div class="acms-admin-form-group">
						<div class="acms-admin-form-checkbox">
							<input type="checkbox" name="new_setup" id="input-checkbox-new_setup-create"
								   value="create">
							<label for="input-checkbox-new_setup-create"><i class="acms-admin-ico-checkbox"></i>
								<!--T-->新しいバージョンの「setup」を「_setup_日時」というディレクトリ名で作成<!--/T-->
							</label><br>
							<span class="acms-admin-text-danger"><strong><!--T-->※ インストールディレクトリにある、「_setup_」から始まる名前のディレクトリが自動で削除されます。<!--/T--></strong></span>
						</div>
					</div>

					<!-- BEGIN pro_edition -->
					<p class="acms-admin-summary acms-admin-text-warning">
						<span class="acms-admin-summary-img">
								<span class="acms-admin-icon-news acms-admin-margin-right-small"></span>
						</span>
						<span class="acms-admin-summary-body"><strong>
							<!--T-->マイナーバージョン（バージョン番号の２桁目）のアップデートはライセンスのアップデートが必要です。<!--/T--><br>
							<!--T-->マイページから新しいライセンスファイルをダウンロードして差し替えた後、バージョンアップを行ってください。<!--/T--><br>
							<!--T-->アップデート期間が終了している場合、アップデート期間を延長するオプションを購入する必要があります。<!--/T-->
						</strong>
						</span>
					</p>
					<!-- END pro_edition -->

					<div class="acms-admin-form-group acms-admin-margin-top-medium">
						<input type="submit" name="ACMS_POST_Update_Exec" value="<!--T-->今すぐ更新<!--/T-->"
							   onclick="return confirm('<!--T-->本当にアップデートしてよろしいですか？<!--/T-->');"
							   class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-large">
					</div>
				</div>
			</div>
		</form>
		<!-- END old_version -->



		<!-- BEGIN changelog -->
		<h3 class="acms-admin-margin-top-large"><!--T-->変更点一覧<!--/T--></h3>

		<!-- BEGIN version:loop -->
		<div>
			<div>
				<h3 class="acms-admin-admin-title3">Ver. {version}</h3>
			</div>
			<div>
				<!-- BEGIN_IF [{alert}/nem/] -->
				<p class="acms-admin-text-danger"><strong>{alert}</strong></p>
				<!-- END_IF -->

				<!-- BEGIN feature:veil -->
				<h4 class="acms-admin-margin-none acms-admin-margin-bottom-small"><!--T-->新機能<!--/T--></h4>
				<ul class="acms-admin-margin-none acms-admin-margin-bottom-small">
					<!-- BEGIN feature:loop -->
					<li>
						{log}
					</li>
					<!-- END feature:loop -->
				</ul>
				<!-- END feature:veil -->

				<!-- BEGIN change:veil -->
				<h4 class="acms-admin-margin-none acms-admin-margin-bottom-small"><!--T-->変更点<!--/T--></h4>
				<ul class="acms-admin-margin-none acms-admin-margin-bottom-small">
					<!-- BEGIN change:loop -->
					<li>
						{log}
					</li>
					<!-- END change:loop -->
				</ul>
				<!-- END change:veil -->

				<!-- BEGIN fix:veil -->
				<h4><!--T-->修正点<!--/T--></h4>
				<ul>
					<!-- BEGIN fix:loop -->
					<li>
						{log}
					</li>
					<!-- END fix:loop -->
				</ul>
				<!-- END fix:veil -->
			</div>
		</div>
		<!-- END version:loop -->
		<!-- END changelog -->
	</div>
</div>

<div class="acms-admin-panel">
	<div class="acms-admin-panel-header">
		<h3 class="acms-admin-panel-title"><!--T-->データベース更新<!--/T--></h3>
	</div>
	<div class="acms-admin-panel-body">
		<!-- BEGIN update -->
		<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-warning">
			<span class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before" aria-hidden="true"></span>
			<!--T-->データベース更新が必要な可能性があります。<!--/T-->
		</p>

		<!-- BEGIN_IF [{diffDB}/eq/1] -->
		<p><!--T-->データベース構造が定義と違うため、最新でない可能性があります<!--/T--></p>
		<!-- ELSE -->
		<p><!--T-->システム<!--/T--> : Ver. {systemVersion}  <!--T-->データベース<!--/T--> : Ver. {databaseVersion} </p>
		<!-- END_IF -->

		<form action="" method="post">
			<input type="submit" name="ACMS_POST_Update_Database" value="<!--T-->データベースを更新<!--/T-->"
				   onclick="return confirm('<!--T-->本当にアップデートしてよろしいですか？<!--/T-->');"
				   class="acms-admin-btn-admin acms-admin-btn-admin-danger"/>
		</form>
		<!-- END update -->

		<!-- BEGIN match -->
		<p>正常な状態です。</p>
		<!-- END match -->

		<!-- BEGIN error -->
		<p>
			システムファイルがデータベースのバージョンよりも古い可能性があります。<br>
			システムファイルを最新のものにしてください。<br>
			System: "{systemVersion}" Database: "{databaseVersion}"
		</p>
		<!-- END error -->
	</div>
</div>

<div class="acms-admin-panel">
	<div class="acms-admin-panel-header">
		<h3 class="acms-admin-panel-title"><!--T-->バックアップファイルの削除<!--/T--></h3>
	</div>
	<div class="acms-admin-panel-body">
		<p><!--T-->システム更新時に取られたバックアップ（privateディレクトリ以下）を削除します。<!--/T--></p>
		<form action="" method="post" class="js-system-update-submit">
			<input type="submit" name="ACMS_POST_Update_RemoveBackup" value="<!--T-->バックアップデータを削除<!--/T-->"
				   onclick="return confirm('<!--T-->本当にバックアップデータを削除してよろしいですか？<!--/T-->');"
				   class="acms-admin-btn-admin acms-admin-btn-admin-danger">
		</form>
	</div>
</div>
<!-- END_IF -->
<!-- END_MODULE Admin_Update -->
